<section class="margin">
  <h1 class="reviews__header">Отзывы о нашем сервисе</h1>

  {% if reviews|length > 0 %}

    <div class="flex-wrap flex-line">
      {% set i=0 %}
      {% set user_cashbak_hide=true %}
      {% set comments_max_height=true %}
      {% for review in reviews %}
        {% set i=i+1 %}
        {% set comment_hide = (6 < i) %}
        {% include 'parts/comment.twig' %}
      {% endfor %}
    </div>

  {% else %}
    На данный момент отзывы о нашем сервисе отсутствуют. Будь первым!
  {% endif %}

  <div class="margin">
    {% include 'parts/pagination.twig' %}
  </div>

  <div class="align-center">
    {% if user_id %}
      <a href="#reviews/send" class="btn modals_open">Оставить
        отзыв</a>
    {% else %}
      Для того, чтобы иметь возможность оставлять отзывы, Вам нужно
      <a href="#registration" class="modals_open" rel="nofollow">зарегистрироваться</a> или <a class="modals_open"
                                                                                               href="#login"
                                                                                               rel="nofollow">войти
      в свой аккаунт</a>.
    {% endif %}
  </div>


</section>