.accordion {

  &-wrap{
    position: relative;
    @include media_min($laptop) {
      padding: 0 40px;
    }
  }
  margin-bottom: 3px;
  //max-width: 935px;
  &-slim {
    @include media_min($laptop) {
      .accordion-title {
        background: transparent;
        width: 350px;

        h1,h2,h3,h4,h5,h6{
          font-weight: 600;
        }

        &:before{
          content: '';
          width: 0px;
          height: 0px;
          padding: 7PX;
          //background-color: #fece00;
          margin: auto 20px auto 0;
          border-radius: 100%;
          display: inline-block;
        }

        &:after {
          content: '';
        }
      }
    }

    &.last-open{
      @include media_min($laptop) {
        .accordion-title {
          position: relative;

          h1,h2,h3,h4,h5,h6{
            color: $accordion_point;
          }

          &:before{
            background-color: $accordion_point;
          }

          &:after {
            content: '';
          }
        }
      }
    }

    .accordion-content{
      @include media_min($laptop) {
        position: absolute;
        right: 0;
        top: 0;
        border:0;
        border: 0 !important;
        width: calc(100% - 420px);
        padding-top: 3px !important;
        padding-right: 20px !important;
        margin-bottom: 0!important;

        &_last-open{
          display: block !important;
          width: calc(100% - 420px)!important;
          height: 100% !important;
          opacity: 1 !important;
        }
      }
    }
  }


  + p{
    padding-top: 7px;
  }

  &-content{
    color: #000;
    //max-height: 0;
    display: none;
    overflow: hidden;
    font-size: 16px;
    line-height: 24px;
  }
  &-control{
    text-align: right;

    a {
      color: $accordion_control_bg !important;
      font-size: 16px;
    }

    /***поправить стили в магазине****/
    .icon{
      margin-left: 3px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      color: $accordion_control_bg;
      font-size: 16px;
      margin-top: 4px;
    }

    .angle-down .icon:before {
      content: "+";
    }
    .angle-up .icon:before {
      content: "-";
    }

    h1,h2,h3,h4,h5,h6{
      display: inline-block;
      margin: 0;
      padding: 0;
      line-height: 1em;
    }
  }

  &-title {
    text-align: left;
    background: $accordion_control_bg;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    color: $text_color;
    border-radius: 3px;
    display: flex !important;

    @include media($tablets) {
      background: $accordion_control_tablets_bg;
    }

    &:after{
      content: "+";
      width: 20px;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      line-height: 10px;
      margin: auto 0 auto auto;
      padding-left: 10px;

      @include media($tablets) {
        content: "›";
        transform: rotate3d(0, 0, 1, 0deg) translate3d(-4px, 0, 0);
        font-size: 20px;
        transition: all 0.3s ease-out;
      }
    }

    +.accordion-content{
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid $accordion_content_border;
      border-top: 0;
      border-radius: 0 0 3px 3px;
      font-size: 16px;
      text-align: left;
      //max-width: 750px;
    }
  }

  .angle-down:before{
    content: "Подробнее";
    color: $accordion_angle_color;
  }
  .angle-up{
    display: none;
    &:before{
      content: "Скрыть";
      color: $accordion_angle_color;
    }
  }
  &.open{
    .accordion-title {
      border-radius: 3px 3px 0 0;

      &:after{
        content:"-";

        @include media($tablets) {
          content: "›";
          transform: rotate3d(0,0,1,-90deg) translate3d(-6px,3px,0 );
        }
      }
    }
    .angle-down{
      display: none;
    }
    .angle-up{
      display: inline-block;
    }
  }


  &_pc_off{
    @include media_min($tablets - 1) {
      margin-bottom: 0;

      .accordion-content{
        display: block!important;
        height: auto!important;
        width: auto!important;
        max-height: none!important;
        max-width: none!important;
        opacity: 1!important;
        padding: 0 !important;
        margin-bottom: 0;
        border: 0;
      }

      h2.accordion-title{
        font-size: 2em;
        margin-bottom: 0;
        text-align: center;
      }

      .accordion-title{
        background: transparent;
        font-size: 1.5em;
      }

      h2:after{
        content: ''!important;
        width: 94px;
        margin-left: 46px;
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    @include media($tablets) {
      .accordion-title {
        text-align: left;
        background: $accordion_control_tablets_bg;
        -webkit-margin-after: 0;
        -webkit-margin-before: 0;
        margin-top: 0;
        margin-bottom: 0;

        &:after{
          min-width: auto;
        }
      }
    }
  }
}
