.ajax_load {
  position: relative;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      background: url(/images/preloader.gif) no-repeat 50%;
      width: 20px;
      height: 20px;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      opacity: 0;
    }

  &.loading {

    &:after {
      opacity: 1;
    }

  }
}