.ajax_load {
  position: relative;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      background: url(/images/preloader.gif) no-repeat 50%;
      width: 20px;
      height: 20px;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      opacity: 0;
    }

  &.loading {

    &:after {
      opacity: 1;
    }

  }
}

.block_show{
  animation-name: box_hide;
  animation-delay: .25s;
  animation-duration: .25s;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.loading_process{
  background: url(/images/preloader.gif) no-repeat 50% 30px;

  .block_hide{
    animation-name: box_hide;
    animation-delay: .15s;
    animation-duration: .15s;
    animation-fill-mode: both;
    min-height: 1px;
  }
}



@keyframes box_hide {
  0%{
    opacity: 1;
    //height: 100vh;
    box-shadow: rgba(255, 255, 0, 0.5) 0px 0px 0vmax 0vmin inset;
  }

  99%{
    opacity: 0;
    //height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 50vmax 0vmin inset;
  }

  100%{
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 0vmin inset;
    //height: 0vh;
  }
}