.ajax_load {

  &.loading {
    position: relative;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      background: url(/images/templates/loader.gif) no-repeat 50%;
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      left: calc(50% - 8px);
    }
  }
}