.header-autocomplete {

}
.stores-search_autocomplete{

}

.autocomplete-wrap {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 33PX;
  left: 0;
  padding: 5px;
  background-color: $shop_cashback_link_color;
  box-shadow: 0 4px 4px rgba(0,0,0,.2);
  width: 100%;
  z-index: 100;
  border-radius: 0 0 5px 5px;

  .autocomplete_list {
    margin: 0;
    padding: 0;
    >li{
      list-style-type: none;
      a {
        display: flex;
        justify-content: space-between;
        color: $header_color_up;
        text-decoration: none;
        padding: 8px 4px;
        .cashback {
          color: $search_item_cashback_color;
          margin-left: 5px;
          min-width: 60px;
          text-align: right;
          display: flex;
          align-items: center;
          justify-content: flex-end;

        }
        .currency-icon {
          //margin-left: 5px;
          width: 14px;
          height: 14px;
          @include media($laptop-min) {
            width: 13px;
            height: 13px;
          }
          color: $search_item_cashback_color;
          stroke: $search_item_cashback_color;
          fill: $search_item_cashback_color;
        }

        &:hover {
          color: $header_sub_menu_color_hover;
          background-color: $search_list_hover_color;
        }
      }
    }
  }

}