$banner_mobile_interval: $laptop-min;

.banner {
  &__item {
    display: none;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include media-min($banner_mobile_interval) {
      &.desctop {
        display: block;
      }
    }

    @include media($banner_mobile_interval) {
      &.mobile {
        display: block;
      }
    }

    &.shop-banner-item {
      height: 220px;
      border-radius: 10px;
      overflow: hidden;

      img {
        max-height: 100%;
        object-fit: cover;
      }
    }
  }

  &__wrapper {
    margin-top: 20px;
    margin-bottom: 20px;

    @include media($laptop_min) {
      margin-top: 47px;
    }
  }

  &__image {

    width: 100%;
    display: block;
  }
}

