@mixin menu-open {
  max-height: 9999px;
  transition: max-height 0.3s cubic-bezier(1, .05, 1, 0);
}

@mixin menu-close {
  max-height: 0;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, .95);
}

.catalog {

  &_category {
    &-down-description {

      p {
        font-size: $font-size-content;
      }
    }
    &-content {
      margin-top: -7px;

      h2 {
        font-weight: $font_weight_content_header;
      }
      p {
        margin-bottom: 15px;
      }
    }
  }

  &-categories {
    //width: 280px;
    width: 322px;

    @include media($laptop-min) {
      width: 100%;
      //margin-bottom: 47px;
      order: 1;
    }

    li {
      list-style-type: none;
    }

    ul {
      color: $text-color;
      background: $header_color_up;
      width: 280px;
      z-index: 10;
      padding: 0;
      margin: 0;

      @include media($laptop_min) {
        width: 100%;
      }

      & > li {
        //margin-bottom: 1PX;

        &:not(:first-child) {
          border-top: thin solid $left_menu_item_border_color;
        }

        > a {
          background-color: $header_sub_menu_color_hover;
          text-decoration: none;

          @include media($tablets){
            padding: 0 10px;
          }
        }

        > span {
          background-color: $stores_menu_active_color;
        }

        > a, span {
          //padding: 10px 0 10px 10px;
          padding: 0 0 0 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: nowrap;
          color: $text_color;
          font-size: 16PX;
          min-height: 40px;

          &:hover {
            color: $header_sub_menu_color_hover;
            background-color: $stores_menu_active_color;
          }

          &.active {
            color: $stores_menu_hover_color;

            @include media($tablets){
              padding: 0 10px;
            }
          }

          &.cat_news {
            color: $header_color_news;
            &:hover {
              color: $header_sub_menu_color_hover;
            }
          }

          &.cat_promo {
            color: $header_color_pointed;

            &:hover {
              color: $header_sub_menu_color_hover;
            }
          }
          &.cat_bold {
            font-weight: bold;
          }

        }

        & > ul {
          @include menu-close;
          //max-height: 0;
          //transition: max-height 0.3s cubic-bezier(0,1,0,.95);
          overflow: hidden;

          > li {
            &:not(:first-child) {
              border-top: thin solid $menu_border_color;
            }

            > a, span {
              background-color: $header_bg_second;
              &:hover {
                background-color: $stores_menu_active_color;
              }
              &.active {
                background-color: $stores_menu_active_color;
              }

            }
          }
        }
        &.open {
          > ul {
            @include menu-open;
            //max-height: 9999px;
            //transition: max-height 0.3s cubic-bezier(1,.05,1,0);
          }

          .menu_angle-down {
            transform: rotate(-180deg);
          }
        }

        &.all_shops {
          border-top: 2px solid $left_menu_item_border_color;
          margin-top: -1px;

          &.active {
            border-top: none;
            margin-top: 0;
          }
        }
        &.cat_bold {
          font-weight: bold;
        }
        &.cat_upper {
          text-transform: uppercase;
        }
      }
    }

    .menu_angle-down {
      width: 9px;
      height: 9px;
      right: 8px;
      padding: 15px;
      color: $stores_menu_hover_color;
      stroke: $stores_menu_hover_color;
      fill: $stores_menu_hover_color;
      cursor: pointer;
      //transform: rotate(-90deg);
    }
    &_buttons {
      text-align: center;
    }

    &_popular-stores {
      margin: 0 0 20px 0;
      background-color: $coupons_popular_stores_background_color;
      color: $coupons_popular_stores_color;
      padding: 10px;
      border-radius: 3px;

      @include media($laptop-min) {
        display: none;
      }

      &-header {
        margin: 0 0 10px;
        font-weight: $font-weight_content_header;
      }

      &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        a, span {
          padding: 6px 5px;
          margin-bottom: 5px;
          border-radius: 3px;
          margin-right: 10px;
        }
        a {
          color: $coupons_popular_stores_color;
          text-decoration: none;
          background-color: $coupons_popular_stores_store_background_color;
          &:hover {
            background-color: $btn_base_bg;
            color: $btn_base_color;
          }
        }
        span {
          color: $btn_base_dark_color;
          background-color: $btn_base_dark_bg;
        }

      }
      &-links {
        text-align: center;
        a {
          color: $coupons_popular_stores_color;
          &:hover {
            color: $btn_base_bg;
          }
        }
      }

    }
    //.sp-form-outer {
    //  //форма подписки в левом меню
    //
    //  @include media($laptop-min) {
    //    display: none;
    //  }
    //}
    &_subscribe {
      margin-bottom: 15px;
    }
    &_tree {
      &-cat {
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 3px;
        //@include menu-open;

        @include media($laptop-min) {
          //@include menu-close;
          display: none;
        }
        //в мобиле в открытом состоянии
        &-open {
          @include media($laptop-min) {
            //@include menu-open;
            display: block;
            position: fixed;
            width: 100%;
            height: calc(100vh - 90PX);
            left: 0;
            top: 50PX;
            z-index: 99;
            overflow: auto;
            padding-top: 42px;
            padding-left: 0px;
            border-radius: 0;
          }
        }

        //панелька с крестиком сверху
        &-close {
          display: none;
          //background-color: $header_bg_up;
          //color: $header_color_up;
          background-color:  $btn_base_bg;
          color: $btn_base_color;
          width: 100%;
          padding: 10px;
          cursor: pointer;
          //display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          font-size: 20px;
          font-weight: bold;
          border-bottom: thin solid $left_menu_item_border_color;
          position: fixed;
          top: 48PX;

          &-icon {
            width: 26PX;
            height: 25PX;
            margin-right: 10px;
            color: $btn_base_color;
            fill: $btn_base_color;
            stroke: $btn_base_color;
          }
          &:hover {
            color:  $btn_base_bg;
            background-color: $btn_base_dark_bg;
            .catalog-categories_tree-cat-close-icon {
              color: $btn_base_bg;
              fill: $btn_base_bg;
              stroke: $btn_base_bg;
            }
          }

          @include media($laptop-min) {
            display: flex;
          }
        }
        >ul {
          @include media($laptop-min) {
            margin-bottom: 2px;
          }
        }
      }

      &-toggle {
        display: none;
        cursor: pointer;
        flex-direction: row;
        align-items: center;
        margin: 0 auto 20px auto;
        width: 280px;
        padding: 10px;
        background: $btn_base_bg;
        color: $btn_base_color;
        border-radius: 4px;
        border: 2px solid $btn_base_bg;
        transition: all .25s ease;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1em;
        text-align: center;
        z-index: 1;
        position: relative;

        @include media($laptop-min) {
          display: flex;
        }
        //@include media($phones) {
        //  width: 90%;
        //}

        &-icon {
          width: 25px;
          height: 25px;
          margin-right: 10px;

          &-open {
            display: none;
          }

          &-close {
            display: block;
          }
        }

        &-open {
          .catalog-categories_tree-toggle-icon-close {
            display: none;
          }

          .catalog-categories_tree-toggle-icon-open {
            display: block;
          }
        }

        &-tittle {
          font-size: 24px;
          font-weight: bold;
          //display: block;
          //text-align: center;
          width: 100%;
        }
      }
    }
    &_blogposts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .instruction-item-article {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;

        @include media($laptop-min) {
          max-width: calc(50% - 40px);
          margin-left: 10PX;
          margin-right: 10PX;
        }
        @include media($tablets) {
          max-width: 100%;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    &_abc {
      padding: 10px;
      border-radius: 5px;
      background-color:  $gray_box_bg;

      &-header {
        font-size: 18px;
        margin-top:0;
        margin-bottom: 10px;
      }

      a, span {
        margin-right: 10px;
      }
      a {
        color: $coupons_abc_store_color;
        text-decoration: none;

        &:hover {
          color: $coupons_abc_store_hover_color;
          //text-decoration: underline;
        }
      }
    }
    &_comments.scroll_box {
      .scroll_box{
        &-item {
          width: 92%;
          box-sizing: border-box;
          max-width: 100%;
          padding: 4%;
          margin-left: 4%;
          margin-right: 4%;
          min-width: 92%;

          &-low {
            .scroll_box-text {
              height: 160px;
              overflow: hidden;
              margin-bottom: 20px;
          //    &:before {
          //      content: "";
          //      display: block;
          //      background: linear-gradient(to top, $gray_box_bg, rgba(249, 249, 249, 0));
          //      height: 30PX;
          //      left: -10PX;
          //      margin: 10PX;
          //      bottom: 20PX;
          //      position: absolute;
          //      width: 100%;
          //      box-sizing: border-box;
          //    }
          //    &:after {
          //      content: "Читать полностью";
          //      display: block;
          //      height: 20PX;
          //      left: -10PX;
          //      margin: 10PX;
          //      bottom: 0;
          //      position: absolute;
          //      width: 100%;
          //      box-sizing: border-box;
          //      cursor: pointer;
          //      color: #f7c714;
          //      text-align: right;
          //      padding: 0 10PX 10PX;
          //      background: $gray_box_bg;
          //      &:hover {
          //        text-decoration: underline;
          //      }
          //    }
            }
          }
        }
      }

    }
  }

  &-stores {
    //margin-left: 5%;
    margin-left: 2%;
    flex-grow: 2;

    @include media($laptop_min) {
      margin-left: 0;//inherit;
      order: 0;
    }
    &_stores {
      @include media($laptop_min) {
        flex-direction: row;
      }

    }
    &_list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 27px;

      @include media($phones) {
        justify-content: space-around;
      }
    }
    &_sort {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include media($laptop_min) {
        flex-direction: row;
      }

      @include media($tablets) {
        flex-direction: column;
        align-items: center;
      }

      &-desctop,
      &-mobile {
        > ul {
          margin: 0 20px;
          padding: 0;
          > li {

            list-style-type: none;
            @include media($tablets) {
              text-align: center;

            }
            > a {
              padding: 10px;
              text-decoration: none;
              &.active {
                text-decoration: underline;
              }
              @include media($tablets) {
                //width: 100%;
                line-height: 30px;
                font-size: 18px;
              }

            }
          }
        }

        &-select {
          width: 244px;
          margin-bottom: 20px;

          @include media($tablets) {
            width: 304px;
          }
        }
        &-title {
          font-weight: bold;
        }
      }

      &-desctop {
        display: flex;
        justify-content: flex-start;
        flex-grow: 2;
        margin-left: 20px;

        @include media($tablets) {
          display: none;
        }

        > ul {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }
      &-mobile {
        display: none;
        @include media($tablets) {
          display: flex;
          flex-direction: column;
          font-size: 18px;
        }
      }
      &-info {
        @include media($tablets) {
          display: none;
          //text-align: center;
          //font-size: 18px;
          //line-height: 30px;
        }

      }
    }


  }
  &-coupons_list {
    margin-top: 37px;
  }

}