@mixin menu-open {
  max-height: 9999px;
  transition: max-height 0.3s cubic-bezier(1, .05, 1, 0);
}

@mixin menu-close {
  max-height: 0;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, .95);
}

.catalog {
  &-categories {
    width: 320px;

    @include media($laptop-min) {
      width: 100%;
      //margin-bottom: 47px;
      order: 1;
    }

    li {
      list-style-type: none;
    }

    ul {
      color: $text-color;
      background: $header_color_up;
      width: 320px;
      z-index: 10;

      @include media($laptop_min) {
        width: 100%;
      }

      padding: 0;
      margin: 0;

      & > li {
        //margin-bottom: 1PX;
        &:not(:first-child) {
          border-top: thin solid #fff;
        }

        > a {
          background-color: $header_sub_menu_color_hover;
          text-decoration: none;
        }

        > span {
          background-color: $stores_menu_active_color;
        }

        > a, span {
          padding: 10px 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: nowrap;
          color: $text_color;
          font-size: 16PX;
          &:hover {
            color: $header_sub_menu_color_hover;
            background-color: $stores_menu_active_color;
          }
          &.active {
            color: $stores_menu_hover_color;
          }
          &.cat_news {
            color: $header_color_news;
            &:hover {
              color: $header_sub_menu_color_hover;
            }
          }
          &.cat_red {
            color: $header_color_pointed;
            &:hover {
              color: $header_sub_menu_color_hover;
            }
          }
          &.cat_bold {
            font-weight: bold;
          }

        }

        & > ul {
          @include menu-close;
          //max-height: 0;
          //transition: max-height 0.3s cubic-bezier(0,1,0,.95);
          overflow: hidden;

          > li {
            &:not(:first-child) {
              border-top: thin solid $menu_border_color;
            }

            > a, span {
              background-color: $header_bg_second;
              &:hover {
                background-color: $stores_menu_active_color;
              }
              &.active {
                background-color: $stores_menu_active_color;
              }

            }
          }
        }
        &.open {
          > ul {
            @include menu-open;
            //max-height: 9999px;
            //transition: max-height 0.3s cubic-bezier(1,.05,1,0);
          }

          .menu_angle-down {
            transform: none;
          }
        }

        &.all_shops {
          border-top: 2px solid $header_border_color;
          margin-top: -1px;
          &.active {
            border-top: none;
            margin-top: 0;
          }
        }
        &.cat_bold {
          font-weight: bold;
        }
        &.cat_upper {
          text-transform: uppercase;
        }
      }
    }

    .menu_angle-down {
      width: 9px;
      height: 9px;
      right: 8px;
      padding: 0 10px;
      color: $stores_menu_hover_color;
      stroke: $stores_menu_hover_color;
      fill: $stores_menu_hover_color;
      cursor: pointer;
      transform: rotate(-90deg);
    }
    &_buttons {
      text-align: center;
    }
    &_popular-stores {
      margin: 0 0 20px 0;
      background-color: $coupons_popular_stores_background_color;
      color: $coupons_popular_stores_color;
      padding: 10px;

      @include media($laptop-min) {
        display: none;
      }

      &-header {
        margin: 0 0 10px;
      }

      &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        a, span {
          padding: 6px 5px;
          margin-bottom: 5px;
          border-radius: 3px;
          margin-right: 10px;
        }
        a {
          color: $coupons_popular_stores_color;
          text-decoration: none;
          background-color: $coupons_popular_stores_store_background_color;
          &:hover {
            background-color: $btn_base_bg;
            color: $btn_base_color;
          }
        }
        span {
          color: $btn_base_dark_color;
          background-color: $btn_base_dark_bg;
        }

      }
      &-links {
        text-align: center;
        a {
          color: $coupons_popular_stores_color;
          &:hover {
            color: $btn_base_bg;
          }
        }
      }

    }
    //.sp-form-outer {
    //  //форма подписки в левом меню
    //
    //  @include media($laptop-min) {
    //    display: none;
    //  }
    //}
    &_subscribe {
      margin-bottom: 15px;
    }
    &_tree {
      &-cat {
        margin-bottom: 15px;
        overflow: hidden;
        //@include menu-open;

        @include media($laptop-min) {
          //@include menu-close;
          display: none;
        }
        //в мобиле в открытом состоянии
        &-open {
          @include media($laptop-min) {
            //@include menu-open;
            display: block;
            position: fixed;
            width: 100%;
            height: calc(100vh - 42px - 48PX);
            left: 0;
            top: 50PX;
            z-index: 99;
            overflow: auto;
            padding-top: 42px;
          }
        }

        //панелька с крестиком сверху
        &-close {
          display: none;
          //background-color: $header_bg_up;
          //color: $header_color_up;
          background-color:  $btn_base_bg;
          color: $btn_base_color;
          width: 100%;
          padding: 10px;
          cursor: pointer;
          //display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          font-size: 20px;
          font-weight: bold;
          border-bottom: thin solid #fff;
          position: fixed;
          top: 48PX;

          &-icon {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            color: $btn_base_color;
            fill: $btn_base_color;
            stroke: $btn_base_color;
          }
          &:hover {
            color:  $btn_base_bg;
            background-color: $btn_base_dark_bg;
            .catalog-categories_tree-cat-close-icon {
              color: $btn_base_bg;
              fill: $btn_base_bg;
              stroke: $btn_base_bg;
            }
          }

          @include media($laptop-min) {
            display: flex;
          }
        }
      }

      &-toggle {
        display: none;
        cursor: pointer;
        flex-direction: row;
        align-items: center;
        margin: 0 auto 20px auto;
        width: 200px;
        padding: 10px;
        border: 2px solid;
        border-radius: 5px;

        @include media($laptop-min) {
          display: flex;
        }

        &-icon {
          width: 25px;
          height: 25px;
          margin-right: 10px;

          &-open {
            display: none;
          }

          &-close {
            display: block;
          }
        }

        &-open {
          .catalog-categories_tree-toggle-icon-close {
            display: none;
          }

          .catalog-categories_tree-toggle-icon-open {
            display: block;
          }
        }

        &-tittle {
          font-size: 24px;
          font-weight: bold;
          //display: block;
          //text-align: center;
        }
      }
    }
  }

  &-stores {
    margin-left: 5%;
    flex-grow: 2;

    @include media($laptop_min) {
      margin-left: inherit;
      order: 0;
    }
    &_stores {
      @include media($laptop_min) {
        flex-direction: row;
      }

    }
    &_list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      //justify-content: space-around;
      justify-content: space-between;
    }
    &_sort {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include media($laptop_min) {
        flex-direction: row;
      }
      @include media($tablets) {
        flex-direction: column;
        align-items: center;
      }
      &-desctop,
      &-mobile {
        > ul {
          margin: 0 20px;
          padding: 0;
          > li {

            list-style-type: none;
            @include media($tablets) {
              text-align: center;

            }
            > a {
              padding: 10px;
              text-decoration: none;
              &.active {
                text-decoration: underline;
              }
              @include media($tablets) {
                //width: 100%;
                line-height: 30px;
                font-size: 18px;
              }

            }
          }
        }
        &-select {
          width: 222px;
          margin-bottom: 20px;
        }
        &-title {
          font-weight: bold;
        }
      }
      &-desctop {
        display: flex;
        justify-content: flex-start;
        @include media($tablets) {
          display: none;
        }
        > ul {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }
      &-mobile {
        display: none;
        @include media($tablets) {
          display: flex;
          flex-direction: column;
          font-size: 18px;
        }
      }
      &-info {
        @include media($tablets) {
          display: none;
          //text-align: center;
          //font-size: 18px;
          //line-height: 30px;
        }

      }
    }

  }

}