.catalog {
  &-categories {
    width: 320px;
    @include media($laptop-min) {
      width: 100%;
    }
    li {
      list-style-type: none;

    }
    ul {
      color: $text-color;
      background: $header_color_up;
      width: 320px;
      @include media($laptop_min) {
        width: 100%;
      }
      padding: 0;
      margin: 0;
      & > li {
        margin-bottom: 1PX;
        >a {
          background-color: $header_sub_menu_color_hover;
          text-decoration: none;

        }
        >span {
          background-color: $stores_menu_active_color;
        }
        > a, span {
          padding: 10PX 10PX;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: nowrap;
          color: $text_color;
          font-size: 16PX;
          box-sizing: border-box;
          &:hover {
            color: $header_sub_menu_color_hover;
            background-color: $stores_menu_active_color;
          }
          &.active {
            color: $stores_menu_hover_color;
          }
          &.cat_news {
            color: $header_color_news;
            &:hover {
              color: $header_sub_menu_color_hover;
            }
          }
          &.cat_red {
            color: $header_color_pointed;
            &:hover {
              color: $header_sub_menu_color_hover;
            }
          }
          &.cat_bold {
            font-weight: bold;
          }

        }

        & > ul {
          max-height: 0;
          transition: max-height 0.3s cubic-bezier(0,1,0,.95);
          overflow: hidden;

          >li{
            >a,span {
              background-color: $header_bg_second;
              &:hover {
                background-color: $stores_menu_active_color;
              }
              &.active {
                background-color: $stores_menu_active_color;
              }

            }
          }
        }
        &.open {
          > ul {
            max-height: 9999px;
            transition: max-height 0.3s cubic-bezier(1,.05,1,0);
          }
          .menu_angle-down {
            transform: none;
          }
        }
        &.all_shops {
          border-top: 2px solid $header_border_color;
          margin-top: -1px;
          &.active {
            border-top: none;
            margin-top: 0;
          }
        }
        &.cat_bold {
          font-weight: bold;
        }
      }
    }

    .menu_angle-down {
      width: 9px;
      height: 9px;
      right: 8px;
      padding: 0 10px;
      color: $stores_menu_hover_color;
      stroke:$stores_menu_hover_color;
      fill: $stores_menu_hover_color;
      cursor: pointer;
      transform: rotate(-90deg);
    }
    &_buttons {
      text-align: center;
    }
    &_popular-stores {
      margin: 30px 0;
      background-color: $coupons_popular_stores_background_color;
      color: $coupons_popular_stores_color;
      padding: 10px;

      &-header {
        margin: 0 0 10px;
      }

      &-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        a,span {
          padding: 10px 5px;
          margin-bottom: 5px;
          border-radius: 3px;
          margin-right: 10px;
        }
        a {
          color: $coupons_popular_stores_color;
          text-decoration: none;
          background-color: $coupons_popular_stores_store_background_color;
          &:hover {
            background-color: $btn_base_bg;
            color: $btn_base_color;
          }
        }
        span {
          color: $btn_base_dark_color;
          background-color: $btn_base_dark_bg;
        }

      }
    }
  }
  &-stores {
    margin-left: 5%;
    @include media($laptop_min) {
      margin-left: inherit;
    }
    &_stores {
      @include media($laptop_min) {
        flex-direction: row;
      }

    }
    &_list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      //justify-content: space-around;
      justify-content: space-between;
    }
    &_sort {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include media($laptop_min) {
        flex-direction: row;
      }
      @include media($tablets) {
        flex-direction: column;
      }
      &-desctop,
      &-mobile {
        >ul {
          margin: 0 20px;
          padding: 0;
          > li {

            list-style-type: none;
            @include media($tablets) {
              text-align: center;

            }
            > a {
              padding: 10px;
              text-decoration: none;
              &.active {
                text-decoration: underline;
              }
              @include media($tablets) {
                //width: 100%;
                line-height: 30px;
                font-size: 18px;
              }

            }
          }
        }
      }
      &-desctop {
        display: flex;
        justify-content: flex-start;
        @include media($tablets) {
          display: none;
        }
        >ul {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }
      &-mobile {
        display: none;
        @include media($tablets) {
          display: flex;
          flex-direction: column;
        }
      }
      &-info {
        @include media($tablets) {
          text-align: center;
          font-size: 18px;
          line-height: 30px;
        }
      }
    }

  }

}