.catalog_products {
  &_categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;

    @include media($phones) {
      flex-direction: column;
      align-items: center;
    }

    &-category {
      box-sizing: border-box;
      width: 24%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      img {
        max-width: 80%;
      }

      a {
        text-decoration: none;
        text-align: center;
      }

      &-title {
        color: $link_color_blue_light;
        text-align: center;

      }

      @include media($tablets) {
        width: 45%;
      }
      @include media($phones) {
        width: 100%;
      }
    }

  }
}