.coupons {
  &-abc {
    &_list{
      &-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        &:not(:last-child) {
          border-bottom: 1px solid $coupons_abc_border_color;
        }
        &-char {
          font-size: 80px;
          margin-right: 30px;
          //min-width: 70px;
          min-width: 100px;
          text-align: center;
        }
        &-stores {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          a {
            display: block;
            min-width: 130px;
            padding: 5px 8px;
            color: $coupons_abc_store_color;
            text-decoration: none;
            &:hover {
              color: $coupons_abc_store_color;
              text-decoration: underline;
            }
          }
        }
      }
    }
    &_chars {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      border-top: 1px solid $coupons_abc_border_color;
      a,span {
        padding: 10px 8px;
      }
      &.row-2 {
        border-top: 1px solid $coupons_abc_border_color;
        border-bottom: 1px solid $coupons_abc_border_color;
        margin-bottom: 10px;
        a,span {
          padding: 10px 6px;
        }

      }

      a {
        color: $coupons_abc_store_color;
        text-decoration: none;
        &:hover {
          color: $coupons_abc_store_color;
          text-decoration: underline;
        }
      }
      span {
        color: $coupons_abc_border_color;
      }
    }
  }
}