.coupons {
  &-abc {
    &_list{
      &-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        &:not(:last-child) {
          border-bottom: 1px solid $coupons_abc_border_color;
        }
        &-char {
          font-size: 80px;
          margin-right: 30px;
          //min-width: 70px;
          min-width: 100px;
          text-align: center;
          @include media($tablets) {
            min-width: inherit;
            //width: 0;
            font-size: 120px;
            margin-right: 0;
            color: rgba(48, 136, 207, .7);
          }
        }
        &-stores {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          @include media($tablets) {
            justify-content: center;
            margin: 0 auto;
          }
          a {

            display: block;
            min-width: 130px;
            padding: 5px 8px;
            color: $coupons_abc_store_color;
            text-decoration: none;
            &:hover {
              color: $coupons_abc_store_color;
              text-decoration: underline;
            }
            @include media($tablets) {
              padding: 8px 12px;
              min-width: inherit;
              font-size: 17px;
            }
          }
        }
      }
    }
    &_chars {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      border-top: 1px solid $coupons_abc_border_color;
      @include media($tablets) {
        justify-content: center;
      }
      a,span {
        padding: 10px 8px;
        @include media($tablets) {
          padding: 12px 15px;
          font-size: 17px;
        }
      }
      &.row-2 {
        border-top: 1px solid $coupons_abc_border_color;
        border-bottom: 1px solid $coupons_abc_border_color;
        margin-bottom: 10px;
        a,span {
          padding: 10px 6px;
          @include media($tablets) {
            padding: 12px 15px;
            font-size: 17px;
          }
        }

      }

      a {
        color: $coupons_abc_store_color;
        text-decoration: none;
        &:hover {
          color: $coupons_abc_store_color;
          text-decoration: underline;
        }
      }
      span {
        color: $coupons_abc_border_color;
      }
    }
  }
  &-list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    &_item {
      width: 100%;
      padding: 0 2%;
      box-sizing: border-box;
      margin-bottom: 3%;
      display: flex;

      /*@include media($tablets) {
        width: 49%;
      }
      @include media($phones) {
        width: 99%;
      }*/
      &-name {
        svg {
          width: 15px;
          height: 15px;
        }
      }


    }
  }
  &_buttons {
    &-margin {
      margin-bottom: 20px;
    }
  }
}