@mixin narrow {
  flex-direction: row;
  flex-wrap: wrap;

  .coupons-empty{
    min-width: 240px;
    width: 31%;
    margin: 0 1% ;

    @include media($phones) {
      width: 48%;
    }
  }

  .coupons-list_item {
    width: 31%;
    margin: 0 1% 25px;
    flex-direction: column;

    @include media($phones) {
      width: 48%;
    }

    &-time{
      text-transform: inherit;
    }

    &-name{
      flex-grow: 1;
    }

    &-wrap{
      flex-direction: column;
    }

    &-logo {
      min-width: inherit;
      padding: 0;
      margin: 0;
      background: #fff;
      border: 1px solid $shop_bg;

      &-info{
        text-align: left;
        padding: 0 10px;
      }

      &-img{
        padding: 5px 0;
      }
    }

    &-content {
      text-align: center;
      height: 100%;
      padding-bottom: 0;

      &-link-all {
        display: none;
        margin: 10px 0;
        min-height: 50px;
        font-size: 16px;

        svg{
          height: 18PX;
          width: 18PX;
        }
      }

      &-goto {
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
        align-items: stretch;

        &-promocode {
          margin: 0;
          justify-content: space-between;
          width: 100%;
          min-width: 100%;

         /* &-value {
            flex-direction: column;
          }*/

          &-link {
            width: 100%;
            padding: 5px;
          }
        }
      }

      &-info {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

@mixin left-menu {

  .coupons-list_item {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 95px;
    background-color: #fff;
    margin-bottom: 15px;

    &:last-child {
      //margin-bottom: 8px;
    }

    &-name {

      text-align: left;
      order: 1;
      margin: 0;
      &:hover {
        background-color: #fff !important;

        svg, span {
          color: $link_color;
          fill: $link_color;
          stroke: $link_color;

          &.color-red {
            color: $link_color;
            svg {
              color: $link_color;
              fill: $link_color;
              stroke: $link_color;
            }
          }
        }
      }
      span {
        padding: 0;
        background-color: #fff;
        color: $text-color;
        font-size: 13px;
        text-transform: none;
        margin: 0;

        &.color-red {
          color: $header_heart;
          svg {
            color: $header_heart;
            fill: $header_heart;
            stroke: $header_heart;
          }
        }
      }
      svg {
        color: $text-color;
        fill: $text-color;
        stroke: $text-color;
        width: 15px;
        height: 15px;
      }
    }
    &-content {

      display: none;
    }
    &-logo {

      order: 0;
      min-width: inherit;
      margin: 0;
      background-color: #fff;
      &-wrap {

        padding: 0;
        margin: auto 0;
        &:hover {
          background-color: #fff !important;
        }
        img {

          max-width: 90px;
          object-fit: contain;
        }

      }
    }
    &-content-link-all {

      display: none;
    }
  }
}

@mixin single {

  @include media($tablets) {

    .coupons-list_item {
      width: 50%;
    }
  }

}


.coupons {
  &-abc {
    &_list{
      &-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;

        &:not(:last-child) {
          border-bottom: 1px solid $coupons_abc_border_color;
        }

        &-char {
          font-size: 80px;
          //margin-right: 30px;
          margin: auto 30px auto 0;
          //min-width: 70px;
          min-width: 100px;
          text-align: center;

          @include media($tablets) {
            min-width: inherit;
            //width: 0;
            font-size: 120px;
            //margin-right: 0;
            margin: auto 0;
            //color: rgba(48, 136, 207, .7);
          }
        }

        &-stores {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          @include media($tablets) {
            justify-content: center;
            margin: 0 auto;
          }

          a {

            display: block;
            min-width: 130px;
            padding: 5px 8px;
            color: $coupons_abc_store_color;
            text-decoration: none;

            &:hover {
              color: $coupons_abc_store_hover_color;
              //text-decoration: underline;
            }

            @include media($tablets) {
              padding: 8px 12px;
              min-width: inherit;
              font-size: 17px;
            }
          }
        }
      }
    }

    &_chars {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      border-top: 1px solid $coupons_abc_border_color;

      @include media($tablets) {
        justify-content: center;
      }

      a,span {
        padding: 10px 8px;

        @include media($tablets) {
          padding: 12px 15px;
          font-size: 17px;
        }
      }

      &.row-2 {
        border-top: 1px solid $coupons_abc_border_color;
        border-bottom: 1px solid $coupons_abc_border_color;
        margin-bottom: 10px;

        a,span {
          padding: 10px 6px;

          @include media($tablets) {
            padding: 12px 15px;
            font-size: 17px;
          }
        }
      }

      a {
        color: $coupons_abc_store_color;
        text-decoration: none;

        &:hover {
          color: $coupons_abc_store_hover_color;
          //text-decoration: underline;
        }
      }

      span {
        color: $coupons_abc_border_color;
      }
    }
  }

  &-list {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    //margin-bottom: 25px;

    &.narrow {
        @include narrow;
    }
    &.left-menu {
      @include left-menu;
    }
    &.single {
      @include single;
    }

    @include media($tablets) {
      @include narrow;
    }

    &_item {
      position: relative;
      overflow: hidden;
      width: 100%;
      margin: 0 0 25px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: nowrap;
      flex-direction:column;
      border-radius: 5px;
      background: $shop_bg;
      min-width: 240px;

      &-wrap{
        display: flex;
      }

      &-name {
        background: $coupons_coupon_sel_text_bg_color;
        color: #fff;
        text-transform: uppercase;
        padding: 7px 3px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        &-cashback {
          white-space: nowrap;
        }

        svg {
          width: 16PX;
          height: 16PX;
          vertical-align: middle;
        }

        &:hover span {
          color:  $coupons_a_hover_color;
          svg {
            color:  $coupons_a_hover_color;
            fill:  $coupons_a_hover_color;
            stroke:  $coupons_a_hover_color;
          }
        }
      }

      &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 7px 7px 0;

        &-additional {
          margin-bottom: 10px;
          &-text {
            display: none;
          }
          &.open {
            .coupons-list_item-content-additional-text {
              display: block;
            }
            .coupons-list_item-content-additional-link {
              display: none;
            }
          }
        }

        &-link-all {
          /*margin-bottom: 10px;*/
          flex-grow: 1;
          text-align: center;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          &:hover svg {
            color: $coupons_a_hover_color;
            fill: $coupons_a_hover_color;
            stroke: $coupons_a_hover_color;
          }

          svg {
            height: 16PX;
            width: 16PX;
            color: $coupons_all_coupons_icon_color;
            fill: $coupons_all_coupons_icon_color;
            stroke: $coupons_all_coupons_icon_color;
            margin-right: 5px;
            display: inline;
            vertical-align: middle;

            &:hover {
              color: $coupons_a_hover_color;
              fill: $coupons_a_hover_color;
              stroke: $coupons_a_hover_color;
            }
          }
        }

        &-goto {
          margin: 5px 5px 5px 0;
          display: flex;
          flex-direction: row;
          align-items: stretch;
          justify-content: space-between;

          &-promocode {
            background: $shop_cashback_old_color;
            color: $text_color;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2px;
            box-sizing: border-box;
            width: auto;
            min-width: 58%;
            max-width: 60%;
            flex-wrap: wrap;
            overflow: hidden;
            padding: 0;
            border: 0;
            border-radius: 3px;

            &-code {
              padding: 3px 5px;
              flex-grow: 1;
              text-align: center;
            }

            &-btn{
              height: 20px;
              width:  20px;
              padding: 2px 5px;
              fill: $btn_base_bg;
              border-left: 1px solid $shop_cashback_old_color;

              svg{
                height: 20px;
                width:  20px;
              }
            }

          &-title {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: flex-end;
              align-items: center;
              font-weight: bold;
              padding: 5px;
            }

            &-value {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center;
              background: #fff;
              margin: 0;
              flex-grow: 1;
            }

            &-link {
              width: 40%;
              box-sizing: border-box;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        &-info {
          display: none;
        }
      }

      &-expiry-text {
        position: absolute;
        z-index: 2;
        background-color: rgba(61, 67, 81, 0.75);
        color: rgba(255, 255, 255, 0.65);
        font-size: 2em;
        padding-top: 70px;
        display: none;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
      }

      &-logo {
        min-width: 230px;
        border-right: 1px solid $coupons_coupon_logo_border_color;
        margin: 15px 20px 15px 0;
        padding: 5px 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-img{
          min-height: 58px;
        }

        &-wrap {
          display: flex;
          align-content: center;
          justify-content: center;
          padding: 5px;
        }

        &-info {
          //text-align: center;
        }
      }

      &-time {
        //background: $coupons_coupon_sel_text_bg_color;
        //color: $btn_base_bg;
        color: $text_color;
        //text-transform: uppercase;
        padding: 0px 3px;
        font-weight: bold;

      }

      &-visit {
        padding: 7px 3px;
        font-weight: bold;

        &-count{
          font-weight: 400;
        }
      }
    }

    &.list-4 {
      .coupons-list_item,
      .coupons-empty{
        width: 23%;
        @include media($tablets) {
          width: 31%;
        }
        @include media($phones) {
          width: 48%;
        }
      }
    }
  }
  &_buttons {

    &-bottom {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
    }

    &-margin {
      margin-bottom: 20px;
    }
  }
  &_mobile {
    &-bottom {
      @include media($laptop-min) {
        position: absolute;
        bottom: -370px;
      }
    }
    &-relative {
      @include media($laptop-min) {
       position: relative;
       margin-bottom: 420px;
      }
    }
  }
}
