@mixin narrow {
  flex-direction: row;
  flex-wrap: wrap;
  .coupons-list_item {
    width: 31%;
    margin: 0 1% 2%;
    flex-direction: column;
    padding: 3px;
    &-logo {
      min-width: inherit;
      border: none;
      padding: 0;
      margin: 10px 0;
      &-logo{
        padding: 5px 0;
      }
      &-info {
        display: none;
      }
    }
    &-content {
      text-align: center;
      height: 100%;
      &-goto {
        margin: 0 auto;
        width: 100%;
        align-items: center;
        &-promocode {
          margin: 20px 0 2px;
          justify-content: space-between;
          width: 95%;
          &-title {
            display: none;
          }
          &-value {
            flex-direction: column;
          }
          &-link {
            a {
              width: 100%;
            }
          }
        }
        &.open {
          .coupons-list_item-content-goto-promocode {
            align-items: center;
          }
        }
      }
      &-info {
        display: block;
        margin-bottom: 5px;
      }
      &-visit {
        padding: 7px 3px;
      }
    }
  }
}

.coupons {
  &-abc {
    &_list{
      &-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        &:not(:last-child) {
          border-bottom: 1px solid $coupons_abc_border_color;
        }
        &-char {
          font-size: 80px;
          margin-right: 30px;
          //min-width: 70px;
          min-width: 100px;
          text-align: center;
          @include media($tablets) {
            min-width: inherit;
            //width: 0;
            font-size: 120px;
            margin-right: 0;
            color: rgba(48, 136, 207, .7);
          }
        }
        &-stores {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          @include media($tablets) {
            justify-content: center;
            margin: 0 auto;
          }
          a {

            display: block;
            min-width: 130px;
            padding: 5px 8px;
            color: $coupons_abc_store_color;
            text-decoration: none;
            &:hover {
              color: $coupons_abc_store_color;
              text-decoration: underline;
            }
            @include media($tablets) {
              padding: 8px 12px;
              min-width: inherit;
              font-size: 17px;
            }
          }
        }
      }
    }
    &_chars {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      border-top: 1px solid $coupons_abc_border_color;
      @include media($tablets) {
        justify-content: center;
      }
      a,span {
        padding: 10px 8px;
        @include media($tablets) {
          padding: 12px 15px;
          font-size: 17px;
        }
      }
      &.row-2 {
        border-top: 1px solid $coupons_abc_border_color;
        border-bottom: 1px solid $coupons_abc_border_color;
        margin-bottom: 10px;
        a,span {
          padding: 10px 6px;
          @include media($tablets) {
            padding: 12px 15px;
            font-size: 17px;
          }
        }

      }

      a {
        color: $coupons_abc_store_color;
        text-decoration: none;
        &:hover {
          color: $coupons_abc_store_color;
          text-decoration: underline;
        }
      }
      span {
        color: $coupons_abc_border_color;
      }
    }
  }
  &-list {
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    &.narrow {
        @include narrow;
    }
    @include media($tablets) {
      @include narrow;
    }

    &_item {
      position: relative;
      overflow: hidden;
      width: 100%;
      margin: 0 0 2%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border: 3px solid $coupons_coupon_border_color;
      border-radius: 5px;
      @include media($tablets) {
        width: 48% !important;
      }
      @include media($phones) {
        width: 100% !important;
      }
      &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-additional {
          margin-bottom: 10px;
          &-text {
            display: none;
          }
          &.open {
            .coupons-list_item-content-additional-text {
              display: block;
            }
            .coupons-list_item-content-additional-link {
              display: none;
            }
          }
        }
        &-link-all {
          margin-bottom: 10px;
          &:hover svg {
            color: $coupons_a_hover_color;
            fill: $coupons_a_hover_color;
            stroke: $coupons_a_hover_color;
          }
          svg {
            height: 18px;
            width: 18px;
            color: $coupons_all_coupons_icon_color;
            fill: $coupons_all_coupons_icon_color;
            stroke: $coupons_all_coupons_icon_color;
            margin-right: 5px;
            display: inline;
            vertical-align: middle;
            &:hover {
              color: $coupons_a_hover_color;
              fill: $coupons_a_hover_color;
              stroke: $coupons_a_hover_color;
            }

          }
        }
        &-name {
          background: $coupons_coupon_sel_text_bg_color;
          color: $coupons_coupon_sel_text_color;
          text-transform: uppercase;
          padding: 7px 3px;
          font-weight: bold;
          text-decoration: none;
          svg {
            width: 15px;
            height: 15px;
          }
          margin-bottom: 10px;
          span {
            color: $coupons_coupon_name_cashback;
          }
          &:hover span {
            color:  $coupons_a_hover_color;
          }
        }
        &-link-all {
          margin-bottom: 10px;
        }
        &-goto {
          margin: 0 5px 5px 0;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          &-promocode {
            border: 3px solid $coupons_coupon_promocode_border_color;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            margin-bottom: 2px;
            width: 300px;
            box-sizing: border-box;
            &-title {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: flex-end;
              align-items: center;
              margin-bottom: 5px;
              font-weight: bold;
            }
            &-value {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center;
            }
            &-link {
              a {
                width: 300px;
                box-sizing: border-box;
              }
            }
          }
          &.open {
            .coupons-list_item-content-goto-promocode {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
            }
            .coupons-list_item-content-goto-link {
              display:none;
            }
          }
        }
        &-info {
          display: none;
        }
      }
      &-expiry-text {
        position: absolute;
        z-index: 2;
        background-color: rgba(61, 67, 81, 0.75);
        color: rgba(255, 255, 255, 0.65);
        font-size: 2em;
        padding-top: 70px;
        display: none;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0;
      }
      &-logo {
        min-width: 230px;
        border-right: 1px solid $coupons_coupon_logo_border_color;
        margin: 15px 20px 15px 0;
        padding: 5px 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-wrap {
          display: block;
          text-align: center;
          padding: 30px 0;
        }
        &-info {
          text-align: center;
        }
      }
      &-time {
        background: $coupons_coupon_sel_text_bg_color;
        color: $coupons_coupon_sel_text_color;
        text-transform: uppercase;
        padding: 7px 3px;
        font-weight: bold;
      }
      &-visit {
        padding: 7px 3px 0;
        font-weight: bold;
      }
    }
  }
  &_buttons {
    &-margin {
      margin-bottom: 20px;
    }
  }
}
