.drop-menu{
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;

  &>li{
    margin-right: 20px;
  }

  a{
    vertical-align: top;
    padding: 15px 0;
    color: $header_sub_menu_color;
    stroke: $header_sub_menu_color;
    fill: $header_sub_menu_color;
    text-decoration: none;
    transition: all .25s ease;
  }

  ul{
    margin: 0;
    padding: 0;
    background: $header_sub_menu_bg;
    position: absolute;
    width: 300px;

    opacity: 0;
    transition: opacity .25s ease .1s;
  }

  li{
    list-style: none;
    transition: all .25s ease .1s;

    li {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      line-height: 20px;

      a{
        padding-left: 15px;
        display: block;
      }

      ul{
        position: absolute;
        left: 100%;
        top: -4px;
      }
    }

    &:hover{
      >a {
        color: $header_sub_menu_color_hover;
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
        cursor: pointer;
      }

      >svg{
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
      }

      >ul{
        //display: block;
        opacity: 1;

        >li{
          max-height: 60px;
          overflow: visible;
          padding: 0;
        }
      }
    }
  }

  .submenu{
    position: absolute;
  }
}
