.drop-menu{
  list-style: none;
  margin: 0;
  padding: 0;

  &.header-right {
    &>li {
      margin-right: 0;
      margin-left: 20px;

      @include media($laptop_min) {
        margin-right: 20px;
        margin-left: 0;
      }

      &:last-child {
        >a,>span {
          border-bottom: none;
        }
      }

      &>ul {
        background-color: $header_color_up;
        width: auto;
        right: -10px;

        @include media($laptop_min) {
          margin-top: 0;
          border: none;
          text-align: left;
          width: inherit;
          box-shadow: none;
          background-color: $header_sub_menu_bg;
        }
      }

      &:hover>ul {
        border-right:  2px solid $menu_left_border_color;
        border-left:  2px solid $menu_left_border_color;
        border-bottom:  2px solid $menu_left_border_color;
        box-shadow: 0 3px 3px rgba(0,0,0,.2);

        @include media($laptop_min) {
          border: none;
          box-shadow: none;
        }
      }

    }
  }

  &.header-right>li {
    &.open {
      padding-top: 20px;
    }

    &:first-child {
      @include media($laptop-min) {
        padding-top: 0;
      }
    }
  }

  &>li{
    margin-right: 20px;

    @include media($laptop-min) {
      margin-right: 0;
    }

    &:first-child {
      @include media($laptop_min) {
        //в мобиле для первого пункта меню первого уровня
        padding-top: 20px;
      }
    }

    >span {
      @include media($laptop-min) {
        cursor: pointer;

      }
    }

    &.drop-menu_group__up {
      >a,
      >span {
        @include media($laptop-min) {
          //в мобилке пункты, имеющие подменю
          color: $drop-menu-color_parents-mobile;
        }
      }
    }
    &.drop-menu_bold {
      font-weight: 700;
    }


    &>ul>li{
      @include media($laptop-min) {
        background-color: $footer_bg;

        &.hide_mobile {
          display: none;
        }
      }

      //для первого пункта подменю
      &:first-child {
        a, span {
          //padding-top: 25px;
          padding-top: 20px;
        }
        //для его дочернего
        &>ul {
          //чуть опускаем вниз
          margin-top: 15px;
          &>li {
            a, span {
              //как у всех
              padding-top: 10px;
            }
          }
        }
      }

    }


    &.mobile {
      display:none;
      @include media($laptop_min) {
        display: block;
      }
    }

    &.desctop {
      @include media($laptop_min) {
        display: none;
      }
    }
  }

  a, span{
    font-size: 14px;
    color: $header_sub_menu_color;
    stroke: $header_sub_menu_color;
    fill: $header_sub_menu_color;
    text-decoration: none;
    transition: all .25s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    flex-direction: row;
    cursor: pointer;
    overflow: hidden;


    &.cat_news {
      color: $header_color_news;

      @include media($laptop-min) {
        font-weight: bold;
      }
    }

    &.cat_promo {
      color: $header_color_pointed;

      @include media($laptop-min) {
        font-weight: bold;
      }
    }

    &.cat_upper {
      text-transform: uppercase;
    }

    @include media($tablets) {
      //font-size: 1.2rem;
      font-size: 1.1rem;
    }

    @include media($laptop-min) {
      border-bottom: 1px solid $header_border_color;
      cursor: default;
      color: $drop-menu-color-mobile;
      //font-size: 1.2rem;
      font-size: 1.1rem;
      padding: 6PX 0;

      &.link_mobile_bold {
        font-weight: bold;
      }

      &.link_mobile_pointed {
        color: $header_color_pointed;
      }
    }
  }

  &.header-right {
    position: relative;
  }

  ul{
    margin: 0;
    padding: 0;
    background: $header_sub_menu_bg;
    position: absolute;
    width: auto;
    min-width: 250px;
    border-left: 1px solid $menu_border_color;
    border-right: 1px solid $menu_border_color;
    border-bottom: none;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity,visibility;
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-delay: .1s;

    @include media($laptop_min) {
      position: relative;
      width: auto;
      border: none;
    }
   }


  li{
    list-style: none;
    transition-property: opacity,visibility;
    @include media($laptop-min) {
      transition-property: visibility;
    }
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-delay: .1s;

    li {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      line-height: 15px;
      background-color: $drop-menu-color;

      &.menu_hidden {
        @include media_min($laptop-min) {
          display: none;
        }
      }

      a, span{

        //padding: 10px 15px;
        padding: 4px 15px;
        line-height: 20px;
        white-space: normal;

        @include media($laptop_min) {
          padding: 16PX 0;
        }
      }

      span.active {
        //padding: 10px 15px;
        padding: 4px 15px;

        @include media($laptop_min) {
          //padding: 15px 15px;
          padding: 16px 0;
          margin: 0;
          border-bottom: 1px solid $menu_border_color;
        }

        color: $header_sub_menu_color_hover;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media($tablets) {
          font-size: 16px;
        }

      }

      ul{
        position: absolute;
        left: 100%;
        top: -1px;
      }
      &:last-child {
        >a,>span {
          border-bottom: none;
        }
      }
    }

    &:hover{
      >a {
        color: $header_sub_menu_color_hover;
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
        cursor: pointer;
      }

      >svg{
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
      }

      >ul{
        opacity: 1;
        border-bottom: 1px solid $menu_border_color;
        border-top: 1px solid $menu_border_color;
        visibility: visible;
        transition-delay: 0.1s;
        @include media($laptop_min) {
          opacity: 0;
          border-bottom: none;
          border-top: none;
          visibility: hidden;
          >li {
            max-height: 0;
            overflow: hidden;

          }
        }

        >li{
          max-height: 60px;
          overflow: visible;
          padding: 0;
        }
      }
    }
    &.open {
      @include media($laptop_min) {
        >ul {
          opacity: 1;
          border-bottom: none;
          visibility: visible;
          position: relative;
          left: 0;
          >li {
            height: auto;
            max-height: none;
          }
        }
      }
    }

    &.close {
      @include media($laptop_min) {
        opacity: 0;
        visibility: hidden;
        height: 0 !important;
      }
    }


  }

  .submenu{
    position: absolute;
  }

  .menu_angle-down{
    //margin-left: 10px;
    margin-left: 6px;
//    width: 9px;
//    height: 9px;
    width: 7px;
    height: 7px;
    right: 8px;
    //padding: 0 1px 0 10px;
    color: $text_color;
    stroke: $text_color;
    fill: $text_color;
    cursor: pointer;

    @include media($laptop-min) {
      fill: $share_color;
      width: 9px;
      height: 9px;
    }
  }

  &_group__up-header {
    .menu_angle-down {
      width: 9px;
      height: 9px;
    }

  }


  &>li {
    &.open>a,&.open>span {
      &>.menu_angle-down {
        @include media($laptop-min) {
          transform: rotate(-180deg);
        }
      }
    }
    &>ul>li .menu_angle-down {
      transform: rotate(-90deg);
      @include media($laptop_min) {
        display: none; //не показывать в мобильном ссылку на подкатегории
      }
    }
  }
  &_item {
    &-icon {
      &-money {
        width: 26px;
        height: 26px;
        color: $dollar_color;
        stroke: $dollar_color;
        fill: $dollar_color;
        margin-right: 8px;

        @include media($laptop_min) {
          margin-right: 0px;
        }
      }
    }

  }
  &.close {
    display: none;
  }
  li.all_shops {
    border: none;
  }
  a.all_shops,
  span.all_shops {
    border-top: 1px solid $menu_border_color;
    margin: 0 5px;
    padding: 6px 10px;

    @include media($laptop_min) {
      padding: 16px 0;
      color: $header_sub_menu_color_hover;
      margin-left: 0;
    }
  }
  .cat_bold {
    font-weight: bold;
  }

  &_group__up-pointed {
    >a,>span {
      color: $header_color_pointed !important;

      @include media($laptop-min) {
        color: $share_color!important;
      }

      svg {
        color: $header_color_pointed !important;
        fill: $header_color_pointed !important;
        stroke: $header_color_pointed !important;

        @include media($laptop-min) {
          color: $share_color !important;
          fill: $share_color !important;
          stroke: $share_color !important;
        }
      }
    }
  }

}
