.drop-menu{
  list-style: none;
  margin: 0;
  padding: 0;

  &.header-right {
    &>li {
      margin-right: 0;
      margin-left: 20px;
      @include media($laptop_min) {
        margin-right: 20px;
        margin-left: 0;
      }
      &>ul {
        background-color: $header_color_up;
        margin-top: 2px;
        width: auto;
        text-align: center;
        @include media($laptop_min) {
          margin-top: 0;
          border: none;
          text-align: left;
          width: inherit;
          box-shadow: none;
          background-color: $header_sub_menu_bg;
        }
      }
      &:hover>ul {
        border: 2px solid $menu_left_border_color;
        box-shadow: 0 3px 3px rgba(0,0,0,.2);
        @include media($laptop_min) {
          border: none;
          box-shadow: none;
        }
      }
    }
  }

  &>li{
    margin-right: 20px;

    &.mobile {
      display:none;
      @include media($laptop_min) {
        display: block;
      }
    }

    &.desctop {
      //display: inline-block;
      @include media($laptop_min) {
        display: none;
      }
    }
  }

  a{
    vertical-align: top;
    //padding: 10px 0;
    padding: 8px 0;
    font-size: 14px;
    color: $header_sub_menu_color;
    stroke: $header_sub_menu_color;
    fill: $header_sub_menu_color;
    text-decoration: none;
    transition: all .25s ease;
  }

  &.header-right {
    position: relative;
    ul {
      right: 0;
    }

  }
  ul{
    margin: 2px 0 0;
    //margin: 0;
    padding: 0;
    background: $header_sub_menu_bg;
    position: absolute;
    width: 300px;
    border-left: 1px solid $menu_border_color;
    border-right: 1px solid $menu_border_color;
    //border-bottom: 1px solid $menu_border_color;
    border-bottom: none;

    opacity: 0;
    visibility: hidden;
    transition-property: opacity,visibility;
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-delay: .1s;
    @include media($laptop_min) {
      position: relative;
      width: auto;
      border: none;
    }
    @include media($phones) {
      padding-right: 3%;
    }
   }

  li{
    list-style: none;
    transition-property: opacity,visibility;
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-delay: .1s;

    li {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      //line-height: 20px;
      line-height: 15px;

      a{
        padding-left: 15px;
        padding-right: 15px;
        display: block;
      }
      span.active {
        padding: 15px;
        display: block;
        color: $header_sub_menu_color_hover;
      }

      ul{
        position: absolute;
        left: 100%;
        top: -2px;
      }
    }

    &:hover{
      >a {
        color: $header_sub_menu_color_hover;
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
        cursor: pointer;
      }

      >svg{
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
      }

      >ul{
        opacity: 1;
        border-bottom: 1px solid $menu_border_color;
        visibility: visible;
        @include media($laptop_min) {
          opacity: 0;
          border-bottom: none;
          visibility: hidden;
          >li {
            max-height: 0;
            overflow: hidden;
          }
        }

        >li{
          max-height: 60px;
          overflow: visible;
          padding: 0;
        }
      }
    }
    &.open {
      @include media($laptop_min) {
        >ul {
          opacity: 1;
          //border-bottom: 1px solid $menu_border_color;
          border-bottom: none;
          visibility: visible;
          position: relative;
          left: 3%;
          >li {
            height: auto;
            max-height: none;
          }
        }

      }
    }
  }

  .submenu{
    position: absolute;
  }

  &>li {
    &>a>.menu_angle-down {
      display: inline-block;
      float: right;
      margin-top: 12px;
    }
    &>ul>li .menu_angle-down {
      display: none;
      @include media($laptop_min) {
        display: block;
      }
    }
  }

  @include media($laptop_min) {
    .menu_angle-right {
      display: none;
    }
    .menu_angle-down {
      display: inline-block;
      float: right;
      //margin-top: 6px;
      transition: transform 0.6s ease;
    }
    .menu-group,
    .drop-menu_group__up {
      &.open {
        >.menu_angle-down,
        >a>.menu_angle-down{
          transform: rotate(180deg);
        }
      }
    }
    .drop-menu_group__up>a>.menu_angle-down {
      margin-top: 12px;
    }
  }



}
