.drop-menu{
  list-style: none;
  margin: 0;
  padding: 0;

  &.header-right {
    &>li {
      margin-right: 0;
      margin-left: 20px;
      @include media($laptop_min) {
        margin-right: 20px;
        margin-left: 0;
      }
      &>ul {
        background-color: $header_color_up;
        //margin-top: 2px;
        width: auto;
        text-align: center;
        right: -10px;
        @include media($laptop_min) {
          margin-top: 0;
          border: none;
          text-align: left;
          width: inherit;
          box-shadow: none;
          background-color: $header_sub_menu_bg;
        }
      }
      &:hover>ul {
        border-right:  2px solid $menu_left_border_color;
        border-left:  2px solid $menu_left_border_color;
        border-bottom:  2px solid $menu_left_border_color;
        box-shadow: 0 3px 3px rgba(0,0,0,.2);
        @include media($laptop_min) {
          border: none;
          box-shadow: none;
        }
      }
    }
  }

  &>li{
    margin-right: 20px;

    &.mobile {
      display:none;
      @include media($laptop_min) {
        display: block;
      }
    }

    &.desctop {
      @include media($laptop_min) {
        display: none;
      }
    }
  }

  a{
    font-size: 14px;
    @include media($tablets) {
      font-size: 16px;
    }
    color: $header_sub_menu_color;
    stroke: $header_sub_menu_color;
    fill: $header_sub_menu_color;
    text-decoration: none;
    transition: all .25s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //word-break: normal;
    white-space: nowrap;
    flex-direction: row;
    @include media($laptop-min) {
      border-bottom: 1px solid $menu_border_color;
    }

  }

  &.header-right {
    position: relative;
    ul {
      right: 0;
    }

  }
  ul{
    margin: 1px 0 0;
    padding: 0;
    background: $header_sub_menu_bg;
    position: absolute;
    //width: 320px;
    width: auto;
    min-width: 300px;
    border-left: 1px solid $menu_border_color;
    border-right: 1px solid $menu_border_color;
    //border-bottom: 1px solid $menu_border_color;
    border-bottom: none;

    opacity: 0;
    visibility: hidden;
    transition-property: opacity,visibility;
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-delay: .1s;
    @include media($laptop_min) {
      position: relative;
      width: auto;
      border: none;
    }
    @include media($phones) {
      padding-right: 3%;
    }
   }

  li{
    list-style: none;
    transition-property: opacity,visibility;
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-delay: .1s;

    li {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      //line-height: 20px;
      line-height: 15px;
      //border-bottom: 1px solid rgba(204, 204, 204, 0.76);
      background-color: $drop-menu-color;

      a{
        //font-size: 18px;
        //padding-left: 15px;
        //padding-right: 15px;
        //display: block;
        //padding-top: 8px;
        ///padding-bottom: 8px;
        padding: 10px 15px;
        @include media($laptop_min) {
          padding: 15px 15px;
        }
        //word-break: normal;
        white-space: normal;

      }
      span.active {
        padding: 10px 15px;
        @include media($laptop_min) {
          padding: 15px 15px;
          border-bottom: 1px solid $menu_border_color;
        }
        color: $header_sub_menu_color_hover;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      ul{
        position: absolute;
        left: 100%;
        top: -1px;
      }
    }

    &:hover{
      >a {
        color: $header_sub_menu_color_hover;
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
        cursor: pointer;
      }

      >svg{
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
      }

      >ul{
        opacity: 1;
        border-bottom: 1px solid $menu_border_color;
        visibility: visible;
        @include media($laptop_min) {
          opacity: 0;
          border-bottom: none;
          visibility: hidden;
          >li {
            max-height: 0;
            overflow: hidden;
          }
        }

        >li{
          max-height: 60px;
          overflow: visible;
          padding: 0;
        }
      }
    }
    &.open {
      @include media($laptop_min) {
        >ul {
          opacity: 1;
          //border-bottom: 1px solid $menu_border_color;
          border-bottom: none;
          visibility: visible;
          position: relative;
          left: 0;
          >li {
            height: auto;
            max-height: none;
          }
        }
      }
    }

    &.close {
      @include media($laptop_min) {
        opacity: 0;
        //border-bottom: 1px solid $menu_border_color;
        //border-bottom: none;
        visibility: hidden;
        //position: relative;
        //left: 3%;
        //left: 0;
        height: 0 !important;
      }
    }
  }

  .submenu{
    position: absolute;
  }

  .menu_angle-down{
    //width: 12px;
    //height: 12px;
    width: 9px;
    height: 9px;
    //top: 6px;
    right: 8px;
    padding: 0 10px;
    color: $text_color;
    stroke: $text_color;
    fill: $text_color;
    cursor: pointer;
  }


  &>li {
    &>a>.menu_angle-down {

    }
    &>ul>li .menu_angle-down {
      //transform: rotate(-90deg);
      display:none;//не показывать в мобильном ссылку на подкатегории
    }
  }

  @include media($laptop_min) {
    .menu_angle-down {
      transform: rotate(-90deg);
    }
    .menu-group,
    .drop-menu_group__up {
      &.open {
        >.menu_angle-down,
        >a>.menu_angle-down,
        >span>.menu_angle-down{
          //transform: rotate(180deg);
          transform: none;
        }
      }
    }
    .drop-menu_group__up>a>.menu_angle-down {
    }
  }



}
