.drop-menu{
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;

  &>li{
    margin-right: 20px;
  }

  a{
    vertical-align: top;
    padding: 15px 0;
    color: $header_sub_menu_color;
    stroke: $header_sub_menu_color;
    fill: $header_sub_menu_color;
    text-decoration: none;
    transition: all .25s ease;
  }

  ul{
    margin: 0;
    padding: 0;
    background: $header_sub_menu_bg;
    position: absolute;
    width: 300px;

    opacity: 0;
    transition: opacity .25s ease .1s;
    @include media($tablets) {
      position: relative;
      width: auto;
    }
  }

  li{
    list-style: none;
    transition: all .25s ease .1s;

    li {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      line-height: 20px;

      a{
        padding-left: 15px;
        display: block;
      }

      ul{
        position: absolute;
        left: 100%;
        top: -4px;
      }
    }

    &:hover{
      >a {
        color: $header_sub_menu_color_hover;
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
        cursor: pointer;
      }

      >svg{
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
      }

      >ul{
        //display: block;
        opacity: 1;
        @include media($tablets) {
          opacity: 0;
          >li {
            max-height: 0;
            overflow: hidden;
          }
        }

        >li{
          max-height: 60px;
          overflow: visible;
          padding: 0;
        }
      }
    }
    &.open {
      @include media($tablets) {
        >ul {
          opacity: 1;
          position: relative;
          left: 20px;
          >li {
            height: auto;
            max-height: none;
            transition: height 0.6s ease;
            //max-height: 60px;
            //overflow: visible;
          }
        }

      }
    }
  }

  .submenu{
    position: absolute;
  }
  .menu_angle-down {
    display: none;
  }

  @include media($tablets) {
    .menu_angle-right {
      display: none;
    }
    .menu_angle-down {
      display: inline-block;
      float: right;
      margin-top: 15px;
      transition: transform 0.6s ease;
    }
    .menu-group,
    .drop-menu_group__up {
      &.open {
        >.menu_angle-down,
        >a>.menu_angle-down{
          transform: rotate(180deg);
        }
      }
    }
  }



}
