.faq {
  &-content {
    display: flex;
    flex-direction: column;

    &_center, &_top {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      @include media($tablets) {
        flex-direction: column;
      }

      .faq-content_item {
        width: 47%;

        @include media($tablets) {
          width: 99%;
        }
      }
    }

    &_item {
      padding: 0 20px 0 20px;
      margin: 0 1.5% 1.875rem;
      box-sizing: border-box;
      border-radius: 10px;
      border: 3px solid $reccomendations-item-border-color;

      &-head {
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: flex-start;
        text-transform: uppercase;
        font-weight: 600;
      }

      &-icon {
        width: 40PX;
        height: 20PX;
        margin-right: 10PX;
        color: $faq_icon_color;
        stroke: $faq_icon_color;
        fill: $faq_icon_color;
      }

      &-list {
        padding-left: 5px;
      }
    }

    &_header {
      width: 100%;
    }
  }
}