.footer {
  background: $footer_bg;
  padding: 24px 0;

  @include media($laptop_min) {
    &-main {
      flex-direction: column;
      align-items: center;
    }
  }

  &-left {
    max-width: 890px;
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: end;

    @include media($laptop_min) {
      order: 1;
      display: block;
    }
  }

  &-right {
    min-width: 240px;
    max-width: 240px;

    @include media($laptop_min) {
      order: 0;
      min-width: auto;
      max-width: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      &-item {
        display: inline-block;
        order: 0;
        width: 25%;
        margin-bottom: 32px;
        min-width: 210px;
        text-align: center;
      }
    }
  }

  &-text {
    color: $footer_text_color;
    margin-bottom: 55px;
  }

  .share42_wrap{
    a{
      display: inline-block;
    }
  }

  a {
    line-height: 16px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: $footer_link_color;
    font-weight: 400;
    font-size: 14px;

    @include media($tablets) {
      font-size: 16px;
    }

    @include media($phones) {
      line-height: 1.2;
    }

    &:hover {
      color: $a_color_hover;
    }
  }

  &-menu {
    //margin-bottom: 70px;
    flex-grow: 1;

    @include media($laptop_min) {
      margin-bottom: 32px;
    }

    @include media($tablets) {
      flex-wrap: wrap;
    }

    &-col {
      width: 33%;
      min-width: 160px;
      max-width: 210px;
      margin-right: 15px;

      @include media($laptop_min) {
        margin-right: 7px;
        margin-left: 7px;
      }

      @include media($tablets) {
        width: 100%;
        min-width: auto;
        max-width: none;
      }
    }

    &-title {
      color: $footer_menu_title_color;
      margin-bottom: 12px;
      text-transform: uppercase;

      @include media($tablets) {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        line-height: 21PX;
        margin-bottom: 0;

        &:after {
          content: "";
          background: url(/images/svg/angle-right.svg);
          height: 20PX;
          width: 20PX;
          background-size: contain;
          margin: auto 0 auto 0;
          transition: all .4s ease;
          transform: rotate3d(0, 0, 1, 90deg);
          opacity: 0.8;
          margin-bottom: 1px;
        }

        &_open {
          &:after {
            transform: rotate3d(0, 0, -1, 90deg);
          }

          & ~ a {
            max-height: 20px !important;
            line-height: 26px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }
    }

    &-lists {
      margin-top: 35px;

      &:first-child {
        margin-top: 0px;
      }

      @include media($tablets) {
        border-bottom: 1px dashed #fff;
        margin-bottom: 16px;
        padding-bottom: 16px;
        margin-top: 0px;

        a {
          overflow: hidden;
          max-height: 0;
          margin: 0 0 0 20px;
          transition: all .4s ease;
          font-size: 16PX;

          &.hide_mobile {
            display: none;
          }
        }
      }
    }
  }

  &-withdraws {
    margin-bottom: 45px;
    margin-right: 15px;
    align-content: center;

    @include media($tablets) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      justify-content: center;
    }

    &-item {
      width: 88px;
      //height: 16px;
      color: $footer_text2_color;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      white-space: nowrap;

      @include media($tablets) {
        margin-bottom: 15px;
      }

      &:first-child {
        width: 200px;

        @include media($tablets) {
          display: none;
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    &-visa {
      background-image: url('/images/pays_system/visa.png');
      width: 50px;
    }

    &-mastercard {
      background-image: url('/images/pays_system/mastercard.png');
      width: 90px;
    }

    &-qiwi {
      background-image: url('/images/pays_system/qiwi.png');
      width: 50px;
    }

    &-mir {
      background-image: url('/images/pays_system/mir.png');
      width: 55px;
    }

    &-phone {
      background-image: url('/images/pays_system/phone.png');
      width: 30px;
    }

    &-ya {
      background-image: url('/images/pays_system/ya.png');
      width: 85px;
    }

    &-wm {
      background-image: url('/images/pays_system/wm.png');
      width: 90px;
    }

    &-paypal {
      background-image: url('/images/pays_system/paypal.png');
      width: 65px;
    }

    &-skrill {
      background-image: url('/images/pays_system/skrill.svg');
      width: 48px;
    }
  }

  &-docs {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;

    @include media($laptop_min) {
      margin-bottom: 32px;
      justify-content: center;
    }

    @include media($tablets) {
      flex-wrap: wrap;
    }

    &-item {
      text-decoration: underline !important;
      margin-right: 58px;

      @include media($laptop_min) {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }

  &-copyright {
    color: $a_color_hover;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    @include media($laptop_min) {
      justify-content: center;
    }
    @include media($phones) {
      flex-direction: column;
      align-items: center;
    }

    &_logo {
      margin-right: 15px;
      max-height: 28PX;

      @include media($phones) {
        order: 1;
      }
    }

    &_text {
      line-height: 18PX !important;
      margin-top: -3PX;
      margin-bottom: 0 !important;

      @include media($phones) {
        order: 0;
        margin-bottom: 10px !important;
        text-align: center;
      }

    }
  }

  &-share {
    color: $footer_text2_color;
    margin-bottom: 34px;

    &-text {
      padding-bottom: 3px;
    }
  }

  &-social_links {
    margin-bottom: 40px;

    @include media($laptop_min) {
      min-width: 100%;
      order: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: left;
    }

    &-title {
      color: $footer_text2_color;
      margin-bottom: 30px;
      width: 100%;

      @include media($laptop_min) {
        margin-bottom: 0px;
        text-align: center;
      }
    }

    &-item {
      margin-top: 12px;
      margin-bottom: 0 !important;

      @include media($laptop_min) {
        max-width: 240px;
        min-width: 240px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    &-icon {
      height: 32px;
      width: 32px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;

      @include media($laptop_min) {
        margin-right: 10px;
      }
    }
  }

  &-contacts {
    margin-bottom: 30px;

    @include media($laptop_min) {
      min-width: 100%;
      order: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include media($laptop_min) {
      display: none;
    }

    &_title {
      color: $footer_menu_title_color;

      @include media($laptop_min) {
        padding: 0;
        margin: 0;
        width: 100%;
      }
    }

    &_description {
      font-size: 12px;;
      color: $footer_link_color;
      line-height: 22px;

      @include media($laptop_min) {
        max-width: 240px;
        min-width: 130px;
        margin: 0 10px;
        width: 30%;
        text-align: center;
      }

      &-phone {
        display: block;
        font-size: 16px;
        line-height: 5px;
        margin-top: 9px;
      }
    }
  }

  &-app {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    &-img {
      //height: 50px;
      stroke: rgba(#fff, 0.6);
      fill: rgba(#fff, 0.6);
      color: rgba(#fff, 0.6);
      position: relative;
      width: calc(49% - 10px);
      display: inline-block;
      margin-right: 10px;

      svg {
        width: 100%;
        height: auto;
      }
    }

    &-waiting {
      &-label {
        position: absolute;
        left: -3px;
        top: -3px;
        height: 34PX;
        width: 34PX !important;
        stroke: rgba(#AE0404, 0.6);
        fill: rgba(#AE0404, 1);
      }

      &:after {
        content: "скоро";
        position: absolute;
        left: -5PX;
        top: 4PX;
        transform: rotate(-45deg);
        font-size: 10px;
        font-weight: 600;
        color: #fff;
        font-family: Open Sans, sans-serif;

        @include media($tablets) {
          left: -4px;
          top: 6px;
        }
      }
    }
  }
}

.microdata-site-rating{
  font-size: 14px;
  color: $footer_text2_color;

  .small{
    font-size: 14px;
    opacity: 0.8;
  }

  .number{
    font-weight: bold;
  }
}
