.header {
  margin-bottom: $menu_height_x2;
  @include media($tablets) {
    margin-bottom: $menu_height;

  }

  &-upline {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: $header_bg_up;
    z-index: 99;
  }

  &-secondline {
    //top: 0;
    position: fixed;
    top: $menu_height;
    width: 100%;
    //margin-top: $menu_height;

    line-height: 50px;
    //height: $menu_height;
    z-index: 10;

    &-link{
      color: $header_sub_menu_color;
      stroke: $header_heart;
      fill: $header_heart;
      text-decoration: none;
      margin-left: 20px;
      transition: all .25s ease;

      &:hover{
        color: $header_sub_menu_color_hover;
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
        cursor: pointer;
      }
    }
    &.scroll-down {
      opacity: 0;
    }

    transition: opacity 0.6s linear;

    &_inner {
      background: $header_bg_second;
    }


    @include media($laptop-min) {
     // margin-top: $menu_height;
      //position: relative;
      position: absolute;
      left: -100%;
      //margin-left: -100%;
      width: 100%;
      //background-color: $header_bg_up;
      //transition: margin-left 0.6s ease;
      transition: left 0.6s ease;
      &.scroll-down {
        opacity: 1;
      }
      &_inner {
        width: 70%;
        margin-left: 0;
      }
    }

  }

  &-item {
    align-items: center;
    justify-content: flex-start;
    margin:auto;
    margin-right: 5px;
  }

  &-logo {
    display: flex;
    padding-right: 15px;
    justify-content: space-between;
    //margin: auto;
    &-center {
      margin: auto;
    }

    img {
      width: 205px;
    }
  }


  &-heart{
    width: 30px;
    height: 50px;
    vertical-align: middle;
  }

  &-search {
    position: relative;

    &_form {
      &-input {
        padding: 6px 10px;
        width: 290px;
        border-radius: 5px;
        outline: none;
        border: 0;
      }

      &-button {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100% - 12px);
        width: 40px;
        background: $search-btn-bg;
        color: $search-btn-color;
        text-align: center;
        padding: 6px 10px;
        background: $search-btn-bg;
        stroke: $search-btn-color;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: all ease 0.2s;

        &:hover{
          color: $search-btn-color-hover;
          stroke: $search-btn-color-hover;
        }
      }
    }
  }

  &-right {
    flex-grow: 1;
    text-align: right;

    @include media($tablets) {
      position: fixed;
      left: -100%;
      width: 100%;
    }


    &_link {
      color: $header_color_up;
      text-decoration: none;
      margin-right: 10px;
      border-bottom: dotted 1px;
      &.mobile {
        display: none;
      }
      @include media($tablets) {
        display: block;
        color: $text_color;
        border: 1px solid #000;
        margin: 5px;
        &.desctop {
          display: none;
        }
        &.mobile {
          display: block;
        }
      }
    }
  }

  &-authorization {
    margin-left: 30px;
    display: inline-block;

    &-btn {
      text-decoration: none;
      color: $header_color_up;

      &-enter {
        color: $header_authorization_color;
      }
    }

    &-separate {
      margin: 0px 0px 0px 3px;
      display: inline-block;
      text-align: center;
      width: 5px;

      &:before {
        content: '/';
        color: $header_color_up;
      }
    }
  }

  .menu-toggle {
    display: none;
    margin: auto 12px auto 3px;
    &_button {
      width: 28px;
      height: 28px;
    }
    a {
      color: $btn_base_bg;
      stroke: $btn_base_bg;
      fill: $btn_base_bg;
    }

  }
  .search-toggle {
    display: none;
    margin: auto 3px auto 12px;
    &_button {
      width: 28px;
      height: 28px;
    }
    a {
      color: $btn_base_bg;
      stroke: $btn_base_bg;
      fill: $btn_base_bg;
    }
  }

  &.header_open-menu {
    .header-right {
      @include media($tablets) {
        //left: 0;
      }

    }
    .header-secondline {

      @include media($tablets) {
        //margin-left: 0;
        left: 0;
        //transition: margin-left 0.6s ease;
        transition: left 0.6s ease;
      }
    }

  }
}

@include media($tablets) {
  .header {
    &-search {
      display: none;
      margin-right: auto;

      &.open {
        display: block;
      }
    }
    .menu-toggle {
      display: block;
    }
    .search-toggle {
      display: block;
    }
    &-authorization{
      display: none;
    }
  }

}

