.header {
  margin-bottom: 100px;
  //perspective: 400px;
  position: fixed;
  &.scrollable {
    position: static;
    margin-bottom: 0;
    //perspective: none;
  }
  width: 100%;
  z-index: 100;

  @include media($laptop_min) {
    margin-bottom: $menu_height;

  }

  &-upline {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: $header_bg_up;
    z-index: 100;
    font-size: 14px;

    .header-right {
      @include media($laptop_min) {
        display: none;
      }

    }
  }

  &-secondline {
    transition: all 0.3s linear;
    position: fixed;
    border-bottom: 1px solid $menu_border_color;
    top: $menu_height;
    width: 100%;
    background-color: $header_bg_second;
    @include media($laptop_min) {
      background-color: $drop-menu-color;
    }
    line-height: 40px;
    z-index: 98;

    &.scrollable {
      position: absolute;
    }

    &-link{
      color: $header_sub_menu_color;
      stroke: $header_heart;
      fill: $header_heart;
      text-decoration: none;
      margin-left: 20px;
      transition: all .25s ease;

      &:hover{
        color: $header_sub_menu_color_hover;
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
        cursor: pointer;
      }

    }
    &.scroll-down {
      //opacity: 0.5;
      //transform: rotate3d(-1,0,0,90deg) translate3d(0,-60px,-40px)
      //position: static;

      position: relative;
      margin-top: -50px;
      @include media($laptop_min) {
        position: absolute;
        margin-top: 0;
      }
    }
    &.shadowed {
      box-shadow: 0 7px 7px rgba(0,0,0,.2);
      //border-top: 10px solid ;
      //&:before {
      //  content: "";
      //  display: block;
      //  height: 9px;
      //}
      @include media($laptop_min) {
        box-shadow: none;
      }
    }


    &_inner {
      //width: 100%;
    }

    @include media($laptop-min) {
      position: absolute;
      left: -100%;
      width: 100%;
      transition: left .25s ease .1s;
      top: $mobile_stores_menu_top;
      &.scroll-down {
        //opacity: 1;
        //transform: none;
      }
      &_inner {
        //width: 90%;
        margin-left: 0;
      }
    }
    a.dashed {
      position: relative;
      &:after {
        content: " ";
        border-bottom: 1px dashed;
        padding-bottom: 2px;
        width: 70%;
        top: 30px;
        position: absolute;
        @include media($laptop_min) {
          display: none;
        }
      }
    }
    a.flex-start {
      justify-content: flex-start;
    }
  }

  &-item {
    align-items: center;
    justify-content: flex-start;
    margin:auto;
    margin-right: 5px;
  }

  &-logo {
    display: flex;
    padding-right: 15px;
    @include media($laptop_min) {
      padding: 0;
    }
    justify-content: space-between;
    &-center {
      margin: auto;
      a {
        display: block;
        margin-top: 4px;
      }
    }

    img {
      width: 205px;
    }
  }


  &-heart{
    width: 30px;
    height: 20px;
    vertical-align: middle;
    @include media($laptop_min) {
      display: none;
    }
  }

  &-search {
    position: relative;



    &_form {
      &-input {
        padding: 6px 10px;
        width: 290px;

        @include media($laptop_min) {
          width: 600px;
        }
        @include media($tablets) {
          width: 350px;
        }
        @include media($phones) {
          width: 250px;
        }
        border-radius: 5px;
        outline: none;
        border: 0;
      }

      &-button {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(100% - 12px);
        //width: 40px;
        width: 25px;
        background: $search-btn-bg;
        color: $search-btn-color;
        text-align: center;
        padding: 6px 10px;
        background: $search-btn-bg;
        stroke: $search-btn-color;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: all ease 0.2s;

        &:hover{
          color: $search-btn-color-hover;
          stroke: $search-btn-color-hover;
        }
      }
    }
  }

  &-right {
    flex-grow: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin: auto;


    @include media($laptop_min) {
      text-align: left;
    }

  }


  &-other-btn {
    color: $header_color_up;
    text-decoration: none;
    border-bottom: 1px dashed;
  }

  &-authorization {
    margin-left: 30px;
    display: inline-block;

    &-btn {
      text-decoration: none;
      color: $header_color_up;

      &-enter {
        color: $header_authorization_color;
      }
    }

    &-separate {
      margin: 0px 0px 0px 3px;
      display: inline-block;
      text-align: center;
      width: 5px;

      &:before {
        content: '/';
        color: $header_color_up;
      }
    }
  }

  .menu-toggle {
    display: none;
    margin: auto 12px auto 3px;
    &_button {
      &.open{
        width: 26px;
        height: 26px;
      }
      &.close {
        //margin-top: 0;
        width: 26px;
        height: 26px;
        margin-bottom: 4px;
      }
    }
    a {
      color: $search-btn-color-hover;
      stroke: $search-btn-color-hover;
      fill: $search-btn-color-hover;
    }

  }

  .avatar {

  }

  .search-toggle {
    padding-right: 3px !important;
    margin: auto 0;
  }

  &-logo_noty {
    position: relative;
    cursor: pointer;

    &.has-noty:after {
      display: block;
      position: absolute;
      background-color: $notyfy_icon_color;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      content: "";
      top: 3px;
      left: 25px;
      @include media($laptop_min) {
        left: 20px;
      }

    }

  }

  &.header_open-menu {
    position: fixed;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
    height: 100%;
    overflow-y: auto;

    .header-right {
      @include media($laptop_min) {
        left: 0;
      }

    }
    .header-secondline {

      @include media($laptop_min) {
        left: 0;
        transition: left .25s ease .1s;
      }

    }
    .menu-toggle_button {
      &.open {
        display: none;
      }
      &.close {
        display: block;
      }
    }

  }

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;

    &_image {
      max-width: 100%;
    }
  }
  .account-menu {
    transition: all 0.3s ease 0.1s;
    overflow: hidden;
    max-height: 320px;
    z-index: 1;
    &.hidden {
      max-height: 0;
    }
    position: absolute;
    top: 55px;
    background-color: $drop-menu-color;
    &_inner {
      border: 1px solid $menu_border_color;
    }
    ul {
      padding-left: 0;
      margin: 5px;
      >li {
        list-style-type: none;
        line-height: 30px;
        >a {
          padding: 10px;
          color: $header_sub_menu_color;
          text-decoration: none;
          &:hover {
            color: $header_sub_menu_color_hover;
          }
        }

      }
    }
    &_header {
      font-weight: bold;
      margin: 10px;
      text-align: right;
      border-bottom: 1px solid $menu_border_color;
      padding-bottom: 10px;
    }
    &_last-item {
      border-bottom: 1px solid $menu_border_color;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  &-icon-money {
    width: 12px;
    height: 12px;
  }

  &-noty{
    &-box{
      position: fixed;
      z-index: 99;
      width: 100vw;
      max-width: 380px;
      height: 100vh;
      //overflow: hidden;
      //background: $header_color_up;
      display: flex;
      flex-direction:column;
      right: 80px;
      top: 50px;
      border-radius: 5px;
      box-shadow: 0px 1px 10px 0px;
      opacity: 0;
      max-height: 0;
      transition: all .25s ease;

      &:before{
        content: "";
        position: absolute;
        right: -50%;
        width: 150vw;
        height: 0;
        background: #000;
        opacity: 0;
        transition: all .25s ease;
      }

      &_open{
        opacity: 1;
        max-height: 350px;

        &:before{
          opacity: 0.7;
          height: 100vh;
          transition: opacity .25s ease;
        }
      }

      @include media($laptop_min) {
        max-height: calc(100vh - 3.125rem);
        max-width: none;
        right: 0;
      }
    }

    &-list{
      overflow: auto;
      display: flex;
      flex-direction:column;
      margin: 0;
      padding: 0;
      z-index: 99;
      background: $header_color_up;
    }

    &-item{
      margin: 0;
      list-style: none;
      border-bottom: 1px solid $account_notify_item_border;
      padding: 5px 10px;

      &_new{
        background: $account_notify_item_new;
      }
    }

    &-data{
      font-size: 10px;
      text-align: right;
      opacity: 0.8;
    }

    &-text{
      font-size: 14px;
    }
  }

}

@include media($laptop_min) {
  .header {
    position: static;
    perspective: none;

    &-search {
      display: none;
      margin-right: auto;
      position: relative;

      &.open {
        display: block;
      }
    }

    .menu-toggle {
      display: block;
      &_button.close {
        display: none;
      }
    }

    .btn-header {
      display: block;
    }

    &-authorization{
      display: none;
    }
  }
}

.autocomplete {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 35px;
  left: 0;
  padding: 5px;
  background-color: $shop_cashback_link_color;
  box-shadow: 0 4px 4px rgba(0,0,0,.2);
  width: 100%;
  &_list {
    margin: 0;
    padding: 0;
    >li{
      list-style-type: none;
      a {
        display: flex;
        justify-content: space-between;
        color: $header_color_up;
        text-decoration: none;
        padding: 8px 4px;
        .cashback {
          color: $search_item_cashback_color
        }
        &:hover {
          color: $header_sub_menu_color_hover;
          background-color: $search_list_hover_color;
        }
      }
    }
  }
}

@include media($phones) {
  .header {
    &-secondline {
      left: -110%;
      &_inner {
        width: 100%;
        padding-right: 3%;
      }
      .menu_angle-down {
        right: 30px;
      }
    }
  }
}

