.header {
  margin-bottom: 100px;
  position: fixed;

  @media print {
    display: none;
  }

  &.scrollable {
    position: static;
    margin-bottom: 0;
  }
  width: 100%;
  z-index: 100;

  @include media($laptop_min) {
    margin-bottom: $menu_height;
    position: static;
  }

  &-upline {
    position: fixed;
    width: 100%;
    padding: 10PX 0;
    background: $header_bg_up;
    z-index: 100;
    font-size: 14px;

    .header-right {
      @include media($laptop_min) {
        display: none;
      }

    }
    &_in {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      @include media($laptop-min) {
        flex-wrap: wrap;
      }

      &-left {
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        @include media($laptop-min) {
          display: flex;
        }
        @include media($phones) {
          width: 20%;
        }
      }
      &-right {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;

        @include media($phones) {
          width: 20%;
        }
        &-howitworks {
          @include media ($laptop-min) {
            display: none;
          }
        }
      }
    }
    &_logo {
      //margin-right: 50px;
      @include media($phones) {
        width: 60%;
        overflow: hidden;
      }

      img {
        width: 205px;
        @include media($phones) {
          width: 100%;
        }
      }
    }
    &_ballance {

      @include media($laptop-min) {
        display: none;
      }
    }
  }


  &-secondline {
    transition: all 0.3s linear;
    position: fixed;
    border-bottom: 1px solid $menu_border_color;
    top: $menu_height;
    width: 100%;
    background-color: $header_bg_second;
    line-height: 40px;
    z-index: 98;

    @include media($laptop_min) {
      background-color: $drop-menu-color;
    }

    &.scrollable {
      position: absolute;
    }

    &-link{
      color: $header_sub_menu_color;
      stroke: $header_heart;
      fill: $header_heart;
      text-decoration: none;
      margin-left: 20px;
      transition: all .25s ease;

      &:hover{
        color: $header_sub_menu_color_hover;
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
        cursor: pointer;
      }

    }

    &.scroll-down {

      position: relative;
      margin-top: -50px;
      @include media($laptop_min) {
        position: absolute;
        margin-top: 0;
      }
    }

    &.shadowed {
      box-shadow: 0 7px 7px rgba(0,0,0,.2),
                  0 -7px 0 $header_bg_second;

      @include media($laptop_min) {
        box-shadow: 0 -7px 0 $header_bg_second;
      }
    }

    @include media($laptop-min) {
      position: absolute;
      left: -100%;
      //width: 100%;
      width: 80%;
      transition: left .25s ease .1s;
      top: $mobile_stores_menu_top;
      &_inner {
        margin-left: 0;
      }
    }
    a.dashed {
      position: relative;
      &:after {
        content: " ";
        border-bottom: 1px dashed;
        padding-bottom: 2px;
        width: 70%;
        top: 30px;
        position: absolute;
        @include media($laptop_min) {
          display: none;
        }
      }
    }
    a.flex-start {
      justify-content: flex-start;
    }
    &_inner {
      display: flex;
      justify-content: space-between;
    }

  }

  &-item {
    align-items: center;
    justify-content: flex-start;
    margin:auto;
    margin-right: 5px;
  }


  &-heart{
    width: 30px;
    height: 20px;
    vertical-align: middle;
    @include media($laptop_min) {
      display: none;
    }
  }

  &-search {
    position: relative;
    width: 310px;
    //margin-right: 5%;
    margin-right: 10vw;

    @include media($laptop-min) {
      //flex-grow: 1;
      order: 4;
      width: 80%;
      display: none;
      margin: 5px auto 0;
      //page-break-before: always;
    }
    &-open .header-search{
      display: block;
    }


    &_form {
      width: 100%;
      margin-bottom: 0;

      &-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
      }
      &-input {
        padding: 6PX 10PX;
        width: 100%;
        height: 17PX;
        @include media($laptop_min) {
          height: 24px;
        }
        border-radius: 5px;
        outline: none;
        border: 0;
      }

      &-button {
        height: 17PX;
        @include media($laptop_min) {
          height: 24px;
        }
        margin-left: -5PX;
        width: 25PX;
        background: $search-btn-bg;
        color: $search-btn-color;
        text-align: center;
        padding: 6PX 10PX;
        background: $search-btn-bg;
        stroke: $search-btn-color;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        transition: all ease 0.2s;

        &:hover{
          color: $search-btn-color-hover;
          stroke: $search-btn-color-hover;
        }
      }
    }
  }




  &-other-btn {
    color: $header_color_up;
    text-decoration: none;
    border-bottom: 1px dashed;
  }

  &-authorization {
    margin-left: 30px;
    display: inline-block;

    &-btn {
      text-decoration: none;
      color: $header_color_up;

      &-enter {
        color: $header_authorization_color;
      }
    }

    &-separate {
      margin: 0px 0px 0px 3px;
      display: inline-block;
      text-align: center;
      width: 5px;

      &:before {
        content: '/';
        color: $header_color_up;
      }
    }
  }

  .menu-toggle {
    display: none;
    margin: auto 3PX ;
    &_button {
      &.open{
        width: 26PX;
        height: 26PX;
      }
      &.close {
        width: 26PX;
        height: 26PX;
        margin-bottom: 4PX;
      }
    }
    a {
      color: $search-btn-color-hover;
      stroke: $search-btn-color-hover;
      fill: $search-btn-color-hover;
    }

  }

  .search-toggle {
    //padding-right: 3px !important;
    //margin: auto 0;
  }

  &-logo_noty {
    position: relative;
    cursor: pointer;

    &.has-noty:after {
      display: block;
      position: absolute;
      background-color: $notyfy_icon_color;
      width: 10PX;
      height: 10PX;
      border-radius: 50%;
      content: "";
      top: -2PX;
      left: 17PX;
      @include media($laptop_min) {
        left: 12PX;
        display: none;
      }

    }

  }

  &.header_open-menu,
  &.header-search-open {
    position: fixed;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
    height: 100%;
    overflow-y: auto;
  }

  &.header_open-menu{
    .header-right {
      @include media($laptop_min) {
        left: 0;
      }

    }
    .header-secondline {

      @include media($laptop_min) {
        left: 0;
        transition: left .25s ease .1s;
      }

    }
    .menu-toggle_button {
      &.open {
        display: none;
      }
      &.close {
        display: block;
      }
    }

  }

  .avatar {
    width: 30PX;
    height: 30PX;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;

    @include media($laptop-min) {
      margin-left: 5px;
    }

    &_image {
      //max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .account-menu {
    transition: all 0.3s ease 0.1s;
    overflow: visible;
    width: 220px;
    position: absolute;
    top: 42px;
    right: -10px;
    background-color: rgba(0,0,0,0.5);



    &_inner {

      border: 1px solid $menu_border_color;
      background-color: $drop-menu-color;
      width: 100%;
      height: auto;
      transition: all 0.3s ease 0.1s;
      a, span {
        font-size: 14px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-left: inherit;

        @include media($tablets) {
          font-size: 16px;
        }
      }
    }

    &-toggle {

      &-close {
        padding: 3PX;
        display: none;
        width: 20px;
        height: 20px;
        color: $header_color_up;
        fill: $header_color_up;
        stroke: $header_color_up;
      }
      &.open {
        @include media($laptop-min) {
          .account-menu-toggle-image {
            display: none;
          }
          .account-menu-toggle-close {
            display: block;
          }
        }
      }
    }



    @include media($laptop-min) {
      transition: none;
      position: fixed;
      left: auto;
      width: 100%;
      height: calc(100vh - 2.625rem - 3rem);
      //top: $menu_height;
      top: 50PX;
      overflow: auto;
      right: 0;
      &_inner {
        width: 80%;
        right: 0;
        position: fixed;
      }
    }
    &.hidden {
      max-height: 0;
      overflow: hidden;
      @include media($laptop-min) {
        max-height: inherit;
        right: -100%;
        overflow: auto;
        //transition: all .3s ease 0.1s;
      }
      .account-menu_inner {
        position: static;
        right: -100%;
      }
    }

    ul {
      padding-left: 0;
      margin: 5px;
      >li {
        list-style-type: none;
        line-height: 30px;
        text-align: left;
        >a {
          padding: 10PX;
          color: $header_sub_menu_color;
          text-decoration: none;
          &:hover {
            color: $header_sub_menu_color_hover;
          }
        }

      }
    }
    &_header {
      font-weight: bold;
      margin: 5px 5px 10px;
      text-align: left;
      border-bottom: 1px solid $menu_border_color;
      padding-bottom: 5px;
      //max-width: 320px;

      padding-right: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;

      @include media ($laptop-min) {
        padding: 5px;
        background-color: $gray_box_bg;
        border: 1px solid $menu_border_color;
        border-radius: 5px;
        //margin-top: 15px;
      }

      &-info {
        flex-grow: 1;
        flex-shrink: 1;

        &-balance {
          display: none;

          @include media($laptop-min) {
            display: block;
          }
          &-link{
            text-decoration: none;
            &-confirmed {
              color: $cahsback_confirmed_color;
            }
            &-all {
              color: $footer_link_color;
            }

          }
        }

        &-name {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          //white-space: nowrap;
          margin-bottom: 2px;
        }
        &-id {
          color: $header_color_gray;

          @include media($laptop-min) {
            display: none;
          }

        }
      }

      &-avatar {
        width: 40PX;
        height: 40PX;
        margin: 0 15PX 0 10PX;
        display: inline-block;
        vertical-align: middle;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40PX;

        &-image {
          display: block;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            //max-width: 100%;
            //width: 100%;
            //height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    &_last-item {
      border-bottom: 1px solid $menu_border_color;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  &-icon-money {
    width: 12px;
    height: 12px;
  }

  &-noty{
    &-box{
      position: fixed;
      z-index: 99;
      width: 100vw;
      max-width: 380px;
      height: 100vh;
      display: flex;
      flex-direction:column;
      right: 80px;
      top: 50px;
      border-radius: 5px;
      box-shadow: 0px 1px 10px 0px;
      opacity: 0;
      max-height: 0;
      transition: all .25s ease;
      a.btn{
        display: none;
      }

      &:before{
        content: "";
        position: absolute;
        right: -50%;
        width: 150vw;
        height: 0;
        background: #000;
        opacity: 0;
        transition: all .25s ease;
      }

      &_open{
        opacity: 1;
        max-height: 350px;
        z-index: 99;
        a.btn {
          display: block;
        }

        @include media($laptop_min) {
          max-height: calc(100vh - 3.125rem);
          max-width: none;
          right: 0;
        }
        @include media($laptop_min) {
          max-height: calc(100vh - 3.125rem);
          max-width: none;
          right: 0;
        }

        &:before{
          opacity: 0.7;
          height: 100vh;
          transition: opacity .25s ease;
        }

        & .header-noty-list{
          height: auto;
        }
      }
    }

    &-list{
      overflow: auto;
      display: flex;
      flex-direction:column;
      margin: 0;
      padding: 0;
      z-index: 99;
      background: $header_color_up;
      height: 0;
    }

    &-item{
      margin: 0;
      list-style: none;
      border-bottom: 1px solid $account_notify_item_border;
      padding: 5px 10px;

      &_new{
        background: $account_notify_item_new;
      }
    }

    &-data{
      font-size: 10px;
      text-align: right;
      opacity: 0.8;
    }

    &-text{
      font-size: 14px;
    }
  }
  @include media($laptop_min) {

    .menu-toggle {
      display: block;
      &_button.close {
        display: none;
      }
    }

  }
  &-authorization {
    &-register{
      @include media($laptop-min) {
        display: none;
      }

    }
    &-separate{
      @include media($laptop-min) {
        display: none;
      }

    }
    &-enter {
      &-text {
        color: $link_color;
        @include media($laptop-min) {
          display: none;
        }
      }
      &-icon {
        display: none;
        @include media($laptop-min) {
          display: block;
          width: 22PX;
          height: 22PX;
          padding: 0 5PX;
          color: $header_color_up;
          fill: $header_color_up;
          stroke: $header_color_up;
        }
        &:hover {
          color: $coupons_a_hover_color;
          fill: $coupons_a_hover_color;
          stroke: $coupons_a_hover_color;
        }
      }
    }
  }

}




