.howitworks {
  &-content{
    &_items {
      display: flex;
      flex-direction: column;
    }
    &_item {
      background-color: $howitworks_item_background_color;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-img{
    width: 70%;
    border-radius: 10px;
    border: 3px solid $reccomendations-item-border-color;
    min-width: 300px;
    max-width: 650px;
  }

  //button on all pages
  &-button-fixed {
    position: fixed;
    left: 0;
    top: calc(50% - 120PX);
    background-color: #FDE261;
    z-index: 100;

    @include media($phones) {
      top: auto;
      bottom: 25PX;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      color: $text-color;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: $text-color;
      }
    }

    .logo {
      height: 24PX;
      width: 24PX;
      border-radius: 50%;
      background-color: $text-color;
      margin: 10PX 0;
      transform: rotate(-90deg);

      @include media($phones) {
        height: 18PX;
        width: 18PX;
      }

      svg {
        padding: 2px;
        width: 20px;
        height: 20px;

        @include media($phones) {
          height: 14PX;
          width: 14PX;
        }
      }
    }

    .arrow {
      background-color: #FDEA8E;
      padding: 13PX;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media($phones) {
        padding: 8PX;
      }

      svg {
        width: 16px;
        height: 16px;
        margin: 0;
        padding: 0;
        transform: rotate(180deg);
          color: $text-color;
        fill: $text-color;
        stroke: $text-color;

        @include media($phones) {
          height: 12PX;
          width: 12PX;
        }

        &:hover {
          color: $text-color;
          fill: $text-color;
          stroke: $text-color;
        }
      }
    }

    .text {
      margin-top: 10PX;
      writing-mode: tb-rl;
      transform: rotate(180deg);
    }

  }
}
