.howitworks {
  &-content{
    &_items {
      display: flex;
      flex-direction: column;
    }
    &_item {
      background-color: $howitworks_item_background_color;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-img{
    width: 70%;
    border-radius: 10px;
    border: 3px solid $reccomendations-item-border-color;
    min-width: 300px;
    max-width: 650px;
  }
}