.howitworks {
  &-content{
    &_items {
      display: flex;
      flex-direction: column;
    }
    &_item {
      background-color: $howitworks_item_background_color;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-img{
    width: 50%;
    border-radius: 10px;
    border: 1px solid #999;
    min-width: 300px;
  }
}