.instruction{
  &-item {
    text-align: center;
    flex-grow: 1;
    align-item: flex-start;
    flex-basis: 100%;
    flex-shrink: 10;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &-230{
      min-width: 220px;
      max-width: 240px;
    }

    &-150{
      min-width: 140px;
      max-width: 160px;
    }

    @include media($tablets) {
      &-tablets-full{
        min-width: auto;
        max-width: none;
      }
    }
  }

  @include media($tablets) {
    &-wrap {
      flex-grow: 1;
      margin-left: 25px;
      flex-basis: 0;
    }
  }

  &-icon {
    fill: $instruction_color;
    stroke: $instruction_color;
    height: 90PX;
    width: 90PX;
    margin: auto;
    display: block;
    stroke-width: 1;
    stroke-linecap: round;
    max-width: 11vw;

    @include media_min($tablets) {
      padding-bottom: 28PX;

      &-big {
        height: 130PX;
        width: 130PX;
        max-width: none;
      }
    }
  }

  &-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    @include media_min($tablets) {
      height: 46px;
    }
  }

  &-content{
    &-select {
      font-family: "Proxima Nova";
      font-weight: 700;
      background: $instruction_select_color;
      padding: 0 5px;
      white-space: nowrap;
    }
  }

  &-social {
    &_counter {
      margin: auto;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 17px;

      span{
        font-size: 24px;
        display: block;
      }
    }

    &_logo {
      width: 55PX;
      height: 55PX;
    }
  }

  &-svg{
    fill: none;
    stroke: none;
    display: inline-block;
    vertical-align: middle;
  }

  &_valing{
    &:before{
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }
  }
}