.instruction {

  &-list {
    margin-bottom: 5px;
  }
  &-item {
    text-align: center;
    flex-grow: 1;
    align-items: flex-start;
    flex-basis: 100%;
    flex-shrink: 10;
    padding: 10px;
    margin-bottom: 10px;
    @media print {
      margin-bottom: 0;
      text-align: center;
    }
    min-height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 10px;
    margin-right: 10px;

    &-230 {
      min-width: 220px;
      max-width: 240px;
    }

    &-150 {
      min-width: 140px;
      max-width: 160px;
    }


    &-article{
      margin-bottom: 30px;
      max-width: 21%;

      @include media($laptop_min) {
        max-width: calc(50% - 40px);
      }

      @include media($tablets) {
        max-width: 100%;
      }
    }

    @include media($tablets) {
      &-tablets-full {
        min-width: auto;
        max-width: none;
      }
    }

    &-link {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
      }
    }
  }

  &-wrap {
    @include media($tablets) {
      flex-grow: 1;
      margin-left: 25px;
      flex-basis: 0;
    }

    &-fixed_height {
      //height: 228px;
      height: 232px;
      overflow: hidden;
    }

    @include media($tablets) {
      height: auto;
    }
  }

  &-article{
    &-link{
      display: block;
      text-align: right;
      //margin: 10px 0;
      margin: 5PX 0 10PX;
      position: relative;
      &:before {
        display: block;
        content: " ";
        background: linear-gradient(to top, $gray_box_bg, rgba(249, 249, 249, 0));
        height: 60PX;
        top: -64PX;
        position: absolute;
        width: 100%;
      }
    }
  }

  &-icon {
    fill: $instruction_color;
    stroke: $instruction_color;
    @media print {
      color: $print_icon_color  !important;
      fill: $print_icon_color  !important;
      stroke: $print_icon_color  !important;
    }

    height: 90PX;
    width: 90PX;
    margin: auto;
    display: block;
    stroke-width: 1;
    stroke-linecap: round;
    max-width: 11vw;
    max-height: 11vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include media_min($tablets) {
      margin-bottom: 28PX;
      width: 100%;
      max-width: none;
    }

    @media print {
      margin-bottom: 10px;
    }
  }

  &-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include media_min($tablets) {
      //min-height: 46px;
      min-height: 30px;
    }
  }


  &-content {
    &-select {
      font-family: "Proxima Nova";
      font-weight: 700;
      background: $instruction_select_color;
      padding: 0 5px;
      white-space: nowrap;

    }
    @media print {
      //line-height: 25px;
      //font-size: 18px;
    }
    //p {
    //  max-height: 85px;
    //  overflow: hidden;
    //  position: relative;
    //  display: block;
    //  &:after {
    //    display: block;
    //    content: " ";
    //    background-color: #000;
    //    opacity: 0.5;
    //    height: 20px;
    //    bottom: 0;
    //    position: absolute
    //  }
    //}
  }

  &-social {
    &_counter {
      margin: auto;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 17px;

      span {
        font-size: 24px;
        display: block;
      }
    }

    &_logo {
      width: 55PX;
      height: 55PX;
    }
  }

  &-svg {
    fill: none;
    stroke: none;
    display: inline-block;
    vertical-align: middle;
  }

  &-post_logo {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 5PX);
  }

  &_valing {
    text-align: center;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  &-status_line{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 10px -10px -10px -10px;
    padding: 3px 10px;
    background: $header_color_gray;
    border-radius: 0 0 5px 5px;

    &-item{
      color: $gray_box_bg;
      fill: $gray_box_bg;
      stroke: $gray_box_bg;
    }

    &-icon{
      height: 16px;
      width: 16px;
      margin: 0 3px;
      vertical-align: middle;
    }
  }
}
