.instruction{
  &-item {
    text-align: center;
    flex-grow: 1;
    align-item: flex-start;
    flex-basis: 100%;
    flex-shrink: 10;
    padding: 10px;
    margin-bottom: 30px;
    min-height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &-230{
      min-width: 220px;
      max-width: 240px;
    }

    &-150{
      min-width: 140px;
      max-width: 160px;
    }
  }

  &-icon{
    fill: $instruction_color;
    stroke: $instruction_color;
    height: 130PX;
    width: 130PX;
    margin: auto;
    display: block;
    stroke-width: 1;
    stroke-linecap: round;
    padding-bottom: 28PX;
  }

  &-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    height: 46px;
  }

  &-content{
    &-select {
      font-family: "Proxima Nova - Black";
      font-weight: 900;
      background: $instruction_select_color;
      padding: 0 5px;
    }
  }

  &-social {
    &_counter {
      margin: auto;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 17px;

      span{
        font-size: 24px;
        display: block;
      }
    }

    &_logo {
      width: 55px;
      height: 55px;
    }
  }
}