.loyalty {
  &-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 17px;
    justify-content: space-around;

    @include media ($phones) {
      flex-direction: column;
    }

    &_item {
      margin: 0 15px 30px;
      border-radius: 5px;
      //border: 10px solid #E69D86;
      width: 42%;
      padding: 10px;
      box-sizing: border-box;

      @include media($tablets) {
        width: 90%;
      }

      &-bronze {
        background-color: $loyalty_status_color_bronze;
        .loyalty-items_item-title {
          color: $loyalty_status_header_color_bronze;
          svg {
            color: $loyalty_status_header_color_bronze;
            stroke: $loyalty_status_header_color_bronze;
            fill: $loyalty_status_header_color_bronze;
          }
        }
        .loyalty-items_item-text {
          background-color: $loyalty_status_inner_color_bronze;
        }
      }
      &-silver {
        background-color: $loyalty_status_color_silver;
        .loyalty-items_item-title {
          color: $loyalty_status_header_color_silver;
          svg {
            color: $loyalty_status_header_color_silver;
            stroke: $loyalty_status_header_color_silver;
            fill: $loyalty_status_header_color_silver;
          }
        }
        .loyalty-items_item-text {
          background-color: $loyalty_status_inner_color_silver;
        }
      }
      &-gold {
        background-color: $loyalty_status_color_gold;
        .loyalty-items_item-title {
          color: $loyalty_status_header_color_gold;
          svg {
            color: $loyalty_status_header_color_gold;
            stroke: $loyalty_status_header_color_gold;
            fill: $loyalty_status_header_color_gold;
          }
        }
        .loyalty-items_item-text {
          background-color: $loyalty_status_inner_color_gold;
        }
      }
      &-platinum {
        background-color: $loyalty_status_color_platinum;
        .loyalty-items_item-title {
          color: $loyalty_status_header_color_platinum;
          svg {
            color: $loyalty_status_header_color_platinum;
            stroke: $loyalty_status_header_color_platinum;
            fill: $loyalty_status_header_color_platinum;
          }
        }
        .loyalty-items_item-text {
          background-color: $loyalty_status_inner_color_platinum;
        }
      }
      &-title {
        padding: 15px 35px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        align-items: center;
        svg {
          width: 17px;
          height: 17px;
          margin-right: 7px;
        }
      }

      &-text {
        padding: 15px 35px 20px;
        color: $loyalty_status_text_color;

        &-top {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $loyalty_status_text_color;
        }
        svg {
          display: inline;
          width: 16px;
          height: 16px;
          color: $loyalty_status_text_color;
          fill: $loyalty_status_text_color;
          stroke: $loyalty_status_text_color;
          vertical-align: middle;

        }
      }
    }

  }
  &-text {
    padding-left: 5%;
    padding-right: 5%;
  }
}