.catalog-categories-account {


  &_menu {
    margin-bottom: 15px;
    margin-top: 16px;
    /*border-radius: 3px;
    overflow: hidden;*/

    @include media($laptop_min) {
      display: none;
    }

    ul, li {
      box-sizing: border-box;
    }

    > ul {
      //box-sizing: border-box;
      border-bottom: thin solid $menu_border_color;
      border-left: thin solid $menu_border_color;
      border-right: thin solid $menu_border_color;
      border-radius: 0 0 3px 3px;
      overflow: hidden;

      > li {
        position: relative;
        border-top: none !important;

        &:not(:last-child) {
          border-bottom: thin solid $menu_border_color;
        }

        &:last-child {
          border-radius: 0 0 3px 3px;
          overflow: hidden;
        }

        svg {
          &.left-icon {
            width: 18px;
            height: 18px;
          }
          &.right-icon {
            width: 10px;
            height: 10px;
          }
        }

        >ul {
          //box-sizing: border-box;
          max-height: inherit;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          //right: -100%;
          left: 100%;
          top: -1px;
          border: 1px solid $menu_border_color;
          z-index: 100;
          >li>a:hover {
            color: $yellow_box_bg;
            background-color: $header_bg_second;
          }
        }
        &:hover {
          >ul {
            opacity: 1;
            visibility: visible;
            >li {
              a.active {
                color: $btn_base_dark_color;
                background-color: $header_color_gray;
              }
            }
          }
        }
        &.cd-label {
          //background-color: $text_color;
          //color: $btn_base_dark_color;
          color: $text_color;
          background-color: $btn_base_dark_color;
          padding: 10px;
        }


        > a {
          //background-color: $text_color;
          background-color: $header_bg_second;
          //color: $header_sub_menu_color_hover;
          color: $text_color;
          padding-left: 30px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;

          svg.right-icon {
            //color: $header_sub_menu_color_hover;
            //fill: $header_sub_menu_color_hover;
            //stroke: $header_sub_menu_color_hover;
            color: $text_color;
            fill: $text_color;
            stroke: $text_color;
          }

          >span {
            padding: 0;
            //background-color: $text_color;
            background-color: $header_bg_second;
            //color: $header_sub_menu_color_hover;
            color: $text_color;
            transition: inherit;

            svg.left-icon {
              transition: inherit;
              //background-color: $text_color;
              background-color: $header_bg_second;
              //color: $header_sub_menu_color_hover;
              //fill: $header_sub_menu_color_hover;
              //stroke: $header_sub_menu_color_hover;
              color: $text_color;
              fill: $text_color;
              stroke: $text_color;
              margin-right: 10px;
            }
          }
          &:hover {
            //color: $text_color;
            color: $yellow_box_bg;
            //background-color: $header_sub_menu_color_hover;
            background-color: $header_bg_second;

            svg.right-icon {
              //color: $text_color;
              //fill: $text_color;
              //stroke: $text_color;
              color: $yellow_box_bg;
              fill: $yellow_box_bg;
              stroke: $yellow_box_bg;
            }

            >span {
              //color: $text_color;
              color: $yellow_box_bg;
              //background-color: $header_sub_menu_color_hover;
              background-color: $header_bg_second;

              svg.left-icon {
                //color: $text_color;
                //fill: $text_color;
                //stroke: $text;
                color: $yellow_box_bg;
                fill: $yellow_box_bg;
                stroke: $yellow_box_bg;
                //background-color: $header_sub_menu_color_hover;
                background-color: $header_bg_second;
              }
            }
          }

          &.active {
            color: $btn_base_dark_color;
            background-color: $header_color_gray;

            svg.right-icon {
              color: $btn_base_dark_color;
              fill: $btn_base_dark_color;
              stroke: $btn_base_dark_color;
            }

            >span {
              color: $btn_base_dark_color;
              background-color: $header_color_gray;

              svg.left-icon {
                color: $btn_base_dark_color;
                fill: $btn_base_dark_color;
                stroke: $btn_base_dark_color;
                background-color: $header_color_gray;
              }
            }
            &:hover {

              svg.right-icon {
                color: $text_color;
                fill: $text_color;
                stroke: $text_color;
              }
            }
          }
        }
      }
    }
    &-header {

      @include media($laptop-min) {
        display: block;
      }

      >ul {
        >li {
          position: relative;
          &:not(:last-child){
            border-bottom: thin solid $menu_border_color;
          }

          &.cd-label {
            padding: 4px 0;
          }


          >a {
            padding: 4px 5px  4px 5px !important;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;


            svg {
              margin-right: 10px;
              &.right-icon {
                order: 0;
                transform: rotate(180deg);
                margin-right: -10px;
                width: 10px;
                height: 10px;

                @include media($laptop-min) {
                  transform: rotate(90deg);
                }
              }
              &.left-icon {
                width: 18px;
                height: 18px;
              }
            }
            span {
              order: 1;
              display: flex;
              align-items: center;
              margin-left: 20px;
            }
            &:hover {

            }
          }

          >ul {
            margin: 0 !important;
            box-sizing: border-box !important;
            width: 100% !important;
            left: calc(-100% - 5PX);
            top: 0;
            //background-color: $header_bg_second;
            background-color: $drop-menu-color;
            max-height: inherit;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            border: thin solid $menu_border_color;
            @include media($laptop-min) {
              position: relative;
              opacity: 1;
              visibility: visible;
              left: auto;
              top: auto;
              border-left: none;
              border-right: none;
              border-bottom: none;
            }

            >li {
              padding: 0;
              &:not(:last-child){
                border-bottom: thin solid $menu_border_color;
              }


              >a {
                display: block;
                padding: 4px 10px !important;
                width: 100%;
                box-sizing: border-box;

                &:hover {
                  //background-color: $text_color;
                  color: $header_sub_menu_color_hover;

                }
                @include media($laptop-min) {
                  padding-left: 70px !important;
                }

              }

            }
          }

          &:hover {
            >ul {
              opacity: 1;
              visibility: visible;
            }
          }
        }

      }

    }
  }
  .account-menu_header {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    font-weight: bold;
    text-align: left;
    border: 1px solid $menu_border_color;
    border-bottom-color: #fff;
    //background-color: $drop-menu-color;
    background-color: $btn_base_bg;
    color: $text_color;
    padding: 5px;
    //max-width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    //flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    &-info {
      flex-grow: 1;
      flex-shrink: 0;

      &-name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 2px;
        flex-wrap: wrap;
      }
      &-id {
        color: $header_color_gray;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        a {
          text-decoration: underline;
          font-weight: normal;
          margin-left: 20px;
          color: $text_color;
          &:hover {
            color: $coupons_a_hover_color;
          }
        }
        @include media($laptop-min) {
          display: none;
        }

      }
      &-balance {
        display: none;

        @include media($laptop-min) {
          display: block;
        }
        &-link{
          text-decoration: none;
          &-confirmed {
            color: $cahsback_confirmed_color;
          }
          &-all {
            color: $footer_link_color;
          }

        }
      }
    }
    @include media($laptop_min) {
      margin-top: 15px;
    }

    &-avatar {
      width: 80PX;
      height: 80PX;
      margin-right: 10PX;
      display: inline-block;
      vertical-align: middle;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 80PX;

      &-image {
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          //width: 100%;
          //height: 100%;
          //max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

  }
}