.catalog-categories-account {


  &_menu {
    margin-bottom: 15px;

    @include media($laptop_min) {
      display: none;
    }


    ul {
      box-sizing: border-box;
    }
    > ul {
      border-bottom: thin solid #fff;

      > li {
        position: relative;

        svg {
          &.left-icon {
            width: 18px;
            height: 18px;
          }
          &.right-icon {
            width: 10px;
            height: 10px;
          }
        }

        >ul {
          max-height: inherit;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          right: -100%;
          top: 0;
          border: 1px solid $menu_border_color;
          z-index: 100;
        }
        &:hover {
          >ul {
            opacity: 1;
            visibility: visible;
          }
        }
        &.cd-label {
          background-color: $text_color;
          color: $btn_base_dark_color;
          padding: 10px;
        }


        > a {
          background-color: $text_color;
          color: $header_sub_menu_color_hover;
          padding-left: 30px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;

          svg.right-icon {
            color: $header_sub_menu_color_hover;
            fill: $header_sub_menu_color_hover;
            stroke: $header_sub_menu_color_hover;
          }

          >span {
            padding: 0;
            background-color: $text_color;
            color: $header_sub_menu_color_hover;
            transition: inherit;

            svg.left-icon {
              transition: inherit;
              background-color: $text_color;
              color: $header_sub_menu_color_hover;
              fill: $header_sub_menu_color_hover;
              stroke: $header_sub_menu_color_hover;
              margin-right: 10px;
            }
          }
          &:hover {
            color: $text_color;
            background-color: $header_sub_menu_color_hover;

            svg.right-icon {
              color: $text_color;
              fill: $text_color;
              stroke: $text_color;
            }

            >span {
              color: $text_color;
              background-color: $header_sub_menu_color_hover;

              svg.left-icon {
                color: $text_color;
                fill: $text_color;
                stroke: $text_color;
                background-color: $header_sub_menu_color_hover;
              }
            }
          }

          &.active {
            color: $btn_base_dark_color;
            background-color: $header_color_gray;

            svg.right-icon {
              color: $btn_base_dark_color;
              fill: $btn_base_dark_color;
              stroke: $btn_base_dark_color;
            }

            >span {
              color: $btn_base_dark_color;
              background-color: $header_color_gray;

              svg.left-icon {
                color: $btn_base_dark_color;
                fill: $btn_base_dark_color;
                stroke: $btn_base_dark_color;
                background-color: $header_color_gray;
              }
            }
            &:hover {

              svg.right-icon {
                color: $text_color;
                fill: $text_color;
                stroke: $text_color;
              }
            }
          }
        }
      }
    }
    &-header {

      @include media($laptop-min) {
        display: block;
      }

      >ul {
        >li {
          position: relative;
          &:not(:last-child){
            border-bottom: thin solid $menu_border_color;
          }

          &.cd-label {
            padding: 4px 0;
          }


          >a {
            padding: 4px 5px  4px 5px !important;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;


            svg {
              margin-right: 10px;
              &.right-icon {
                order: 0;
                transform: rotate(180deg);
                margin-right: -10px;
                width: 10px;
                height: 10px;

                @include media($laptop-min) {
                  transform: rotate(90deg);
                }
              }
              &.left-icon {
                width: 18px;
                height: 18px;
              }
            }
            span {
              order: 1;
              display: flex;
              align-items: center;
              margin-left: 20px;
            }
            &:hover {

            }
          }

          >ul {
            margin: 0 !important;
            box-sizing: border-box !important;
            width: 100% !important;
            left: calc(-100% - 5PX);
            top: 0;
            //background-color: $header_bg_second;
            background-color: $drop-menu-color;
            max-height: inherit;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            border: thin solid $menu_border_color;
            @include media($laptop-min) {
              position: relative;
              opacity: 1;
              visibility: visible;
              left: auto;
              top: auto;
              border-left: none;
              border-right: none;
              border-bottom: none;
            }

            >li {
              padding: 0;
              &:not(:last-child){
                border-bottom: thin solid $menu_border_color;
              }


              >a {
                display: block;
                padding: 4px 10px !important;
                width: 100%;
                box-sizing: border-box;

                &:hover {
                  //background-color: $text_color;
                  color: $header_sub_menu_color_hover;

                }
                @include media($laptop-min) {
                  padding-left: 70px !important;
                }

              }

            }
          }

          &:hover {
            >ul {
              opacity: 1;
              visibility: visible;
            }
          }
        }

      }

    }
  }
  .account-menu_header {
    font-weight: bold;
    //margin: 5px 5px 10px;
    text-align: left;
    border-bottom: thin solid #fff;
    background-color: $text-color;
    color: $btn_base_dark_color;
    padding: 10px 5px 5px;
    //padding-bottom: 5px;
    //max-width: 320px;

    //padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    &-info {
      flex-grow: 1;
      flex-shrink: 1;

      &-name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 2px;
      }
      &-id {
        color: $header_color_gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
          text-decoration: none;
          font-weight: normal;
        }
      }
    }
    @include media($laptop_min) {
      margin-top: 15px;
    }

    &-avatar {
      width: 40PX;
      height: 40PX;
      margin: 0 15px 0 10px;
      display: inline-block;
      vertical-align: middle;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 40PX;

      &-image {
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          //width: 100%;
          //height: 100%;
          max-width: 100%;
        }
      }
    }

  }
}