.new-year {
  &_text {

  }
  &_item {
    &-image {
      width: 48%;
      @include media($tablets) {
        width:100%;
        margin: 5% auto;
        order: 0;
      }
      margin: auto;
      img {
        max-width: 100%;
      }
    }
    &-description {
      width: 48%;
      @include media($tablets) {
        width:100%;
        margin: 5% auto;
        order: 1;
      }
      margin: auto;
      &-header {
        font-size: 26px;
        color: $new-year_item_header_color;
      }
    }
  }
}