$paginate_button_color: #fcf8e3;
$paginate_button_hover_color: #FFF0F0;
$paginate_button_active_color: #e6ae03;
$paginate_text_color:  #1b2527;
$paginate_color_hover: #ffcd16;
$paginate_mobile_width: 768px;


.catalog_pagination {
  ul {
    margin: 0 ;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    >li {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      background-color: $paginate_button_color;
      transition: all 0.3s ease;
      overflow: hidden;
      margin: 0 10px;

      @media (max-width: $paginate_mobile_width){
        margin: 0 5px 10px 5px;
        width: 2em;
        height: 2em;
      }

      &:hover {
        background-color: $paginate_button_hover_color;
        a,svg {
          color: $paginate_color_hover;
        }
      }

      a,span {
        padding: 20PX;
        color: $paginate_text_color;
        text-decoration: none;
        line-height: 1.25;
      }
      &.active {
        span {
          background-color: $paginate_button_active_color;
          color: $paginate_text_color;
        }
      }

    }
  }
}
.pagination {
  &_button {
    width: 18PX;
    height: 18PX;
    vertical-align: top;

    &_left {
      padding-right: 2px;
    }
    &_right {
      padding-left: 2px;
    }
  }
}
.account {
  .catalog_pagination {
    margin-bottom: 35px;
  }
}