.catalog_pagination {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    @include media($tablets) {
      flex-direction: column;
    }
    >li {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40PX;
      height: 40PX;
      border-radius: 50%;
      background-color: $paginate_button_color;
      transition: all 0.3s ease;
      overflow: hidden;
      @include media($tablets) {
        margin-left: auto;
        margin-right: auto;
      }
      &:not(:last-child) {
        margin-right: 10px;
        @include media($tablets) {
          margin-bottom: 10px;
          margin-right: auto;
        }
      }
      &:not(:first-child) {
        margin-left: 10px;
        @include media($tablets) {
          margin-top: 10px;
          margin-left: auto;
        }
      }
      &:hover {
        background-color: $paginate_button_hover_color;
        a,svg {
          color: $header_sub_menu_color_hover;
        }
      }
      a,span {
        padding: 20PX;
        color: $text_color;
        text-decoration: none;
      }
      &.active {
        span {
          background-color: $paginate_button_active_color;
          color: $text-color;
        }
      }

    }
  }
}
.pagination {
  &_button {
    width: 18PX;
    height: 18PX;
    vertical-align: top;
    &_left {
      padding-right: 2px;
    }
    &_right {
      padding-left: 2px;
    }
  }
}
.account {
  .catalog_pagination {
    margin-bottom: 15px;
  }
}