.install-plugin {
  background-color: $header_bg_up;
  height: 40px;
  overflow: hidden;
  transition: height 0.3s linear;

  @include media($laptop_min) {
    display: none;
  }

  &_inner {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  &_text {
    color: $header_color_up;
    padding: 10px 10px 10px 0;
    margin-left: 0;
    line-height: normal;
  }
  &_close {
    font-size: 20px;
    padding: 0 6px;
  }
  &_hidden {
    display: none;
  }

  &_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    //justify-content: space-between;
    justify-content: flex-end;
    flex-grow: 2;
  }

  &_button {
    margin: 2px 15px;
    &-close {
      width: 26PX !important;
      height: 26PX !important;
      box-sizing: border-box !important;
      cursor: pointer !important;
      background: rgb(250, 54, 28) !important;
      border-radius: 50% !important;
      text-align: center !important;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      margin-left: 50px;
    }
  }
  &-index {

    &_border {
      margin: 0 10px;
    }

    .hidden {
      display: none;
    }
  }
}
.header-secondline.scroll-down .install-plugin {
  //display: none;
  height: 0;
}

.plugin-browsers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    @include media($tablets) {
      flex-wrap: wrap;
    }
    @include media ($phones) {
      flex-direction: column;
    }


  &-browser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px 30px;
    box-sizing: border-box;

    svg {
      width: 40px;
      height: 40px;
      margin: 10px;
    }
    &-safari {
      svg{
        width: 44px;
        height: 44px;
        margin: 8px;
      }

    }
    @include media($tablets) {
      width: 30%;
      margin-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
    @include media($phones) {
      width: 100%;
      padding-left: inherit;
      padding-right: inherit;
    }
  }
  a.plugin-browsers-browser {
    cursor: pointer;
    &:hover {
      svg {
        width: 46px;
        height: 46px;
        margin: 7px;
        //color: inherit;
      }
    }
    &-safari:hover svg{
      width: 50px;
      height: 50px;
      margin: 5px;
    }

  }
  div.plugin-browsers-browser,
  div.plugin-browsers-browser:hover {
    svg {
      opacity: 0.3;
    }
    .btn {
      background-color: #bfbfbf;
      border-color: #bfbfbf;
      cursor: default;
      color: $btn_base_color;
    }
  }
  &-link {

    @include media($tablets) {
      margin-bottom: 20px;
    }

    &.hidden {
      display: none;
    }
  }
}

#plugin-install-panel {
  display: none;
}

.index-app{

  &-img {
    position: relative;
    width: calc(49% - 30px);
    max-width: 250px;

    @include media($phones) {
      width: 45%;
    }
    a:hover svg{
      stroke: $btn_base_bg;
      fill: $btn_base_bg;
      color: $btn_base_bg;
    }

    svg {
      stroke: $text_color;
      fill: $text_color;
      color: $text_color;
      width: 100%;
      height: auto;
    }

  }
}


