.catalog_products {

  &_item {
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
    width: 100%;

    &_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 2;
      //padding-bottom: 15px;

      &_text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_title {
          font-weight: 700;
        }
      }
      &_actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

      }
    }

    &_in {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &_image{

      img {
        max-height: 150px;
        height: 150px;
        object-fit: contain;
      }
    }

    &_text {
      margin-left: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &_title {
      text-align: left;
      //margin-bottom: 15px;
      font-size: 18px;

      a {
        font-size: 18px;
        color: $btn_base_dark_bg;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

    }
    &_cashback {
      color: red;
      //display: flex;
      align-items: center;

      svg {
        margin-left: 5px;
        color: red;
        fill: red;
        stroke: red;
        vertical-align: middle;
        margin-top: -4px;
      }
    }
  }

  &_h1_question svg{
    color: $text_color;
    fill: $text_color;
    stroke: $text_color;
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  &_store_conditions {
    display: none;
  }
}