$media1: $laptop_min;
$media2: $tablets;

@mixin strait {
  //на странице товара в shop
  width: 22%;
}

@mixin shop {
  //плитка товара в shop
  width: 28%;

  .catalog_products_item {

    &_in {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &_image {
      height: 200PX;
      max-width: none;


      &-wrap {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-discount {
        position: absolute;
        color: #fff;
        font-size: 22px;
        background: red;
        display: block;
        top: 0;
        left: 0;
        padding: 0 5px;
        border-radius: 2px;
        font-weight: bold;
        line-height: 1.4;
        a {
          text-decoration: none;
          &:hover {
            color: #fff;
          }
        }
      }

      img {
        max-height: 200PX;
      }
      &-empty {
        color: $text_color;
        font-size: 37px;
        display: block;
        padding-top: 40px;
      }
      a {
        text-decoration: none;
      }
    }
    &_text {
      margin: 0;
      padding: 5px;
      text-align: left;


      &_title {
        a {
          color: #5C5C5C;
          display: block;
          white-space: nowrap;
          overflow: hidden;
         // padding: 3px;
          text-overflow: ellipsis;
        }
      }
      &_brand {
        a {
          color: $text_color;
          font-weight: bold;
        }
      }
      &_store {

        a {
          color: $text_color_light;
          font-weight: bold;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        svg {
          width: 18px;
          height: 18px;
          color: $text_color_light;
          fill: $text_color_light;
          stroke: $text_color_light;
          margin-right: 5px;
        }
      }

      a {
        text-decoration: none;
        font-size: 16px;
      }
    }

    &_prices {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 5px;

      &-vaforite {
        align-self: stretch;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    &_price {
      font-weight: bold;
      font-size: 22px;

      &_currency {
        //font-weight: normal;
        font-size: 0.6em;
        margin-left: 3px;
      }
      &-old {
        font-size: 14px;
        opacity: 0.6;
        position: relative;
        line-height: 1;
        text-align: left;

        &:after {
          content: " ";
          position: absolute;
          display: block;
          width: 73%;
          left: -3px;
          top: 50%;
          border-bottom: 1px solid $text_color;
          opacity: 0.6;
        }
      }
    }
    &_cashback {
      color: red;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      border: 1px solid $btn_base_bg;
      border-radius: 2px;
      padding: 2px;
      font-size: 14px;

      .question {
        margin-left: 5px;
      }

      &-title {
        text-transform: uppercase;
      }

      &-value {
        display: flex;
        flex-direction: row;
      }
      &-question {
        vertical-align: middle;

        svg {
          color: red;
          stroke: red;
          fill: red;
          width: 18px;
          height: 18px;
        }
      }

      .shop-cashback_old {
        color: #aaa;
      }
      .shop-cashback-link_cashback.is_not_old {
        font-size: 16px;
      }

    }
  }
}



.catalog_products {

  &_item {
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
    width: 100%;

    &_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 2;

      @include media($media2) {
        flex-direction: column;
      }

      &_text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 2;
        margin-right: 20px;

        @include media($media2) {
          text-align: center;
          margin-bottom: 10px;
        }

        &_title {
          font-weight: 700;
        }
      }
      &_actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;

        &_button {
          margin-top: 15px;
        }

      }
    }

    &_in {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      @include media($media1) {
        flex-direction: column;
      }
    }

    &_image{
      max-width: 330px;

      @include media($media1) {
        text-align: center;
      }

      img {
        max-height: 150px;
        max-width: 90%;
        height: 150px;
        object-fit: contain;
      }
    }

    &_text {
      margin-left: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;

      @include media($media1) {
        margin-left: 0;
      }
      @include media($media2) {
        margin-left: 0;
      }
    }
    &_title,&_brand {
      text-align: left;
      font-size: 18px;
      text-decoration: underline;

      a:hover {
        color: $link_color;
      }

      @include media($media1) {
        text-align: center;
        margin: 15px auto;
      }

      a {
        font-size: 18px;
        color: $text_color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

    }
    &_cashback {

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      @include media($media2) {
        flex-direction: column;
        justify-content: flex-start;
      }

      &_question {
        cursor: pointer;
      }

      &_left {
        color: red;
        align-items: center;

        svg {
          //margin-left: 5px;
          color: red;
          fill: red;
          stroke: red;
          vertical-align: middle;
          margin-top: -4px;
        }
      }
      &_coupons {

        svg {
          width: 16px;
          height: 16px;
          color: $coupons_coupon_name_cashback;
          fill: $coupons_coupon_name_cashback;
          stroke: $coupons_coupon_name_cashback;
          vertical-align: middle;

        }
      }




    }

    .scroll_box-item {
      width: inherit;
      max-width: inherit;
      min-width: inherit;
      padding: inherit;
      margin: inherit;
      box-shadow: inherit;
      margin-right: 10px;
    }

    &_catalog {

    }

    &.shop {
      @include shop;
    }

  }

  &_h1_question svg{
    color: $text_color;
    fill: $text_color;
    stroke: $text_color;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  &_store_conditions {
    display: none;

    &_content {
      font-size: 14px;
    }
  }

}

.catalog-stores_list-product {

  .catalog_products {

    &_item {
      @include strait

    }
  }
}