.catalog_product {

  &-props {
    &-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      color: $text_color_light;
      align-items: center;

      a {
        color: $text-color_light;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }

      .title {
        color: $text_color;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin-right: 5px;
      }

      &_available {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: $button_base_hover_bg;

        &.catalog_product_available_0 {
          color: $notyfy_icon_color;
        }
        &.catalog_product_available_1 {
          color: $cahsback_confirmed_color;
        }

      }
      &-cashback {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 14px;
        color: red;
        align-items: center;
        font-weight: bold;

        .shop-cashback_old {
          color: red;
          font-size: 13px;
          text-decoration: line-through;
          margin-right: 24px;
        }
        span {
          width: 18px;
          height: 18px;
        }
      }
      &_price {
        font-size: 18px;
        color:red;
        font-weight: bold;

        &-old {
          color: $text-color;
          text-decoration: line-through;
          margin-right: 10px;
        }
        &_currency {
          //margin-left: 3px;
        }
      }

    }
  }

  &-store {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    a:not(:last-child) {
      margin-right: 20px;
    }
  }

  &_prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-left,
    &-right {
      display: flex;
      flex-direction: row;
    }
    &-price {
      margin-right: 20px;
    }
    &-vaforite-all {
      margin-left: 20px;
    }
  }
  &_cashback {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: red;

    &-favorite {
      svg {
        vertical-align: middle;
      }
    }

    &-cashback {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-question {
      svg {
        width: 20px;
        height: 20px;
        color: red;
        fill: red;
        stroke: red;
        vertical-align: text-bottom;
      }
    }
  }
  &_filter{

    &-header {
      font-weight: bold;
    }

    &-form {
      min-width: 300px;

      @include media($phones) {
        min-width: inherit;
      }
    }

    &-items{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      &-item {
        box-sizing: border-box;
        //width: 33%;

        &-price {
          //width: 33%;
          margin-left: 10px;
          margin-right: 10px;

          &-inputs {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            input {
              width: 25%;
              margin: 0 5px;
            }
          }

        }
        &-checkbox {
          margin-right: 5px;
          margin-left: 15px;
        }
      }
    }
    &-checkbox {
      display: flex;
      flex-direction: column;
    }
  }
  &-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @include media($tablets) {
      flex-direction: column;
    }

    &-image {
      width: 40%;
      margin-right: 20px;

      img {
        width: 100%;

        &.no_optomize {
          max-height: none;
        }
      }
    }
    &-info h1 {
      font-size: 20px;
    }
  }
  &-buttons {
    a {
      display: flex;
      max-width: 200px;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding: 5px 50px;

      .icon {
        background-color: $text_color;
        display: block;
        padding: 5px;
        border-radius: 3px;
        margin-right: 10px;
      }

      svg {
        color: #fff;
        fill: #fff;
        stroke: #fff;
        width: 16px;
        height: 16px;
      }
    }
  }
  &_favorite {

    &-link {

      svg {
        display: inline-block;
        margin-right: 10px;
      }
      span {
        font-size: 12px;
        vertical-align: text-bottom;
      }
    }
  }

}

//ползунок
.ui-slider-horizontal {
  margin: 5px 0 10px;
  height: 3PX;
  border: none;
  background: #dee1e4;
  * {
    outline: none !important;
  }
}
.ui-slider-range {
  height: 3PX;
  background: $btn_base_bg;
  border: none;
}
.ui-slider .ui-slider-handle {
  cursor: pointer;
  top: 4PX;
  margin-left: -6PX;
  border: none;
  width: 16PX;
  height: 16PX;
  background-color: #fff;
  background-image: url(../images/svg/pointer.svg);
  background-size: 16PX;

  &:hover {
     background-color: #fff;
  }

}