.catalog_product {



  &-store {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    a:not(:last-child) {
      margin-right: 20px;
    }
  }

  &_prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-left,
    &-right {
      display: flex;
      flex-direction: row;
    }
    &-price {
      margin-right: 20px;
    }
    &-vaforite-all {
      margin-left: 20px;
    }
  }
  &_cashback {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: red;

    &-favorite {
      svg {
        vertical-align: middle;
      }
    }

    &-cashback {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-question {
      svg {
        width: 20px;
        height: 20px;
        color: red;
        fill: red;
        stroke: red;
        vertical-align: text-bottom;
      }
    }
  }
  &_filter{

    &-items{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      &-item {
        box-sizing: border-box;
        //width: 33%;

        &-price {
          //width: 33%;
          margin: 0 10px;

          &-inputs {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            input {
              width: 25%;
              margin: 0 5px;
            }
          }

        }
        &-checkbox {
          margin: 0 5px 0 15px;
        }
      }
    }
    &-checkbox {
      display: flex;
      flex-direction: column;
    }
  }
  &-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @include media($tablets) {
      flex-direction: column;
    }

    &-image {
      width: 40%;
      img {
        max-width: 100%;
      }
    }
    &-info h1 {
      font-size: 20px;
    }
  }

}

//ползунок
.ui-slider-horizontal {
  margin: 5px 0 10px;
  height: 3PX;
  border: none;
  background: #dee1e4;
  * {
    outline: none !important;
  }
}
.ui-slider-range {
  height: 3PX;
  background: $btn_base_bg;
  border: none;
}
.ui-slider .ui-slider-handle {
  cursor: pointer;
  top: 4PX;
  margin-left: -6PX;
  border: none;
  width: 16PX;
  height: 16PX;
  background-color: #fff;
  background-image: url(../images/svg/pointer.svg);
  background-size: 16PX;

  &:hover {
     background-color: #fff;
  }

}