$media1: $laptop_min;
$media2: $tablets;
$media3: $phones;

@mixin strait {
  //на странице товара в shop
  width: 22%;

  @include media($media1) {
    width: 28%;
  }

  @include media($media3) {
    width: 100%;
  }
}

@mixin shop {
  //плитка товара в shop
  width: 28%;
  box-sizing: border-box;

  &.empty {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media($media2) {
    min-width: 100px;
    width: 45%;
  }
  @include media($media3) {
    width: 100%;
  }

  .catalog_products_item {

    &_in {
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &_image {
      height: 200PX;
      max-width: none;


      &-wrap {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        max-height: 200PX;
      }

      &-empty {
        color: $text_color;
        font-size: 37px;
        display: block;
        padding-top: 40px;
      }
      a {
        text-decoration: none;
      }
    }
    &_text {
      margin: 0;
      padding: 5px;
      text-align: left;


      &_title {
        a {
          color: #5C5C5C;
          display: block;
          white-space: nowrap;
          overflow: hidden;
         // padding: 3px;
          text-overflow: ellipsis;
        }
      }
      &_brand {
        a {
          color: $text_color;
          font-weight: bold;
        }
      }
      &_store {

        a {
          color: $text_color_light;
          font-weight: bold;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        svg {
          width: 16px;
          height: 16px;
          color: $text_color_light;
          fill: $text_color_light;
          stroke: $text_color_light;
          margin-right: 5px;
          padding-bottom: 2px
        }
      }

      a {
        text-decoration: none;
        font-size: 16px;
      }
    }

    &_prices {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      position:relative;

      @include media($tablets) {
        flex-direction: column;
      }

    }

    &_price {
      font-weight: bold;
      font-size: 18px;

      a {
        color: inherit;
        text-decoration: inherit;
      }

      &_currency {
        //font-weight: normal;
        font-size: 0.6em;
        //margin-left: 3px;
      }
      &-old {
        font-size: 14px;
        opacity: 0.6;
        position: absolute;
        line-height: 1;
        text-align: left;
        top: 3px;
        left: 6px;

        &:after {
          content: " ";
          position: absolute;
          display: block;
          width: calc(100% + 6px);
          left: -3px;
          top: 50%;
          border-bottom: 1px solid $text_color;
          opacity: 0.6;
        }
      }
      span {
        &:not(:last-child) {
          margin-right: 3px;
        }
      }
      &-new_with-old {
        margin-top: 6px;
      }
    }
    &_cashback {
      position: relative;
      color: white;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      border: 1px solid black;
      background: black;
      border-radius: 2px;
      padding: 3px 6px;
      font-size: 12px;

      a {
        color: #fff;
        text-decoration: none;
      }



      .question {
        margin-left: 5px;
      }

      &-title {
        text-transform: uppercase;
        margin: 0 6px;
      }

      &-value {
        display: flex;
        flex-direction: row;
      }
      &-question {
        vertical-align: middle;
        border-radius: 50%;
        background: black;
        padding: 0;
        width: 18PX;
        height: 18PX;
        margin-left: 6px;

        svg {
          color: #fff;
          stroke: #fff;
          fill: #fff;
          width: 18PX;
          height: 18PX;
        }
      }

      .shop-cashback_old {
        color: #aaa;
      }
      .shop-cashback-link_cashback.is_not_old {
        font-size: 16px;
      }

      .cashback_plus {
        position: absolute;
        top: calc(50% - 12px);
        left: 3px;
      }
      &-amount {
        line-height: 1;
        justify-content: center;
      }

    }
    &-vaforite {
      position: absolute;
      top: 2px;
      right: 0;

      svg {
        width: 20px;
        height: 20px;
      }

    }
  }
}



.catalog_products {

  &_item {
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
    width: 100%;

    &_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 2;

      @include media($media2) {
        flex-direction: column;
      }

      &_text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 2;
        margin-right: 20px;

        @include media($media2) {
          text-align: center;
          margin-bottom: 10px;
        }

        &_title {
          font-weight: 700;
        }
      }
      &_actions {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;

        &_button {
          margin-top: 15px;
        }

      }
    }

    &_in {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      @include media($media1) {
        flex-direction: column;
      }
    }

    &_image{
      max-width: 330px;

      @include media($media1) {
        text-align: center;
      }

      img {
        max-height: 150px;
        max-width: 90%;
        height: 150px;
        object-fit: contain;
      }
    }

    &_text {
      margin-left: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;

      @include media($media1) {
        margin-left: 0;
      }
      @include media($media2) {
        margin-left: 0;
      }
    }
    &_title,&_brand {
      text-align: left;
      font-size: 18px;
      text-decoration: underline;

      a:hover {
        color: $link_color;
      }

      @include media($media1) {
        text-align: center;
        margin: 15px auto;
      }

      a {
        font-size: 18px;
        color: $text_color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

    }
    &_cashback {

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      @include media($media2) {
        flex-direction: column;
        justify-content: flex-start;
      }

      &_question {
        cursor: pointer;
      }

      &_left {
        color: red;
        align-items: center;

        svg {
          //margin-left: 5px;
          color: red;
          fill: red;
          stroke: red;
          vertical-align: middle;
          margin-top: -4px;
        }
      }
      &_coupons {

        svg {
          width: 16px;
          height: 16px;
          color: $coupons_coupon_name_cashback;
          fill: $coupons_coupon_name_cashback;
          stroke: $coupons_coupon_name_cashback;
          vertical-align: middle;

        }
      }




    }

    .scroll_box-item {
      width: inherit;
      max-width: inherit;
      min-width: inherit;
      padding: inherit;
      margin: inherit;
      box-shadow: inherit;
      margin-right: 10px;
    }

    &_catalog {

    }

    &.shop {
      @include shop;
    }

  }

  &_h1_question svg{
    color: $text_color;
    fill: $text_color;
    stroke: $text_color;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  &_store_conditions {
    display: none;

    &_content {
      font-size: 14px;
    }
  }

}

.catalog-stores_list-product {

  .catalog_products {

    &_item {
      @include strait

    }
  }
}

.catalog_products_item,
.catalog_product-main-image {
  .catalog_products_item_image-discount {
    position: absolute;
    color: #fff;
    font-size: 22px;
    background: red;
    display: block;
    top: 0;
    left: 0;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    line-height: 23px;
    a {
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }

    &.product {

      top: 10px;
      left: 10px;
      font-size: 40px;
      padding: 2px 10px;
      border-radius: 5px;
      line-height: 1;
    }
  }
}

.shop-button-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: rotate(-90deg) translate(150px, 90px);
  background-color: #FDE261;

  a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    color: $text-color;
    text-decoration: none;
    &:hover {
      color: $text-color;
    }
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .logo {
    height: 24PX;
    width: 24PX;
    border-radius: 50%;
    background-color: $text-color;
    margin: 0 10PX;

    svg {
      padding: 2px;
      width: 20px;
      height: 20px;
      //height: 80%;

    }

  }
  .arrow {
    background-color: #FDEA8E;
    //height: 100%;
    padding: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      margin: 0;
      padding: 0;
      color: $text-color;
      fill: $text-color;
      stroke: $text-color;

      &:hover {
        color: $text-color;
        fill: $text-color;
        stroke: $text-color;
      }
    }
  }
  .text {
    margin-right: 5px;
  }


}