.scroll_box {
  &-active {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    //padding: 30px;

    & + .scroll_box {
      &-control {
        display: block;
        text-align: center;
        @include media($tablets) {
          margin-top: 20px;
        }
      }
    }

    .scroll_box {

      &-mover {
        display: inline-block;
      }
    }
  }

  &-wrap {
    position: relative;
    margin-bottom: 30px;
  }

  &-item {
    width: calc(33.3% - 74px);
    min-width: calc(33.3% - 74px);
    max-width: calc(33.3% - 74px);
    margin: 19px;
    padding: 18px;
    background: $scroll_box_bg;
    box-shadow: 2px 2px 21px rgba($scroll_box_shadow, 0.21);
    overflow: hidden;
    position: relative;

    &-emty {
      box-shadow: none;
      background: none;
      margin: 0 !important;
      padding: 0;
    }

    &-hide {
      display: none;
    }

    &-modal {
      margin: 0;
      padding: 0;
      width: 100%;
      min-width: 100%;
      box-shadow: none;

      .max_text_hide-gray {
        background: transparent;
        border-top: 1px solid #ccc;
      }
    }

    @include media($laptop_min) {
      width: calc(50% - 74px);
      min-width: calc(50% - 74px);
      max-width: calc(50% - 74px);
    }

    @include media($tablets) {
      margin: 0px;
      margin-bottom: 19px;
      width: calc(100% - 36px);
      min-width: calc(100% - 36px);
      max-width: calc(100% - 36px);
    }
  }

  &-mover {
    display: none;
    transition: all .5s ease;
  }

  &-control {
    display: none;

    &_point {
      width: 12PX;
      height: 12PX;
      background: #CCC;
      border: solid 1px #FFF;
      cursor: pointer;
      text-indent: -9999px;
      border-radius: 20px;
      transition: all .25s ease;
      margin: 0 5px;
      display: inline-block;

      &:hover {
        border: solid 1px #CCC;
        background: #FFF;
      }

      &.active {
        background: #0f181a;
        line-height: inherit;
        border: solid 1px #5C5F6A;
        cursor: auto;
      }
    }
  }

  &-title {
    display: flex;
  }

  &-avatar {
    height: 78PX;
    width: 78PX;
    border-radius: 100%;
    margin-right: 19px;
    background-size: cover;
    background-position: 50% 50%;
  }

  &-user {
    &_name {
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 5px;
    }

    &_cashback {
      color: #b6b6b6;
      font-size: 16px;
      line-height: 14px;

      span {
        display: block;
        font-weight: 700;
      }
    }
  }

  &-content {
    margin: 10px -18px -18px -18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100%;
  }

  &-text {
    //margin-top: 20px;
    padding: 18px;
    a {
      color: $shop_review_link_color;
    }
  }

  &-answer {
    background: $gray_box_bg;
    //margin: 10px -18px -18px;
    padding: 18px;

    & + * {
      background: $gray_box_bg;
    }
  }

  &-show_more {
    display: block;
    cursor: pointer;
    text-align: right;
    text-decoration: underline;
    width: 100%;
    padding: 5px 18px;
    left: 0;
    box-sizing: border-box;
  }
}