.sd-select {
  text-align: center;
  width: 310px;
 //width: 244px;
  margin-bottom: 20px;
  margin-left: 15px;

  @include media($tablets) {
    //width: 304px;
    margin-left: 0;
  }

  &-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
    margin: 0 20px;

    @include media($laptop_min) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 16px;
    margin-top: 18px;

    @include media($tablets) {
      margin-top: 0;
      font-size: 18px;
    }
  }


  &-selected {
    //width: 250px;
    margin-top: 10px;
    //display: block;

    border-radius: 3px;
    border: 1px solid $placeholder_color;
    background-color: #fff;
    padding: 10px 30px;
    color: $text_color;
    cursor: pointer;
    background-position: 290px -145px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    @include media($tablets) {
      &.active {
        border-radius: 3px 3px 0 0;
        //border-bottom: none;
        svg {
          transform: rotate(180deg);
        }
      }
    }
    svg {
      width: 15px;
      height: 15px;
      color: $text_color;
      fill: $text_color;
      stroke: $text_color;
    }
  }
  &-drop {
    margin: 0;
    padding: 0;
    width: 310px;
    border: 1px solid $placeholder_color;
    border-radius: 0 0 3px 3px;
    border-top: none;
    display: none;
    position: absolute;
    z-index: 100;
    box-sizing: border-box;
    background: #fff;
    transition: all 0.6s ease;

    @include media($tablets) {
      position: relative;
      width: 100%;
    }

    & > li {
      list-style: none;
      //cursor: pointer;
      //display: block;
      //padding: 10px 30px;
      background-position: 10px -119px;

      &:not(:first-child) {
        border-top: 1px solid $menu_border_color;
      }

      a {
        color: $text_color;
        text-decoration: none;
        display: block;
        padding: 10px 30px;

        &:hover {
          text-decoration: none;
        }
      }
      span {
        display: block;
        padding: 10px 30px;
      }
      a,
      span {
        //font-size: 18px;
      }

      &.active {
        background-color: #f6f6f6;
      }

    }
  }
  &-selected:hover {
    border-radius: 3px 3px 0 0;
    //border-bottom: none;
    svg {
      transform: rotate(180deg);
    }
  }
  &-selected:hover ~ .sd-select-drop {
    display: block;
  }
  &-selected.active ~ .sd-select-drop {
    display: block;
  }
  &-drop:hover {
    display: block;
  }

}
