.soc-icon {
  height: 48px;
  width: 48px;
  margin: 2px;
  background-image: url(/images/socialicons48.png);
  display: inline-block;
}

.soc-icon-sd {
  background-color: $share_color;
  color: $btn_base_color !important;
  display: inline-block;
  padding: 8PX;
  width: 20PX;
  height: 20PX;
  margin-right: 5PX;
  text-align: center;
  border-radius: 50%;
  transition: all 300ms ease-in-out;

  &:after {
    content: " ";
    display: block;
    background-position: 50% 50%;
    background-size: 16PX;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.icon-sd-fb:after {
    background-image: url(/images/svg/facebook.svg);
  }

  &.icon-sd-vk:after {
    background-image: url(/images/svg/vk.svg);
  }

  &.icon-sd-odkl:after {
    background-image: url(/images/svg/odnoklassniki.svg);
  }

  &.icon-sd-twi:after {
    background-image: url(/images/svg/twitter.svg);
  }

  &.icon-sd-gplus:after {
    background-image: url(/images/svg/google-plus.svg);
  }

  &.icon-sd-mail:after {
    background-image: url(/images/svg/mailru.svg);
  }

  &.icon-sd-journal:after {
    background-image: url(/images/svg/livejournal.svg);
  }

  &.icon-sd-telegram:after {
    background-image: url(/images/svg/telegram.svg);
  }

  &.icon-sd-viber:after {
    background-image: url(/images/svg/viber.svg);
  }

  &.icon-sd-whatsapp:after {
    background-image: url(/images/svg/whatsapp.svg);
  }

  &.icon-sd-pin:after {
    background-image: url(/images/svg/pinterest.svg);
  }
}

.soc-icon-sd:hover {
  color: $share_color;
  background-color: $btn_base_color !important;
}

.accauntSoc_32 .soc-icon-sd {
  text-decoration: none;
  display: inline-block;
  padding: 1px 0;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 100%;
  box-sizing: border-box;
}

.accauntSoc_32 .soc-icon {
  height: 32px;
  width: 32px;
  margin: 2px;
  background-image: url(/images/socialicons_new_32.png);
  display: inline-block;
}

.icon-vk {
  background-position: -19px -75px;
}

.icon-twi {
  background-position: -70px -21px;
}

.icon-fb {
  background-position: -170px -21px;
}

.icon-odkl {
  background-position: -222px -75px;
}

.icon-odkl {
  background-position: -222px -75px;
}

.icon-gplus {
  background-position: -19px -21px;
}

.accauntSoc_32 {
  .icon-vk {
    background-position: -12px -50px;
  }
  .icon-twi {
    background-position: -47px -14px;
  }
  .icon-fb {
    background-position: -114px -14px;
  }
  .icon-odkl {
    background-position: -148px -50px;
  }
  .icon-odkl {
    background-position: -148px -50px;
  }
  .icon-gplus {
    background-position: -14px -14px;
  }
  .icon-mail {
    background-position: -46px -50px;
  }
  .icon-journal {
    background-position: -115px -50px;
  }
  .icon-telegram {
    background-position: -115px -50px;
  }
  .icon-viber {
    background-position: -148px -14px;
  }
  .icon-whatsapp {
    background-position: -46px -50px;
  }
}

.share42_wrap {
  white-space: nowrap;
  margin-right: -6px;
}