/* Shops
------------------------------------*/
.shops {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 27px;
  margin-bottom: 27px;
}

.shop{
  margin: 10PX 5PX;
  position: relative;
  max-width: 200px;
  min-width: 165px;
  text-align: center;
  background: $shop_bg;
  border-radius: 5px;
  transition: all .2s;

  &:hover{
    box-shadow: 1px 1px 8px rgba($shop_name_color,0.7), 0 2px 0 0px rgba($shop_name_color,0.5);
  }

  &-logo{
    text-align: center;
    padding: 20px 0px;
    background-color: $shop_logo_bg;
    border-radius: 5px 5px 0 0;
    height: 66px;
    box-sizing: content-box;

    &_link{
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      display: inline-block;

      &-img{
        max-width: 130px;
      }
    }
  }

  &_header{
    padding: 0 5px;
    display: flex;
    text-align: center;
    height: 82px;
    overflow: hidden;
    text-decoration: none;

    span{
      font-weight: 700;
      font-size: 15px;
      color: $shop_name_color;
      margin: auto;
      max-width: 155px;

    }
  }

  &-cashback {
    &-link {
      //display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: auto;
      margin: auto auto 0;
      text-transform: uppercase;
      padding: 5px;
      background: $shop_cashback_link_bg;
      font-size: 15px;
      font-weight: 400;
      color: $shop_cashback_link_color;
      line-height: 20px;
      text-decoration: none;
      border-radius: 0 0 5px 5px;
      &_cashback{
        display: flex;
        align-items: center;
        margin-left: 3px;
        word-spacing: 1px;
        font-weight: bold;
        &_old {
          display: flex;
          align-items: center;
          margin-left: 3px;
          font-weight: bold;
        }
      }


      &:hover {
        color: $shop_cashback_link_color;
      }

      &_action{
        background: $shop_cashback_link_action;
        color: $shop_cashback_link_bg;

        &:hover{
          color: $shop_cashback_link_bg;
        }
      }
      .currency-icon {
        width: 12px;
        height: 12px;
        color: $shop_cashback_link_color;
        fill: $shop_cashback_link_color;
        stroke: $shop_cashback_link_color;
        margin-left: 1px;

      }
    }

    &_old{
      text-decoration: line-through;
      color: rgba($shop_cashback_old_color,0.7);
    }

  }

  &_panel{
    text-align: right;
    padding: 5px;
    background: $shop_panel_bg;
    line-height: 16px;
    height: 16px;
    box-sizing: content-box;

    &-item{
      color: $shop_cashback_link_color;
      fill: $shop_cashback_link_color;
      stroke: $shop_cashback_link_color;
      text-decoration: none;
      stroke-width: 3px;
      border: none;

      &_icon{
        height: 16px;
        width: 16px;
        display: inline-block;
        vertical-align: bottom;
        stroke-width: 4px;

        &-star{
          stroke-width: 1px;
        }
      }

      span{
        font-size: 10PX;
        margin-left: -3px;
        vertical-align: bottom;
        line-height: 5px;
        font-family: sans-serif;
      }
    }
  }

  &-empty{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background: transparent;

    &:hover{
      box-shadow:none;
    }
  }

  &_promo-label {
    height: 77px;
    width: 75px;
    display: block;
    position: absolute;
    top: -6px;
    left: -5px;

    &_x2 {
      background: url("/images/x2-label.png") no-repeat;
    }
  }

  &-heart-red{
    height: 17px;
    width: 17px;
    margin-top: -3px;
    margin-bottom: -3px;
  }


  /*карточка шопа*/
  &_header_big{
    background-size: cover;
    background: url(/images/templates/polygonal-bg.jpg) repeat-x center 100% #999;
    color: #fff;

    @include media($tablets) {
      background: none;
      color: $text_color;
    }

    .cashback{
      font-size: 26px;

      .old{
        font-size: 13px;
        text-decoration: line-through;

        span{
          font-size: 13px;
        }
      }

      span {
        color: $btn_base_bg;
        font-size: 35px;
        font-weight: 600;
      }
    }

    &-header{
      margin: 0;
      text-align: center;
      padding: 0.67em 0;
    }

    &-wrap{
      display: flex;

      @include media($tablets) {
        flex-direction: column;
        justify-content: center;
      }
    }

    &-item{
      width: 33%;

      @include media($tablets) {
        width: 100%;
      }

      &-head{
        font-size: 35px;
        text-align: center;
        font-weight: 600;
        border-bottom: 1px solid;
        padding-bottom: 10px;
        margin-top: 15px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-logo{
        border-radius: 100%;
        width: 215PX;
        height: 215PX;
        margin-bottom: -20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        box-sizing: border-box;
        background: #fff;

        @include media($tablets) {
          margin-top: -20px;
        }

        &_box{
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: center;

          @include media($tablets) {
            background: url(/images/templates/polygonal-bg.jpg) repeat-x center 100% #999;
            order: -1;
          }
        }
      }

    }

    &-end{
      background: #fff;
      text-align: center;
      padding: 20px;
    }
  }
}

.additional{
  &-information{
    overflow: hidden;
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
    font-size: 13px;
    padding: 5px;
    border: 0px solid #3d3e40;
    box-sizing: padding-box;
    transition: all 0.5s;

    &__content{
      max-height: 48px;
      transition: all 0.5s;
      margin-top: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
    }

    &__handle{
      text-align: right;

      &.more{
        font-size: 11px;
      }

      &.less {
        display: none;
      }
    }
  }

}