/* Shops
------------------------------------*/
.shops {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 27px;
  margin-bottom: 27px;
}

.shop{
  margin: 10PX 5PX;
  position: relative;
  max-width: 200px;
  min-width: 165px;
  text-align: center;
  background: $shop_bg;
  border-radius: 5px;
  transition: all .2s;
  @include media($phones) {
    width: 45%;
    min-width: 100PX;
  }

  &-logo{
    text-align: center;
    padding: 20px 0px;
    background-color: $shop_logo_bg;
    border-radius: 5px 5px 0 0;
    height: 66px;
    box-sizing: content-box;

    &_link{
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      display: inline-block;

      &-img{
        max-width: 130px;
        @include media($phones) {
          max-width: 100%;

        }
      }
    }
  }

  &_header{
    padding: 0 5px;
    display: flex;
    text-align: center;
    height: 82px;
    overflow: hidden;
    text-decoration: none;

    span{
      font-weight: 700;
      font-size: 15px;
      color: $shop_name_color;
      margin: auto;
      max-width: 155px;
      @include media($phones) {
        max-width: 100%;
      }

    }
    &-goto-agree {
      margin: 0 auto;
      text-align: center;
      &-label {
        cursor: pointer;
      }
      &-checkbox {
        cursor: pointer;
      }

    }

  }

  &-cashback {
    &-link {
      //display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: auto;
      margin: auto auto 0;
      text-transform: uppercase;
      padding: 5px;
      background: $shop_cashback_link_bg;
      font-size: 15px;
      font-weight: 400;
      color: $shop_cashback_link_color;
      line-height: 20px;
      text-decoration: none;
      border-radius: 0 0 5px 5px;

      &_cashback{
        display: flex;
        align-items: center;
        margin-left: 3px;
        word-spacing: 1px;
        font-weight: bold;

        &_old {
          display: flex;
          align-items: center;
          margin-left: 3px;
          font-weight: bold;
        }
      }


      &:hover {
        color: $shop_cashback_link_color;
      }

      &_action{
        background: $shop_cashback_link_action;
        color: $shop_cashback_link_bg;

        &:hover{
          color: $shop_cashback_link_bg;
        }
      }

      .currency-icon {
        width: 12px;
        height: 12px;
        color: $shop_cashback_link_color;
        fill: $shop_cashback_link_color;
        stroke: $shop_cashback_link_color;
        margin-left: 1px;
      }
    }

    &_old{
      text-decoration: line-through;
      color: rgba($shop_cashback_old_color,0.7);
    }

  }

  &_panel{
    text-align: right;
    padding: 5px;
    background: $shop_panel_bg;
    line-height: 16px;
    height: 16px;
    box-sizing: content-box;

    &-item{
      color: $shop_cashback_link_color;
      fill: $shop_cashback_link_color;
      stroke: $shop_cashback_link_color;
      text-decoration: none;
      stroke-width: 3px;
      border: none;

      &_icon{
        height: 16px;
        width: 16px;
        display: inline-block;
        vertical-align: bottom;
        stroke-width: 4px;

        &-star{
          stroke-width: 1px;
        }
      }

      span{
        font-size: 10PX;
        margin-left: -3px;
        vertical-align: bottom;
        line-height: 5px;
        font-family: sans-serif;
        stroke-width: 0;
        fill: none;
        stroke: none;
      }
    }
  }

  &-empty{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background: transparent;

    &:hover{
      box-shadow:none;
    }
  }

  &_promo-label {
    height: 77px;
    width: 75px;
    display: block;
    position: absolute;
    top: -6px;
    left: -5px;

    &_x2 {
      background: url("/images/x2-label.png") no-repeat;
    }
  }

  &-heart-red{
    height: 17px;
    width: 17px;
    margin-top: -3px;
    margin-bottom: -3px;
  }


  /*карточка шопа*/
  &_header_big{
    background-size: cover;
    background: url(/images/templates/polygonal-bg.jpg) repeat-x center 100% #999;
    color: $shop_header_color;

    &-info_line{
      @include media($tablets) {
        margin-bottom: 30px;
      }
    }

    &-share{
      .footer-share-text{
        margin-top: 12px;

        @include media_min($tablets - 1) {
          color: $footer_link_color;
        }
      }
    }

    &-question_icon {
      width: 20px;
      height: 20px;
      color: $footer_link_color;
      fill: $footer_link_color;
      stroke: $footer_link_color;
      display: inline;
      vertical-align: bottom;

      @include media($tablets) {
        color: $text_color;
        fill: $text_color;
        stroke: $text_color;
      }
    }

    @include media($tablets) {
      background: none;
      color: $text_color;

      &-accordion {
        order: 2;
        //margin-top: 30px;
      }
    }

    .cashback{
      .old{
        //font-size: 30px;
        text-decoration: line-through;
        color: $text_color;
      }

      span {
        color: $text_color;
        //font-size: 35px;
        font-weight: 600;
      }
    }

    @include media_min($tablets - 1) {
      &-accordion {
        margin-bottom: 35px;

        .currency-icon {
          width: 16px;
          height: 16px;
        }

        & .accordion-control {
          z-index: 9;
          position: relative;
          text-align: center;
          display: block !important;

          &:after{
            display: none;
          }
        }

        .accordion-content{
          display: block !important;
          padding: 0 !important;
          border-width: 0px !important;
          color: #fff;
          max-height: 0px;
          height: 60px!important;
          z-index: 9;
          position: absolute;
        }

        &.open{
          //position: absolute;

          .accordion-control{
            //padding: 5px !important;
            color: $text_color;
            background: $footer_link_color;
          }

          .accordion-content{
            border-width: 0px !important;
            color: $text_color;
            max-height: none;
            height: auto!important;
            padding: 5px !important;
            background: #fff;
            margin-bottom: 0!important;

            .accordion-control{
              text-align: right;
              background: #fff;
              padding: 0!important;
            }
          }

          &:before{
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(#000,0.5);
            z-index: 9;
          }
        }
      }
    }

    &-header{
      margin: 0;
      text-align: center;
      padding: 40px 0 40px 0;

      @include media($tablets) {
        background: $header_border_color;
        color: #fff;
        margin-bottom: -2px;
        padding-bottom: 40px;
      }
    }

    &-wrap{
      display: flex;
      justify-content: space-around;

      @include media($tablets) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }

    .currency-icon {
      width: 22px;
      height: 22px;
      color: $shop_cashback_link_color;
      fill: $shop_cashback_link_color;
      stroke: $shop_cashback_link_color;
      margin-left: 1px;
      vertical-align: middle;
      margin-bottom: 4px;
    }

    &-item{
      width: 33%;
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: center;

      @include media($tablets) {
        width: 100%;
      }

      &_ticket{
        text-align: center;

        a{
          color: $header_heart;

          &:hover{
            color: $placeholder_color;
          }
        }

        &-wrap{
          overflow: hidden;
          width: 270px;
          margin: 0 auto;
          color: #fff;

          @include media($tablets) {
            margin-top: 20px;
          }
        }

        &-up{
          border: 1px solid #fff;
          position: relative;
          border-bottom-style: dashed!important;
          margin-bottom: 0!important;
          background: #f7c714;
          border-radius: 10px 10px 0 0!important;
          border-bottom-width: 2px!important;
          border-bottom-color: #3f4042!important;

          &:before{
            content: "";
            position: absolute;
            left: -12PX;
            bottom: -11PX;
            height: 20PX;
            width: 20PX;
            border-radius: 100%;
            border: 1px solid #fff;
            background: #3a3a3c;

            @include media($tablets){
              background: #fff;
            }
          }

          &:after{
            content: "";
            position: absolute;
            right: -12PX;
            bottom: -11PX;
            height: 20PX;
            width: 20PX;
            border-radius: 100%;
            border: 1px solid #fff;
            background: #3e3f41;

            @include media($tablets){
              background: #fff;
            }
          }
        }

        &-down{
          border: 1px solid #fff;
          border-top: none;
          padding: 10px 10px 10px 10px;
          background: #f7c714;
          border-radius: 0 0 10px 10px;
          color: $header_heart;
        }
      }

      &-head{
        font-size: 26px;
        text-align: center;
        font-weight: 600;
        //padding-bottom: 10px;
        margin-top: 15px;
        height: 50PX;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 12px;

        @include media_min($tablets - 1) {
          border-bottom: 1px solid;
        }

        &.cashback {
          @include media($tablets) {
            margin-top: 0;
          }
        }
      }

      &-body{
        @include media_min($tablets - 1) {
          color: $footer_link_color;
        }

        @include media($tablets) {
          display: flex;
          flex-direction: column;
          margin-bottom: 1PX;
        }
      }

      &-logo{
        border-radius: 100%;
        width: 215PX;
        height: 215PX;
        margin-bottom: -20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        box-sizing: border-box;
        background: #fff;
        margin-top: 15px;

        @include media($tablets) {
          margin-top: -20px;
        }

        &_box{
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: center;
          font-size: 14px;

          @include media($tablets) {
            background: $header_border_color;
            order: -1;
          }
        }
      }

    }

    &-end{
      background: #fff;
      text-align: center;
      padding: 20px;
    }
  }

  &-calc-cashback {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;

    label{
      vertical-align: middle;
      display: inline-block;
      line-height: 31px;
    }

    &_wrap {
      display: flex;
      flex-direction: column;
    }

    &_content {
      background-color: $shop_calculate_cashback_background_color;
      border: 2px solid #ccc;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      padding: 20px;

      .old_price{
        font-weight: normal;
        text-decoration: line-through;
      }

      
      &-form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto ;
        margin-bottom: 10px;

        label {
          margin-right: 10px;
          font-weight: bold;
        }

        input {
          width: 50px;
        }
      }

      &-result{
        &-store {
          font-weight: bold;
          //margin-right: 5px;
          //margin-left: 5px;
        }

        &-value {
          font-weight: 700;
          //margin-right: 5px;
          //margin-left: 5px;
        }
      }

      &-header {
        margin: 10px 0 10px;
      }

      &-description{
        margin-top: 16px;
        font-size: 13px;
        color: $search_item_cashback_color;
      }
    }


  }
  &_information {
    margin-bottom: 38px;

    @include media($tablets) {
      margin: 0;
    }

    &-border {
      background: #fafafa;
      padding: 10px;
      border: 1px solid #bbb;
      @include media($tablets) {
        background: inherit;
        padding: 0;
        border: none;
      }
    }

    h2 {
      margin-top: 0;
    }
  }

  &-howgetcashback{
    //background: url(/images/60-01.svg) 50% 50% no-repeat;
    width: 100%;
    height: 60px;
    /*display: block;
    margin-top: 10px;
    margin-bottom: 10px;*/
  }

  &-comments {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &-tracker {
    &_example {
      color: #f00;
    }
  }
}