.social-icon{
  &-color {
    &-vk {
      background-image: url(/images/socialicons/vk.png);
    }
    &-ok {
      background-image: url(/images/socialicons/ok.png);
    }
    &-fb {
      background-image: url(/images/socialicons/fb.png);
    }
    &-g {
      background-image: url(/images/socialicons/g.png);
    }
  }
}

.social-btn{
  margin-top: 20px;
  display: inline-block;
  height: 26px;
  padding: 3px 10px;
  line-height: 26px;
  font-size: 16px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;

  &-logo{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin: 3px 10px 3px 0;
  }

  &-vk{
    background-color: #51749c;
    color: #fff;
    letter-spacing: 1px;

    &:hover{
      color: #fff;
      fill: none;
      stroke: none;
    }
  }

  &-fb{
    background-color: #f5f6f8;
    color: black;

    &:hover{
      color: black;
      fill: none;
      stroke: none;
    }
  }
  &-g{
    position: relative;
    color: black;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    text-align: left;
    font-size: 16px;
    margin-right: 60px;

    &:after{
      content: "+1";
      position: absolute;
      display: block;
      right: -44px;
      top: 0;
      height: 31px;
      border: 1px solid #e9e9e9;
      background-color: #fff;
      width: 32px;  text-align: center;
      line-height: 29px;
      font-family: sans-serif;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &-ok{
    background-color: white;
    color: #ea7729;
    font-weight: 600;
    letter-spacing: 1px;
  }
}