.static-page {



  &_dopline {
    margin-bottom: -47px;

    @media print {
      margin-bottom: 0;
      page-break-inside: avoid;
    }

  }

  .mail-ru {
    position: relative;

    &_image {
      background-image: url(https://secretdiscounter.ru/img/bonus.mail.ru/secretdiscounter-mailbonus.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;

      position: absolute;
      width: 100%;
      height: 520PX;
      top: -278PX;
      z-index: -100;
      border-radius: 5px;
      overflow: hidden;
    }

    h2.white {
      color: #fff;
      margin-top: 50px;
      margin-bottom: 200px;

      @include media($tablets) {
        margin-top: 210PX;
      }
      @include media($phones) {
        margin-top: 140PX;
      }
    }
  }
  .plugin {
    position: relative;


    &_image {

      &-wrap {
        position: absolute;
        width: 100%;
        height: 520PX;
        top: -270PX;
        z-index: -100;
        border-radius: 5px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 3px;
        background-color: #f8f8f8;
      }
      background-image: url(https://secretdiscounter.ru/img/plugin/ru/secretdiscounter-plugin-fon-2-1170.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-sizing: border-box;
      height: 100%;
    }

    h2.white {
      color: #fff;
      margin-top: 73PX;
      margin-bottom: 125PX;

      @include media($laptop-min) {
        margin-top: 90px;
        margin-bottom: 60PX;
      }

      @include media($tablets) {
        margin-top: 95PX;
        margin-bottom: 60PX;
      }
      @include media($phones) {
        margin-top: 67PX;
        margin-bottom: 5px;
      }
    }
    .gray-box {
      padding: 10px;
      border-radius: 10px;
    }
    &-links {
      a:not(:last-child) {
        margin-right: 20px;
      }
    }


    &-browsers {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      @include media ($phones) {
        flex-direction: column;
      }

      &-wrap {
        margin: 0 0 10px;
        padding: 3px;
        background-color: #f8f8f8;
        border-radius: 5px;

        &-in {
          padding: 10px 0 15px;
          background: #fff;
          margin: 0;
          border: 1px solid #ddd;
          border-radius: 5px;

          h2 {
            margin-top: 10px;
          }
        }
        &-no-top {
          padding: 0 3px 3px;
          border-radius: 0 0 5px;
          &-in {
            border-top: none;
            border-radius: 0 0 5px;
          }
        }

      }
      &-image {
        width: 100%!important;
      }
    }
    &-browsers-download {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      @include media($tablets) {
        flex-wrap: wrap;
      }
      @include media ($phones) {
        flex-direction: column;
      }

    }
    &-browser {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      svg {
        width: 40px;
        height: 40px;
        margin: 10px;
      }
      &-safari {
        svg{
          width: 44px;
          height: 44px;
          margin: 8px;
        }
      }
      @include media($tablets) {
        width: 33%;
        margin-bottom: 10px;
      }
      @include media($phones) {
        width: 100%;
      }
    }
    &-browser-download {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;
      box-sizing: border-box;

      svg {
        width: 40px;
        height: 40px;
        margin: 10px;
      }
      &-safari {
        svg{
          width: 44px;
          height: 44px;
          margin: 8px;
        }
      }
      @include media($tablets) {
        width: 30%;
        margin-bottom: 10px;
      }
      @include media($phones) {
        width: 100%;
      }

    }
    &-howitworks {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      padding: 10px 0 15px;
      background: #fff;
      margin: 0;
      border: 1px solid #ddd;
      border-radius: 5px;

      @include media ($tablets) {
        flex-wrap: wrap;
      }
      @include media ($phones) {
        flex-direction: column;
        align-items: center;
      }


    }
    &-howitworks-wrap {
      padding: 3px;
      margin: 0;
      background: #f8f8f8;
      border-radius: 5px;
    }

    &-howitworks-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 25%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      min-height: 180px;
      @include media($tablets) {
        width: 45%;
        margin-bottom: 30px;
      }
      @include media($phones) {
        width: 80%;
      }

      &-text {
        font-size: 16px;
        font-weight: bold;
        min-height: 60px;
        text-align: center;
      }

      &-number {
        margin: 10px 0;
        background-color: $btn_base_bg;
        color: $btn_base_color;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 45PX;
        height: 45PX;
        font-size: 22PX;
        font-weight: bold;
        border-radius: 50%;
        position: relative;
        text-align: center;

        &:before {
          content: " ";
          display: block;
          width: 2000%;
          left: -1000%;
          height: 3px;
          background-color:  $btn_base_bg;
          position: absolute;
        }
        span {
          display: block;
          margin: auto;
          z-index: 100;
        }


      }
      svg {
        width: 50px;
        height: 50px;
        fill: $btn_base_bg;
        stroke: $btn_base_bg;
        color: $btn_base_bg;
        stroke-width: 0;
      }
    }
    &-google-screen {
      text-align: center;
    }
  }

  h1.white {
    color: #fff;
    margin-top: 180px;
  }
  h1.plugin-white {
    color: #fff;
    margin-top: 145PX;
  }
}