.static-page {

  h1, h2{
    font-weight: $font_weight_content_header;
  }

  &_background-image {
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;

    &-in {
      border: 1px solid #eee;
      border-radius: 5px 5px;
      height: 500px;
      background-size: cover;
      background-position: 50%;
      box-sizing: border-box;
      background-color: #fff;
      background-repeat: no-repeat;

    }

    h1 {
      color: #fff;
      margin-top: 145px;

      @include media($tablets) {
        margin-top: 100px;
      }
      @include media($phones) {
        margin-top: 30px;
      }
    }

    h2 {
      color: #fff;
      margin-top: 100px;

      @include media($tablets) {
        margin-top: 60px;
      }
      @include media($phones) {
        margin-top: 30px;
      }
    }

    &-plugin {
      border-radius: 5px 5px 0 0;
      padding: 3px 3px 0 3px;
      background-color: #f8f8f8;


      .static-page_background-image-in {
        height: 540px;
        border: 1px solid #ddd;
        border-radius: 5px 5px 0 0;
        border-bottom: none;

        @include media($phones) {
          height: 600px;
        }
      }
    }
  }


  &_dopline {
    margin-bottom: -47px;

    @media print {
      margin-bottom: 0;
      page-break-inside: avoid;
    }

  }

  .plugin {

    .gray-box {
      padding: 10px;
      border-radius: 10px;
    }
    &-links {
      a:not(:last-child) {
        margin-right: 20px;
      }
    }


    &-browsers {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      @include media ($phones) {
        flex-direction: column;
      }

      &-wrap {
        margin: 0 0 10px;
        padding: 3px;
        background-color: #f8f8f8;
        border-radius: 5px;

        &-in {
          padding: 10px 0 15px;
          background: #fff;
          margin: 0;
          border: 1px solid #ddd;
          border-radius: 5px;

          h2 {
            margin-top: 10px;
          }
        }
        &-no-top {
          padding: 0 3px 3px;
          border-radius: 0 0 5px;
          &-in {
            border-top: none;
            border-radius: 0 0 5px;
          }
        }

      }
      &-image {
        width: 100%!important;
      }
    }
    &-browsers-download {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      @include media($tablets) {
        flex-wrap: wrap;
      }
      @include media ($phones) {
        flex-direction: column;
      }

    }
    &-browser {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      svg {
        width: 40px;
        height: 40px;
        margin: 10px;
      }
      &-safari {
        svg{
          width: 44px;
          height: 44px;
          margin: 8px;
        }
        &:hover {
          svg{
            width: 50px !important;
            height: 50px !important;
            margin: 5px !important;
          }
        }
      }
      @include media($tablets) {
        width: 33%;
        margin-bottom: 10px;
      }
      @include media($phones) {
        width: 100%;
      }
      &:hover {

        svg {
          width: 46px;
          height: 46px;
          margin: 7px;
        }
      }
    }
    &-browser-download {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;
      box-sizing: border-box;

      svg {
        width: 40px;
        height: 40px;
        margin: 10px;
      }
      &-safari {
        svg{
          width: 44px;
          height: 44px;
          margin: 8px;
        }
        &:hover {

          svg{
            width: 50px !important;
            height: 50px !important;
            margin: 5px !important;
          }
        }
      }
      @include media($tablets) {
        width: 30%;
        margin-bottom: 10px;
      }
      @include media($phones) {
        width: 100%;
      }

      &:hover {
        svg {
          width: 46px;
          height: 46px;
          margin: 7px;
        }
      }

    }
    &-howitworks {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      padding: 10px 0 15px;
      background: #fff;
      margin: 0;
      border: 1px solid #ddd;
      border-radius: 5px;

      @include media ($tablets) {
        flex-wrap: wrap;
      }
      @include media ($phones) {
        flex-direction: column;
        align-items: center;
      }


    }
    &-howitworks-wrap {
      padding: 3px;
      margin: 0;
      background: #f8f8f8;
      border-radius: 5px;
    }

    &-howitworks-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 25%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      min-height: 180px;
      @include media($tablets) {
        width: 45%;
        margin-bottom: 30px;
      }
      @include media($phones) {
        width: 80%;
      }

      &-text {
        font-size: 16px;
        font-weight: bold;
        min-height: 60px;
        text-align: center;
      }

      &-number {
        margin: 10px 0;
        background-color: $btn_base_bg;
        color: $btn_base_color;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 45PX;
        height: 45PX;
        font-size: 22PX;
        font-weight: bold;
        border-radius: 50%;
        position: relative;
        text-align: center;

        &:before {
          content: " ";
          display: block;
          width: 2000%;
          left: -1000%;
          height: 3px;
          background-color:  $btn_base_bg;
          position: absolute;
        }
        span {
          display: block;
          margin: auto;
          z-index: 100;
        }


      }
      svg {
        width: 50px;
        height: 50px;
        fill: $btn_base_bg;
        stroke: $btn_base_bg;
        color: $btn_base_bg;
        stroke-width: 0;
      }
    }
    &-google-screen {
      text-align: center;
    }
  }

  h1.white {
    color: #fff;
  }
}