.store-points {
  &__info {
    width: 90%;
    margin: 0 5% 20px 5%;
    text-align: center;
    padding: 0;
  }

  &__point-selects {
    margin: 60px 0 20px;
    //.select2-selection.select2-selection--single {
    //  width: 100%;
    //}
    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;

      @include media($tablets) {
        flex-direction: column;
      }
      .form-group {
        width: 400px;
        margin-bottom: 0;
        @include media($tablets) {
          width:100%;
        }
      }
      &-label {
        width: 200px;
        text-align: right;
        @include media($tablets) {
          width: auto;
          text-align: center;
          margin-bottom: 10px;
        }
      }

    }
    &-select {

      &-hidden {
        display: none;
      }
    }
  }

  &__points {
    padding: 0;

    &_table {
      width: 100%;
      th,
      td {
        padding: 5px;
        text-align: center;
      }

    }
    &_row {

      &-hidden {
        display: none !important;
      }
      &-phones {
        //margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @include media($tablets) {
          justify-content: flex-start;
        }

        &-item {
          margin-right:  5px;
          margin-left:  5px;
          display: flex;
          align-items: center;
        }

        .mobile_operator_logo {
          max-width: 20px;
        }
      }

    }
    &-hidden {
      display: none;
    }
  }

  &__store_time {
    list-style-type: none;
    margin: 0;
    padding: 0;

    span {
      color: red;
    }
  }

  &__map {
    width: 90%;
    margin: 0 5% 20px 5%;
    height: 600px;

    &-hidden {
      display: none;
    }
  }
}
