.stores-search {

  background: url("/images/templates/raspberries.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 300px;
  max-height: 50vh;
  display: flex;

  @include media($laptop_min){
    height: auto;
  }

  &_main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    justify-content: center;
    width: 100%;

    @include media($laptop_min) {
      background: rgba(#000000,0.08);
    }
  }

  &_wrap {
    margin: 0 auto;
    position: relative;
  }

  &_form {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 4px solid $search-form_form_border_color;
    border-radius: 4px;
    min-width: 320px;

    @include media($phones) {
      min-width: 90vw;
      box-sizing: border-box;
    }

    &-input {
      min-width: 320px;
      max-width: calc(100vw - 30px);
      padding: 10px;
      outline: none;
      color: $search-form_form_input_text_color;
      background-color: $search-form_form_input_color;
      border: none;
      border-right: thin solid $search-form_form_border_color;
      flex-grow: 2;

      @include media($tablets){
        min-width: inherit;
      }
    }

    &-button {
      border:none;
      text-align: center;
      //width: 40px;
      padding: 10px 20px;
      cursor: pointer;
      color: $search-form_text_color;
      background-color: $search-form_form_button_color;
      outline: none;

      @include media($phones) {
        padding: 10px 5%;
      }
    }
  }

  &_text {
    color: $search-form_text_color;
    text-align: center;
    font-size: 18px;

    &-header {
      font-size: 26px;
      margin-bottom: 10px;
    }

    p {
      margin: 0 auto 20px;
      font-size: 1.1em;
    }
  }

}