.stores-search {

  background: url("/images/templates/raspberries.jpg") no-repeat 50% 50%;
  background-size: 100%;
  &_main {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }
  &_wrap {
    margin: 0 auto;
    position: relative;
  }
  &_form {

    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 4px solid $search-form_form_border_color;
    border-radius: 4px;
    &-input {

      width:320px;
      padding: 10px;
      outline: none;
      color: $search-form_form_input_text_color;
      background-color: $search-form_form_input_color;
      border: none;
      border-right: thin solid $search-form_form_border_color;
    }
    &-button {

      border:none;
      text-align: center;
      //width: 40px;
      padding: 10px 20px;
      cursor: pointer;
      color: $search-form_text_color;
      background-color: $search-form_form_button_color;
    }
  }
  &_text {

    color: $search-form_text_color;
    text-align: center;
    font-size: 18px;
    &-header {
      font-size: 26px;
      margin-bottom: 10px;
    }
    p {
      margin: 0 auto 20px;
    }
  }

}