$tipso_border_color: #c5ccd6;
$tipso_bg_color: #fff;
$tipso_color: #434a54;
$tipso_shadow_color: rgba(15, 112, 155, .22);

/* Tipso Bubble Styles */
.tipso_bubble, .tipso_bubble > .tipso_arrow{
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}
.tipso_bubble {
  position: absolute;
  text-align: center;
  border-radius: 6px;
  z-index: 9999;
}
.tipso_style{
  cursor: help;
  border-bottom: 1px dotted;
}
.tipso_title {
  border-radius: 6px 6px 0 0;
}
.tipso_content {
  word-wrap: break-word;
  padding: 0.5em;
}

/* Tipso Bubble size classes - Similar to Foundation's syntax*/
.tipso_bubble.tiny {
  font-size: 0.6rem;
}
.tipso_bubble.small {
  font-size: 0.8rem;
}
.tipso_bubble.default {
  font-size: 1rem;
}
.tipso_bubble.large {
  font-size: 1.2rem;
  width: 100%;
}

/* Tipso Bubble Div */
.tipso_bubble > .tipso_arrow{
  position: absolute;
  width: 0; height: 0;
  border: 8px solid;
  pointer-events: none;
}
.tipso_bubble.top > .tipso_arrow {
  border-top-color: #000;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  top: 100%;
  left: 50%;
  margin-left: -8px;
}
.tipso_bubble.bottom > .tipso_arrow {
  border-bottom-color: #000;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
}
.tipso_bubble.left > .tipso_arrow {
  border-left-color: #000;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: 50%;
  left: 100%;
  margin-top: -8px;
}
.tipso_bubble.right > .tipso_arrow {
  border-right-color: #000;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: 50%;
  right: 100%;
  margin-top: -8px;
}

.tipso_bubble .top_right_corner,
.tipso_bubble.top_right_corner {
  border-bottom-left-radius: 0;
}

.tipso_bubble .bottom_right_corner,
.tipso_bubble.bottom_right_corner  {
  border-top-left-radius: 0;
}

.tipso_bubble .top_left_corner,
.tipso_bubble.top_left_corner {
  border-bottom-right-radius: 0;
}

.tipso_bubble .bottom_left_corner,
.tipso_bubble.bottom_left_corner  {
  border-top-right-radius: 0;
}




.tipso {
  &_bubble {
    max-width: 200px;
    border: 1px solid $tipso_border_color;
    padding: 10px;
    box-shadow: 0 2px 15px $tipso_shadow_color;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 0;
    line-height: 19px;
    background-color: $tipso_bg_color;
    color: $tipso_color;

    &.hidden {
      display: none;
    }

    & > .tipso_arrow {
      border: 9.5PX solid;

      &:after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        border: 8PX solid;
        pointer-events: none;
      }
    }
    &.bottom .tipso_arrow {
      border-bottom-color: $tipso_border_color !important;

      &:after {
        border-bottom-color: $tipso_bg_color;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        bottom: -9.5PX;
        left: 50%;
        margin-left: -8PX;
      }
    }
    &.top .tipso_arrow {
      border-top-color: $tipso_border_color !important;

      &:after {
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: $tipso_bg_color;
        top: -9.5PX;
        left: 50%;
        margin-left: -8PX;
      }
    }
    &.left .tipso_arrow {
      border-left-color: $tipso_border_color !important;

      &:after {
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: $tipso_bg_color;
        border-top-color: transparent;
        left: -9.5PX;
        top: 50%;
        margin-top: -8PX;
      }
    }
    &.right .tipso_arrow {
      border-right-color: $tipso_border_color !important;

      &:after {
        border-bottom-color: transparent;
        border-right-color: $tipso_bg_color;
        border-left-color: transparent;
        border-top-color: transparent;
        right: -9.5PX;
        top: 50%;
        margin-top: -8PX;
      }
    }
  }

  &_title {
    display: none;
  }
  &_content {
    padding: 0;
  }
}
