.store-reviews {
  &-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    @include media($laptop-min) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    &-item {
      box-sizing: border-box;
      //&:not(:last-child) {
      //  margin-bottom: 30px;
      //}
      padding: 0 1.5%;
      width: 50%;
      @include media($laptop-min) {
        width: 100%;
      }
      &-more {
        display: none;
      }
      &_inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        &-logo {
          width: 40%;
        }
        &-text {
        }
      }

    }
  }
}