@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
  url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
  url('<%= fontPath %><%= fontName %>.woff') format('woff'),
  url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
  url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

i.<%= cssClass%>:before,
i[class*=<%= cssClass%>],
i[class^=<%= cssClass%>]
{
  font-family: "<%= fontName %>";
  speak: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-decoration: none;
  text-transform: none;
}

&.intro{
  i.<%= cssClass%>:before,
  i[class*=<%= cssClass%>] {
    font-size: 90px;
    color: #e6ae03;
    font-weight: normal;
  }
}

<% _.forEach(glyphs, function(glyph) { %>
i.<%= cssClass%>-<%- glyph.name %>:before{
  content: '\<%- glyph.unicode %>';
}
<% }); %>