<div class="current-comment" data-comment-id="{{review.uid}}">
    <div class="col-sm-12 col-md-4 logo">
        {% if review.photo %}
            <div class="comment-photo" style="background-image:url({{review.photo}})"></div>
        {% else %}
            {% if review.sex == 'm' or review.sex == '' %}
            <span data-icon="&#xe040;" class="icon"></span>
            {% elseif review.sex == 'f' %}
            <span data-icon="&#xe041;" class="icon"></span>
            {% endif %}
        {% endif %}
        <p class="name">
            {% if review.name %}
                {{review.name}}
            {% else %}
                {{review.email}}
            {% endif %}
        </p>
        <p class="rating">
            {% for i in range(1, review.rating) %}
            <span class="fa fa-star"></span>
            {% endfor %}

            {% set estar =  5 - review.rating %}
            {% if estar != 0 %}
                {% for i in range(1, estar) %}
                <span class="fa fa-star-o"></span>
                {% endfor %}
            {% endif %}                   
        </p>
    </div>
    <div class="col-sm-12 col-md-8 text">
        <p class="title">{{review.title}}</p>
        <p class="date">{{review.added}}</p>
        <p class="comment">{{review.text}}</p>
    </div>
</div>