<div class="col-sm-12 catalog-dropdown-select">
    <div class="dropdown-select">
        <ul>
            <li class="drop">
                <a href="#show">Показывать по {{limit}}</a>
                <span class="icon-reorder"><span class="fa fa-bars"></span></span>
                <div class="triangle"></div>
                <div class="dropdownContain">
                    <div class="dropOut">
                        <ul>
                            {% for limitlink in limitlinks%}
                                <li><a href="{{limitlink.link}}"><span class="fa fa-caret-right"></span>{{limitlink.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>