#roxyCustomPanel2.open{position: fixed;height: 100vh;width: 100vw;top: 0;left: 0;background: rgba(0, 0, 0, 0.62);display: flex;z-index: 99999;}
#roxyCustomPanel2{display:none;}
#roxyCustomPanel2>div{
  max-width: 900px;
  max-height: 90vh;
  margin: auto;
  height: 100%;
  width: 100%;
  position: relative;
}

#roxyCustomPanel2 .close{background: #fff;border: 2px solid;border-radius: 100%;padding: 3px 5px;position: absolute;right: -15px;top: -15px;cursor: pointer;}
#roxyCustomPanel2 .close:before{
  content:'X'
}
.select_img input{width: calc(100% - 40px);}
.select_img{}