{% set title = 'Главная' %}
{{ set(this, 'title', title) }}
<div class="site-index">

    <div class="">
        <h1>Стартовая страница</h1>
    </div>

    <div class="body-content">

        <div class="row">

        </div>

    </div>
</div>