{% for key, item in app.params.outstand_cpa if item.route == store.route and item.file_loader %}

            <p class="title">Загрузка данных CPA из файла</p>

            {% set form = active_form_begin({'options' : {'enctype' : 'multipart/form-data'}, 'action': '/admin/stores/outstandcpa'}) %}

                {{ form.field(fileimport, 'store').hiddenInput({value: store.uid}).label(false)|raw }}

                {{ form.field(fileimport, 'cpa').hiddenInput({value: key}).label(false)|raw }}


                {{ form.field(fileimport, 'file').fileInput().label(false)|raw }}

                <button type="submit" class="btn btn-primary">Загрузить</button>

            {{ active_form_end() }}
{% endfor %}
