# yii console commands
yii_test
yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
/b2b/config/params-local.php
/common/config/params-local.php
/common/config/main-local.php
/common/config/start_param.php
/frontend/config/socials.php
/common/models/cookie.txt


/frontend/config/socials.php

/composer.lock

/node_modules

/common/config/db.php

/frontend/web/images/logo
/frontend/web/images/products
/frontend/web/images/product
/shop/web/images/product
/shop/web/images/logos
/shop/web/images/banners
/frontend/web/images/account/avatars
/frontend/web/img
/frontend/web/thumbs
/frontend/web/images/.htaccess

log/
logs/
/frontend/web/images/logos/
*.sql
*.lock
package-lock.json
/frontend/web/export
/frontend/web/images/account/funds/
/frontend/web/images/banners/
/frontend/web/js/stores_list.json
/frontend/web/sitemap/*
/frontend/config/params-local.php
/api/config/start-params.php
/go/config/params-local.php
/go/config/start-params.php
/api/config/params-local.php
/console/config/params-local.php

*-local.php
*.lock
common/config/socials.php

*.zip

debug
/common/config/json/*
runtime
socials_yii.php
manifest.appcache