# yii console commands
yii_test
yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
/common/config/params-local.php
/common/config/main-local.php
/common/config/start_param.php
/frontend/config/socials.php

/frontend/config/socials.php

/composer.lock

/node_modules

/common/config/db.php

/frontend/web/images/logo
/frontend/web/images/account/avatars
/frontend/web/img
/frontend/web/thumbs

log/
/frontend/web/images/logos/
*.sql
*.lock
package-lock.json
/frontend/web/export
/frontend/web/images/account/funds/
/frontend/web/images/banners/
/frontend/web/js/stores_list.json
/frontend/config/params-local.php
*-local.php
*.lock
