<div class="account-menu hidden">
    <div class="account-menu_inner">
        <div class="account-menu_header">{{ this.user.name }}</div>
        <ul>
            <li><a href="/account">Мой кабинет</a></li>
            <li><a href="/account">Покупки и финансы</a></li>
            <li><a href="/account">Оффлайн кэшбэк</a></li>
            <li><a href="/account">Вывод средств</a></li>
            <li><a href="/account">Приведи друга</a></li>
            <li class="account-menu_last-item"><a href="/account">Настройки аккаунта</a></li>
            <li><a href="/account">Помощь</a></li>
            <li><a href="#logout">Выход</a></li>
        </ul>
    </div>
</div>