<div class="account-menu hidden">
    <div class="account-menu_inner">
        <div class="account-menu_header">
            <div class="account-menu_header-avatar">
                <div class="account-menu_header-avatar-image">
                <img src="{{ user_avatar }}" alt="{{ this.user.name }}">
                </div>
            </div>
            <div class="account-menu_header-info">
                <div class="account-menu_header-info-name">
                    {{ this.user.name }}
                </div>
                <div class="account-menu_header-info-id">
                    ID:{{ this.user.uid }}
                </div>
            </div>
        </div>

        {% set header = 1 %}

        {% include 'parts/account/account_left_menu.twig' %}

    </div>
</div>