<section class="margin">
  <div class="page-wrap">
    {% if additional_stores_category %}
      <h2>Популярные магазины из раздела
        <a href="/stores/{{additional_stores_category.route}}">
          {{ additional_stores_category.name }} с&nbsp;кэшбэком
        </a>
      </h2>
    {% else %}
      <h2>Популярные магазины из&nbsp;<a href="/stores">нашего каталога</a></h2>
    {% endif %}
    <div class="shops">
      {% for store in additional_stores %}
        {% include 'parts/shop.twig' %}
      {% endfor %}
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
    </div>
    <div class="align-center">
      <a href="/stores" class="btn btn-transform">Все магазины с кэшбэком</a>
    </div>
  </div>
</section>