{% if app.controller.params['breadcrumbs']  %}
    <section class=" page-wrap ">
        <div class="breadcrumbs breadcumbs_catalog">
            {{ use('yii\\widgets\\Breadcrumbs') }}
            {{ breadcrumbs_widget({
                'links': app.controller.params['breadcrumbs'],
                'options': {'class': 'breadcrumbs_list catalog'}
            }) }}
        </div>
    </section>
{% endif %}