<section class="margin">
    <div class="stores-search stores_search">
        <div class="page-wrap stores-search_main">
            <div class="stores-search_text">
                {{ _constant('stores-search-module-text')|raw }}
            </div>
            <div class="stores-search_wrap">
                <form action="/search/coupon" method="get" class="stores-search_form">
                    <input type="hidden" name="limit" value="30">
                    <input type="text" name="query" class="stores-search_form-input search-form-input btn-min_width80" placeholder="Введите название магазина" autocomplete="off">
                    <button type="submit" class="stores-search_form-button">Найти</button>
                </form>
                <div class="stores-search_autocomplete autocomplete-wrap">
                    <ul class="autocomplete_list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>