<section class="store-intro intro section-padding" id="howgetcashback">
    <div class="container">
        <div class="row">
            <h3>
                {% if infotitle %}
                    {{ infotitle }}
                {% else %}
                    Как получить кэшбэк в этом магазине?
                {% endif %}
            </h3>
            <div class="col-md-4 intro-feature not_arrow">
                <i class="sd_icon-user_card intro "></i>
                <div class="intro-content {% if user_id %}through{% endif %}">
                    <h5>Регистрируйтесь на сайте</h5>
                    <p>Пройдите {% if not user_id %}<a href="#registration" class="ignore-hash">простую регистрацию</a>{% else %} простую регистрацию {% endif %} в кэшбэк-сервисе SecretDiscounter.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <i class="sd_icon-chart_click intro"></i>
                <div class="intro-content">
                    <h5>Перейдите в магазин</h5>
                    <p>Нажмите кнопку <a href="#gotostore">"Перейти к покупкам"</a>
                        и сделайте заказ на сайте.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <i class="sd_icon-save_money intro"></i>
                <div class="intro-content last">
                    <h5>Получите деньги</h5>
                    <p>Кэшбэк за заказ автоматически зачислится на
                        {% if user_id %}
                            <a href="/account">ваш счёт</a>
                        {% else %}
                            ваш счёт
                        {% endif %}
                        в SecretDiscounter.</p>
                </div>
            </div>
        </div>
    </div>
</section>