<section class="store-intro intro section-padding" id="howgetcashback">
    <div class="container">
        <div class="row">
            <h3 class="no_print">
                {% if infotitle %}
                    {{ infotitle }}
                {% else %}
                    Как получить кэшбэк в оффлайне?
                {% endif %}
            </h3>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe00c;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>ВЫБИРАЕТЕ МАГАЗИН</h5>
                    <p>Приходите в нужный магазин, ресторан, химчистку, страховую компанию или любое другое заведение из <a href="https://secretdiscounter.ru/stores/offline">нашего каталога</a>, выбираете товар.
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe027;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>ПРЕДЪЯВЛЯЕТЕ СКИДКУ</h5>
                    <p>Перед оплатой товара сообщаете кассиру или менеджеру, что у вас скидка от SecretDiscounter, показываете ему свой <a href="{{ _if(user_id,"/account/offline","/offline-system") }}">индивидуальный штрихкод</a>.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe016;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>ДОЖИДАЕТЕСЬ ПОДТВЕРЖДЕНИЯ</h5>
                    <p>
                        Кассир сканирует ваш штрихкод, вводит сумму покупки
                        и номер чека и показывает вам всплывающее окно об успешной операции.
                        Вскоре после этого кэшбэк отобразится в вашем
                        <a href="/account">Личном кабинете</a> в SecretDiscounter.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>