<div class="catalog-stores_switcher">
    <ul class="catalog-stores_switcher-list">
        <li class="catalog-stores_switcher-item">
            <a href="" class="catalog-stores_switcher-item-button catalog-stores_switcher-item-button-type-list checked">W</a>
        </li>
        <li class="catalog-stores_switcher-item">
            <a href="" class="catalog-stores_switcher-item-button catalog-stores_switcher-item-button-type-narrow">N</a>
        </li>
    </ul>
</div>