<!-- SendPulse Form -->
<div class="sp-form-outer catalog-categories_popular-stores">
  <div id="sp-form-92106" sp-id="92106" sp-hash="004e752bf86ff8e2546bada9eddf4ac11da1bae8e667e30da0e5472f1222f355" sp-lang="ru" class="sp-form sp-form-regular sp-form-embed sp-form-horizontal" sp-show-options="%7B%22satellite%22%3Afalse%2C%22maDomain%22%3A%22login.sendpulse.com%22%2C%22formsDomain%22%3A%22forms.sendpulse.com%22%2C%22condition%22%3A%22onEnter%22%2C%22scrollTo%22%3A25%2C%22delay%22%3A10%2C%22repeat%22%3A3%2C%22background%22%3A%22rgba(0%2C%200%2C%200%2C%200.5)%22%2C%22position%22%3A%22bottom-right%22%2C%22animation%22%3A%22%22%2C%22hideOnMobile%22%3Afalse%2C%22urlFilter%22%3Afalse%2C%22urlFilterConditions%22%3A%5B%7B%22force%22%3A%22hide%22%2C%22clause%22%3A%22contains%22%2C%22token%22%3A%22%22%7D%5D%7D">
    <div class="sp-form-fields-wrapper show-grid">
      <div class="sp-message">
        <div></div>
      </div>
      <div class="sp-element-container sp-field-nolabel">
        <div class="sp-field full-width sp-012637be-7d61-48cf-bcc9-ad4e9c8f3a92-container sp-field-full-width" sp-id="sp-012637be-7d61-48cf-bcc9-ad4e9c8f3a92">
        </div>
        <div class="sp-field sp-field-full-width" sp-id="sp-21cb8083-fb5c-49d1-a959-029a59c58216">
          <div>
            <div class="sp-img"></div>
            <p class="align-center"><strong>Хотите первыми узнавать о скидках? Раз в неделю мы отправляем дайджест с самыми популярными промокодами и акциями.</strong></p>
          </div>
        </div>
        <div class="sp-full-width flex-line flex-wrap flex-stretch">
          <div class="sp-field flex-grow_3 sp-form-control-wrap" sp-id="sp-f543e96d-cdf8-46d5-be44-651e30b1eb82">
            <label class="sp-control-label">
              <span >E-mail</span><strong >*</strong>
            </label>
            <input type="email" sp-type="email" name="sform[email]" class="sp-form-control " placeholder="Ваш e-mail" sp-tips="%7B%22required%22%3A%22%D0%9E%D0%B1%D1%8F%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%BF%D0%BE%D0%BB%D0%B5%22%2C%22wrong%22%3A%22%D0%9D%D0%B5%D0%B2%D0%B5%D1%80%D0%BD%D1%8B%D0%B9%20email-%D0%B0%D0%B4%D1%80%D0%B5%D1%81%22%7D" required="required">
          </div>
          <button id="sp-7fb4c6f6-0199-4b5c-b891-63e4394b0fb3" class="btn btn-mini flex-grow_2 sp-buttons">Подписаться </button>
        </div>
        <div class="sp-field sp-field-full-width" sp-id="sp-bcbf920f-2d2c-497a-9db2-fc06bab65a0e">
          <p class="slim-text">Подписываясь на рассылку, вы соглашаетесь с условиями нашей <a href="/privacy-policy" target="_blank" rel="noopener">Политики конфиденциальности</a></p>
        </div>
      </div>
      <div class="sp-link-wrapper sp-brandname__left"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//static-login.sendpulse.com/apps/fc3/build/default-handler.js?1516625904269"></script>
<!-- /SendPulse Form -->