<a href="#registration" rel="nofollow" class="btn-fill sign-up-btn">Присоединиться и начать экономить</a>

<p class="terms"><b>Или регистрируйтесь при помощи соцсетей:</b></p>
{{ use('frontend/components/socials/EauthWidget') }}
  {{ eauth_widget_widget() }}

<div class="sign-up-buttons"><a href="#login" class="btn ignore-hash">Я уже зарегистрирован</a></div>

<p class="terms">
    Регистрируясь, я соглашаюсь с <a href="/terms">Правилами</a>
</p>