<div class="share42init accauntSoc accauntSoc_32"
     data-url="https://secretdiscounter.ru?promo=platinum"
     data-image="https://secretdiscounter.ru/images/templates/woman_600.png"
     data-title="{{ html.encode(this.title) }}"
     data-description="{{ this.description }}">
</div>