{% if users_reviews %}
        <div class="catalog-categories_comments scroll_box">
            {% for review in users_reviews %}
                {% set not_admin_coment = true %}
                {% include 'parts/comment.twig' %}
            {% endfor %}
        </div>
        <div class="align-center">
            <a href="{{ _href('/reviews')|raw }}" class="btn btn-transform">{{ t('main', 'all_reviews')|raw }}</a>
        </div>
{% endif %}