<div class="content-wrapper">
    <section class="favorites account-padding">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ t('account', 'favorites') }}</h1>
            </div>
            {% if favorites|length > 0 %}


            <div class="shops col-md-12">
                {% for store in favorites %}
                    {% include 'parts/shop.twig' %}
                {% endfor %}
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
            </div>


            {% else %}
            <div class="col-md-12">
                <p>
                    {{ t('account', 'favorites_empty_text')|raw }}
                </p>
                <div class="not-found">{{ t('account', 'favorites_empty')|raw }}</div>
            </div>
            {% endif %}
        </div>
    </section>
</div>