<div class="content-wrapper">
    <section class="account-home">
        <div class="row">
            <div class="col-md-12">
                <div class="balance">

                </div>
            </div>
        </div>
    </section>
    <section class="shops favorites account-padding">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ t('account', 'favorites') }}</h3>
            </div>
            {% if favorites|length > 0 %}
            {% for store in favorites %}
            <div class="col-sm-3 col-md-2">
            {% include '/parts/shop.twig' %}
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>
                    {{ t('account', 'favorites_empty_text')|raw }}
                </p>
                <div class="not-found">{{ t('account', 'favorites_empty')|raw }}</div>
            </div>
            {% endif %}
        </div>
    </section>
</div>