<div class="content-wrapper">
    <section class="favorites account-padding account-home">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ t('account', 'favorites'~(action_type ? '_'~action_type : ''))|raw }}</h1>
            </div>
            {% if favorites|length > 0 %}


            <div class="shops col-md-12">
                {% set template = products_template ? products_template : 'parts/shop.twig' %}
                {% for store in favorites %}
                    {% set product = store %}
                    {% include template %}
                {% endfor %}
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
            </div>


            {% else %}
            <div class="col-md-12">
                <p>
                    {% set href = action_type=='viewed-products' ? '/shop' : '/stores' %}
                    {% set domain = action_type=='product' ? 'https://shop.secretdiscounter.com' : '' %}
                    {{ t('account', 'favorites_empty_text_view_<a href="{href}">here</a>_after_add'~(action_type ? '_'~action_type : ''), {'href': _href(href)})|raw }}
                </p>
                <div class="alert not-found">{{ t('account', 'favorites_empty'~(action_type ? '_'~action_type : ''))|raw }}</div>
            </div>
            {% endif %}
        </div>
    </section>
</div>