<div class="content-wrapper">
    <section class="favorites account-padding account-home">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ t('account', 'favorites'~(type ? '_'~type : ''))|raw }}</h1>
            </div>
            {% if favorites|length > 0 %}


            <div class="shops col-md-12">
                {% set template = template ? template : 'parts/shop.twig' %}
                {% for store in favorites %}
                    {% set product = store %}
                    {% include template %}
                {% endfor %}
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
            </div>


            {% else %}
            <div class="col-md-12">
                <p>
                    {% set href = type=='product' ? '/category' : '/stores' %}
                    {% set domain = type=='product' ? 'https://shop.secretdiscounter.com' : '' %}
                    {{ t('account', 'favorites_empty_text_view_<a href="{href}">here</a>_after_add'~(type ? '_'~type : ''), {'href': _href(href, domain)})|raw }}
                </p>
                <div class="not-found">{{ t('account', 'favorites_empty'~(type ? '_'~type : ''))|raw }}</div>
            </div>
            {% endif %}
        </div>
    </section>
</div>