<div class="content-wrapper">
    <section class="account-home">
        <div class="row">
            <div class="col-md-12">
                <div class="balance">
                    <div class="confirm">Баланс: <span>{{_nf(this.balance.current) | raw}} <span class="fa fa-rub"></span></span></div>
                    <div class="pending">В ожидании: <span>{{_nf(this.balance.pending) | raw}} <span class="fa fa-rub"></span></span></div>
                    <div class="charity">Пожертвовано: <span>{{_nf(this.balance.charity) | raw}}  <span class="fa fa-rub"></span></span> <a href="/account/fund-transfer" class="btn-fill">Благотворительность</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="shops favorites account-padding">
        <div class="row">
            <div class="col-md-12">
                <h3>Избранные магазины</h3>
            </div>
            {% if favorites|length > 0 %}
            {% for store in favorites %}
            <div class="col-sm-3 col-md-2">
            {% include '/parts/shop.twig' %}
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>
                    После добавления магазинов из <a href="/stores">нашего каталога</a> в избранное  они будут отображаться на данной странице.
                </p>
                <div class="not-found">На данный момент у Вас нет избранных магазинов.</div>
            </div>
            {% endif %}
        </div>
    </section>
</div>