/*-------------------------------

	POPUP.CSS

-------------------------------*/

.popup_back {
	height: 100vh;
	width: 100vw;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.popup_cont {
	position: fixed;
	z-index: 1002;
}

.preloader {
	z-index: 1001;
}

/*---------------------

	EDIT BELOW

*/

.popup_close {
	color: #888;
	cursor: pointer;
	position: absolute;
	padding: 5px;
	right: 5px;
	top: 0;
}

.popup_close:hover {
	color: #111;
}

.popup_back {
	cursor: pointer;
	background-color: #222;
	box-shadow: inset 0px 0px 300px #000;
}

div.popup {
	background: #fff;
	padding: 25px;
	box-shadow: 0 3px 10px #222;
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
}