<section class="advantages_line margin">
    <div class="page-wrap flex-line" >
        <div class="advantages_line-item">
            {{ svg('percentages','advantages_line-icon')|raw }}
            <span>До 45% возврата</span>
        </div>
        <div class="advantages_line-item">
            {{ svg('calendar','advantages_line-icon')|raw }}
            <span>Вывод на следующий день</span>
        </div>
        <div class="advantages_line-item">
            {{ svg('padlock','advantages_line-icon')|raw }}
            <span>Безопасность банковского уровня</span>
        </div>
        <div class="advantages_line-item">
            {{ svg('support','advantages_line-icon')|raw }}
            <span>Круглосуточная поддержка</span>
        </div>
    </div>
</section>
<section class="advantages_line_second margin">
    <div class="page-wrap flex-line advantages_line_second-wrap" >
        <div class="advantages_line_second-item">
            <div class="advantages_line_second-counter">17 737 703 руб</div>
            <div class="advantages_line_second-label">SecretDiscounter уже сэкономил своим пользователям</div>
        </div>
        <div class="advantages_line_second-item">
            <div class="advantages_line_second-counter">3 420 </div>
            <div class="advantages_line_second-label">покупок совершено за неделю</div>
        </div>
        <div class="advantages_line_second-item">
            <div class="advantages_line_second-counter">1 850 руб</div>
            <div class="advantages_line_second-label">максимальный кэшбэк за вчера</div>
        </div>
        <div class="advantages_line_second-item">
            <div class="advantages_line_second-counter">39%</div>
            <div class="advantages_line_second-label">столько в среднем экономят наши пользователи при помощи промокодов и кэшбэка</div>
        </div>
    </div>
</section>