<section class="margin">
    <div class="page-wrap align-center">
        <h2>ВСЕ ЕЩЕ СОМНЕВАЕТЕСЬ?</h2>
        <p class="mini-wrap">
            Попробуйте сделать недорогую покупку и убедитесь, что получать кэшбэк просто, безопасно и выгодно. Вы же и так покупаете в Сети, так почему не экономить с SecretDiscounter?
        </p>
        <a class="btn" href="/stores">Перейти к покупкам</a>
    </div>
</section>