<section class="margin">
  <div class="page-wrap">
    <h2 class="content-header">Новое в нашем блоге</h2>
    <div class="flex-line flex-wrap tablets_flex-col instruction-list">
      {% include 'parts/blog_posts.twig' %}
    </div>
    <div class="align-center">
      <a href="https://blog.secretdiscounter.ru/" class="btn btn-transform" target="_blank" rel="nofollow noopener noreferrer">Больше статей →</a>
    </div>
  </div>
</section>
