<section class="margin">
    <div class="page-wrap gray-box round-box-mini">
        <h2>Что говорят о нас клиенты</h2>
        <div class="scroll_box ">
            {% set not_admin_coment = true %}
            {% for review in top_reviews %}
                {% include 'parts/comment.twig' %}
            {% endfor %}
        </div>
        <div class="align-center">
            <a href="/reviews" class="btn btn-transform">Все отзывы →</a>
        </div>
    </div>
</section>