<section class="margin tablets_hide" id="comparison">
    <div class="page-wrap">
        {{ _constant('comparison') | raw}}
        <div class="align-center">
            <a class="btn" href="{{ _href('#registration')|raw }}">{{ t('common', 'register_easy')|raw }}</a>
        </div>
    </div>

</section>