<section class="margin tablets_hide" id="comparison">
    <div class="page-wrap">
        {{ _constant('comparison') | raw}}
        <div class="align-center">
            <a class="btn" href="#registration">Зарегистрироваться в один клик</a>
        </div>
    </div>

</section>