{% if coupons %}
    <section class="margin">
        <div class="page-wrap">
                <h2>Новые промокоды</h2>
            <div class="coupons-list narrow list-4">
                {% for coupon in coupons %}
                    {% include 'parts/coupon.twig' %}
                {% endfor %}
                <div class="coupons coupons-empty"></div>
                <div class="coupons coupons-empty"></div>
            </div>
            <div class="align-center">
                <a href="/coupons" class="btn btn-transform">Все промокоды</a>
            </div>
        </div>
    </section>
{% endif %}