<section class="index-hello_end">
    <a href="#" class="page-wrap page-wrap-flex index-hello_end-big_link">
        <span class="index-hello_end_left">
            <b>Приведи друзей</b> и получай<br>
            <span>15%</span> от их кэшбэка,<br>
            <b>ПОЖИЗНЕННО</b>
        </span>
        <span class="index-hello_end_right"></span>
    </a>
</section>