<section class="index-hello_end">
    <div class="page-wrap page-wrap-flex">
        <div class="index-hello_end_left">
            <b>Приведи друга</b> и получи<br>
            <span>15%</span> от их кэшбэка<br>
            <b>ПОЖИЗНЕННО</b>
        </div>
        <div class="index-hello_end_right"></div>
    </div>
</section>