<section class="margin">
    <div class="page-wrap">
        <h2>{{ t('main', 'faq')|raw }}</h2>
        <div class="gray-box round-box laptop_no_padding laptop_no_bg">
            <div class="accordion-wrap open_first">
                {{ _constant('main_page_intro')|raw }}
            </div>
        </div>
    </div>
</section>