<section class="margin">
    <div class="page-wrap">
        <h2>Часто задаваемые вопросы:</h2>
        <div class="gray-box round-box laptop_no_padding laptop_no_bg">
            <div class="accordion-wrap">
                <div class="accordion accordion-slim">
                    <div class="accordion-control accordion-title">
                        <h3 class="p1">1Как зарабатывать на вашей партнерской программе, я так и не понял?</h3>
                    </div>
                    <div class="accordion-content">1Все очень просто. Берете на этой странице свою партнерскую ссылку (она имеет вид <strong>https://secretdiscounter.ru/?r=8</strong>, где последняя цифра означает ваш ID в SecretDiscounter) и раздаете ее своим друзьям: через мессенджеры, в соцсетях, по электронной почте, да хоть в SMS!<br>Друг регистрируется по вашей ссылке, совершает покупку, а вы получаете 15% от суммы его кэшбэка. Не только в этот раз, но и всегда, от каждой его покупки. Чем больше друзей приведете – тем больше будет ваш ПОЖИЗНЕННЫЙ пассивный доход.</div>
                </div>
                <div class="accordion accordion-slim">
                    <div class="accordion-control accordion-title">
                        <h3 class="p1">2Как зарабатывать на вашей партнерской программе, я так и не понял?</h3>
                    </div>
                    <div class="accordion-content">2Все очень просто. Берете на этой странице свою партнерскую ссылку (она имеет вид <strong>https://secretdiscounter.ru/?r=8</strong>, где последняя цифра означает ваш ID в SecretDiscounter) и раздаете ее своим друзьям: через мессенджеры, в соцсетях, по электронной почте, да хоть в SMS!<br>Друг регистрируется по вашей ссылке, совершает покупку, а вы получаете 15% от суммы его кэшбэка. Не только в этот раз, но и всегда, от каждой его покупки. Чем больше друзей приведете – тем больше будет ваш ПОЖИЗНЕННЫЙ пассивный доход.</div>
                </div>
                <div class="accordion accordion-slim">
                    <div class="accordion-control accordion-title">
                        <h3 class="p1">3Как зарабатывать на вашей партнерской программе, я так и не понял?</h3>
                    </div>
                    <div class="accordion-content">3Все очень просто. Берете на этой странице свою партнерскую ссылку (она имеет вид <strong>https://secretdiscounter.ru/?r=8</strong>, где последняя цифра означает ваш ID в SecretDiscounter) и раздаете ее своим друзьям: через мессенджеры, в соцсетях, по электронной почте, да хоть в SMS!<br>Друг регистрируется по вашей ссылке, совершает покупку, а вы получаете 15% от суммы его кэшбэка. Не только в этот раз, но и всегда, от каждой его покупки. Чем больше друзей приведете – тем больше будет ваш ПОЖИЗНЕННЫЙ пассивный доход.</div>
                </div>
            </div>
        </div>
    </div>
</section>