<section class="margin">
    <div class="page-wrap">
        <h2>С нами дружат:</h2>
        <div class="flex-line flex-wrap">

            <div class="instruction-item instruction-item-230 gray-box wrap-round">
                <div class="flex-line">
                    <div class="instruction-social_logo social-icon-color-vk"></div>
                    <div class="instruction-social_counter">
                        <span>18 947</span>
                        подписчиков
                    </div>
                </div>
                <a class="social-btn social-btn-vk" href="#"></a>
            </div>
            <div class="instruction-item instruction-item-230 gray-box wrap-round">
                <div class="flex-line">
                    <div class="instruction-social_logo social-icon-color-fb"></div>
                    <div class="instruction-social_counter">
                        <span>838</span>
                        нравится
                    </div>
                </div>
                <a class="social-btn social-btn-fb" href="#"></a>
            </div>
            <div class="instruction-item instruction-item-230 gray-box wrap-round">
                <div class="flex-line">
                    <div class="instruction-social_logo social-icon-color-ok"></div>
                    <div class="instruction-social_counter">
                        <span>18 947</span>
                        участников
                    </div>
                </div>
                <a class="social-btn social-btn-ok" href="#"></a>
            </div>
            <div class="instruction-item instruction-item-230 gray-box wrap-round">
                <div class="flex-line">
                    <div class="instruction-social_logo social-icon-color-g"></div>
                    <div class="instruction-social_counter">
                        <span>18 947</span>
                        подписчиков
                    </div>
                </div>
                <a class="social-btn social-btn-g" href="#"></a>
            </div>
        </div>
    </div>
</section>