<section class="instruction margin">
    <div class="page-wrap">
        <h2>Как покупать с кэшбэком?</h2>
        <div class="flex-line tablets_flex-col">
            <div class="instruction-item tablets_flex-row tablets_text-aling_left">
                {{ svg('shop','instruction-icon instruction-icon-big')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Выберите магазин
                    </div>
                    <div class="instruction-content">
                        Переходите в любой из более <span class="instruction-content-select">1200</span> магазинов
                    </div>
                </div>
            </div>
            <div class="instruction-item tablets_flex-row tablets_text-aling_left">
                {{ svg('bay','instruction-icon instruction-icon-big')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Сделайте покупку
                    </div>
                    <div class="instruction-content">
                        Покупайте, как обычно. Цена при этом будет <span class="instruction-content-select">такой же</span>, как если бы вы зашли напрямую
                    </div>
                </div>
            </div>
            <div class="instruction-item tablets_flex-row tablets_text-aling_left">
                {{ svg('pig','instruction-icon instruction-icon-big')|raw }}
                <div class="instruction-wrap">
                    <div class="instruction-title">
                        Получите кэшбэк
                    </div>
                    <div class="instruction-content">
                        Мы получаем комиссионные от магазина за вашу покупку и <span class="instruction-content-select">большую часть</span> этих денег отдаем вам.
                    </div>
                </div>
            </div>
        </div>
        <p class="align-center">
            А так происходит покупка в <a href="#">оффлайн-магазине</a> или ресторане</p>
    </div>
</section>