<section class="margin">
    <div class="page-wrap">
        <h2>И много других вкусностей</h2>
        <div class="other_services">
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span></span>
                    <div>РЕСТОРАНЫ</div>
                </div>
                <div class="other_services-content">
                    <span></span>
                    <div class="other_services-title">РЕСТОРАНЫ</div>
                    <p>SecretDiscounter – единственный кэшбэк-сервис, который возвращает деньги и с покупок в оффлайне: в магазинах, бутиках, салонах красоты, стоматологиях, автомойках, химчистках и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span></span>
                    <div>ОТСЛЕЖИВАНИЕ
                        ПОСЫЛОК
                    </div>
                </div>
                <div class="other_services-content">
                    <span></span>
                    <div class="other_services-title">ОТСЛЕЖИВАНИЕ
                        ПОСЫЛОК
                    </div>
                    <p>SecretDiscounter – единственный кэшбэк-сервис, который возвращает деньги и с покупок в оффлайне: в магазинах, бутиках, салонах красоты, стоматологиях, автомойках, химчистках и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span></span>
                    <div>РЕСТОРАНЫ</div>
                </div>
                <div class="other_services-content">
                    <div class="other_services-title">РЕСТОРАНЫ</div>
                    <p>SecretDiscounter – единственный кэшбэк-сервис, который возвращает деньги и с покупок в оффлайне: в магазинах, бутиках, салонах красоты, стоматологиях, автомойках, химчистках и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span></span>
                    <div>РЕСТОРАНЫ</div>
                </div>
                <div class="other_services-content">
                    <div class="other_services-title">РЕСТОРАНЫ</div>
                    <p>SecretDiscounter – единственный кэшбэк-сервис, который возвращает деньги и с покупок в оффлайне: в магазинах, бутиках, салонах красоты, стоматологиях, автомойках, химчистках и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span></span>
                    <div>РЕСТОРАНЫ</div>
                </div>
                <div class="other_services-content">
                    <div class="other_services-title">РЕСТОРАНЫ</div>
                    <p>SecretDiscounter – единственный кэшбэк-сервис, который возвращает деньги и с покупок в оффлайне: в магазинах, бутиках, салонах красоты, стоматологиях, автомойках, химчистках и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span></span>
                    <div>РЕСТОРАНЫ</div>
                </div>
                <div class="other_services-content">
                    <div class="other_services-title">РЕСТОРАНЫ</div>
                    <p>SecretDiscounter – единственный кэшбэк-сервис, который возвращает деньги и с покупок в оффлайне: в магазинах, бутиках, салонах красоты, стоматологиях, автомойках, химчистках и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span></span>
                    <div>РЕСТОРАНЫ</div>
                </div>
                <div class="other_services-content">
                    <div class="other_services-title">РЕСТОРАНЫ</div>
                    <p>SecretDiscounter – единственный кэшбэк-сервис, который возвращает деньги и с покупок в оффлайне: в магазинах, бутиках, салонах красоты, стоматологиях, автомойках, химчистках и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span></span>
                    <div>РЕСТОРАНЫ</div>
                </div>
                <div class="other_services-content">
                    <div class="other_services-title">РЕСТОРАНЫ</div>
                    <p>SecretDiscounter – единственный кэшбэк-сервис, который возвращает деньги и с покупок в оффлайне: в магазинах, бутиках, салонах красоты, стоматологиях, автомойках, химчистках и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span></span>
                    <div>РЕСТОРАНЫ</div>
                </div>
                <div class="other_services-content">
                    <div class="other_services-title">РЕСТОРАНЫ</div>
                    <p>SecretDiscounter – единственный кэшбэк-сервис, который возвращает деньги и с покупок в оффлайне: в магазинах, бутиках, салонах красоты, стоматологиях, автомойках, химчистках и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>

        </div>
    </div>
</section>