<section class="margin">
    <div class="page-wrap">
        <h2>И много других вкусностей</h2>
        <div class="other_services tablets_flex-col">
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span style="background-image: url(/images/servicses/offline.jpg)"></span>
                    <div>ОФФЛАЙН-МАГАЗИНЫ</div>
                </div>
                <div class="other_services-content">
                    <span style="background-image: url(/images/servicses/offline.jpg)"></span>
                    <div class="other_services-title">ОФФЛАЙН-МАГАЗИНЫ</div>
                    <p>Мы единственные возвращаем деньги и с покупок в оффлайне: с магазинов, ресторанов, бутиков, салонов красоты, СТО, стоматологий и вообще везде, где вы тратите деньги.</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span style="background-image: url(/images/servicses/card.jpg)"></span>
                    <div>РЕСТОРАНЫ</div>
                </div>
                <div class="other_services-content">
                    <span style="background-image: url(/images/servicses/card.jpg)"></span>
                    <div class="other_services-title">РЕСТОРАНЫ</div>
                    <p>Пришли в ресторан, показали наш штрихкод – получили кэшбэк!</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span style="background-image: url(/images/servicses/rest.jpg)"></span>
                    <div>ПУТЕШЕСТВИЯ</div>
                </div>
                <div class="other_services-content">
                    <span style="background-image: url(/images/servicses/rest.jpg)"></span>
                    <div class="other_services-title">ПУТЕШЕСТВИЯ</div>
                    <p>Мы возвращаем кэшбэк с заказа отелей, экскурсий, страховок, билетов на самолет, автобус или поезд и аренды машин!</p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span style="background-image: url(/images/servicses/game.jpg)"></span>
                    <div>РАЗВЛЕЧЕНИЯ</div>
                </div>
                <div class="other_services-content">
                    <span style="background-image: url(/images/servicses/game.jpg)"></span>
                    <div class="other_services-title">РАЗВЛЕЧЕНИЯ</div>
                    <p>
                        Нужны билеты в кино, театр или на концерт? А может быть новый квадрокоптер, Sony Playstation или гироскутер? Мы возвращаем кэшбэк со всего!
                    </p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span style="background-image: url(/images/servicses/coupons.jpg)"></span>
                    <div>КУПОНЫ И ПРОМОКОДЫ</div>
                </div>
                <div class="other_services-content">
                    <span style="background-image: url(/images/servicses/coupons.jpg)"></span>
                    <div class="other_services-title">КУПОНЫ И ПРОМОКОДЫ</div>
                    <p>
                        На нашем сайте представлено более 7000 бесплатных промокодов к интернет-магазинам и купонов к оффлайн-магазинам.
                    </p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span style="background-image: url(/images/servicses/hlyva.jpg)"></span>
                    <div>ТОВАРЫ С КЭШБЭКОМ</div>
                </div>
                <div class="other_services-content">
                    <span style="background-image: url(/images/servicses/hlyva.jpg)"></span>
                    <div class="other_services-title">ТОВАРЫ С КЭШБЭКОМ</div>
                    <p>
                        Огромная витрина товаров, где вы можете легко и быстро найти нужный товар с кэшбэком. Представлено более миллиона товаров!
                    </p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span style="background-image: url(/images/servicses/distavka.jpg)"></span>
                    <div>ОТСЛЕЖИВАНИЕ ПОСЫЛОК</div>
                </div>
                <div class="other_services-content">
                    <span style="background-image: url(/images/servicses/distavka.jpg)"></span>
                    <div class="other_services-title">ОТСЛЕЖИВАНИЕ ПОСЫЛОК</div>
                    <p>
                        Больше не нужно искать по всему Интернету: на нашем сайте вы сможете отследить местонахождение вашей посылки более 300 почтовых и курьерских служб.
                    </p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span style="background-image: url(/images/servicses/desk.jpg)"></span>
                    <div>ДОСКА ОБЪЯВЛЕНИЙ</div>
                </div>
                <div class="other_services-content">
                    <span style="background-image: url(/images/servicses/desk.jpg)"></span>
                    <div class="other_services-title">ДОСКА ОБЪЯВЛЕНИЙ</div>
                    <p>
                        Есть что продать? Или хотите что-то купить? Наша удобная доска объявлений поможет донести информацию о вашем товаре до миллионов покупателей.
                    </p>
                </div>
            </div>
            <div class="other_services-item">
                <div class="other_services-icon">
                    <span style="background-image: url(/images/servicses/obmen.jpg)"></span>
                    <div>ОБМЕН ЭЛЕКТРОННЫХ ВАЛЮТ</div>
                </div>
                <div class="other_services-content">
                    <span style="background-image: url(/images/servicses/obmen.jpg)"></span>
                    <div class="other_services-title">ОБМЕН ЭЛЕКТРОННЫХ ВАЛЮТ</div>
                    <p>
                        Не знаете, где купить биткойн? Или обменять WebMoney на рубли? Поможем и подскажем. Только проверенные обменники!
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>