<section class="margin">
    <div class="page-wrap">
        <h2>{{total_all_stores}} популярных интернет-магазинов</h2>
        <div class="shops">
            {% for store in stores %}
                {% include 'parts/shop.twig' %}
            {% endfor %}
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
        </div>
        <div class="align-center">
            <a href="/stores" class="btn btn-transform">Все магазины с кэшбэком →</a>
        </div>
    </div>
</section>