<section class="margin">
    <div class="page-wrap">
        <h2>{{total_all_stores}} популярных интернет-магазинов</h2>
        <div
                class="shops scroll_box_"
                data-scroll-width-max="1024"
                data-scroll-elemet-ignore-class="shop-empty"
        >
            {% for store in stores %}
                {% include 'parts/shop.twig' %}
            {% endfor %}
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
        </div>
        <div class="align-center">
            <a href="#" class="btn btn-transform">Все магазины ({{total_all_stores}})</a>
        </div>
    </div>
</section>