<section class="margin">
    <div class="page-wrap">
        <h2>Популярные интернет-магазины</h2>
        <div class="shops">
            {% for store in stores %}
                {% include 'parts/shop.twig' %}
            {% endfor %}
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
            <div class="shop shop-empty"></div>
        </div>
    </div>
</section>