<section class="margin">
    <div class="page-wrap">
        <h2>О нас пишут</h2>
        <div class="flex-line flex-wrap">

            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/bankiros.svg" alt="bankiros">
            </a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/brodude.svg" alt="broduge">
            </a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/infobank.svg" alt="infobank">
            </a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/tut.by.svg" alt="tut.by">
            </a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/my-fin.svg" alt="my-fin">
            </a>
        </div>
    </div>
</section>