<section class="margin">
    <div class="page-wrap">
        <h2>О нас пишут:</h2>
        <div class="flex-line flex-wrap">

            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
            >
                {{ svg('logo/bankiros','instruction-svg')|raw }}
            </a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
                    style="background-image: url(/images/posts_logo/broduge.png)"
            ></a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
                    style="background-image: url(/images/posts_logo/info_ban.by.png)"
            ></a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
            >
                {{ svg('logo/tut.by','instruction-svg')|raw }}
            </a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="#"
            >
                {{ svg('logo/my-fin','instruction-svg')|raw }}
            </a>
        </div>
    </div>
</section>