<section class="margin">
    <div class="page-wrap">
        <h2>О нас пишут:</h2>
        <div class="flex-line flex-wrap">

            <a
                    class="instruction-item instruction-item-150 wrap-round"
                    href="#"
                    style="background-image: url(/images/posts_logo/bankiros.png)"
            ></a>
            <a
                    class="instruction-item instruction-item-150"
                    href="#"
                    style="background-image: url(/images/posts_logo/broduge.png)"
            ></a>
            <a
                    class="instruction-item instruction-item-150"
                    href="#"
                    style="background-image: url(/images/posts_logo/info_ban.by.png)"
            ></a>
            <a
                    class="instruction-item instruction-item-150"
                    href="#"
                    style="background-image: url(/images/posts_logo/tut.by.png)"
            ></a>
            <a
                    class="instruction-item instruction-item-150"
                    href="#"
                    style="background-image: url(/images/posts_logo/tut.by.png)"
            ></a>
        </div>
    </div>
</section>