<section class="margin">
    <div class="page-wrap">
        <h2 class="content-header">{{ t('main', 'posts_about_us')|raw }}</h2>
        <div class="flex-line flex-wrap">
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="https://secretdiscounter.com/myfin-articles"
                    target="_blank"
                    rel="nofollow noopener"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/my-fin.svg" alt="my-fin">
            </a>

            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="https://bankiros.ru/news/lajfhak-kak-vernut-do-40-s-pokupok-v-internet-magazinah-591"
                    target="_blank"
                    rel="nofollow noopener"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/bankiros.svg" alt="bankiros">
            </a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="https://brodude.ru/kak-otdyxat-bez-lishnix-zatrat/"
                    target="_blank"
                    rel="nofollow noopener"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/brodude.svg" alt="broduge">
            </a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="https://infobank.by/infolinebigview/ispytano-na-sebe-keshbek-ot-secretdiscounter/"
                    target="_blank"
                    rel="nofollow noopener"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/infobank.svg" alt="infobank">
            </a>
            <a
                    class="instruction-item instruction-item-150 instruction_valing"
                    href="https://lady.tut.by/news/style/552875.html"
                    target="_blank"
                    rel="nofollow noopener"
            >
                <img class="instruction-post_logo" src="/images/posts_logo/tut.by.svg" alt="tut.by">
            </a>
        </div>
    </div>
</section>