<section class="margin yellow-box">
    <div class="page-wrap padding-box-top">
        <h2 class="title-white-line ">С нами можно не только экономить, но и зарабатывать</h2>
        <div class="page-wrap-flex page-wrap-flex-revers_laptop_min">
            <div class="index-video_left" style="background-image: url(/images/video_1.png)">

            </div>
            <div class="index-video_center">
                <a href="#video?v=B5Qq54WGi8s" class="index-hello_right-link index-hello_right-link_no_label modals_open">
                    <span class="index-hello_right-icon">
                        <span class="index-hello_right-svg_wrap">
                            <svg class="index-hello_right-svg" xmlns="http://www.w3.org/2000/svg" width="1792" height="1792" viewBox="0 0 1792 1792"><path d="M1612.725 903.31L213.056 1619.657q-24.241 12.619-41.632 2.912-17.39-9.706-17.39-34.943V158.816q0-25.237 17.39-34.944 17.39-9.706 41.632 2.912L1612.725 843.13q24.241 12.619 24.241 30.09 0 17.472-24.241 30.09z"></path></svg>
                        </span>
                    </span>
                </a>
            </div>
            <div class="index-video_right">
                КАК РАССКАЗАТЬ
                <span>O SECRET DISCOUNTER</span>
                ВСЕМ ДРУЗЬЯМ?
            </div>
        </div>
    </div>
</section>