.advantages_line{
  background: $advantages_line_bg;
  color: $advantages_line_color;
  line-height: 80px;

  @include media($tablets) {
    padding: 20px 0;
  }

  &-icon{
    fill: $btn_base_bg;
    color: $btn_base_bg;
    stroke: $btn_base_bg;
    height: 24PX;
    width: 24PX;
    vertical-align: middle;
    display: inline-block;
    stroke-width: 1.2;
    stroke-linecap: round;
    padding-right: 19px;

    @include media($laptop_min) {
      padding-right: 5px;
    }
  }

  &-item{
    white-space: nowrap;

    @include media($laptop_min) {
      flex-basis: 40%;
    }

    @include media($tablets) {
      flex-basis: 60%;
      line-height: 40px;
      min-width: 290px;
    }

    span{
      vertical-align: middle;
      display: inline-block;
    }
  }

  &_second{
    &-wrap{
      background: $advantages_line_second_bg;
      border-radius: 10px;
      padding: 0 20px;
    }

    &-item{
      text-align: center;
      flex-grow: 1;
      align-item:flex-start;
      flex-basis:25%;
      flex-shrink:10;
      padding: 10px;

      @include media($laptop_min) {
        flex-basis:50%;
        max-width: 310px;
      }
    }

    &-counter{
      text-shadow: 2px 2px 4px rgba($advantages_line_second_color, 0.28);
      color: $advantages_line_second_counter_color;
      fill: $advantages_line_second_counter_color;
      font-family: "Proxima Nova - Black";
      font-size: 36px;
      font-weight: 400;
      white-space: nowrap;
    }

    &-label{
      color:$advantages_line_second_color;
    }
  }
}