.index {
  &-hello {
    min-height: 100px;
    background: linear-gradient(72deg, transparent 50%, $btn_base_bg 0);

    &_end{
      min-height: 300px;
      background: linear-gradient(120deg, $btn_base_bg 50%, #000 0);

      &_left{
        width: 50%;
        margin: auto;
        font-size: 38px;
        font-weight: 400;
        line-height: 52px;

        b{
          font-weight: 600;
        }

        span{
          color: #fefdfd;
          font-size: 60px;
          font-weight: 700;
        }
      }

      &_right{
        margin: auto;
        width: 50%;
        height: 360px;
        background: url(/images/index_end.png) no-repeat 50% 100%;
        background-size: contain;
      }
    }

    &_left {
      //flex-grow: 2;
    }

    &_center {
      //flex-grow: 1;
      min-width: 35%;
      background: url(/images/index_hello_girl.png) 50% 100% no-repeat;
      background-size: contain;
    }

    &_right {
      //flex-grow: 1;
      min-width: 20%;
      display: flex;

      &-link {
        color: $text_color;
        fill: $header_color_up;
        stroke: $header_color_up;
        padding-bottom: 230px;
        text-align: center;
        margin: auto;
        transition: all .25s ease;
        text-decoration: none;

        span {
          display: block;
          font-size: 14px;
          font-weight: 400;
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
        }

        &:hover {
          color: $header_color_up;

          .index-hello_right-icon {
            box-shadow: 0 0 10px 0 $header_color_up;

            &:before {
              height: 120PX;
              width: 120PX;
              border: 1px solid;
              opacity: 0.0;
              margin-top: -33px;
              margin-left: -33px;
            }
          }
        }
      }

      &-icon {
        position: relative;
        border-radius: 100%;
        width: 56PX;
        height: 56PX;
        padding: 5px;
        box-shadow: 0 0 0 2px $text_color;
        transition: all .25s ease;

        &:before {
          content: '';
          position: absolute;
          height: 94PX;
          width: 94PX;
          border: 1px solid;
          border-radius: 100%;
          opacity: 0.48;
          margin-top: -20px;
          margin-left: -20px;
          transition: all .25s ease;
        }
      }
      &-svg {
        background: $text_color;
        border-radius: 100%;
        text-align: center;
        width: 32px;
        height: 32px;
        padding: 12px;
      }
    }

    &_counter {
      font-size: 16px;
      span {
        background: $btn_base_bg;
        margin: 10px 8px 10px 0;
        font-size: 44px;
        font-weight: 700;
        padding: 3px 7px;
        border-radius: 4px;
        display: inline-block;
      }

      &-numbers_space {
        background: transparent !important;
      }
    }
  }

  &-video{
    &_left{
      min-height: 360px;
      min-width: 33%;
      background-position: 50% 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &_center{
      min-width: 33%;
      margin: auto;
    }

    &_right{
      min-width: 33%;
      margin: auto;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.47);
      color: #ffffff;
      font-size: 40px;
      text-transform: uppercase;
      line-height: 33.01px;
      text-align: center;
      white-space: nowrap;

      span{
        font-weight: 700;
        font-size: 28px;
        display: block;
      }
    }
  }
}
