.other_services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-item{
    min-width: 200px;
    max-width: 230px;
    //margin: 0 20px;
    position: relative;
    margin-bottom: 20px;

    &:hover{
      .other_services-icon {
        transform: rotate3d(0, 1, 0, -90deg);
        transition: all .25s ease;
      }

      .other_services-content{
        transform: rotate3d(0, 0, 0, 90deg);
        transition: all .25s ease .25s;
      }
    }
  }

  &-icon{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate3d(0,0,0,-90deg);
    transition: all .25s ease .25s;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;

    span{
      height: 190PX;
      width: 190px;
      //left: 50%;
      //margin-left: -80px;
      margin: 10px auto;
      background: url("/images/servicses/coupons.png");
      background-size: cover;
      border-radius: 100%;
      border: 2px solid $other_services_title_color;
      box-shadow: inset 0 0 0 3px #fff;
      display: block;
    }
  }

  &-content{
    font-size: 16px;
    max-width: 190px;
    padding: 15px;
    transform: rotate3d(0,1,0,90deg);
    transition: all .25s ease;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid transparent;

    span{
      background: url("/images/servicses/coupons.png");
      background-size: cover;
      position: absolute;
      left: 0;
      top:0;
      height: 100%;
      width: 100%;
      z-index: 8;
      filter: blur(5px);
      opacity: 0.2;
    }

    p{
      z-index: 9;
    }
  }

  &-title{
    color: $other_services_title_color;
    font-family: "Proxima Nova - Black";
    font-size: 16px;
    font-weight: 400;
    z-index: 9;
  }
}