<?php

use yii\helpers\Html;


/* @var $this yii\web\View */
/* @var $model app\modules\constants\models\Constants */

$this->title = 'Create Constants';
$this->params['breadcrumbs'][] = ['label' => 'Constants', 'url' => ['index']];
$this->params['breadcrumbs'][] = $this->title;
?>
<div class="constants-create">

    <h1><?= Html::encode($this->title) ?></h1>

    <?= $this->render('_form', [
        'model' => $model,
    ]) ?>

</div>
