<?php

use yii\helpers\Html;

/* @var $this yii\web\View */
/* @var $model app\modules\constants\models\Constants */

$this->title = 'Update Constants: ' . ' ' . $model->name;
$this->params['breadcrumbs'][] = ['label' => 'Constants', 'url' => ['index']];
$this->params['breadcrumbs'][] = ['label' => $model->name, 'url' => ['view', 'id' => $model->uid]];
$this->params['breadcrumbs'][] = 'Update';
?>
<div class="constants-update">

    <h1><?= Html::encode($this->title) ?></h1>

    <?= $this->render('_form', [
        'model' => $model,
    ]) ?>

</div>
