@mixin flex {
  &_flex {
    &-wrap {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-col {
      flex-direction: column;
      flex-wrap: nowrap;
      display: flex;
    }

    &-row {
      flex-direction: row;
      flex-wrap: nowrap;
      display: flex;
    }
  }
}
