$desktop:1900px;
$laptop:1200px;
$laptop_min:1024px; //резервная точка
$tablets: 768px;
$phones: 380px;

@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }
}
@mixin media_min($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin media_retina($width) {
  @media (min-resolution: 170dpi) AND (max-width: $width) {
    @content;
  }
}

@mixin text_aling {
  &_text-aling_left {
    text-align: left;
  }
}

@mixin other_modification {
  &_hide{
    display:none!important;
  }

  &_bold{
    font-weight: bold;
  }

  &_flex-col {
    display: flex;
    flex-direction: column;
  }
  &_block {
    display: block;
  }

  &_order-2{
    order:-2;
  }

  &_order-1{
    order:-1;
  }

  &_order0{
    order:0;
  }

  &_order1{
    order:1;
  }

  &_order2{
    order:2;
  }

  &-horizontal-margin-off{
    margin-right: 0;
    margin-left: 0;
  }
}