.account {
  &-balance {
    margin: 15px 0 45px;
    //display: flex;
    background-color: $gray_box_bg;
    padding: 15px;
    border-radius: 8px;
    //flex-wrap: wrap;
    // align-items: flex-end;
    &-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &-right {
        justify-content: flex-end;

        //.account-balance-block {
        //  text-align: right;
        //  @include media($phones) {
        //    text-align: left;
        //  }
        //}
      }

    }

    &-block {
      box-sizing: border-box;
      //text-align: right;
      min-width: 140px;
      width: calc(23% - 5px);
      //flex-grow: 2;
      margin-right: 5px;
      //margin-bottom: 10px;

      &-2x {
        width: calc(48% - 5px);

        @include media($tablets) {
          width: calc(50% - 10px);
        }
        @include media($phones) {
          width: 100%;
        }
      }
      &-3x {
        width: calc(75% - 5px);

        @include media($tablets) {
          width: calc(50% - 10px);
        }
        @include media($phones) {
          width: 100%;
        }
      }

      @include media($tablets) {
        width: calc(50% - 10px);
      }

      @include media($phones) {
        width: 100%;
        margin-bottom: 10px;
      }

      &-btn {
        min-width: 170px;
      }

      &-link {
        min-width: 300px;
        font-size: 18px;

        @include media($tablets) {
          min-width: 0;
        }

        @include media($phones) {
          order: 3;
        }
      }

      span {
        font-size: 1.5em;
        font-weight: bold;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        svg {
          width: 24px;
          height: 24px;
        }

      }
    }

    &-confirm {
      color: $confirm_color;
      fill: $confirm_color;
    }

    &-pending {
      color: $pending_color;
      fill: $pending_color;
    }

    &-declined {
      color: $declined_color;
      fill: $declined_color;
    }

    &-charity {
      color: $charity_color;
      fill: $charity_color;
    }
  }

  &-circles {
    &-wrap {
      display: flex;
      position: relative;
      align-items: flex-start;
      margin-bottom: 24px;
    }

    &-item {
      width: 25%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: relative;

      &-confirm {
        position: absolute;
        height: 12PX !important;
        top: 55PX;
        background: $progress_line;
        left: calc(-50% + 25PX);
        z-index: 10;
      }

      &-padding {
        display: none;
        position: absolute;
        height: 8PX !important;
        top: 57PX;
        background: $progress_line_padding;
        left: calc(-50% + 25PX);
      }

      &-percent {
        height: 45PX;
        width: 45PX;
        border-radius: 100%;
        background: $circle_bg;
        border: 5px $btn_base_bg solid;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 11;
        margin-bottom: 15px;

        &-bronze {
          border-color: $bronze;
        }

        &-silver {
          border-color: $silver;
        }

        &-gold {
          border-color: $gold;
        }

        &-platinum {
          border-color: $platinum;
        }

        &-active {
          background: $progress_line;
        }

        &-text {
          position: relative;
          z-index: 10;
        }
      }

      &-sum {
        width: 100%;
        text-align: center;
      }

      &-name {
        font-size: 1.2em;
        font-weight: bold;
        min-height: 1em;
        line-height: 1em;
        margin-bottom: 15px;
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 12PX;
        top: 55PX;
        background: $circle_bg;
        right: 50%;
      }

      &-active:before {
        background: $progress_line;
      }

      &:first-child:before {
        display: none;
      }

      &-dop_label {
        text-align: center;

        &-active {
          font-weight: bold;
          color: red;
        }
      }
    }
  }

  &-text-block {
    margin-bottom: 35px;
    padding: 10px;
    background-color: $gray_box_bg;
    border-radius: 8px;

    &_item {
      //font-size:
      margin-bottom: 10px;

      &-bold {
        font-weight: bold;
      }

      &-header {
        font-size: 24px;
        margin-left: 25px;
      }

      &-money {
        font-size: 22px;
        font-weight: bold;
      }

      ul {
        margin: 0 0 10px;
        li {

        }
      }

      h2, h3 {
        margin-top: 0;
      }

      &-alert {
        padding: 20px;
        font-size: 20px;
        color: $header_color_pointed;
        text-align: center;
      }
    }
  }

  &-margin-top {
    margin-top: 15px;
  }

  &-withdraw {
    &-methods {
      &_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      &_item {
        width: 28%;
        box-sizing: border-box;
        margin: 0 2% 2%;
        border: 2px solid $menu_border_color;
        //padding: 25px;
        border-radius: 25px;
        transition: 0.4s ease-out;
        min-height: 150px;

        &-option {
          padding: 15px;
          //display: block;
          min-height: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          //width: 100%;
          //height: 100%;
        }

        img {
          display: block;
          margin: auto;
          width: 100%;
        }

        &:hover {
          border-color: $btn_base_dark_bg;
        }

        &.active {
          //background-color: $header_bg_second;
          border-color: $btn_base_dark_bg;
        }
      }
    }
  }

  ///account/notification
  &-notification {
    background: $account_notification_bg;
    border-bottom: 2px solid $account_notification_border;
    position: relative;
    border-radius: 5px;
    border-bottom-right-radius: 45px;
    padding: 20px 80px 20px 40px;
    margin-top: 30px;
    margin-bottom: 50PX;
    margin-right: 30px;
    white-space: inherit;

    &-date {
      position: absolute;
      border: 3px solid #fff;
      width: 110PX;
      height: 110PX;
      padding: 25px 18PX;
      text-align: center;
      color: $account_notification_date;
      font-size: 13px;
      border-radius: 100px;
      top: -20px;
      right: -20px;
      background: $account_notification_date_bg;
      box-sizing: border-box;
    }

    &-title {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: bold;
    }

    &-text {
      margin-bottom: 0px;
      font-size: 14px;
      line-height: 24px;
    }

  }

  &-service-link_sd {
    display: inline-block;
    vertical-align: middle;
  }

  &-avatar {
    text-align: center;

    img {
      border-radius: 5px;
    }
  }

  &-textarea {
    font-size: 15px;
    outline: 0;
    border: solid 1px #E6E9EA;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0px 10px;
    display: block;
    height: 200px;
    width: calc(74% - 22PX);
    resize: none;
  }

  &-home {
    margin-top: 30px;
  }

  &-table-social {
    &_icon {
      svg {
        vertical-align: middle;
        margin-left: 30px;
      }
    }
  }

  &-settings {
    margin-left: 0;
    margin-right: 0;
  }

  &-status-uniq {
    color: $status_uniq;

  }
  &-top {
    margin: 15px 0 45px;
    padding: 15px;
  }
}