.account{
  &-balance{
    margin: 15px 0;
    display: flex;
    background-color: $gray_box_bg;
    padding: 15px;
    border-radius: 8px;
    flex-wrap: wrap;
    align-items: flex-end;

    &-block{
      min-width: 160px;
      flex-grow: 2;
      width: 23%;
      margin-bottom: 15px;

      @include media($laptop) {
        width: 50%;
      }

      span{
        font-size: 1.5em;
        font-weight: bold;
        display: block;
      }
    }

    &-confirm{
      color: $confirm_color;
      fill: $confirm_color;
    }

    &-pending{
      color: $pending_color;
      fill: $pending_color;
    }

    &-declined{
      color: $declined_color;
      fill: $declined_color;
    }

    &-charity{
      color: $charity_color;
      fill: $charity_color;
    }
  }


  &-circles{
    &-wrap{
      display:flex;
      position: relative;
      align-items: flex-start;
      margin-bottom: 24px;
    }

    &-item{
      width: 25%;
      display:flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: relative;

      &-confirm{
        position: absolute;
        height: 12PX !important;
        top: 55PX;
        background: $progress_line;
        left: calc(-50% + 25PX);
        z-index: 10;
      }

      &-padding{
        display: none;
        position: absolute;
        height: 8PX !important;
        top: 57PX;
        background: $progress_line_padding;
        left: calc(-50% + 25PX);
      }

      &-percent{
        height: 45PX;
        width: 45PX;
        border-radius: 100%;
        background: $circle_bg;
        border: 5px $btn_base_bg solid;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 11;
        margin-bottom: 15px;

        &-bronze{
          border-color: $bronze;
        }

        &-silver{
          border-color: $silver;
        }

        &-gold{
          border-color: $gold;
        }

        &-platinum{
          border-color: $platinum;
        }

        &-active{
          background: $progress_line;
        }

        &-text{
          position: relative;
          z-index: 10;
        }
      }

      &-sum{
        width: 100%;
        text-align: center;
      }

      &-name{
        font-size: 1.2em;
        font-weight: bold;
        min-height: 1em;
        line-height: 1em;
        margin-bottom: 15px;
      }

      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 12PX;
        top: 55PX;
        background: $circle_bg;
        right: 50%;
      }

      &-active:before{
        background: $progress_line;
      }

      &:first-child:before{
        display: none;
      }

      &-dop_label{
        &-active {
          font-weight: bold;
        }
      }
    }
  }
}