/* Кнопки */
$btn_base_bg: #f7c714;
$btn_base_color: #000;

/*общие*/
$text_color: #1b2527;
$header_bg_up: #1b2527;
$header_color_up: #ffffff;
$search-btn-bg: #FFF130;
$search-btn-color: $text_color;
$search-btn-color-hover: #ffffff;
$header_authorization_color: $search-btn-bg;
$header_bg_second: #F0F0F0;
$header_sub_menu_bg: $header_bg_second;
$header_sub_menu_color: $text_color;
$header_sub_menu_color_hover: #ffcd16;
$header_heart: #f00;
$gray_box_bg: #f4f4f4;
$rating_color: #FF9800;

$h2_line_color: $btn_base_bg;
$a_color: $btn_base_bg;
$a_color_hover: #fdca37;

$other_services_title_color: $search-btn-bg;

/*advantages_line*/
$advantages_line_bg: #000;
$advantages_line_color: #fff;
$advantages_line_second_bg: $btn_base_bg;
$advantages_line_second_counter_color: #FFF;
$advantages_line_second_color: #000;

$instruction_color: $btn_base_bg;
$instruction_select_color: $btn_base_bg;


/*shop*/
$shop_bg: #f8f8f8;
$shop_logo_bg: #eee;
$shop_name_color: #283133;
$shop_cashback_link_bg: $a_color_hover;
$shop_cashback_link_color: #0f181a;
$shop_cashback_link_action: #9a0921;
$shop_cashback_old_action: $shop_name_color;
$shop_cashback_old_color: #d6d6d6;
$shop_panel_bg: $shop_cashback_old_color;
$shop_panel_coor: $shop_cashback_link_color;

/*scroll-box*/
$scroll_box_bg: #fff;
$scroll_box_shadow: #000;