$text_color: #1b2527;
$header_bg_up: #1b2527;
$header_color_up: #ffffff;
$search-btn-bg: #FFF130;
$search-btn-color: $text_color;
$search-btn-color-hover: #ffffff;
$header_authorization_color: $search-btn-bg;
$header_bg_second: #F0F0F0;
$header_sub_menu_bg: $header_bg_second;
$header_sub_menu_color: $text_color;
$header_sub_menu_color_hover: #ffcd16;
$header_heart: #f00;


/* Кнопки */
$btn_base_bg: #f7c714;
$btn_base_color: #000;
