/* Кнопки */
$btn_base_bg: #f7c714;
$btn_base_color: #000;
$btn_base_dark_bg: #121212;
$btn_base_black_bg: #121212;
$btn_base_dark_color: #FFF;
$btn_base_black_color: #FFF;

/*общие*/
$text_color: #1b2527;
$placeholder_color: #666;
//$header_bg_up: #1b2527;
$header_bg_up: #121212;

$link_color: #f7c714;
$link_color_blue: #0044bb;
//$link_color_blue: #3088CF;
$link_color_blue_hover: #fdec3e;//
// #2caef0;

/*для печати*/
$print_text_color: #000;
$print_link_color: #000;
$print_icon_color: #666;

$header_color_up: #ffffff;
//$drop-menu-color: #fff;
$drop-menu-color: #ffffF8;
$drop-menu-color-mobile: #fff;
$drop-menu-color_parents-mobile: #f7c714;


$share_color: #f7c714;

$header_color_gray: #9B9B9B;
$header_color_news: #1EB1FC;
$header_color_pointed: #f00;
$search-btn-bg: $btn_base_bg;
$search-btn-color: $text_color;
$search-btn-color-hover: #ffffff;
$header_authorization_color: $search-btn-bg;
//$header_bg_second: #F0F0F0;
$header_bg_second: #FFFFFF;
$header_sub_menu_bg: $header_bg_second;
$header_sub_menu_color: $text_color;
$header_sub_menu_color_hover: #ffcd16;
$header_heart: #f00;
$gray_box_bg: #f4f4f4;
$yellow_box_bg: #fdec3e;
$red_box_bg: #d83636;
$black_box_bg: #000;
$black_box_border: #fdec3e;
$red_box_border: #fff;
$r: #000;
$header_border_color: #313131;
$rating_color: $btn_base_bg;
$menu_border_color: #ccc;
$menu_left_border_color: #b5b5b5;
$search_item_cashback_color: #f00;
$left_menu_item_border_color: #fff;

$stores_menu_active_color: #1a2527;
$stores_menu_hover_color: #fff;

$account_notify_item_border: $menu_left_border_color;
$account_notify_item_new: rgba($menu_border_color, 0.3);

$h2_line_color: $btn_base_bg;
$h2_white_line_color: #fff;
$a_color: $btn_base_bg;
$a_color_hover: $yellow_box_bg;

$other_services_title_color: $btn_base_bg;
$notyfy_icon_color: #FF0000;
$cahsback_confirmed_color: #5aac44;
$dollar_color: #85bb65;

/*advantages_line*/
$advantages_line_bg: #000;
$advantages_line_color: #fff;
$advantages_line_second_bg: $btn_base_bg;
$advantages_line_second_counter_color: #FFF;
$advantages_line_second_color: #000;

$instruction_color: $btn_base_bg;
$instruction_select_color: $btn_base_bg;

/*shop*/
$shop_bg: #fff;
$shop_logo_bg: #fff;
$shop_name_color: #283133;
$shop_cashback_link_bg: $btn_base_bg;
$shop_cashback_link_color: #0f181a;
$search_list_hover_color: #283739;
$shop_cashback_link_action: #9a0921;
$shop_cashback_old_action: $shop_name_color;
$shop_cashback_old_color: #fff;
$shop_panel_bg: $shop_cashback_old_color;
$shop_panel_coor: $shop_cashback_link_color;
$shop_calculate_cashback_background_color: #f7c714;
$shop_header_color: #fff;
$shop_review_link_color: #f7c714;

/*coupons*/
$coupons_popular_stores_background_color: #eee;
$coupons_popular_stores_color: #7e7e7e;
$coupons_popular_stores_store_background_color: #fff;
$coupons_abc_store_color: $link_color_blue;//#3088CF;
$coupons_abc_store_hover_color: #fdec3e;
$coupons_abc_border_color: #ccc;
$coupons_coupon_logo_border_color: #ccc;
$coupons_coupon_sel_text_bg_color: #000;
$coupons_coupon_sel_text_color: #fff;
$coupons_coupon_promocode_border_color: #7e7e7e;
$coupons_coupon_name_cashback: #FDC02F;
$coupons_all_coupons_icon_color: #FDC02F;
$coupons_a_hover_color: #fdec3e;
$coupons_list_type_switcher_hover_color: #fdec3e;

/*scroll-box*/
$scroll_box_bg: #fff;
$scroll_box_shadow: #000;

/*table*/
$table_bg: #eaeaea;
$table_th_bg: $search_list_hover_color;
$table_th_color: #fff;
$table_2n_bg: #f6f6f5;
$table_select_bg: $btn_base_bg;
$table_select_2n_bg: #fde699;

/*accordion*/
$accordion_control_bg: $btn_base_bg;
$accordion_control_tablets_bg: #D2D6DE;
$accordion_point: $accordion_control_bg;
$accordion_content_border: #D2D6DE;
$accordion_angle_color: $accordion_control_bg;

/*footer*/
$footer_bg: #121212;
$footer_text_color: $table_select_2n_bg;
$footer_text2_color: #fffefe;
$footer_menu_title_color: #fffefe;
$footer_link_color: #b6b6b6;

/*form*/

$form_icon_color: $btn_base_bg;
$form_input_border: #E6E9EA;
$form_error_color: $header_heart;

/*404*/
$page404headColor: #9ea9b3;
$page404paragraphColor: #0B0A0A;

/*faq*/
$faq_icon_color: #999;

/*howitworks*/
$howitworks_item_background_color: #fafafa;

/*loyalty*/
$loyalty_status_header_color_bronze: #6B311F;
$loyalty_status_header_color_silver: #444;
$loyalty_status_header_color_gold: #6D480B;
$loyalty_status_header_color_platinum: #1B1B1B;

$loyalty_status_color_bronze: #E69D86;
$loyalty_status_color_silver: #E3E3E3;
$loyalty_status_color_gold: #FCB84B;
$loyalty_status_color_platinum: #9D9D9B;

$loyalty_status_inner_color_bronze: #B3482B;
$loyalty_status_inner_color_silver: #828282;
$loyalty_status_inner_color_gold: #DC912D;
$loyalty_status_inner_color_platinum: #333333;

$loyalty_status_text_color: rgba(255, 255, 255, 0.85);

/*promo*/
$promo_item_border_color_bronze: #F7EAE6;
$promo_item_background_color_bronze: #FFF7F4;
$promo_item_border_color_silver: #D6D6D6;
$promo_item_background_color_silver: #F5F5F5;
$promo_item_border_color_grey: #efefef;
$promo_item_background_color_grey: #fafafa;
$promo_item_border_color_gold: #C7AF78;
$promo_item_background_color_gold: #F9DFA5;

$promo_item_background_image_money_color: rgba(230, 179, 179, 0.09);
$promo_item_background_image_rocket_color: rgba(187, 190, 193, 0.09);
$promo_item_background_image_smile_color: rgba(187, 190, 193, 0.09);
$promo_item_background_image_diamond_color: rgba(107, 92, 59, 0.04);

/*reccomendations*/
$reccomendations-title-icon-color: #ff0000;
$reccomendations-item-border-color: #eee;

/*offline*/
$offline_icon_color: #3e454c;

/*new-year*/
$new-year_item_header_color: #f7c714;

//search-form
$search-form_text_color: #fff;
$search-form_form_border_color: #000;
$search-form_form_input_color: #fff;
$search-form_form_input_text_color: $text_color;
$search-form_form_button_color: $btn_base_bg;

//account
//$confirm_color: #C3D41B;
//$confirm_color: $cahsback_confirmed_color;
$confirm_color: $dollar-color;
$pending_color: #fbc010;
$declined_color: #f44336;
$charity_color: #f44336;

$bronze: #87260C;
$silver: #9D9D9B;
$gold: #D58417;
$platinum: #060606;
$progress_line: #f7c714;
$progress_line_padding: rgba($progress_line, 0.5);
$circle_bg: #D6D6D6;

//account-notification
$account_notification_bg: rgba(252, 248, 227, 0.55);
$account_notification_border: #f2dede;
$account_notification_date: #fff;
$account_notification_date_bg: #f7c714;

$status_uniq: #f00;

//goto
$transition-color: #FFC107;
$transition-header-color: #F0EE3B;
