/* Кнопки */
$btn_base_bg: #f7c714;
$btn_base_color: #000;

/*общие*/
$text_color: #1b2527;
$header_bg_up: #1b2527;
$header_color_up: #ffffff;
$search-btn-bg: #FFF130;
$search-btn-color: $text_color;
$search-btn-color-hover: #ffffff;
$header_authorization_color: $search-btn-bg;
$header_bg_second: #F0F0F0;
$header_sub_menu_bg: $header_bg_second;
$header_sub_menu_color: $text_color;
$header_sub_menu_color_hover: #ffcd16;
$header_heart: #f00;
$gray_box_bg: #f4f4f4;
$yellow_box_bg: #fdec3e;
$rating_color: #FF9800;

$h2_line_color: $btn_base_bg;
$h2_white_line_color: #fff;
$a_color: $btn_base_bg;
$a_color_hover: #fdca37;

$other_services_title_color: $btn_base_bg;

/*advantages_line*/
$advantages_line_bg: #000;
$advantages_line_color: #fff;
$advantages_line_second_bg: $btn_base_bg;
$advantages_line_second_counter_color: #FFF;
$advantages_line_second_color: #000;

$instruction_color: $btn_base_bg;
$instruction_select_color: $btn_base_bg;


/*shop*/
$shop_bg: #f8f8f8;
$shop_logo_bg: #eee;
$shop_name_color: #283133;
$shop_cashback_link_bg: $a_color_hover;
$shop_cashback_link_color: #0f181a;
$shop_cashback_link_action: #9a0921;
$shop_cashback_old_action: $shop_name_color;
$shop_cashback_old_color: #d6d6d6;
$shop_panel_bg: $shop_cashback_old_color;
$shop_panel_coor: $shop_cashback_link_color;

/*scroll-box*/
$scroll_box_bg: #fff;
$scroll_box_shadow: #000;

/*table*/
$table_bg:#eaeaea;
$table_th_bg:#fff;
$table_2n_bg:#f6f6f5;
$table_select_bg:#fccb30;
$table_select_2n_bg:#fde699;


/*accordion*/
$accordion_control_bg: #e6ae03;
$accordion_point: $accordion_control_bg;
$accordion_content_border: #D2D6DE;
$accordion_angle_color: $accordion_control_bg;


/*footer*/
$footer_bg: #121212;
$footer_text_color: #ffe476;
$footer_text2_color: #fffefe;
$footer_menu_title_color: #fffefe;
$footer_link_color: #b6b6b6;
