//для живосайта установка фона
div iframe#jivo_container{
  position: absolute !important;
}

//для трекера фиксим то что он вылазит над всем
[id^="widget-1track-container"]{
  z-index: 1 !important;
}

.adsbygoogle {
  overflow: hidden;

  iframe {
    width: 100%;
  }
}
