@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova/ProximaNova-Regular.eot');
  src: url('/fonts/proxima-nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
  url('/fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima Nova - Black';
  src: url('/fonts/proxima-nova/ProximaNova-Black.eot');
  src: url('/fonts/proxima-nova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('/fonts/proxima-nova/ProximaNova-Black.woff') format('woff'),
  url('/fonts/proxima-nova/ProximaNova-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url('/fonts/pt-sans-caption/PT_Sans-Caption-Web-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption';
  src: url('/fonts/pt-sans-caption/PT_Sans-Caption-Web-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
