@import  "normalize";
@import  "color";

body{
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  color: #1b2527;
  font-size: 6px;
}

h1{
  font-weight: 500;
}


.page-wrap{
  max-width: 1200px;
  margin: auto;
}

.header{
  background: #999;
  min-height: 50px;
}

.content{
  flex-grow: 1;
}

.footer{
  background: #99050f;
  min-height: 50px;
}