@import  "fonts";

@import 'mixin/clearfix';
@import 'mixin/media';
@import 'mixin/flex';

@import  "normalize";
@import  "color";
@import  "base/vars";
@import  "base/lists";
@import  "base/btn";
@import  "base/table";
@import  "base/forms";
@import  "base/modals";
@import  "base/socials";
@import  "external/tipso.min";
@import  "external/flexslider";

html{
  @include media($desktop) {
    font-size: 16PX;
  }
  @include media($laptop){
    font-size: 16PX;
  }
  @include media($tablets){
    font-size: 14PX;
  }
  @include media($phones){
    font-size: 14PX;
  }
}

.no_scrol_laptop_min {
    @include media($laptop_min) {
      overflow: hidden;
    }
}

body{
  font-family: "Proxima Nova",Arial,Helvetica,"Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  color: $text_color;
  font-size: 16px;
}

.clearfix {
  @include clearfix
}

.no_margin{
  margin: 0;
}

a{
  color: $a_color;
  transition: all .25s ease;

  &:hover{
    color: $a_color_hover;
    fill: $a_color_hover;
    stroke: $a_color_hover;
  }
}

h1{
  font-weight: 700;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 2em;
  position: relative;
  display: flex;
  justify-content: center;

  @include media_min($tablets+1) {
    &:before {
      content: "";
      background: $h2_line_color;
      width: 94px;
      min-width: 74px;
      height: 4px;
      vertical-align: middle;
      display: inline-block;
      margin-right: 46px;
      margin-top: auto;
      margin-bottom: auto;
    }

    &:after {
      content: "";
      background: $h2_line_color;
      width: 94px;
      min-width: 74px;
      height: 4px;
      vertical-align: middle;
      display: inline-block;
      margin-left: 46px;
      margin-top: auto;
      margin-bottom: auto;
    }

    &.title-no-line {
      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }
  }

  &.title-white-line {
    &:before {
      background: $h2_white_line_color;
    }

    &:after {
      background: $h2_white_line_color;
    }
  }

}

h3,h4,h5,h6 {
  &.title-center {
    text-align: center;
  }
}

.page-wrap{
  max-width: 1160px;
  margin: auto;
  padding: 0 5PX;

  &-flex{
    display: flex;

    @include media($laptop_min){
      flex-direction: column;
      justify-content: space-between;

      &-revers_laptop_min{
        flex-direction: column-reverse;
      }
    }
  }
}

.mini-wrap{
  max-width: $tablets;
  margin: 30px auto;
}

.content{
  flex-grow: 1;
}

//.menu_angle{
//  &-down{
//    height: 100%;
//    width: 20px;
//    margin-bottom: -20px;
//  }
//
//  &-right{
//    height: 100%;
//    width: 20px;
//    position: absolute;
//    right: 0;
//    top:0;
//  }
//}

.flex-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: space-around;
}

.heart-red{
  color: $header_heart;
  fill: $header_heart;
  stroke: $header_heart;
  height: 13px;
  margin-left: 5px;
}

.laptop-min {
  @include media($laptop_min) {
    @include flex;
    @include text_aling;
    @include other_modification;
  }
}

.tablets {
  @include media($tablets) {
    @include flex;
    @include text_aling;
    @include other_modification;
  }
}

section {
  margin-bottom: 0;
}
.margin {
  margin-bottom: 47px;
}

.align-center{
  text-align: center;
  justify-content: space-around;
}

svg.svg-no-fill{
  fill: none;
}

.gray-box{
  background-color: $gray_box_bg;
  position: relative;
}

.yellow-box{
  background: $yellow_box_bg;
}

.red_box {
  background: $red_box_bg;
  border: 2px dashed #fff;
  color: #fff;
  padding: 20px;
  max-width: 950px;

  h3{
    color: $btn_base_bg;
  }
}

.round-box {
  border-radius: 10px;
  padding: 40px 0;
}

.wrap-round{
  border-radius: 10px;
  padding: 20px !important;
}

@include media($laptop) {
  .laptop_no_padding {
    padding: 0;
  }

  .laptop_no_bg {
    background: transparent;
  }
}

.rating{
  color: $rating_color;
  fill: $rating_color;
  stroke: $rating_color;
  text-align: center;

  &-wrapper{
    cursor: pointer;
  }

  &-editor{
    text-align: left;
    width: 456px;
    margin: auto;
  }

  &-star{
    height: 19PX;
    width: 19PX;

    &-open{
      fill: none;
    }
  }

  &-title{
    color: $text_color;
  }
}
.site-rating{
  margin-bottom: 0!important;
  text-decoration: none;

  &_star-icon {
    width: 15px;
    height: 15px;
    color: $a_color_hover;
    stroke: $a_color_hover;
    fill: $a_color_hover;
  }
}

.notes{
  display: inline-block;
  height: 1em;
  overflow: hidden;

  &:before{
    content: "*";
    color: $a_color;
    font-size: 34px;
    line-height: 34px;
  }
}

.block_margin-auto{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.terms{
  margin-top:30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba($text_color,0.7);
  text-align: center;
  display: flex;
  white-space: nowrap;

  &:before{
    content: "";
    display: inline-block;
    border-bottom: 2px solid $form_input_border;
    width: 30%;
    margin: auto 10px;
  }

  &:after{
    content: "";
    display: inline-block;
    border-bottom: 2px solid $form_input_border;
    width: 30%;
    margin: auto 10px;
  }
}

.content-wrap {
  margin-top: 90px;
  @include media($laptop_min) {
    margin-top: 0;
  }
  &.margin-top {
    margin-top: calc(120px);
    @include media($laptop_min) {
      margin-top: 30px;
    }
  }
}

.spin {
  animation: spin 2s infinite linear;
}

[data-toggle="tooltip"] {
  cursor: pointer;
  border-bottom: none;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg)
  }
}

@import 'base/error_pages';
@import 'parts/header';
@import 'parts/drop-down-menu';
@import 'index/hello';
@import 'index/advantages_line';
@import 'parts/instruction';
@import 'parts/shop';
@import 'parts/scroll-box';
@import 'index/other_services';
@import 'parts/accordion';
@import 'parts/social';
@import 'parts/footer';
@import 'parts/share48';
@import 'parts/comments';
@import 'parts/autocomplete';
@import 'parts/catalog';
@import 'parts/slider';
@import 'parts/breadcrumbs';
@import 'parts/pagination';
@import "slider/slider";
@import "slider/animationsKeyFrame";
@import "parts/banner";
@import "parts/404";
@import "parts/about";
@import "parts/faq";
@import "parts/howitworks";
@import "parts/loyalty";
@import "parts/promo";
@import "parts/recommendations";
@import "parts/terms";
@import "parts/user_reviews";

