@import 'mixin/clearfix';
@import 'mixin/media';

@import  "normalize";
@import  "color";
@import  "base/lists";
@import  "base/btn";
@import  "base/table";

html{
  @include media($desktop) {
    font-size: 16PX;
  }
  @include media($laptop){
    font-size: 16PX;
  }
  @include media($tablets){
    font-size: 14PX;
  }
  @include media($phones){
    font-size: 14PX;
  }
}

body{
  font-family: "Proxima Nova","Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  color: $text_color;
  font-size: 16px;
}

.clearfix {
  @include clearfix
}

.no_margin{
  margin: 0;
}

a{
  color: $a_color;
  transition: all .25s ease;

  &:hover{
    color: $a_color_hover;
    fill: $a_color_hover;
    stroke: $a_color_hover;
  }
}

h1{
  font-weight: 700;
  font-size: 2.5em;
}

h2 {
  text-align: center;
  font-size: 2em;
  position: relative;

  &:before {
    content: "";
    background: $h2_line_color;
    width: 94px;
    height: 4px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 46px;
  }

  &:after {
    content: "";
    background: $h2_line_color;
    width: 94px;
    height: 4px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 46px;
  }

  &.title-white-line {
    &:before {
      background: $h2_white_line_color;
    }

    &:after {
      background: $h2_white_line_color;
    }
  }
}

.page-wrap{
  max-width: 1160px;
  margin: auto;
  padding: 0 10px;

  &-flex{
    display: flex;
  }
}

.mini-wrap{
  max-width: $tablets;
  margin: 80px auto;
}
.content{
  flex-grow: 1;
}

.menu_angle{
  &-down{
    height: 100%;
    width: 20px;
    margin-bottom: -20px;
  }

  &-right{
    height: 100%;
    width: 20px;
    position: absolute;
    right: 0;
    top:0;
  }
}

.flex-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}

section {
  margin-bottom: 0;

  &.margin {
    margin-bottom: 47px;
  }
}

.align-center{
  text-align: center;
}

svg.svg-no-fill{
  fill: none;
}

.gray-box{
  background: $gray_box_bg;
  position: relative;
}

.yellow-box{
  background: $yellow_box_bg;
}

.round-box {
  border-radius: 10px;
  padding: 40px 0;
}

@include media($laptop) {
  .laptop_no_padding {
    padding: 0;
  }

  .laptop_no_bg {
    background: transparent;
  }
}

.rating{
  color: $rating_color;
  fill: $rating_color;
  stroke: $rating_color;
  text-align: center;

  &-star{
    height: 19PX;
    width: 19PX;
  }
}

@import 'parts/header';
@import 'parts/drop-down-menu';
@import 'index/hello';
@import 'index/advantages_line';
@import 'parts/instruction';
@import 'parts/shop';
@import 'parts/scroll-box';
@import 'index/other_services';
@import 'parts/accordion';
