@import 'mixin/clearfix';
@import 'mixin/media';

@import  "normalize";
@import  "color";
@import  "base/lists";
@import  "base/btn";

html{
  @include media($desktop) {
    font-size: 16PX;
  }
  @include media($laptop){
    font-size: 16PX;
  }
  @include media($tablets){
    font-size: 14PX;
  }
  @include media($phones){
    font-size: 14PX;
  }
}

body{
  font-family: "Proxima Nova","Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: stretch;
  color: $text_color;
  font-size: 16px;
}

.clearfix {
  @include clearfix
}

.no_margin{
  margin: 0;
}

a{
  color: $a_color;
  transition: all .25s ease;

  &:hover{
    color: $a_color_hover;
  }
}

h1{
  font-weight: 700;
  font-size: 2.5em;
}

h2{
  text-align: center;
  font-size: 2em;
  position: relative;

  &:before {
    content: "";
    background: $h2_line_color;
    width: 94px;
    height: 4px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 46px;
  }

  &:after {
    content: "";
    background: $h2_line_color;
    width: 94px;
    height: 4px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 46px;
  }
}

.page-wrap{
  max-width: 1160px;
  margin: auto;
  padding: 0 10px;
  width: 100%;

  &-flex{
    display: flex;
  }
}

.content{
  flex-grow: 1;
}

.menu_angle{
  &-down{
    height: 100%;
    width: 20px;
    margin-bottom: -20px;
  }

  &-right{
    height: 100%;
    width: 20px;
    position: absolute;
    right: 0;
    top:0;
  }
}

.flex-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  margin-bottom: 0;

  &.margin {
    margin-bottom: 47px;
  }
}

.align-center{
  text-align: center;
}

svg.svg-no-fill{
  fill: none;
}
@import 'parts/header';
@import 'parts/drop-down-menu';
@import 'index/hello';
@import 'index/advantages_line';
@import 'parts/instruction';
@import 'parts/shop';
