<section class="search margin">

    <h1 class="search__header">
        {% if query != '' %}
            {{ t('main', 'search_result_with_{query}_', {'query': query})|raw }}
        {% else %}
            {{ t('main', 'search_result')|raw }}
        {% endif %}
    </h1>
    <div  class="search_stores margin">


        {% if stores|length > 0 %}
            <div class="search_stores-list shops">
                {% for store in stores %}
                    {% include 'parts/shop.twig' %}
                {% endfor %}
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
            </div>


        {% else %}
            <p>{{ t('main', 'search_result_empty')|raw }}</p>
        {% endif %}
    </div>


</section>
