<section class="search margin">

    <h1 class="search__header">
        Результаты поиска {% if query != '' %} по запросу '{{query}}' {% endif %}
    </h1>
    <div  class="search_stores margin">


        {% if stores|length > 0 %}
            <div class="search_stores-list shops">
                {% for store in stores %}
                    {% include 'parts/shop.twig' %}
                {% endfor %}
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
                <div class="shop shop-empty"></div>
            </div>


        {% else %}
            <p>По вашему запросу ничего не найдено.</p>
        {% endif %}
    </div>


</section>
