<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  lang="{{ app.language }}"  xmlns:og="http://ogp.me/ns#">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <base href="/">

    <title>{{ html.encode(this.title) }}</title>

    <!-- SEO -->
    <meta name="keywords" content="__________" />
    <meta name="description" content="__________" />
    <meta name="author" content="Max Matiukhin" />
    <!-- favicon -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="shortcut icon" href="/favicon.ico">

    <!--css-->
    <link rel="stylesheet" href="css/new/styles.css">

  </head>
  <body>
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include 'base/header.twig' %}
    {% include 'index/hello.twig' %}


    <footer class="footer">

    </footer>
  </body>
</html>
