<section class="margin">
  <div class="page-wrap">
    {% if additional_stores_category %}
      <h2 class="additional-stores_header">
          {{ t('main', 'popular_stores_from_{category}_cashback'~_if(current_store.is_offline,"","_offline"), {'category': additional_stores_category.name})|raw }}
      </h2>
    {% else %}
        {% if current_store.is_offline %}
          <h2 class="additional-stores_header">{{ t('main', 'other_popular_offline_shops_cashback')|raw }}</h2>
        {% else %}
          <h2 class="additional-stores_header">{{ t('main', 'other_popular_online_shops_cashback')|raw }}</h2>
        {% endif %}
    {% endif %}
    <div class="shops">
      {% for store in additional_stores %}
        {% include 'parts/shop.twig' %}
      {% endfor %}
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
      <div class="shop shop-empty"></div>
    </div>
    <div class="align-center">
      <a href="/stores{% if current_store.is_offline %}/offline{% endif %}" class="btn btn-transform">{{ t('main', 'all_stores_with_cashback')|raw }}</a>
    </div>
  </div>
</section>