{% set comments_max_height = true %}

<section id=reviews class="margin">
  <div class="page-wrap ">
    <h2>Отзывы о {{current_store.name}}</h2>
    {% if store_reviews|length == 0 %}
      <div class="comments_no-comments align-center">
        <p class="ntfnd">На данный момент отзывы о магазине</p>
        <p>{{current_store.name}} отсутствуют. Будь первым!</p>
      </div>
    {% endif %}

    {#<div class="flex-wrap flex-line">#}
    <div class="flex-wrap shop-comments">
      {% set i=0 %}
      {% set user_cashbak_hide=true %}
      {% for review in store_reviews %}
        {% set i=i+1 %}
        {% set comment_hide = (6 < i) %}
        {% include 'parts/comment.twig' %}
      {% endfor %}
      <div class="scroll_box-item scroll_box-item-emty"></div>
      <div class="scroll_box-item scroll_box-item-emty"></div>
      <div class="scroll_box-item scroll_box-item-emty"></div>
    </div>

    <div class="align-center">
      {% if store_reviews|length>6 %}
        <a class="btn btn-mini btn-round btn-transform btn-margin btn-margin_vertical-mini show_all" data-cntrl-class="scroll_box-item-hide" href="#">Показать все</a>
        <a class="btn btn-mini btn-round btn-transform btn-margin btn-margin_vertical-mini hide_all" data-cntrl-class="scroll_box-item-hide" href="#" style="display: none;">Скрыть все</a>
      {% endif %}

      {% if user_id %}
        <a href="#reviews/send?shop={{ current_store.uid }}" class="btn btn-mini btn-round btn-margin btn-margin_vertical-mini modals_open">Оставить отзыв</a>
      {% else %}
        <p>
          Для того, чтобы иметь возможность оставлять отзывы, Вам нужно
          <a href="#registration" class="modals_open">зарегистрироваться</a> или <a href="#login" class="modals_open">войти в свой аккаунт</a>.
        </p>
      {% endif %}
    </div>
  </div>
</section>