{% if not current_store %}
  {% set  current_store = get_store(store_id) %}
{% endif %}
<section class="margin shop-tracker shop_information page-wrap">
  <div class="page-wrap gray-box wrap-round">
    <h2 class="shop-tracker_header title-no-line">{{ t('main', 'test_link_{store}_h', {'store': current_store.name})|raw }}</h2>
    <form action="/stores/{{ current_store.route }}/get-link" class="form-test-link">
      <div class="header-search_form-group">
        <input type="text" name="url" id="search" class="header-search_form-input search-form-input" value="" placeholder="{{ t('main','test_link_placeholder') }}" autocomplete="off">
        <input type="submit" class="btn btn-mini" value="{{ t('main','test_link') }}">
      </div>
      <div class="help-block"></div>
    </form>
  </div>
</section>