<div class="popup-cert popup-template">
    <div class="pcert popup-content">
        <a href="/images/templates/cert.png"><img class="pcert-img" src="/images/templates/cert.png" alt="cert"></a>
    </div>
</div>
<script type="text/javascript">
document.getElementsByClassName("pcert-img")[0].style.height = (window.innerHeight - 100) + "px";
</script>