@media screen and (max-width:1200px) {
  header {
    width: 90%;
    margin: 0 auto;
  }

  .intro-content {
    display: inline-block;
    width: 70%;
  }

  .greeting .greeting-content {
    /*padding-top: 15%;*/
    padding-top: 18%;
  }

  .greeting .greeting-content h1 {
    font-size: 42px;
  }

  .faq .rightcol.mh {
    min-height: 300px;
  }

  .catalog-slider .slides>li .action .phrase {
    text-align: center;
    border-radius: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
    margin-top: 0px;
    float: none;
  }

  .catalog-slider .slides>li .action .logo {
    width: 190px;
    text-align: center;
    background: #fff;
    padding: 15px 0;
    margin: 0 auto;
    float: none;
  }

  .primary-nav>li.search form input {
    width: 110px;
  }
}

@media screen and (max-width:1124px) {
  .shops .shop .shop-bottom .cashback-link {
    height: 50px;
  }
}

/* Responsive nav kicks in */
@media screen and (max-width:991px) {
  .shops .more-shops {
    margin-top: 15px;
  }

  header .mobile-member-actions {
    display: block;
  }

  header .primary-nav .dobrohead {
    display: none;
  }

  header .member-actions.mdes {
    display: none;
  }

  .catalog-slider .flex-control-nav a {
    border: solid 1px #0f181a;
  }

  .catalog-slider .flex-control-paging li a.flex-active {
    line-height: initial;
    border-color: #0f181a;
    border: 1px solid #0f181a;
  }

  .greeting {
    background: url(/images/templates/SD_header.jpg) center 0px no-repeat;
  }

  .shops .category-title-wrapper {
    width: 100%;
  }

  .shops .cathead {
    display: none;
  }

  .dobrohead {
    color: #F44336;
    display: block;
    font-size: 15px!important;
    position: static;
    font-weight: bold;
    top: auto;
    border: 2px solid #000;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    right: auto;
    height: 44px;
  }

  .dobrohead span {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }

  .dobrohead:hover {
    color: #F44336;
  }

  .primary-nav .promo-l {
    margin-bottom: 30px;
  }

  .about .mob-only {
    display: block;
  }

  .about .desk-only {
    display: none;
  }

  .about .address {
    text-align: center;
  }

  .about .cert a img,
  .about .mob-only a img {
    margin-bottom: 30px;
    height: auto;
    width: inherit;
  }

  footer .pre-social-block.for-mobile {
    font-size: 15px;
    line-height: 25px;
  }
  footer .pre-social-block.for-mobile,
  footer .social-block-share.for-mobile {
    display: block;
  }
  footer .social-block-share.for-mobile {
    margin-bottom: 30px;
  }
  footer .social-block-share.for-mobile a {
    margin-bottom: 10px;
  }

  footer .footer-contacts.mobile-footer-contacts{
    display: block;
  }

  .view-store .cashback.old {
    margin-top: 20px;
  }

  .autocomplete-suggestions {
    display: none !important;
  }

  .shops .shop .shop-bottom .cashback-link {
    height: auto;
  }

  .store-2line .comments h3 {
    margin-top: 40px;
  }

  .view-store .hold-name {
    margin-bottom: 40px;
  }
  .view-store .cashback {
    margin-top: 10px;
    color: #3d4351;
  }
  .view-store .cashback span {
    color: #FF9800;
  }
  .view-store .additional-information {
    margin-bottom: 30px;
    color: #3d4351;
  }

  .coupons .current-coupon .logo>a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .coupons .current-coupon .text .name {
    border-radius: 0px;
  }

  header {
    width: 90%;
    padding-left: 25px;
  }

  .greeting .greeting-content {
    /*padding-top: 15%;*/
    padding-top: 14%;
  }

  .statistics .total-cashback h4 {
    font-size: 60px;
  }

  .statistics .total-cashback h4 span.fa {
    font-size: 54px;
  }

  .faq .leftcol {
    padding-right: 15px;
  }

  .faq .rightcol {
    padding-left: 15px;
  }

  .faq .btn {
    padding: 15px 20px;
  }

  .faq .rightcol.mh {
    min-height: 0px;
  }

  .header-nav {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }

  .header-nav.open nav {
    top: 0;
    height: 100%;
    min-width: 260px;
    width: 70%;
    background: #fff;
    z-index: 1001;
    overflow-y: scroll;
    transition: left .2s ease;
    -moz-transform: translatey(0%);
    -ms-transform: translatey(0%);
    -o-transform: translatey(0%);
    -webkit-transform: translatey(0%);
    transform: translatey(0%);
    box-sizing: border-box;
  }

  .header-nav.open nav ul {
    text-align: left;
  }

  .header-nav.open nav ul li a {
    color: #161616;
  }

  .header-nav.open nav ul.primary-nav {
    position: relative;
    padding-left: 20px;
  }

  .header-nav.open nav ul.primary-nav li.stores > a,
  .header-nav.open nav ul.primary-nav li.coupons-l > a,
  .header-nav.open nav ul.primary-nav li.promo-l > a {
    display: block;
    background: #f7cc48;
    padding: 10px 15px;
    margin-right: 20px;
  }
  .header-nav.open nav ul.primary-nav li > a.active {
    border: 2px solid #f7cc48;
    background: #fff;
  }
  .header-nav.open nav ul.primary-nav li > a.active:hover {
    color: #161616;
  }

  header ul.primary-nav .search.mobile {
    display: block !important;
  }

  .header-nav.open nav ul.member-actions.mobile-member-actions li.balance-wrapper {
    margin-top: 0px !important;
  }

  .header-nav.open nav ul.member-actions.mobile-member-actions .dobrohead {
    margin-bottom: 40px;
  }

  header ul.primary-nav .search {
    display: none !important;
  }

  .header-nav.open nav ul.member-actions {
    padding-left: 20px;
  }

  .header-nav.open nav ul.member-actions.mobile-member-actions {
    padding-top: 20px;
  }

  .header-nav.open .form-mobile {
    display: block;
    margin-top: 15px;
  }

  .header-nav.open .form-mobile input {
    padding: 5px 13px;
    border: 0px;
    border-bottom: 2px solid;
  }

  .header-nav.open nav ul.member-actions li a {
    font-size: 14px;
  }

  .header-nav.open nav ul.member-actions li a.registration {
    padding-left: 10px;
  }

  .header-nav.open nav ul.member-actions li {
    margin-bottom: 10px;
    border: 2px solid #000;
    margin-right: 20px;
    /*padding: 10px;*/
  }

  .header-nav.open nav ul.primary-nav .submenu .tree a.active {
    color: #d8ad24 !important;
    font-weight: bold !important;
  }

  .header-nav.open nav ul.member-actions li.balance-wrapper {
    border: 0px;
    padding: 0px;
    margin-top: 20px;
  }

  .header-nav.open nav ul.member-actions li a.balance {
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .header-nav.open nav ul.primary-nav .search input {
    border-bottom-color: #161616;
    border-radius: 0px !important;
  }

  .header-nav.open nav ul.primary-nav .search input::-webkit-input-placeholder {color:#161616;}
  .header-nav.open nav ul.primary-nav .search input::-moz-placeholder          {color:#161616;}
  .header-nav.open nav ul.primary-nav .search input:-moz-placeholder           {color:#161616;}
  .header-nav.open nav ul.primary-nav .search input:-ms-input-placeholder      {color:#161616;}

  .header-nav.open nav ul.primary-nav .search .fa-search {
    color: #161616;
  }

  .header-nav.open nav ul.primary-nav .submenu {
    position: static;
    display: block;
    opacity: 1;
    background: transparent;
    box-shadow: 0px 0px 0px;
    color: #282b37;
    width: auto;
    margin-left: 0px;
    margin-top: 10px;
  }

  .header-nav.open nav ul.primary-nav .submenu .fa-caret-up {
    display: none;
  }

  .header-nav.open nav ul.primary-nav .submenu .tree {
    padding: 0px;
    padding-right: 10px;
  }

  .header-nav.open nav ul.primary-nav .submenu .tree li {
    margin-bottom: 5px;
  }

  .header-nav.open nav ul.primary-nav .submenu .tree li span {
    font-weight: bold;
  }

  .header-nav.open nav ul.primary-nav .submenu .tree li .title {
    color: #2c2f38;
    padding-left: 0px;
    font-weight: bold !important;
  }

  .header-nav.open nav ul.primary-nav .submenu .tree li ul {
    position: static;
    padding: 5px 10px 5px 0px;
    display: block;
  }

  .header-nav.open nav ul.primary-nav .submenu .tree li ul li a {
    color: #2c2f38;
  }

  .header-nav.open nav ul.primary-nav .submenu .tree li ul li a::before {
    margin-left: 0px;
  }

  .header-nav.open nav ul.primary-nav .submenu .tree li .fa-caret-right {
    display: none;
  }

  .header-nav.open nav ul.primary-nav > li.stores .submenu .tree >ul > li:hover > ul {
    background-color: transparent;
    border: 0px;
    width: auto;
  }

  .divide.shops .row > div {
    float: left;
  }

  .divide.shops.search .row > div {
    float: none;
  }

  .divide.shops .row > div .left-categories {
    display: none;
  }

  header ul.member-actions li.registration-mobile {
    display: block;
    margin-top: 19px;
  }

  header ul.member-actions li.registration-wrapper {
    display: none;
  }

  .divide.shops .row > div.shops-list {
    width: 100%;
  }

  .divide.shops .shops-pagination .row > div {
    float: none !important;
  }

  .testimonial-slider .flex-control-nav {
    bottom: -55px;
  }

  .testimonial-slider .flex-control-paging li a {
    background: transparent;
    border: 1px solid #fff;
    width: 8px;
    height: 8px;
  }

  .testimonial-slider .flex-control-paging li a.flex-active {
    border: 1px solid #0f181a;
    background: #0f181a;
    line-height: initial;
  }

  .navicon {
    right: 0px !important;
  }

  ul.member-actions {
    position: static;
  }

  .navicon {
    visibility: visible;
  }

  header .nav-wrapper {
    display: absolute;
  }

  header nav {
    position: relative;
    top: 45%;
    -moz-transform: translatey(-45%);
    -ms-transform: translatey(-45%);
    -o-transform: translatey(-45%);
    -webkit-transform: translatey(-45%);
    transform: translatey(-45%);
  }

  nav ul li a {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out
  }

  nav ul li {
    margin-bottom: 25px
  }

  nav ul.primary-nav li {
    display: block;
  }

  nav ul.member-actions li {
    display: block;
  }

  nav a.login {
    margin-right: 0px;
  }

  nav ul.primary-nav {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav ul.primary-nav li a {
    padding-right: 0;
  }

  nav .member-actions {
    position: static;
    padding: 0;
    text-align: center;
  }

  nav ul.primary-nav li,
  nav ul.member-actions li {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0, -80px, 0);
    -ms-transform: translate3d(0, -80px, 0);
    -o-transform: translate3d(0, -80px, 0);
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    -o-transition: -o-transform 0.5s, opacity 0.5s;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    -o-transition: -o-transform 0.5s, opacity 0.5s;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s
  }

  header .header-nav.open ul.primary-nav li,
  header .header-nav.open ul.member-actions li {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  nav ul.primary-nav li:first-child {
    -moz-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s
  }

  nav ul.primary-nav li:nth-child(2) {
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
  }

  nav ul.primary-nav li:nth-child(3) {
    -moz-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s
  }

  nav ul.primary-nav li:nth-child(4) {
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s
  }

  nav ul.member-actions li:first-child {
    -moz-transition-delay: 0.25s;
    -o-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s
  }

  nav ul.member-actions li:nth-child(2) {
    -moz-transition-delay: 0.30s;
    -o-transition-delay: 0.30s;
    -webkit-transition-delay: 0.30s;
    transition-delay: 0.30s
  }

  .intro-content {
    display: inline-block;
    width: 75%;
  }

  .last {
    margin: 0;
  }

  .features {
    padding-bottom: 0;
  }

  .features .device-showcase,
  .features-extra .macbook-wrap {
    display: none;
  }

  .features .responsive-feature-img,
  .features-extra .responsive-feature-img {
    display: block;
    width: 85%;
    margin: 5% auto 0;
  }

  .features .responsive-feature-img img,
  .features-extra .responsive-feature-img img {
    width: 100%;
  }

  .greeting-strip {
    margin-top: 0;
  }

  .blog-intro .leftcol {
    padding: 0 15px;
    margin-bottom: 15px;
    border-right: none;
  }

  .blog-intro .rightcol {
    padding: 0 20px;
  }

  footer .auxiliary-panel {
    display: none;
  }

  footer .footer-links {
    margin: 120px 0 120px 0;
  }

  .divide.shops p.view-items {
    text-align: left;
  }

  .catalog.shops .dropdown-select {
    float:left;
    margin-top: 20px;
  }

  .primary-nav > li {
    display: block !important;
  }

  .primary-nav > li.search input {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    width: 150px !important;
    color: #151515 !important;
  }

  .primary-nav > li.search .fa {
    font-size: 23px !important;
  }

  header ul.member-actions li a {
    font-size: 20px;
    padding: 10px;
    display: block;
  }


}



@media screen and (max-width:640px) {
  footer ul.footer-group {
    border-top: none;
  }

  footer ul.footer-group li a {
    font-size: 13px;
    text-transform: uppercase;
    padding: 20px 0;
    display: block;
    border-bottom: dashed 1px #4E566C;
  }

  footer ul.footer-group li {
    display: block;
  }

  footer .footer-links {
    margin: 0px 0 50px 0;
  }

  .sign-up .signup-form .sign-up-btn {
    width: 90%;
  }
  .sign-up .signup-form .form-input-group {
    width: 90%;
  }
  .popup-content .form-input-group {
    width: 90%;
  }
  .popup-content button {
    width: 90%;
  }

  .catalog-slider .slides>li .action .phrase h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .catalog-slider .slides>li .action .phrase h3 {
    font-size: 17px;
    line-height: 22px;
  }

  .sign-up.popup-sign-up .sign-up-tagline {
    width: 420px;
  }
  .btn-popup {
    width: 100%;
    margin-bottom: 15px;
  }

}

@media screen and (max-width:480px) {

  .greeting .greeting-content h1 {
    font-size: 34px;
  }

  .shops .sort-menu-mobile {
    display: block;
  }

  .shops .sort-menu {
    display: none;
  }

  .shops .mobile-stores {
    display: block;
  }

  .shops .des-stores {
    display: none;
  }

  .testimonial-slider {
    background: url("/images/templates/SD_footer.jpg") no-repeat center 0px;
    background-size: cover;
  }

  .testimonial-slider h2 {
    color: #DFE5E8;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 30px 10px;
  }

  .greeting .greeting-content {
    /*padding-top: 37%;*/
    padding-top: 20%;
  }

  .greeting .btn {
    display: block;
    width: 240px;
    margin: 0 auto;
  }

  .greeting .btn:first-of-type {
    /*margin-bottom: 20px;*/
  }

  .greeting h1 {
    font-size: 40px;
  }

  .greeting .greeting-content .btn.btn-accent {
    margin-bottom: 60px;
  }

  .greeting .greeting-content .btn.btn-fill {
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn-margin-right {
    margin-right: 0px;
  }

  .features .device-showcase-left {
    position: absolute;
    bottom: -392px;
    left: 41%;
    right: auto;
    transform: translateX(-50%);
  }

  .features .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url("/images/templates/ipad-device.png") no-repeat center center;
    z-index: 1;
    background-size: 40%;
  }

  .features .iphone-wrap {
    width: 304px;
    height: 617px;
    background: url("/images/templates/iphone6.png") no-repeat center center;
    position: absolute;
    left: 350px;
    bottom: 129px;
    z-index: 2;
    background-size: 40%;
  }

  .features {
    padding-bottom: 0;
  }

  .sign-up.popup-sign-up .sign-up-tagline {
    width: 320px;
  }

  .to-top .to-top-wrap {
    width: 30px;
  }

  .footer-pre-logo .hpemob {
    display: none;
  }
  .sign-up .signup-form .form-input-group {
    width: 100%;
  }
  .sign-up .signup-form .sign-up-btn {
    width: 100%;
  }
  .popup-content .form-input-group {
    width: 100%;
  }
  .popup-content button {
    width: 100%;
  }
}

@media screen and (max-width:320px) {
  .sign-up.popup-sign-up .sign-up-tagline {
    width: 305px;
  }
  .sign-up.popup-sign-up h3 {
    margin-top: 0px;
  }
  .sign-up.popup-sign-up .sign-up-tagline {
    line-height: 24px;
    padding-bottom: 5px;
  }
}

/* 320px (iPhone) */
@media screen and (max-width:320px) {
}
/* 480px (WVGA - Low End Windows Phone) */
@media screen and (max-width:480px) {
  .wrapper { background: #f3f5f8; height: 640px; }
  .iphone { display: none; }
  .fluid-white { display: none; }
  .wp2, .wp4, .wp5, .light-box { margin-bottom: 30px; }
  .legals { text-align: center; margin: 0; padding: 0; }
  .credit { text-align: center; }
}
/* xGA iPad */
@media screen and (max-width:1024px) {
  .wp3 { background-position: 50px 0; }
  .swag { background-attachment: scroll; }
  .subscribe { background-attachment: scroll; }
}
/* 1200px (Small Desktop, Netbook) */
@media screen and (max-width:1280px) {
  .wp3 { background-position: 50px 0; }
}
/* Bootstrap 990px Breakpoint to 480px */
@media screen and (min-width:480px) and (max-width:991px) {
  .iphone { display: none; }
  .fluid-white { display: none; }
  .wrapper { background: #f3f5f8; height: 540px; }
  .wp2, .wp4, .wp5, .light-box { margin-bottom: 30px; }
  .legals { text-align: center; margin: 0; padding: 0; }
  .credit { text-align: center; }
}
