<section class="margin">
    <div class="page-wrap">
        <h2 class="content-header">{{ t('shop', 'popular_products')|raw }}</h2>
        {% set products = popular_products %}
        {% include('parts/products/other_products.twig') %}
        <div class="align-center">
            <a href="{{ _href('/category')|raw }}" class="btn btn-transform">{{ t('shop', 'all_products_with_cashback')|raw }}</a>
        </div>
    </div>
</section>