<p>
  {{ t('main',"loyalty_status_bay_description",data) }}
</p><p>
  {{ t('main',"loyalty_status_bay_yes_content",data) }}
</p>
<div class="align-center">
  <a class="btn modals_open" href="#account/bay-loyalty/{{ code }}/yes">Купить</a>
</div>
