<div class="catalog-categories_tree-toggle">
  {{ svg('bars-slim', 'catalog-categories_tree-toggle-icon catalog-categories_tree-toggle-icon-close','@frontend')|raw }}
  {{ svg('close', 'catalog-categories_tree-toggle-icon catalog-categories_tree-toggle-icon-open', '@frontend')|raw }}
  <span class="catalog-categories_tree-toggle-tittle">{{ t('main', 'stores_change_category')|raw }}</span>
</div>

{% if slider_products|length > 0 %}
  {% include 'parts/products/slider.twig' %}
{% endif %}

{% if category_top %}
  {% include 'parts/products/category_top.twig' %}
{% endif %}