<div class="content-wrapper">
    <div class="account-home">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ h1 }}</h3>
                {{ content | raw}}
            </div>
        </div>
    </div>
</div>