<div class="content-wrapper">
    <div class="account-home">
        <div class="row">
            <h1>{{ h1 }}</h1>
            <div class="col-md-12">
                {{ content | raw}}
            </div>
        </div>
    </div>
</div>