{% set form = active_form_begin({
        'action':_href('/account/dobro/send'),
        'options':{'class': 'dobro-form'},
    }) %}

    {{ form.field(model, 'amount', {
        'template':'<i>'~svg("money",'form-icon')~'</i>\n{input}<div class="user-currency">'~currencyIcon(app.user.identity.currency)~'</div>\n{error}',
        'options':{'class': 'form-group form-input-group field-charity-amount'},
    }).textInput({'placeholeder':t('account', 'dobro_summ_placeholder')}).label(false)|raw }}

    {{ form.field(model, 'foundation_id', {
        'template':'{input}\n{error}',
        'options':{'class': 'form-group form-group-hidden'},
    }).hiddenInput({'id':'dobro-send-form-charity-process'}).label(false)|raw }}

    <br>
    <button type="submit" class="btn">{{ t('account', 'dobro_button')|raw }}</button>
{{ active_form_end() }}
