{% if product_categories_tree|length %}
    <ul>
    {% for category in product_categories_tree %}
        <li class="" style="list-style-type:none;padding-left: 20px;">
            <label for="product_categories_{{ category.id }}">
                <input id="product_categories_{{ category.id }}" type="checkbox" name="ProductParametersValues[possible_categories][]" value="{{ category.id }}"
                       {% if category.id in model.categories %}checked{% endif %} >
                {{ category.name }}
            </label>
            {% set product_categories_tree = category.children %}
            {% include('category_tree.twig') %}
        </li>
    {% endfor %}
    </ul>
{% endif %}