<div class="user-info-bar">
	<div class="user-email">
		<p>
			{{user.email}}
		</p>
	</div>
	<span class="cash-text">{{cashText}}</span><span class="cash-amount">{{user.totals.available_for_payment}} {{user.currency_symbol}}</span>
	<!-- <button ng-click="logout()">logout</button> -->
	<a ng-if="!unClickAble" ui-sref="shops" class="cash-text shop-menu pointerHover">{{shopMenu}}</a><a ng-if="!unClickAble" ui-sref="inbox" class="cash-text inbox-menu pointerHover">
                    {{inboxMenu}}<div class="bubble bg--white ng-binding ng-scope" ng-if="user.messageNotification>0?true:false">{{user.messageNotification}}</div>
          </a>
	<a ng-if="unClickAble" class="cash-text bg--gray shop-menu pointerHover">{{shopMenu}}</a><a ng-if="unClickAble" class="cash-text bg--gray inbox-menu pointerHover">
                    {{inboxMenu}}<div class="bubble bg--red ng-binding ng-scope" ng-if="user.messageNotification>0?true:false">{{user.messageNotification}}</div>
          </a>
	<div class="clear"></div>
</div>
<div class="search-box" ng-hide="activeCampaign || loading">
	<input type='text' value="" ng-model="searchKeyword" class="search">
</div>
<div class="container">
	<img class="loader" src="../img/loader.gif" ng-show="loading" />
	<div class="item" ng-repeat="(key, item) in searchCampaignsContainer | limitTo: 10" ng-click="openCampaign(user.id, item.id);" ng-hide="activeCampaign || loading">
		<a>
			<img class="img" ng-src="{{item.logoimage}}" alt="">
			<span class="title">{{item.title}}</span>
			<span class="commission">{{commisionStr(item.commissions  ?  item.commissions  : [])}}</span>
		</a>
	</div>
	<div class="info" ng-show="activeCampaign">
		<img class="img" ng-src="{{activeCampaign.logoimage}}" alt="{{activeCampaign.title}}">
		<div class="commission-info">{{commisionStr(activeCampaign.commissions)}}</div>
		<div class="form-group" ng-hide="hideActiveCampBtn">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-bonusway-red-full" ng-click="openCampaign(user.id, activeCampaign.id);">{{ get_cashbackText }}</button>
			</div>
		</div>
	</div>
</div>
