<section>
<div class="sign-up noajax result">
    <h3>Отправлен E-mail</h3>
    <p class="message">
        {% if new %}

        {% else %}

        {% endif %}
        Для завершения регистрации необходимо подтвердить ваш email.
    </p>
    <p class="message">
        Вам отправлено письмо {{ _if(email,"на <b>"~email~"</b>") |raw }}
        со ссылкой на его подтверждение. Проверьте почту.
        Если письмо не пришло в течение 5 минут – проверьте папку «Спам».
    </p>
    <p>
        Если вы ошиблись при вводе e-mail, пройдите по этой <a href="">ссылке</a>.
    </p>
</div>
</section>