<section>
<div class="sign-up noajax result social">
  {% if not isAjax %}
      <h2 class="title-no-line">{{ t('common', 'email_is_send')|raw }}</h2>
  {% endif %}
    <p class="message">
        {{ t('account', 'email_with_confirmation sent_to_{email}_', {'email': email})|raw }}
    </p>
    <p>
        {{ t('account', 'if_you_mistake_retun_<a{back}>back</a>', {'back': 'href="#" onclick="javascript:history.back(); return false;"'})|raw }}
    </p>
</div>
</section>