<div class="sign-up noajax">
    <h3>Отправлен Email</h3>
    <p class="message">У нас уже есть пользователь с таким email. Для завершения регистрации необходимо подтвердить ваш email</p>
    <p class="message">Вам отправлено письмо со ссылкой на его подтверждение. Проверьте почту.</p>
</div>