<div class="sign-up popup-sign-up {% if isAjax == false %} noajax {% endif %} social" style="opacity: 1;">
    <h2 class="title-no-line margin-bottom-light">Введите E-mail</h2>
    <p class="sign-up-tagline align-center">Для завершения регистрации необходимо ввести e-mail</p>
    {% set form = active_form_begin({
    'id' : isAjax?'email-form-ajax':'email-form',
    'layout' : 'horizontal',
    'fieldConfig':{
    'horizontalCssClasses':{
    'wrapper':'form-input-group',
    }
    },
    'options' : {
    'class' : 'signup-form ajax_form',
    'role' : 'form'
    },
    }) %}
    {{ form.field(model, 'email_manual',{
        'template' :
        '{beginWrapper}<i>'~svg("envelope",'form-icon')~'</i>{input}\n{endWrapper}\n{error}'
    }).textInput({'placeholder':'Введите ваш E-mail','required':true})|raw }}
    <div class="align-center">
        <button type="submit btn" class="btn sign-up-btn">Отправить</button>
    </div>
    {{ form.field(model, 'social_name', {
        'template' :
        '{input}{error}'
    }).hiddenInput().label(false)|raw }}
    {{ form.field(model, 'social_id', {
        'template' :
        '{input}{error}'
    }).hiddenInput().label(false)|raw }}
    {{ active_form_end() }}

</div>
<script type="text/javascript">
    window.resizeTo(540, 370);
</script>