<section>
<div class="sign-up noajax result social">
    <h3>E-mail отправлен</h3>
        {% if new %}

        {% else %}

        {% endif %}

    <p class="message">
        {{ _if(email,"На <b>"~email~"</b>") |raw }} отправлено письмо
        со ссылкой для подтверждения аккаунта.
        Если письмо не пришло в течение 5 минут – проверьте папку «Спам».
    </p>
    <p>
        Если вы ошиблись при вводе e-mail, вернитесь <a href="#" onclick="javascript:history.back(); return false;">назад</a>.
    </p>
</div>
</section>