<div class="sign-up popup-sign-up" style="opacity: 1;">
  <h3>Начните экономить уже сегодня</h3>
  <p class="sign-up-tagline">
    <center>
      Регистрация полностью бесплатна и займёт у вас несколько секунд
    </center>

  </p>
  {{ use('frontend/components/socials/EauthWidget') }}
  {{ eauth_widget_widget({'vertical':true}) }}


  <div class="sign-up-email"><a href="#registrationemail" class="">Регистрация через Email</a></div>
  <div class="sign-up-buttons">Уже зарегистрированы? <a href="#login" class="">Войдите на сайт</a></div>
  <p class="terms">
    Нажимая "Зарегистрироваться", вы соглашаетесь  с <a href="/terms">Правилами сайта</a>.
  </p>

</div>