<div class="sign-up popup-sign-up" style="opacity: 1;">
    <h3>Восстановление пароля</h3>
    <p class="sign-up-tagline">
        Инструкции для восстановления пароля<br>
        придут к вам на указанный e-mail
    </p>
    {% set form = active_form_begin({
    'id' : isAjax?'resetpassword-form-ajax':'lresetpassword-form',
    'layout' : 'horizontal',
    'fieldConfig':{
    'horizontalCssClasses':{
    'wrapper':'form-input-group',
    }
    },
    'options' : {
    'class' : 'signup-form ajax_form',
    'role' : 'form'
    },
    }) %}
    {{ form.field(model, 'email',{
        'template' :
        '{beginWrapper}<i class="fa fa-envelope"></i>{input}\n{endWrapper}\n{error}'
    }).textInput({'placeholder':'Введите ваш e-mail','required':true}) | raw }}

    {{ form.field(model, 'password',{
        'template' :
        '{beginWrapper}<i class="fa fa-lock"></i>{input}\n{endWrapper}\n{error}'
    }).passwordInput({'placeholder':'Желаемый пароль','required':true}) | raw }}

    <button type="submit" class="btn-fill sign-up-btn">Восстановить пароль</button>
    {{ active_form_end() }}
</div>
</br>
</br>