<h3 style="text-align: center;">Поздравляем!</h3>
<p style="max-width:500px; text-align: center;">
    Инструкции по восстановлению пароля успешно отправлены на указанный email адрес.
    Если письмо не пришло в течение 5 минут, посмотрите в папке «Спам».
</p>