<section class="index-hello_end">
    <a href="/affiliate-system" class="page-wrap page-wrap-flex index-hello_end-big_link">
        <span class="index-hello_end_left">
            {{ _constant('pre_footer_text')|raw }}
            <div class="index-hello_end_left_btn">
                <div class="btn btn-dark btn-block btn-max_width100  laptop-min-btn-margin_auto">{{ t('common', 'read_more') }}</div>
            </div>
        </span>
        <span class="index-hello_end_right"></span>
    </a>
</section>