<section class="index-hello_end">
    <a href="#" class="page-wrap page-wrap-flex index-hello_end-big_link">
        <span class="index-hello_end_left">
            <b>Приведи друзей</b> и получай<br>
            <span>15%</span> от их кэшбэка,<br>
            <b>ПОЖИЗНЕННО!</b>
            <div class="index-hello_end_left_btn">
                <a href="/affiliate-system" class="btn btn-dark btn-block btn-max_width100  laptop-min-btn-margin_auto">Подробнее</a>
            </div>
        </span>
        <span class="index-hello_end_right"></span>
    </a>
</section>