@import "for_all.scss";

.site-login {
  background: url(/images/templates/back600.jpg) no-repeat;
  background-position-y: 120px;
  &__header {
    font-size: 24px;
    font-weight: 600;
  }
  &__left {
    p {
      width: 60%;
    }
  }
  &__right {
    background: #DEE7F0;
    border-radius: 5px;
    border-top: 24px solid #536384;
    margin-top: 40px;
    margin-bottom: 120px;
    &-header {
      border-bottom: 1px solid white;
      margin: 20px 0 30px;
    }
    &-text {
      font-size: 14px;
      font-weight: 700;
    }
    form {
      margin-bottom: 70px;
      label {
        color: #606060;
        font-weight: 500;
        &.control-label {
          text-align: left;
        }
      }
      button {
        width: 100%;
      }
      p.help-block {
        margin-top: 5px;
      }
    }
    &-buttons {
      margin-top: 35px;
    }
  }
  &__forget-password {
    margin-top: 5px;
  }
}

.footer__href {
  color: #333;
}
