@import "for_all.scss";

$header_color: #536384;//верхняя граница формы
$back_color: #DEE7F0;//бекграунд формы
$footer_font_color: #333;//цвет фонта в футере
$form_label_color: #606060;
$white_color: #fff;
$menu_hover_color: #626262;
$href_color: #e6ae03;
$href_active_color: #F5BD03;

.site-login {
  background: url(/images/templates/back600.jpg) no-repeat;
  background-position-y: 120px;
  &__header {
    font-size: 24px;
    font-weight: 600;
  }
  &__left {
    p {
      width: 60%;
    }
  }
  &__right {
    background: $footer_font_color;
    border-radius: 2px;
    border-top: 24px solid $header_color;
    margin-top: 40px;
    margin-bottom: 120px;
    &-header {
      border-bottom: 1px solid white;
      margin: 20px 0 30px;
    }
    &-text {
      font-size: 14px;
      font-weight: 700;
    }
    form {
      margin-bottom: 70px;
      label {
        color: $form_label_color;
        font-weight: 500;
        &.control-label {
          text-align: left;
        }
      }
      button {
        width: 100%;
      }
      p.help-block {
        margin-top: 5px;
      }
    }
    &-buttons {
      margin-top: 35px;
    }
  }
  &__forget-password {
    margin-top: 5px;
  }
}

.footer__href {
  color: $href_color;
  text-decoration: underline;
  &:hover {
    color: $href_active_color;
  }
}

.content_menu {
  background: $footer_font_color;
  padding: 20px 10px;
  border-radius: 5px;
  &__list {
    padding-left: 0;
  }
  &__item {
    list-style-type: none;
  }
  .current a {
    font-weight: 700;
  }
  &__link {
    color: $white_color;
    padding: 10px;
    border-radius: 2px;
    display: block;
    width: 100%;
    &:hover {
      color: $white_color;
      background: $menu_hover_color;
      text-decoration: none;
    }
    .current {
      text-decoration: underline;
    }
  }
}
