.accordion{
  margin-bottom: 3px;

  + p{
    padding-top: 7px;
  }
  .accordion-content{
    color: #000;
    //max-height: 0;
    display: none;
    overflow: hidden;
    font-size: 15px;
    line-height: 24px;
  }
  .accordion-control{
    a {
      color: #e6ae03 !important;
      font-size: 14px;
    }

    text-align: right;
    .icon{
      margin-left: 3px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      color: #e6ae03;
      font-size: 14px;
    }
    .angle-down .icon:before {
      content: "\f107";
    }
    .angle-up .icon:before {
      content: "\f106";
    }
  }

  .accordion-title {
    text-align: left;
    background: #E4C84B;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: #1e2527;
    border-radius: 3px;
    max-width: 750px;

    &:before{
      content:"\f067";
      width: 20px;
      display: inline-block;
      text-align: center;
      margin-left: 3px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
    }

    +.accordion-content{
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #D2D6DE;
      border-top: 0;
      border-radius: 0 0 3px 3px;
      max-width: 750px;
    }
  }

  .angle-down:before{
    content: "Подробнее";
    color: #e6ae03;
  }
  .angle-up{
    display: none;
    &:before{
      content: "Скрыть";
      color: #e6ae03;
    }
  }
  &.open{
    .accordion-title {
      border-radius: 3px 3px 0 0;

      &:before{
        content:"\f068";
      }
    }
    .angle-down{
      display: none;
    }
    .angle-up{
      display: inline-block;
    }
  }
}

.soc-icon{
  height: 48px;
  width: 48px;
  margin: 2px;
  background-image:url(/images/socialicons48.png) ;
  display: inline-block;
}
.accauntSoc_32 .soc-icon{
  height: 32px;
  width: 32px;
  margin: 2px;
  background-image:url(/images/socialicons32.png) ;
  display: inline-block;
}

.icon-vk{
  background-position: -19px -75px;
}
.icon-twi{
  background-position: -70px -21px;
}
.icon-fb{
  background-position: -170px -21px;
}
.icon-odkl{
  background-position: -222px -75px;
}
.icon-odkl{
  background-position: -222px -75px;
}
.icon-gplus{
  background-position: -19px -21px;
}
.accauntSoc_32 {
  .icon-vk {
    background-position: -12px -50px;
  }
  .icon-twi {
    background-position: -47px -14px;
  }
  .icon-fb {
    background-position: -114px -14px;
  }
  .icon-odkl {
    background-position: -148px -50px;
  }
  .icon-odkl {
    background-position: -148px -50px;
  }
  .icon-gplus {
    background-position: -14px -14px;
  }
  .icon-mail {
    background-position: -46px -50px;
  }
  .icon-journal {
    background-position: -115px -50px;
  }
}

#share42{
  white-space: nowrap
}

table .status_0 {
  color: #FF9800;
}
table .status_2 {
  color: #8BC34A;
}
table .status_1 {
  color: #F44336;
}

table .status_bg_0 {
  background: rgba(255, 152, 0, 0.22)!important;
}
table .status_bg_2 {
  background: rgba(139, 195, 74, 0.23)!important;
}
table .status_bg_1 {
  background: rgba(244, 67, 54, 0.22)!important;
}


/*Уведомления*/
.notification_box{
  display: flex;
  padding: 0px;
  position: fixed;
  left: 0;
  top: 0;
  height: 0vh;
  width: 100vw;
  z-index: 999;

  animation-name: notification_box_hide;
  animation-delay: .15s;
  animation-duration: .15s;
  animation-fill-mode: both;
  opacity: 0;

  .form-horizontal .form-group{
    margin: 0;
  }

  .sign-up.popup-sign-up .sign-up-tagline{
    width: 100%;
  }

  .form-group{
    margin-bottom: 0;
  }

  .notify_box{
    margin: auto;
    background: #fff;
    transform: translate3d(0,-90px,0) rotate3d(0,1,0,90deg);
    transition: all 0.15s linear;
    transition-delay: 0s;
    min-width: 200px;
    min-height: 70px;
    max-width: 700px;

    .notify_title{
      padding: 10px;
      background: #333;
      color:#fff;
      position: relative;

      .notify_close{
        position: absolute;
        transition: all 0.5s;
        cursor: pointer;
        right: 0;
        top:0;
        padding: 10px;

        &:before{
          content: "X";
        }

        &:hover{
          transform: rotate3d(0,0,1,540deg);
        }
      }
    }

    .notify_content{
      padding: 15px 10px;

      h1,h2,h3{
        margin-top: 0;
      }

      .container{
        max-width: 622px;
      }
    }

    .notify_control{
      border-top: 1px solid #333;
      text-align: center;

      div{
        margin: 10px;
        display: inline-block;
        padding: 5px 20px;
        border: 1px solid;
        cursor: pointer;

        &:hover{
          color:#999;
        }
      }
    }

    &.notify_not_big{
      max-width: 600px;
    }

    &.notify_white{
      border-radius: 3px;
      overflow: hidden;

      .notify_title{
        background: #fff;
        color:#888;

        .notify_close {
          padding: 3px 8px;

          &:before {
            content: "×";
          }
        }
      }

      .notify_control{
        border-top: none;

        div{
          background-color: #e6ae03;
          border-radius: 3px;
          font-size: 13px;
          font-weight: 700;
          color:#0f181a;
          border: none;
          padding: 10px 20px;
          margin-bottom: 20px;

          &:hover{
            background-color: #ffc503;
            color: #000000;
          }
        }
      }
    }
  }
}
.notification_data{
  display:none;
}

.notify_box.loading{
  .notify_content{
    background: url(/images/preloader.gif) no-repeat 50% 50%;
  }
}

.show_notifi{
  overflow: hidden;
  //height: 100vh;

  .notification_box{
    //box-shadow: #999 0px 0px 5vmax 50vmin inset;
    padding: 10px;
    animation-name: notification_box_show;
    animation-delay: 0.0s;
    overflow: auto;
  }

  .notify_box{
    transform: translate3d(0,0px,0) rotate3d(0,1,0,0deg);
    transition-delay: 0.2s;
  }
}

@keyframes notification_box_show {
  0%{
    height: 0vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 0vmin inset;
  }
  1%{
    opacity: 1;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 0vmin inset;
  }

  100%{
    opacity: 1;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 50vmin inset;
  }
}

@keyframes notification_box_hide {
  0%{
    opacity: 1;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 50vmin inset;
  }

  99%{
    opacity: 0;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 0vmin inset;
  }

  100%{
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 0vmin inset;
    height: 0vh;
  }
}

.notification_container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  z-index: 99999;

  a{
    font-weight: bold;
    text-decoration: underline;
  }
}

.notification_item {
  width: 310px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin-bottom: 5px;
  position: relative;
  list-style: none;
  overflow: hidden;
  animation: show_notifycation 0.2s linear;
  border-radius: 2px;
}

.notification_item-err {
  background: rgba(241, 46, 46, 0.8);
}

.notification_item-info {
  background: rgba(37, 135, 232, 0.7);
}

.notification_item-alert {
  background: rgba(249, 196, 40, 0.8);
}

.notification_item-success {
  background: rgba(33, 97, 8, 0.8);
}

.notification_img {
  height: 50px;
  margin: 10px 10px 10px 10px;
  float: left;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.notification_close:before {
  content: 'x';
  position: absolute;
  top: 2px;
  right: 6px;
  cursor: pointer;
  font-family: Verdana, Arial;
  font-weight: bold;
}

.notification_content, .notification_title {
  padding: 5px 10px 5px 10px;
  margin: 0px auto;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.notification_content {
  font-size: 14px;
}
.notification_title {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 0;
  color: #e6ae03;
}

.notification_hide {
  animation: hide_notifycation 0.5s linear;
  animation-fill-mode: forwards;
  transform: translate3d(380px,0,0);
}

@-webkit-keyframes show_notifycation {
  from {
    transform: translate3d(220px,0,0);
    opacity: 0;
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@-webkit-keyframes hide_notifycation {
  100% {
    max-height: 0;
    margin-bottom: 0;
  }

  50% {
    max-height: 200px;
    margin-bottom: 5px;
    transform: translate3d(220px,0,0);
    opacity: 0;
  }

  0% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

//валидатор форм
.form-group{
  .help-block-error{
    margin: -5px auto 10px auto;
    width: 530px;
    text-align: center;
    max-width: calc(100% - 20px);
  }
}


form.loading{
  background: url(/images/preloader.gif) no-repeat 50% 50%;
  min-height: 60px;
  min-width: 60px;
}

body>h3,
body>.news-index{
  margin-top:70px;
}

.help_button{
  display: block;
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: -91px;
  margin-top: -18px;
  z-index: 990;
  transform: rotate(270deg);

  a {
    position: relative;
    padding: 8px 40px 6px 8px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    background-color: #fee255;

    &:after {
      content: "\f105";
      font-family: FontAwesome;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 34px;
      height: 100%;
      background-size: 34px, auto;
      margin: auto;
      text-align: center;
      line-height: 34px;
      background: #FEEB88;
    }
    &:before {
      content: "";
      background: url(/favicon-16x16.png);
      height: 16px;
      width: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

.sum_information{
  font-size: 14px;


  &.table_box{
    width: 32%;
    min-width: 200px;
    display: inline-block;
    border: 1px solid;
    margin: 0 3px 3px 0;
  }

  .line{
    display: block;
    white-space: nowrap;
    &.sum{
      border-top: 2px solid #ddd;
    }

    >a{
      display: block;
      text-align: center;
    }
  }
  .name{
    width: 180px;
    vertical-align: top;
    padding-right: 5px;
    text-align: right;
    display: inline-block;

    &:after{
      content: ":";
    }
  }
  .value {
    font-weight: bold;
    text-align: left;
    width: 110px;
    display: inline-block;
    span{
      font-weight: normal;
      font-size: 0.8em;
      color: #607D8B;
    }
  }
  .metrica{
    display: inline-block;
  }
  .name-none:after{
    content: '';
  }
}
table.table-users{
  .sum_information {
    &.long_value {
      .value {
        width: 180px;
        text-align: left;
      }
    }
    .value {
      width: 70px;
      text-align: right;
    }

    .name {
      width: 90px;
    }
  }

  td:first-child{
    vertical-align: middle;
    font-weight: bold;
  }
}

//для data-krajee-daterangepicker
[data-krajee-daterangepicker],.kv-drp-container{
  max-width: 420px;
  display: inline-block;
}
form > .kv-drp-container{
  margin-left: 10px ;
}

.daterangepicker {
  @media (min-width: 1199px) {
    left: 292px !important;
    right: auto !important;

    &:before, &:after {
      display: none !important;
    }
  }

  .calendar.left,.calendar.right{
    display: block;
    @media (max-width: 1199px) {
      display: none!important;
    }
  }

  table{
    margin-top: 0 !important;
    display: table;
  }

  th {
    background: transparent;
    display: table-cell !important;
    color:#0f181a !important;
  }

  td{
    display: table-cell !important;
    color:#0f181a !important;
  }

  td.in-range {
    background: #f5f5f5;
    border-radius: 0;
  }

  td.active, td.active:hover, td.end-date {
    background-color: #0f181a;
    border-color: #0f181a;
    color: #fff!important;
  }

  td.end-date{
    border-radius: 0 4px 4px 0;
  }

  .input-mini.active {
    border: 1px solid #0f181a;
  }

  td.weekend{
    color: #e6ae03!important;
  }

  td.off.available{
    opacity: 0.3;
  }

  .ranges ul {
    li {
      background: #f5f5f5;
      border: 1px solid #f5f5f5;
      color: #0f181a;

      &.active, &:hover{
        background: #0f181a;
        border: 1px solid #0f181a;
        color: #fff;
      }

      &:hover{
        color: #e6ae03;
      }
    }

    @media (max-width: 1199px) {
      :last-child{
        display: none;
      }
    }
  }

  button.btn{
    border-radius: 3px !important;

    &.btn-success{
      background: #e4c84b;
      border-color: #e6ae03;
      color:#0f181a;
    }
  }

  thead{
    display: table-header-group !important;
  }

  tbody{
    display: table-row-group !important;
  }

  tr{position: relative!important;}
}
.accordion .accordion-control {
  display: none;
}


