@media print { /* Стиль для печати */
  body {
    font-family: Times, 'Times New Roman', serif; /* Шрифт с засечками */
  }
  h1, h2, p {
    color: #000; /* Черный цвет текста */
  }

  h3{
    text-align: center;
  }
  .help_button{
    display:none !important;

    & > *{
      display:none !important;
    }
  }
  jdiv{
    display: none !important;
  }

  .navigation{
    display:none !important;
  }

  .breadcrumbs{
    display:none !important;
  }

  .no_print{
    display:none !important;
  }

  footer{
    display:none !important;
  }

  section{
    padding: 0 !important;
    margin: 0 !important;
  }
  .intro-icon{
    display: none !important;
  }
  .notification_container{
    display: none !important;
  }

  #jivo-iframe-container,
  div#jivo-iframe-container.jivo-iframe-container-bottom.jivo-expanded,
  #jivo-iframe-container#jivo-iframe-container#jivo-iframe-container#jivo-iframe-container#jivo-iframe-container
  {
    display: none !important;
  }

  .intro-feature:before{
    display: none;
  }

  .store-intro{
    .col-md-4{
      width:100%;
    }
  }

  .ways-invitation{
    width:100%;

    h3,.link-sent{
      display:none;
    }
  }
}

