@import "../../external/account/datepicker.min";
@import "../../external/account/reset";
@import "../../external/bootstrap.min";

@import "../../external/etline.font";
@import "../../external/account/style";

@import "../for_all.scss";
/* Common
------------------------------------*/
$images: "/images";

/* Account history
------------------------------------*/
@mixin statuses() {
    &.pending {
        color: #FF9800;
    }

    &.confirmed {
        color: #8BC34A;
    }

    &.declined {
        color: #F44336;
    }
}
/*****************************/

.content-wrapper {
    a {
        color: #607D8B;

        &:hover {
            color: #3F525A;
            text-decoration: underline;
        }
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

    ul {
        list-style: disc;
        padding-left: 20px;
        font-size: 14px;
        line-height: 28px;
    }

    .not-found {
        font-size: 13px;
        margin-top: 30px;
    }
}

.account-padding {
    padding: 0px 20px;
}

.uah {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}

.table-charity .sum {
    min-width: 120px;
}

.uniq-status {
    padding: 20px;
    text-align: center;
    
    i {
        display: block;
        color: #c3d41b;
        font-size: 156px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.link-head-stores {
    a {
        border: 1px solid;
        padding: 8px;
    }
}

/* Shops
------------------------------------*/
.shops {
    position: relative;
    background: #fff;

    .shop  {
        margin-top: 35px;
        padding-bottom: 20px;
        position: relative;
        background: #f8f8f8;
        border-bottom: 2px solid #FFC107;
        border-radius: 5px;
        -o-transition: all .2s; 
        -moz-transition: all .2s; 
        -webkit-transition: all .2s; 
        -ms-transition: all .2s; 
        transition: all .2s;

        &__header {
            text-align: center;
        }

        .gotostore {
            text-align: center;

            a {
                border-radius: 0px !important;
                font-size: 10px !important;
                background: #fff;
                color: #000;
                border: 1px solid #000;

                &:hover {
                    background: #000;
                    color: #fff !important;
                }
            }
        }

        .promo-label {
            height: 77px;
            width: 75px;
            display: block;
            position: absolute;
            top: -6px;
            left: -5px;

            &.x2 {
                background: url(unquote($images+"/x2-label.png")) no-repeat;
            }
        }

        .logo {
            text-align: center;
            padding: 20px 0px;
            background-color: #eee;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            img {  
                border-radius: 5px;
                max-width: 130px;
                padding: 5px 10px;
                background-color: #fff;
            }
        }

        h3 {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
            height: 50px;

            a {
                font-weight: 700;
                font-size: 15px;
                color: #565C65;
                text-decoration: none;
                word-break: break-all;

                &:hover {
                    color: inherit;
                }
            }
        }

        p {
            padding-left: 15px;
            padding-right: 15px;
            line-height: 24px;
            font-style: italic;
        }

        .shop-bottom {
            margin-top: 20px;

            .cashback-link {
                display: inline-block;
                text-align: center;
                width: 100%;
                height: auto;
                text-transform: uppercase;
                padding: 5px;
                background: rgba(255, 193, 7, 0.71);
                font-size: 15px;
                font-weight: 400;
                color: #232731;
                line-height: 20px; 
                box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
                text-decoration: none;

                &.old-cashback {
                    position: absolute;
                    bottom: 0px;
                    background: rgb(154, 9, 33);
                    padding: 0px;
                    font-size: 11px;
                    text-decoration: line-through;
                    color: #FBB186;
                    height: 20px;
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;

                    .fa {
                        font-size: 11px;
                    }
                }

                i { 
                    vertical-align: middle; 
                }

                .fa {
                    font-size: 13px;
                }

                &:hover {
                    box-shadow: none;                    
                }

                &:active {
                    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;                   
                }
            }

            .favorite-link {
                position: absolute;
                margin-left: -7px;
                left: 50%;
                top: 75px;
                color: #FFC107;

                .fa {
                    font-size: 17px;
                    font-weight: 100;
                    -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;     

                    &.muted {
                        opacity: 0.3;
                    }               
                }
            }            
        }

        &:hover {
            box-shadow: 0 0 8px #aaa;
            border-bottom-color: #607D8B;
            
            .shop-bottom  {
                .favorite-link  {
                    .fa  {
                        opacity: 1;
                    }     
                }
            }                 
        }
    }

    .more-shops {    
        text-align: center;
        margin-top: 50px;
    }
}

/* Form
------------------------------------*/
form {
    .btn-form {
        padding: 15px 0;
        border-radius: 3px;
        width: 70%;
        font-size: 13px;
        font-weight: bold;  
        outline: 0; 
    }    

    .form-input-group {
        width: 70%;
        height: 55px;
        margin: 0 auto 10px;
        border-radius: 5px;
        border: solid 1px #E6E9EA;
        text-align: left;
        position: relative; 

        i {
            color: #e4c84b;
            font-size: 16px; 
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            margin-left: 20px; 

            &:after {
                content: "";
                height: 30px;
                width: 1px;
                border-right: solid 1px #E6E9EA;
                position: absolute;
                top: 50%;
                left: 30px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);    
            }
        }

        input {
            padding-left: 68px;
            width: 100%;
            height: 100%;
            border-radius: 6px;
            font-size: 15px;
            border: none;
            color: #3D4351;
            outline:0; 
        }
    }    

    textarea {
        font-size: 15px;
        outline: 0;
        border: solid 1px #E6E9EA;
        border-radius: 5px;
        padding: 15px;
        margin: 0px 0px 10px;
        display: block;
        height: 200px;
        width: 70%;
        resize: none;
    }

    button {
        -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
    }
} 

.checkbox {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;

    & + label {
        cursor: pointer;
    }

    &:not(checked) {
        position: absolute;
        opacity: 0;

        & + label {
            position: relative;
            padding: 0 0 0 60px;            

            &:before {
                content: '';
                position: absolute;
                top: -4px;
                left: 0;
                width: 50px;
                height: 26px;
                border-radius: 13px;
                background: #CDD1DA;
                box-shadow: inset 0 2px 3px rgba(0,0,0,.2);               
            }

            &:after {
                content: '';
                position: absolute;
                top: -2px;
                left: 2px;
                width: 22px;
                height: 22px;
                border-radius: 10px;
                background: #FFF;
                box-shadow: 0 2px 5px rgba(0,0,0,.3);
                transition: all .2s;               
            }
        }
    }

    &:checked {
        & + label:before {
            background: #e4c84b;
        }

        & + label:after {
            left: 26px;
        }
    }
}

.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;

    & + label {
        cursor: pointer;
    }

    &:not(checked) {
        position: absolute;
        opacity: 0;

        & + label {
            position: relative;
            padding: 0 0 0 35px;

            &:before {
                content: '';
                position: absolute;
                top: -2px;
                left: 1px;
                width: 22px;
                height: 22px;
                border: 1px solid #CDD1DA;
                border-radius: 50%;
                background: #FFF;
            }

            &:after {
                content: '';
                position: absolute;
                top: 3px;
                left: 6px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #e4c84b;
                opacity: 0;
                transition: all .2s;
            }
        }
    }

    &:checked {
        & + label:after {
            opacity: 1;
        }
    }
}

/* Button
------------------------------------*/
.btn {
    font-size: 13px !important;
    border-radius: 40px !important;
    display: inline-block !important;
    text-transform: uppercase; 
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color,border-color,background-color;
    transition-property: color,border-color,background-color;

    &:hover,
    &:focus {
        color: #0f181a !important;
        text-decoration: none !important;
        border-color: #e4c84b;
        background-color: #e4c84b;         
    }
}

.btn-white {
    font-size: 13px;
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    border-color: #fff; 

    &:hover,
    &:focus {
        color: #e4c84b;
        border-color: #e4c84b;         
    }
}

.btn-fill {
    color: #0f181a;
    border: solid 2px #e4c84b;
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
    background-color: #e4c84b; 

    &:hover,
    &:focus {
        color: #0f181a;
        background-color: #bfaa0f;
        border-color: #bfaa0f; 
    }    
}

.btn-small {
    padding: 8px 40px; 
}

.btn-large {
    padding: 15px 40px; 
}

.btn-margin-right {
    margin-right: 20px; 
}

/* Table
------------------------------------*/
table { 
    width: 100% !important; 
    border-collapse: collapse !important; 
    margin-top: 25px  !important;

    tr:nth-of-type(odd) { 
        background: #fbfbfb; 
    }

    th { 
        background: #1b2527; 
        color: white; 
        border-bottom: 0px !important;
        font-size: 15px;
    }

    td {
        font-size: 13px;
        vertical-align: middle !important;
    }

    td, th { 
        padding: 6px; 
        text-align: left; 
    }

    .store {
        font-size: 15px;
    }

    .cashback {
        font-weight: bold;
        font-size: 15px;

        @include statuses();

        span {
            font-size: 13px;
        }
    }

    .status {
        font-weight: bold;

        @include statuses();
    } 
}

/* Account home
------------------------------------*/
.account-home {
    .circles {
        text-align: center;
        margin-top: 20px;

        .trophy {
            span {
                font-size: 140px;
            }
            p {
                font-size: 16px;
                font-weight: bold;
                text-align: center;
            }

            &.bronze {
                span, p {
                    color: #87260C;
                }
            }

            &.silver {
                span, p {
                    color: #9D9D9B;
                }                
            }

            &.gold {
                span, p {
                    color: #D58417;
                }                
            }

            &.platinum {
                span, p {
                    color: #060606;
                }                
            }
        }

        .amount {
            margin-top: 10px;
            font-size: 26px;
            font-weight: bold;

            .fa {
                font-size: 24px;
            }

            .desc {
                display: block;
                font-weight: normal;
                font-size: 13px;
                line-height: 22px;
            }
        }

        .type {
            margin-bottom: 10px;
            font-size: 15px;

            span {
                display: block;
                font-weight: bold;
                color: #FF7E66;
            }
        }
    }

    .circles-text {
        font-weight: bold;
        font-size: 26px !important;
        
        .fa {
            font-size: 24px;
        }   
    }

    .balance {
        background-color: #FFFFFF;
        border: 1px solid #F1F1F1;
        margin: 30px 20px;
        padding: 10px 30px;
        border-radius: 3px;
        margin-bottom: 15px;
        overflow: hidden;
    
        div {
            font-size: 17px;   
            float: left;         
            margin-right: 20px;

            b {
                font-size: 24px;
                color: #FF7E66;
            }
        }

        .confirm {
            & > span {
                font-weight: bold;
                color: #C3D41B;
                font-size: 24px;

                span {
                    font-size: 22px;
                }
            }
        }

        .charity {
            & > span {
                font-weight: bold;
                color: #f44336;
                font-size: 24px;

                span {
                    font-size: 22px;
                }
            }

            a {
                text-transform: capitalize;
                color: #fff;
                background: #f44336;
                border-color: #f44336;
                border-radius: 5px;
                padding: 5px 10px;
                margin-left: 20px;
                text-decoration: none;

                &:hover {
                    background: #ff6a5f;
                    border-color: #ff6a5f;
                }
            }
        }

        .pending {
            & > span {
                font-weight: bold;
                color: rgb(251, 192, 16);
                font-size: 24px;

                span {
                    font-size: 22px;
                }
            }            
        }

        .history {
            float: left;
            clear: both;
            font-size: 15px;
            margin-top: 10px;

            a {
                color: #525252;
                text-decoration: underline;

                &:hover {
                    color: #525252;
                    text-decoration: none;
                }
            }
        }

        .idsystem {
            float: left;
            clear: both;

            span {
                font-size: 24px;
                color: #1b2527;
            }
        }
    }

    .cashbonus {
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #eee;
        padding-top: 20px;
        color: #2C3136;
        float: left;
        width: 100%;

        &.vip {
            padding: 20px 20px 0px;
            font-size: 14px;
            line-height: 24px;
        }

        a {
            display: block;
            font-size: 13px;
            color: #5D5D5D;
            width: 300px;
            margin: 0 auto;

            &:hover {
                text-decoration: underline;
            }
        }

        & > span {
            font-weight: bold;
            font-size: 24px;

            span {
                font-size: 22px;
            }
        }
    }
}


/* Account withdraw
------------------------------------*/
.account-withdraw {
    .option a {
        overflow: hidden;
        display: block;
        text-align: center;
        height: 130px;
        padding: 20px;
        border: 2px solid #fff;
        margin-top: 25px;
        margin-bottom: 15px;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        border-radius: 25px;

        &.active {
            border: 2px solid #1b2527;

            &:hover {
               border: 2px solid #1b2527;
            }               
        }

        &:hover {
           border: 2px solid #eee;
        }    

        img {
            max-width: 200px;
            max-height: 80px;
        }
    }

    form {
        width: 550px;
        margin: 40px auto 60px;
        text-align: center;

        textarea {
            margin: 10px auto;
        }
    }
}

/* Account Fund Transfer
------------------------------------*/
.account-fund-transfer {
    .fhead {
        color: #1e2527;
        margin-bottom: 50px;
    }

    .to-fund {
        font-size: 18px;

        span {
            display: block;
            font-weight: 600;
            margin-top: 5px;
        }
    }

    .support-fund {
        margin-bottom: 30px;
        margin-top: 60px;
    }

    form {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .hpreform {
        margin-bottom: 0px;
        margin-top: 140px;
    }

    .head {
        margin-bottom: 50px;

        h3 {
            color: #000;
            font-size: 50px;
        }

        h4 {
            color: #000;
            font-size: 22px;
            margin-bottom: 15px;
        }

        a {
            color: #b99d1e;
            font-weight: bold;
        }
    }

    .option {
        min-height: 330px;

        .title {
            text-align: center;
            display: block;
            min-height: 45px;
            margin: 0 auto;
        }

        a {
            background: #0f181a;
            min-height: 260px;
            border-radius: 5px;
            width: 90%;
            height: auto;
            margin: 5px auto 40px;
            padding: 3px;

            &.active {
                border: 7px solid #e4c84b;
                box-shadow: 0px 0px 15px rgba(15, 24, 26, 0.82);

                &:hover {
                   border: 7px solid #e4c84b;
                }   
            }

            img {
                max-height: initial;
                max-width: initial;
                width: 100%;
            }
        }
    }

    .autopayment-info {
        display: none;

        .hpreform {
            margin-top: 120px;
        }

        .autopayment-terms {
            text-align: center;
        }
    }

    .self-autopayment {
        margin-bottom: 60px;

        h3 {
            font-size: 18px;

            span {
                display: block;
                font-weight: 600;
                line-height: 26px;
            }
        }
    }
}

/* Account affiliate
------------------------------------*/
.affiliate {
    .intro-affiliate,
    .ways-invitation {
        text-align: center; 

        span.icon {
            font-size: 90px;
            color: #e4c84b;
            font-weight: bold; 
        }

        .intro-icon {
            display: block;
            vertical-align: top;
            padding: 6px 0 0 0;
        }

        .intro-content {
            display: inline-block;
            width: 80%; 

            h5 {
                font-weight: 700;
                line-height: 1.5em;
            }

            p {
                font-size: 13px;
                line-height: 22px;
                color: rgba(28,54,83,0.9);
            }
        }
    } 

    .ways-to-invite {
        margin-top: 60px;
    }

    .ways-invitation {
        span.icon {
            font-size: 50px;
            color: #1b2527;
        }

        .ya-share2 {
            .ya-share2__icon {
                height: 48px !important;
                width: 48px !important;
                background-size: 48px 48px !important;
            }

            ul {
                padding-left: 10px;
            }
        }

        p {
            &.mail {
                .btn {
                    color: #1e2527;
                    margin-top: 10px;
                    font-size: 14px !important;
                    font-weight: bold;
                    width: 212px;
                    outline: 0;
                    border-radius: 5px !important;
                    text-transform: none !important;
                }

                input {
                    padding: 5px 15px;
                    border-radius: 5px;
                    border: 1px solid #bbb;
                    outline: 0;
                    width: 215px;
                    font-size: 13px;
                }
            }
        }
    }  

    .warning {
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

/* Account notification
------------------------------------*/
.notification {
    .current-notification {
        position: relative;
        border-radius: 5px;
        border-bottom-right-radius: 45px;
        padding: 20px 80px 20px 40px;
        margin-top: 30px;
        margin-bottom: 50px;

        &.cashback {
            background: rgba(252, 248, 227, 0.55);
            border-bottom: 2px solid #f2dede;

            .date {
                background: #e4c84b;
            }
        }

        &.news {
            background: rgba(227, 227, 252, 0.55);
            border-bottom: 2px solid #DEE2F2;

            .date {
                background: #607D8B;
            }
        }

        .date {
            position: absolute;
            border: 3px solid #fff;
            width: 110px;
            height: 110px;
            padding: 25px 13px;
            text-align: center;
            color: #fff;
            font-size: 13px;
            border-radius: 100px;
            top: -20px;
            right: -20px;
        }

        h5 {
            font-size: 18px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 0px;
            font-size: 14px;
        }
    }
}

/* Favorites
------------------------------------*/
.favorites {
    margin-bottom: 50px;
    overflow: hidden;
}

/* Support + Settings Part
------------------------------------*/
.support,
.settings {
    form {
        .form-input-group {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

/* Settings
------------------------------------*/
.settings {
    form {
        .cr-group {
            margin-bottom: 15px;

            &.topm {
                margin-top: 40px;
            }

            .no-avatar {
                font-size: 50px;
            }
            
            img {
                border-radius: 5px;
                margin-bottom: 10px;
                max-width: 300px;
            }

            .title {
                display: block;
                margin-bottom: 10px;
                font-size: 15px;
            }

            .fa-male,
            .fa-female {
                margin-right: 5px;
            }

            .fa-male {
                color: #1784C7;
            }

            .fa-female {
                color: #e4c84b;
            }

            label {
                font-weight: normal;
                margin-right: 10px;
                font-size: 15px;
            }

            &.chkbox {
                label.first {
                    margin-top: 10px;
                }
            }

            .upload {
                position:relative;
                height:40px;
                width: 230px;
                cursor: pointer;

                & > input[type=file] {
                    display:block;
                    width:100%;
                    height:100%;
                    opacity:0;
                    cursor: pointer;
                }

                & > .btn {
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    color: #0f181a!important;
                    text-decoration: none!important;
                    border-color: #e4c84b;
                    background-color: #e4c84b;
                    line-height: 15px;
                    border-radius: 3px !important;
                    font-weight: bold;
                    z-index:0; 
                    cursor: pointer;

                    span {
                        display: block;
                        font-size: 9px;
                    }             
                }

                &:hover {
                    & > .btn {
                        color: #0f181a;
                        background-color: #bfaa0f;
                        border-color: #bfaa0f;
                    }
                }
            }
        }
    }
}

/* Paginations
------------------------------------*/
.paginations {
    padding: 10px 10px 30px;

    .container {
        width: auto !important;
    }

    ul {
        text-align: center;

        li {
            display: inline-block;
            margin: 5px;

            a {
                display: inline-block;
                font-weight: 500;
                border-radius: 30px;
                padding: 8px 15px 5px;
                height: 45px;
                width: 45px;
                background-color: #fcf8e3;
                color: #e4c84b;

                &:hover {
                    background-color: #FFF0F0;
                    color: #e4c84b;
                    text-decoration: none;
                }
            }

            &.active {
                padding: 8px 15px;
                width: 45px;
                height: 45px;
                background-color: #e4c84b;
                border-radius: 30px;
                color: #fff;
                font-weight: bold;
            }

            &.next,
            &.back {
                .fa {
                    font-size: 11px;
                }
            }
        }
    }
}

/* Search
------------------------------------*/
.autocomplete-suggestions {
    position: fixed!important;
    top: 45px!important;
    background-color: #2D3238;
    color: #fff;
    padding: 5px 0px;
    //margin-left: 15px;
    width: 250px!important;
    max-height: 600px !important;

    .autocomplete-suggestion {
        padding: 5px 15px;
        border-bottom: 1px solid #393C46;
        font-size: 14px;

        &:last-child {
            border-bottom: 0px;
        }

        strong {
            color: #FBCF4A;
        }

        &.autocomplete-selected {
            background-color: #3D434A;
            cursor: pointer;
        }
    }
}

/* Media
------------------------------------*/
@media screen and (max-width: 991px) {
    .autocomplete-suggestions {
        display: none !important;
    }
    
    .account-home {
        .circles {
            text-align: center;
            margin-bottom: 30px;
        }

        .cashbonus {
            margin-bottom: 30px;
            margin-top: 0px;
        }
    } 

    .account-withdraw,
    .support {   
        form {
            width: 85% !important;
        }
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { 
        border-bottom: 1px solid #ddd !important; 
    }

    td { 
        border: none !important;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50% !important;
    }
    
    td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    .table-payments td:nth-of-type(1):before { content: "ID SD"; }
    .table-payments td:nth-of-type(2):before { content: "Магазин"; }
    .table-payments td:nth-of-type(3):before { content: "Дата"; }
    .table-payments td:nth-of-type(4):before { content: "Кэшбэк"; color: #1b2527; font-weight: normal;}
    .table-payments td:nth-of-type(5):before { content: "Статус";  color: #1b2527; font-weight: normal;}

    .table-bonuses td:nth-of-type(1):before { content: "Тип"; }
    .table-bonuses td:nth-of-type(2):before { content: "Дата начисления"; }
    .table-bonuses td:nth-of-type(3):before { content: "Сумма"; color: #1b2527; font-weight: normal;}
    .table-bonuses td:nth-of-type(4):before { content: "Статус";  color: #1b2527; font-weight: normal;}

    .table-charity td:nth-of-type(1):before { content: "Тип пожертвования"; }
    .table-charity td:nth-of-type(2):before { content: "Дата"; }
    .table-charity td:nth-of-type(3):before { content: "Сумма"; font-weight: normal;}

    .table-wh td:nth-of-type(1):before { content: "Дата запроса"; }
    .table-wh td:nth-of-type(2):before { content: "Способ"; }
    .table-wh td:nth-of-type(3):before { content: "Счёт/Номер/Email"; }
    .table-wh td:nth-of-type(4):before { content: "Сумма"; color: #1b2527; font-weight: normal;}
    .table-wh td:nth-of-type(5):before { content: "Статус";  color: #1b2527; font-weight: normal;}
    .table-wh td:nth-of-type(6):before { content: "Комментарий";  color: #1b2527; font-weight: normal;}

    .table-support td:nth-of-type(1):before { content: "Тема"; }
    .table-support td:nth-of-type(2):before { content: "Дата"; }
    .table-support td:nth-of-type(3):before { content: "Статус";  color: #1b2527; font-weight: normal;}

    .table-transition td:nth-of-type(1):before { content: "Дата перехода"; }
    .table-transition td:nth-of-type(2):before { content: "Магазин"; }
}

@media only screen and (max-width: 640px) {
    .settings form,
    .support form,
    .payment-info form {
        width: 100% !important;

        .btn-form,
        .form-input-group,
        textarea {
            width: 100%;
        } 
    }

    .self-autopayment {
        form .btn-form {
            width: 80%;
            padding: 15px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .account-fund-transfer .option a,
    .account-fund-transfer .option {
        min-height: auto
    }
}

@media only screen and (max-width: 480px) {
    .account-home .balance .charity a {
        margin-left: 0px;
        margin-top: 10px;
        clear: both;
    }
}

input.link{
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    border: none;
    cursor:pointer;
}
input.link:hover{
    text-decoration: underline;
}

.affiliate_block{
    background: url(/images/account/tel_friend.png);
    width:200px;
    height: 426px;
    display: inline-block;
    margin: 30px 0;

    @media (min-width: 768px) and (max-width: 1169px) {
        background: url(/images/account/tel_friend2.png);
        width:110px;
        height: 284px;
    }
}

.content-wrapper a{
    text-decoration: underline;
}