<div class="content-wrapper">
    <section class="account-padding view-list view-current metadata">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="/admin/metadata/add">
                <p class="title first">Новая запись</p>
                <p><span>Страница:</span> <br><input type="text" name="page" value=""></p>  
                <p><span>Title:</span> <br><input type="text" name="title" value=""></p> 
                <p><span>Description:</span> <br> <textarea name="description"></textarea></p>   
                <p><span>Keywords:</span> <br><input type="text" name="keywords" value=""></p> 
                <p><span>H1:</span> <br><input type="text" name="h1" value=""></p> 
                <p><span>Content:</span> <br><textarea name="content" class="visual_editor"></textarea></p>
                <button type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </section>
</div>