<div class="catalog-categories catalog-categories-account">

  {% set header = 0 %}
  {% set user_avatar = _checkAvatar(this.user.photo) %}
  {% include 'parts/account/account_left_menu.twig' %}

  {{ use('frontend/components/Banner') }}
  {%  set banners  = banner_widget({'place':'account-left-menu','options':{
    'wrapper_class':'banner__wrapper banner__wrapper-account margin',
    'item_class': 'banner__item banner__item-account',
    'href_class': 'banner__href banner__href-account',
    'image_class': 'banner__image banner__image-account',
  }}) %}
  {% if banners %}
    {{ banners|raw }}
  {% endif %}
</div>