{{ use('/yii/widgets/ActiveForm') }}
<div class="users-search">
    {% set form = active_form_begin({
        'action': ['index'],
        'method': 'get',
    }) %}

    <div class="form-group">
        <a href="/admin/users/create" class="btn btn-success">{{ 'Create Users' }}</a>
        <input type="text" placeholder="Поиск по User ID" name="user_id" value="">
        <input type="text" placeholder="Поиск по Ref ID" name="ref_id" value="">
        <input type="text" placeholder="Поиск по email" name="email" value="">
        <input type="submit" value="Search" class="btn btn-primary">
        <input type="reset" value="Reset" class="btn btn-default">
    </div>
    {{ active_form_end() }}
</div>