/* Shops
------------------------------------*/
.shops {
  z-index: 3;
  position: relative;

  .mobile-stores {
    display: none;

    .flex-control-nav {
      bottom: 0px;

      li a {
        width: 8px;
        height: 8px;
        background: #fff;
        border: 1px solid #5c5f6a;
        line-height: 5px;
        //text-decoration: none !important;

        &.flex-active {
          background: #5c5f6a;
        }
      }
    }
  }

  &.search {
    padding-bottom: 35px !important;

    span.icon {
      font-size: 50px;
      display: block;
      margin-top: 20px;
    }
  }

  .shops-list {
    padding: 0px;
  }

  .shops-pagination {
    .container {
      width: 100%;
    }
  }

  .category-title-wrapper {
    float: left;
    width: 100%;
  }

  .sort-menu-mobile {
    display: none;
    padding-top: 10px;

    li {
      width: 100%;
      text-align: center;
      margin: 15px 0px 15px;

      a {
        display: block;
        background: #e6ae03;
        padding: 10px;
        color: #0f181a;
        border-radius: 30px;
        font-weight: bold;
      }
    }
  }

  .sort-menu {
    margin-top: 10px;
    overflow: hidden;
    float: left;
    list-style: none;
    padding: 0 0 5px 0;

    li {
      float: left;
      font-size: 15px;
      font-weight: 500;
      margin-right: 15px;

      &.title {
        color: rgba(28,54,83,1);
      }

      a.active {
        border-bottom: 2px solid;
      }
    }
  }

  .left-categories {
    margin-top: 25px;

    .tree-cat {
      ul {
        li {
          line-height: 28px;

          a {
            color: #0f181a;

            &.title {
              font-weight: bold;
            }

            &.cat_selected{
              color: #ff0000;
            }
            &.cat_news {
              color: #035821;
            }

            span {
              color: #f44336;
            }

            &:hover {
              text-decoration: underline;
            }
          }
          span {
            color: #f44336;
            &.active {
              color: #e6ae03;
            }
            &.title {
              font-weight: bold;
            }
          }

          .fa-caret-right  {
            display: none;
          }

          ul {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .shop  {
    margin-top: 35px;
    padding-bottom: 20px;
    position: relative;
    background: #f8f8f8;
    border-bottom: 2px solid #FFC107;
    border-radius: 5px;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;

    .gotostore {
      text-align: center;

      a {
        border-radius: 0px;
        font-size: 10px;
        background: #fff;
        color: #000;
        border: 1px solid #000;

        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }

    .promo-label {
      height: 77px;
      width: 75px;
      display: block;
      position: absolute;
      top: -6px;
      left: -5px;

      &.x2 {
        background: url(unquote($images+"/x2-label.png")) no-repeat;
      }
    }

    .logo {
      text-align: center;
      padding: 20px 0px;
      background-color: #eee;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 96px;

      img {
        border-radius: 5px;
        max-width: 130px;
        padding: 5px 10px;
        background-color: #fff;
        display: inline-block;
      }
    }

    h3 {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      display: table-cell;
      height: 50px;
      vertical-align: middle;

      a {
        font-weight: 700;
        font-size: 15px;
        color: #283133;
        word-break: break-all;

        &.small-size {
          font-size: 13px;
        }

        &:hover {
          color: inherit;
        }
      }
    }
    &__header {
      padding: 0 5px;
      display: flex;
      text-align: center;
      height: 82px;
      overflow: hidden;
      //margin-top: 20px;
      margin-top: 30px;

      span {
        font-weight: 700;
        font-size: 15px;
        color: #283133;
        margin: auto;
      }
    }

    p {
      padding-left: 15px;
      padding-right: 15px;
      line-height: 24px;
      font-style: italic;
    }

    .shop-bottom {
      //margin-top: 10px;
      margin-top: -10px;
      display: flex;
      height: 50px;

      .shop_panel{
        text-align: right;
        position: absolute;
        top: 94px;
        width: 100%;
        right: 0px;
        background: #d6d6d6;
      }

      .cashback-link {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: auto;
        margin: auto auto 0;
        text-transform: uppercase;
        padding: 5px;
        background: rgba(255, 193, 7, 0.71);
        font-size: 15px;
        font-weight: 400;
        color: #0f181a;
        line-height: 20px;
        box-shadow: 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;

        &.old-cashback {
          position: absolute;
          bottom: 0px;
          background: rgb(154, 9, 33);
          padding: 0px;
          font-size: 11px;
          text-decoration: line-through;
          color: #FBB186;
          height: 20px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;

          .fa {
            font-size: 11px;
          }
        }

        i {
          vertical-align: middle;
        }

        .fa {
          font-size: 13px;
        }

        &:hover {
          box-shadow: none;
        }

        &:active {
          box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
        }
      }

      .shop-link {
        color: #0f181a;
        display: inline-block;
        margin-left: 0px;
        margin-top: 2px;
        margin-right: 3px;
        text-decoration: none;

        .fa {
          font-size: 17px;
          font-weight: 100;
          -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;

          &:hover{
            color: rgba(255, 191, 9, 0.61);
          }
        }
        span{
          font-size: 10px;
          margin-left: -3px;
        }
      }
    }

    &:hover {
      box-shadow: 0 0 8px #aaa;
      border-bottom-color: #607D8B;

      .shop-bottom  {
        .favorite-link  {
          .fa  {
            opacity: 1;
          }
        }
      }
    }
  }

  .more-shops {
    text-align: center;
    margin-top: 50px;
  }
}
