{% include 'parts/breadcrumbs.twig' %}
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center about__header">О компании</h1>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <p>Компания Secret Discounter зарегистрирована в Великобритании, и наш головной офис находится в Лондоне. Также, для Вашего удобства, мы открыли офисы в основных городах России, Беларуси, Украины и Казахстана.</p>
                    </div>
                    <div class="col-md-12 text-center mob-only">
                        <a href="/images/templates/cert.png" class="ignore-hash"><img src="/images/templates/cert.png" alt="cert"></a>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Лондон</h5>
                        <p>4 Julian Place</p>
                        <p>United Kingdom, E14 3AT</p>
                        <p>+ 44 (20) 38 07 02 08</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Москва</h5>
                        <p>ММДЦ  "Москва – Сити", комплекс "Федерация"</p>
                        <p>Пресненская набережная, д.6, оф. 13</p>
                        <p>123100</p>
                        <p>+7 (495) ‎150 66 09</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Санкт-Петербург</h5>
                        <p>Бизнес-центр H2O</p>
                        <p>ул. Химиков, 28, оф. 220</p>
                        <p>195030</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Сочи</h5>
                        <p>Бизнес-Центр "Сочи"</p>
                        <p>Адрес: ул. Горького, 75, оф. 7</p>
                        <p>Краснодарский край, 354000</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Новосибирск</h5>
                        <p>Бизнес-центр "Аэродром"</p>
                        <p>Ленинградский проспект, 37, оф. 42а</p>
                        <p>680014</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Омск</h5>
                        <p>Бизнес-центр "На Гагарина"</p>
                        <p>ул. Гагарина, 14 – 144</p>
                        <p>644099</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Екатеринбург</h5>
                        <p>Бизнес-центр "Президент"</p>
                        <p>ул. Бориса Ельцина, 1а, оф. 70</p>
                        <p>620014</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Нижний Новгород</h5>
                        <p>Бизнес-центр "Лондон" </p>
                        <p>ул. Ошарская, 77А, оф. 12</p>
                        <p>603105</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Казань</h5>
                        <p>Бизнес-центр</p>
                        <p>ул. Журналистов, 2А, оф. 75</p>
                        <p>Республика Татарстан, 420029</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Минск</h5>
                        <p>Бизнес-центр "Градиент"</p>
                        <p>ул. Ольшевского, 20, оф. 13</p>
                        <p>220073</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cert">
                <div class="row">
                    <div class="col-md-12 text-center desk-only">
                        <a href="#cert" class="ignore-hash"><img src="/images/templates/cert.png" alt="cert"></a>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Ростов-на-Дону</h5>
                        <p>Бизнес-центр ООО "Омега"</p>
                        <p>пр. Буденновский, 60 – 757</p>
                        <p>344000</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Уфа</h5>
                        <p>Бизнес-центр "Капитал"</p>
                        <p>ул. Гоголя, 60/1, оф. 303</p>
                        <p>Республика Башкортостан, 450076</p>
                    </div>

                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Киев</h5>
                        <p>Бизнес-центр "Євразія"</p>
                        <p>вулиця Жилянська, 75, оф. 107а</p>
                        <p>Украина, 02000</p>
                    </div>
                    <div class="col-md-6 address">
                        <h5 class="address__head"><i class="fa fa-map-marker" aria-hidden="true"></i> Астана</h5>
                        <p>Бизнес-центр "Евроцентр"</p>
                        <p>улица Сыганак, 29, оф. 1</p>
                        <p>Казахстан, 010000</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <p>
                Не забывайте, что вы всегда можете позвонить нам по телефонам <strong>8 (800) ‎‎‎707 66 09</strong> (звонки по России бесплатные), <strong>+7 (495) ‎‎‎150 66 09</strong> (Пн-Пт, 10:00 –22:00 по Москве) и в любое время на ‎<strong>+44 (20) 38 07 02 08</strong>, а также воспользоваться
                {% if user_id %}
                <a href="/account/support">формой обратной связи</a>.
                {% else %}
                формой обратной связи.
                {% endif %}</p>
            </div>
        </div>
    </div>
</section>
{% include 'parts/popups/popup-cert.twig' %}