{% include 'parts/breadcrumbs.twig' %}
<section class="affiliate section-padding content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Партнёрская программа</h1>
        <p>
          Приглашение друзей и знакомых — это ещё один верный способ увеличить свой доход в нашем сервисе. Взгляните ниже на принцип работы партнёрской программы и <a href="#registration" class="ignore-hash">регистрируйтесь</a>, чтобы опробовать всё лично.
        </p>
      </div>
      <div class="col-md-12">
        <h2 class="text-center">
          {% if h1 %}
          {{ h1 | raw}}
          {% else %}
            Принцип работы партнёрской программы
          {% endif %}
        </h2>
      </div>
      
      {% include 'parts/principle-affiliate.twig' %}

      <div class="col-md-12">
        <h2 class="text-center">Способы приглашения</h2>
      </div>
      <div class="col-md-4 ways-invitation">
        <div class="intro-icon">
          <span data-icon="&#xe052;" class="icon"></span>
        </div>
        <div class="intro-content">
          <h5>Поделиться ссылкой в социальных сетях</h5>
        </div>
      </div>
      <div class="col-md-4 ways-invitation">
        <div class="intro-icon">
          <span data-icon="&#xe021;" class="icon"></span>
        </div>
        <div class="intro-content">
          <h5>Отправить друзьям ссылку напрямую</h5>
        </div>
      </div>
      <div class="col-md-4 ways-invitation">
        <div class="intro-icon">
          <span data-icon="&#xe028;" class="icon"></span>
        </div>
        <div class="intro-content">
          <h5>Отправить приглашение на электронную почту</h5>
        </div>
      </div>
      <div class="col-md-12">
        <div class="registration">
          <a href="#registration" class="btn btn-ghost btn-accent btn-fill btn-large ignore-hash">Зарегистрироваться</a>
        </div>
      </div>

    </div>
  </div>
</section>
{% if content %}
  <section class="section-content section-padding  content-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                {{ content | raw}}
              </div>
          </div>
      </div>
  </section>
{% endif %}