{% include 'parts/breadcrumbs.twig' %}
<section class="page-404 section-padding">
    <div class="container ">
        <div class="row page-404__main page_404">
            <div class="col-sm-12 page-404__content">
                <div class="page-404__header">404 Упс...</div>
                <div class="page-404__text">
                    <h1 class="page-404__header-h1">Запрошенной страницы не существует</h1>
                    <p>
                        Проверьте правильность адреса или попробуйте обновить страницу
                    </p>
                </div>
                <div class="page-404__buttons">
                    <ul class="page-404__buttons_list">
                        <li class="page-404__buttons_item"><a href="/">На главную</a></li>
                        <li class="page-404__buttons_item"><a href="/stores">Каталог магазинов</a></li>
                        <li class="page-404__buttons_item"><a href="/coupons">Горящие предложения</a></li>
                        <li class="page-404__buttons_item"><a href="/account/support">Служба поддержки</a></li>
                    </ul>
                </div>
                <div class="page-404__bottom">
                    Если вы уверены, что это системная ошибка, <a href="/account/support">сообщите нам</a>, и мы обязательно всё исправим!
                </div>
            </div>
        </div>
    </div>
</section>