{% include 'parts/breadcrumbs.twig' %}
<section class="faq section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="faq__header">Ответы на часто задаваемые вопросы</h1>
            </div>
        </div>
        <div class="row">
        {% include 'parts/faq.twig' %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Дополнительная информация</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 leftcol">
                <h5>Мой кэшбэк перешёл из статуса "В ожидании" в статус "Отклонён". Почему?</h5>
                <p>Такое случается в двух случаях: либо Вы не подтвердили свой заказ, либо оформили его возврат. Если же Вы ничего из вышеперечисленого не делали, то настоятельно рекомендуем обратиться в нашу службу поддержки — support@secretdiscounter.ru.</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 rightcol">
                <h5>Хорошо, я не оформлял возврат заказа, но выкупил лишь его часть. Я получу кэшбэк?</h5>
                <p>Да, Вы естественно получите кэшбэк, но конечная его сумма будет пересчитана с учётом новой цены заказа.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 additional">
                <p>Если у Вас возникли ещё какие-либо вопросы, убедительная просьба писать на support@secretdiscounter.ru. Также рекомендуем Вам ознакомиться с нашей <a href="/affiliate-system">партнёрской программой</a> и прочитать <a href="/recommendations">советы по совершению покупок</a>.</p>
            </div>
        </div>
    </div>
</section>