<h2>Внимание!</h2>
<p><b>Данное действие доступно только зарегистрированным пользователям.</b></p>
<p>
  Вам необходимо <a class="registration ignore-hash" href="#registration" rel="nofollow">зарегистрироваться</a> или <a class="registration ignore-hash" href="#login" rel="nofollow">авторизироваться</a> на сайте.
</p>