<section class="promo margin">
    <h1 class="text-center promo__header">Действующие акции кэшбэк-сервиса SecretDiscounter</h1>
    <div class="promo-text margin align-center">
        <p>На данной странице собраны действующие акции нашего кэшбэк-сервиса. Список акций постоянно пополняется и обновляется. Обо всех обновлениях Вы будете узнавать на странице уведомлений в Вашем личном кабинете. Внимательно ознакомьтесь с условиями текущих акций:</p>
    </div>
    <div class="promo-items">
        <div class="promo-items_item promo-items_item-grey align-center">
            {{ svg('rocket', 'promo-items_item-background-image promo-items_item-background-image-rocket')|raw }}
            <h4 class="promo-items_item-title">Двойной кэшбэк</h4>
            <div class="promo-items_item-text">
                <p>
                    <strong>Доступна:</strong> всем.
                </p>
                <p>
                    <strong>Условия:</strong> периодически на нашем сервисе Вы можете увидеть магазины с пометкой "Кэшбэк 2x". Это означает, что кэшбэк в данном магазине увеличен в 2 раза (на период действия акции, который можно посмотреть на странице самого магазина).
                </p>
                <p>Узнать, какие магазины и сервисы участвуют в акции "Двойной кэшбэк", можно <a href="/stores/category:93">здесь</a>.</p>
            </div>
        </div>

        <div class="promo-items_item promo-items_item-bronze align-center">
            {{ svg('money', 'promo-items_item-background-image promo-items_item-background-image-money')|raw }}
            <h4 class="promo-items_item-title">Каждый день по 100 рублей</h4>
            <div class="promo-items_item-text">
                <p>
                    <strong>Доступна:</strong> только пользователям со статусом <strong>Bronze</strong>.
                </p>
                <p>
                    <strong>Условия:</strong> каждый день среди всех пользователей, которые имеют уровень лояльности Bronze, мы разыгрываем 100 российских рублей. От Вас ничего не требуется, чтобы стать участником акции. Выбор победителя производится в автоматическом режиме абсолютно случайным образом. Если именно Вы окажетесь победителем дневного розыгрыша, Вам придёт соответствующее уведомление, которое отобразится в личном кабинете.
                </p>
                <p>Победитель акции "Каждый день по 100" исключается из последующих розыгрышей данной акции на 30 дней.</p>
            </div>
        </div>

        <div class="promo-items_item promo-items_item-silver align-center">
            {{ svg('smile-o', 'promo-items_item-background-image promo-items_item-background-image-smile')|raw }}
            <h4 class="promo-items_item-title">Счастливый пользователь</h4>
            <div class="promo-items_item-text">
                <p>
                    <strong>Доступна:</strong> только пользователям со статусом <strong>Silver</strong>.
                </p>
                <p>
                    <strong>Условия:</strong> розыгрыш акции проходит каждый день среди всех пользователей с уровнем лояльности Silver. От Вас ничего не требуется, чтобы стать участником акции. Выбор победителя производится в автоматическом режиме абсолютно случайным образом. Победитель акции получает возможность выбрать 3 любых магазина из нашего каталога, в которых кэшбэк от следующей и только следующей покупки будет увеличен в 2 раза. Другими словами, Вы получаете 3 покупки с двойным кэшбэком в магазинах, которые нужны именно Вам.
                </p>
                <p>Победитель акции "Счастливый пользователь" исключается из последующих розыгрышей данной акции на 30 дней.</p>
            </div>
        </div>

        <div class="promo-items_item promo-items_item-gold align-center">
            {{ svg('diamond', 'promo-items_item-background-image promo-items_item-background-image-diamond')|raw }}
            <h4 class="promo-items_item-title">Время покупать</h4>
            <div class="promo-items_item-text">
                <p>
                    <strong>Доступна:</strong> только пользователям со статусом <strong>Gold</strong> и <strong>Platinum</strong>.
                </p>
                <p>
                    <strong>Условия:</strong> розыгрыш акции проходит раз в два дня среди всех пользователей с уровнем лояльности Gold и Platinum. От Вас ничего не требуется, чтобы стать участником акции. Выбор победителя производится в автоматическом режиме абсолютно случайным образом. Победитель акции в течение следующих 48 часов будет получать двойной кэшбэк за каждую покупку в любом магазине нашего каталога.
                </p>
                <p>Победитель акции "Время покупать" исключается из последующих розыгрышей данной акции на 30 дней.</p>
            </div>
        </div>
    </div>

</section>