{% include 'parts/breadcrumbs.twig' %}
<section class="recommendations section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Советы по совершению покупок</h3>

                <p>Бывают редкие случаи, когда после совершения покупок кэшбэк не начисляется на Ваш аккаунт в SecretDiscounter. Чтобы этого избежать, просим Вас соблюдать <b>7 простых правил</b>, указанных ниже:</p>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="title">
                        <span class="fa fa-times"></span> Блокировщики рекламы
                    </div>
                    <div class="text">
                        При совершении покупок через наш сервис категорически запрещается использовать любые блокировщики рекламы в браузере (например, <strong>Adblock</strong>), так как они препятствуют отслеживанию Ваших заказов.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="title">
                        <span class="fa fa-times"></span> Не закрывайте браузер
                    </div>
                    <div class="text">
                        Оформляйте заказы и покупки в рамках <strong>одной</strong> сессии, не закрывая окна браузера. Если Ваш компьютер завис/заснул и т.д., перейдите в нужный магазин <strong>с нашего сайта</strong> снова, очистите корзину, наполните её товаром по-новой и оплатите.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="block">
                    <div class="title">
                        <span class="fa fa-times"></span> Оформление по телефону
                    </div>
                    <div class="text">
                        После перехода с нашего сайта в интернет-магазин обязательно совершайте заказ <strong>через корзину</strong> данного сайта. За заказы, оформленные по телефону, кэшбэк начисляться не будет.
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="block">
                    <div class="title">
                        <span class="fa fa-times"></span> Бонусные программы
                    </div>
                    <div class="text">
                        При оформлении заказа запрещается пользоваться сторонними бонусными программами (такими как "Малина", "Много.ру" и т.п.)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="title">
                        <span class="fa fa-times"></span> Мобильные приложения магазинов
                    </div>
                    <div class="text">
                        При покупках через мобильные приложения магазинов кэшбэк обычно не начисляется. Совершайте покупки через <strong>сайты</strong> магазинов.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="title">
                        <span class="fa fa-times"></span> Расширения для браузеров от других кэшбэк-сервисов
                    </div>
                    <div class="text">
                        Плагины для браузера от наших конкурентов перехватывают Ваш кэшбэк. Не используйте их!
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="block last">
                    <div class="title">
                        <span class="fa fa-times"></span> Переход в магазин напрямую
                    </div>
                    <div class="text">
                        Заполнение корзины товаром должно происходить только после перехода в магазин <strong>через наш кэшбэк-сервис</strong>. Если товары были добавлены в корзину ранее – очистите её, совершите переход в магазин через SecretDiscounter и затем производите наполнение.
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <p>Если Вы сделали всё правильно, но Ваш кэшбэк по каким-то причинам всё равно не отобразился, сообщите об этом <a href="/account/support">нам</a>.</p>
            </div>
        </div>
    </div>
</section>