<div class="{% if page != 'loyalty' %}container{% endif %} content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1 class="store-h1">{{ h1 }}</h1>
            {#{{ content | raw}}#}
            {{ _render(content)|raw }}
        </div>
    </div>
</div>
