<section class="static-page margin">

    <h1 class="static-page-header">
        {{ h1 }}
    </h1>
    <div  class="static-page-content margin">
        {{ content | raw}}
    </div>

    {% if dopline %}
        <div class="static-page_dopline gray-box">
            {% if infotitle %} <h3 class="dopline-header align-center no_print">{{ infotitle }} </h3> {% endif %}
            {{ dopline | raw }}
        </div>
    {% endif %}

</section>
