{% include 'parts/breadcrumbs.twig' %}
<section class="section-padding">
    <div class="container content-wrapper">
        <div class="row">
            <col-md-12>
                <h1 class="store-h1">{{ h1 }}</h1>
                {{ content | raw}}
            </col-md-12>
        </div>
    </div>
</section>

{% if dopline %}
    {{ dopline | raw }}
{% endif %}