{% include 'parts/breadcrumbs.twig' %}
<section class="terms section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">Пользовательское соглашение</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта SecretDiscounter.ru (далее – «Сайт», «SecretDiscounter»).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                <strong>1. Общие условия</strong><br>
                <strong>1.1.</strong> Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.<br>
                <strong>1.2.</strong> Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта, Пользователь считается присоединившимся к настоящему Соглашению.<br>
                <strong>1.3.</strong> Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.<br>
                <strong>1.4.</strong> SecretDiscounter – это кэшбэк-сервис, который предоставляет своим Пользователям услугу по возврату части потраченных денег с покупок (так называемый кэшбэк), совершенных на сайте Рекламодателя (юридическое или физическое лицо, являющееся источником рекламной информации для Пользователей Сайта). Кэшбэк – часть потраченных на покупки денег, которые Пользователь получает обратно.<br>
                <strong>1.5.</strong> Для получения кэшбэка необходимо перейти по ссылке (предоставляемой Сайтом) на выбранный Пользователем сайт Рекламодателя и совершить там покупку так, как это обычно делается. Для повышения шансов получения кэшбэка необходимо следовать <a href="https://secretdiscounter.ru/recommendations">Советам по совершению покупок</a>, а также изучить «дополнительные условия» на странице описания выбранного Рекламодателя. Если покупка совершенна с соблюдением всех условий и по ней не был оформлен возврат или отказ, Рекламодатель выплачивает SecretDiscounter вознаграждение (заранее оговоренная сумма между Сайтом и Рекламодателем) за привлеченного покупателя. SecretDiscounter, в свою очередь, зачисляет оговоренную ставку кэшбэка, указанную на странице выбранного Рекламодателя, Пользователю. Срок, когда кэшбэк полностью становится доступным для вывода, указан на странице выбранного Рекламодателя.<br>
                <strong>1.6.</strong> SecretDiscounter не несет ответственности за неначисленный кэшбэк в случае, если Рекламодатель не предоставил информацию по совершенным покупкам (либо покупки не были зафиксированы на сайте Рекламодателя).<br>
                <strong>1.7.</strong> Возрастное ограничение использование Сайта – 16+.<br>
                <strong>1.8.</strong> Создание учетной записи Пользователя происходит после прохождения им процедуры регистрации. Пользователь Сайта может иметь только одну учетную запись. В случае обнаружения нескольких учетных записей, Сайт оставляет за собой право их блокировки и последующего удаления.<br>
                <strong>1.9.</strong> Сайт оставляет за собой право изменять правила начисления кэшбэка, а также вносить любые изменения, влияющие на работу Сайта.<br>
                <strong>1.10.</strong> Сайт в одностороннем порядке устанавливает ставку кэшбэка по каждому Рекламодателю, и имеет право изменять ее в любое время.
                </p>
                <p>
                <strong>2. Обязательства Пользователя</strong><br>
                <strong>2.1.</strong> Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.<br>
                <strong>2.2.</strong> Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.<br>
                <strong>2.3.</strong> Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта.<br>
                <strong>2.4.</strong> Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.
                </p>
                <p>
                <strong>3. Акции сайта, партнерская программа, накопительная система</strong><br>
                <strong>3.1.</strong> Сайт предоставляет своим Пользователям возможность участия в любых проводимых акциях. Список текущих активных акций находится на <a href="https://secretdiscounter.ru/promo">данной странице</a>. Сайт оставляет за собой право в одностороннем порядке изменять условия акций или останавливать их активность в любой момент.<br>
                <strong>3.2.</strong> Партнерская программа предоставляет возможность своим Пользователям приглашать друзей и знакомых на Сайт. За каждого приглашенного друга, который прошел регистрацию на Сайте, Пользователь будет получать 15% от суммы кэшбэка с каждого его заказа. Сайт оставляет за собой право в одностороннем порядке изменять условия партнерской программы или прекратить ее работу в любой момент.<br>
                <strong>3.2.1.</strong> Пользователю запрещается создавать реферальных партнеров единолично (создавать фиктивную цепочку аккаунтов для получения большего вознаграждения). В случае обнаружения данного вида мошенничества, все аккаунты цепи будут заблокированы и удалены.<br>
                <strong>3.2.2.</strong> Пользователю запрещается отправка спама для привлечения реферальных партнёров.<br>
                <strong>3.3.</strong> Сайт предоставляет своим Пользователям услугу накопительной системы. Накопительная система состоит из четырёх уровней:<br>
                – Пользователь, накопивший 500 рублей кэшбэка, получает статус «Bronze» и на 10 % больше кэшбэка с каждого заказа;<br>
                – Пользователь, накопивший 3000 рублей кэшбэка, получает статус «Silver» и на 15% больше кэшбэка с каждого заказа;<br>
                – Пользователь, накопивший 7000 рублей кэшбэка, получает статус «Gold» и на 20% больше кэшбэка с каждого заказа;<br>
                – Пользователь, накопивший 10000 рублей кэшбэка, получает статус «Platinum» и на 30% больше кэшбэка с каждого заказа.<br>
                Сайт оставляет за собой право в одностороннем порядке изменять условия накопительной системы или закрыть данную услугу в любой момент.
                </p>
                <p>
                <strong>4. Вывод денег</strong><br>
                <strong>4.1.</strong> Вывод денег может осуществляться любым доступным способом, предоставляемым Сайтом.<br>
                <strong>4.2.</strong> Минимальная сумма для вывода денежных средств – 350 рублей.<br>
                <strong>4.3.</strong> Оформление заявки на вывод денежных средств осуществляется при указании Пользователем номера счета (номера телефона или email-адреса), способа вывода и суммы для вывода.<br>
                <strong>4.4.</strong> При успешном выводе денежных средств Пользователь получает уведомление на указанный в личном кабинете email-адрес.<br>
                <strong>4.5.</strong> Сайт оставляет за собой право в одностороннем порядке изменять условия вывода денежных средств.
                </p>
                <p>
                <strong>5. Прочие условия</strong><br>
                <strong>5.1.</strong> Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.<br>
                <strong>5.2.</strong> Ничто в Соглашении не может пониматься как установление между Пользователем и Администрацией Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.<br>
                <strong>5.3.</strong> Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.<br>
                <strong>5.4.</strong> Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту на охраняемые в соответствии с законодательством материалы Сайта.<br>
                <strong>5.5.</strong> Сайт является рекламной площадкой для информации, предоставляемой Рекламодателем, и не несет никакой ответственности за качество предоставляемых им услуг и товаров.<br>
                <strong>5.6.</strong> Сайт не несет никакой ответственности за изменение или прекращение работы любого Рекламодателя.<br>
                <strong>5.7.</strong> При возникновении сбоев в работе Сайта, связанных с техническими неполадками или злоумышленными действиями третьих лиц, Сайт оставляет за собой право приостановить работу до полного устранения ошибок и/или угроз.<br>
                <strong>5.8.</strong> Сайт обязуется исправлять и устранять возникнувшие сбои в работе сервиса в кратчайшие сроки.<br>
                <strong>5.9.</strong> На время сбоя в работе Сайта запросы о возврате денежных средств не рассматриваются.
                </p>
                <p>
                <strong>6. Контакты</strong><br>
                <strong>6.1.</strong> По любым интересующим вопросам Вы можете связаться с нами через форму запроса к службе поддержки в личном кабинете Пользователя, либо написав на <a href="mailto:support@secretdiscounter.ru">support@secretdiscounter.ru</a>.
                </p>
                <p>
                <strong>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</strong>
                </p>
            </div>
        </div>
    </div>
</section>