{% include 'parts/breadcrumbs.twig' %}
<section class="page-404 section-padding">
    <div class="container ">
        <div class="row page-404__main">
            <div class="col-sm-12 page-404__content">
                <div class="page-404__header">Пользователь заблокирован</div>
                <div class="page-404__text">
                    <h4>Ваш аккаунт временно заблокирован.</h4>
                    <p>
                         Причину этого вы можете узнать, обратившись к нам через онлайн-чат, по телефонам (смотрите внизу сайта) или по e-mail
                        <a href="mailto:support@secretdiscounter.ru">support@secretdiscounter.ru</a>.
                    </p>
                    <p>Простите за временные неудобства.</p>
                </div>
            </div>
        </div>
    </div>
</section>