@mixin btn_modification(){
  &-round{
    border-radius: 1em;
  }

  &-transform{
    background: transparent;

    &:hover{
      background: $btn_base_bg;
      color: $btn_base_color;
    }
  }

  &-mini{
    padding: 6px 10px;
    font-size: 16px;
  }
}

.btn{
  padding: 12px 50px;
  background: $btn_base_bg;
  color: $btn_base_color;
  border-radius: 4px;
  border: 2px solid $btn_base_bg;
  transition: all .25s ease;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  cursor: pointer;
  display: inline-block;

  &:hover{
    background: transparent;
    color: $btn_base_bg;
  }

  @include btn_modification;
}

.laptop-min {
  @include media($laptop_min) {
    &-btn {
      @include btn_modification;
    }
  }
  @include media_min($laptop_min) {
    &_min-btn {
      @include btn_modification;
    }
  }
}


.tablets {
  &-btn {
    @include media($tablets) {
      @include btn_modification;
    }
  }
}