@mixin btn_modification() {
  &-round {
    border-radius: 2em;
  }

  &-dark {
    background: $btn_base_dark_bg;
    border-color: $btn_base_dark_bg;
    color: $btn_base_dark_color;
  }

  &-red {
    background: $header_color_pointed;
    border-color: $header_color_pointed;
    color: $btn_base_dark_color;
  }

  &-black {
    background: $btn_base_black_bg;
    border-color: $btn_base_bg;
    color: $btn_base_bg;
    //color: $btn_base_black_color;
    &:hover {
      background: $btn-base_bg;
      border-color: $btn_base_dark_bg;
      color: $btn_base_dark_bg;
    }
  }

  &-transform {
    background: transparent;

    &:hover {
      background: $btn_base_bg;
      color: $btn_base_color;
    }
  }

  &-un_color {
    color: $btn_base_bg;

    &:hover {
      color: $btn_base_color;
    }
  }

  &-mini {
    padding: 6px 10px;
    font-size: 16PX;
  }

  &-big {
    padding: 14px 50px;
    font-size: 20px;
  }

  &-margin {
    margin: 0 12px;
    min-width: 140px;
  }

  &-margin_auto {
    margin-left: auto;
    margin-right: auto;
  }

  &-block {
    display: block;
  }

  &-min_width {
    &80 {
      min-width: 80px;
    }

    &240 {
      min-width: 240px;
    }

    &500 {
      min-width: 500px;

      @include media(550px) {
        min-width: 0;
      }
    }
  }

  &-max_width {
    &500 {
      max-width: 400px;
    }

    &400 {
      max-width: 400px;
    }

    &240 {
      max-width: 240px;
    }

    &180 {
      max-width: 180px;
    }

    &140 {
      max-width: 140px;
    }

    &100 {
      max-width: 100px;
    }
  }

  &-margin_top {
    margin-top: 16px;
  }

  &-margin_vertical {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &-margin_vertical-mini {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  &-full_width {
    width: 100%;
    box-sizing: border-box;
  }
  &-narrow {
    padding-left: 10px;
    padding-right: 10px;
  }
  &-hover-border-red {
    &:hover {
      border-color: $header_color_pointed;
    }
  }
}

.btn {
  padding: 12px 50px;
  background: $btn_base_bg;
  color: $btn_base_color;
  border-radius: 4px;
  border: 2px solid $btn_base_bg;
  transition: all .25s ease;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  z-index: 1;
  position: relative;

  &:hover {
    //color: #fff;
    color: $button_base_hover_color;
//    background: $coupons_a_hover_color;
    background: $button_base_hover_bg;

    border-color: $coupons_a_hover_color;
  }

  &-header {
    margin: auto 0;
    padding: 0 15px;
    font-size: 14px;
    border-left: 2px solid $header_border_color;
    border-bottom: none;

    &-ballance {
      position: relative;
      margin-left: 25px;
      &:hover {
        .btn-header_button_money {

          //width: 22PX;
          //height: 22PX;
          //left: -32PX;
          transform: scale(1.2);
        }
      }
      span {
        cursor: pointer;
      }

    }

    &.last {
      border-right: 2px solid $header_border_color;

      @include media ($laptop-min) {
        border-right: none;
      }
    }

    @include media($laptop_min) {
      padding: 0 0px 0 15px;
      border: none;
    }

    &_button {
      width: $header_button_size;
      height: $header_button_size;

      &_money {
        position: absolute;
        width: 18PX;
        height: 18PX;
        color: $header_sub_menu_color_hover;
        stroke: $header_sub_menu_color_hover;
        fill: $header_sub_menu_color_hover;
        transition: all 0.4s ease;
        //margin-right: 10px;
        left: -30PX;

        &:hover {
          //width: 22PX;
          //height: 22PX;
          //left: -32PX;
          //margin-right: -2px;
        }
      }
    }

    a {
      color: $header_color_up;
      stroke: $header_color_up;
      fill: $header_color_up;
      text-decoration: none;

      .ballance-all {
        color: $footer_link_color;

        &:hover {
          color: $a_color_hover;
        }
      }

      .ballance-confirmed {
        color: $cahsback_confirmed_color;
        &:hover {
          color: $a_color_hover;
        }
      }

      &:hover {
        color: $a_color_hover;
        stroke: $a_color_hover;
        fill: $a_color_hover;
      }
    }

    &.mobile {
      display: none;

      @include media($laptop_min) {
        display: block;
      }
    }

    &-ballance {
      display: flex;
      align-items: center;
    }

    &.btn-header_favorite {
      @include media($phones) {
        display: none;
      }
    }
  }

  input[type=file] {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }

  @include btn_modification;
}

.laptop-min {
  @include media($laptop_min) {
    &-btn {
      @include btn_modification;
    }
  }

  @include media_min($laptop_min) {
    &_min-btn {
      @include btn_modification;
    }
  }
}

.tablets {
  &-btn {
    @include media($tablets) {
      @include btn_modification;
    }
  }
}
