.btn{
  padding: 10px;
  background: $btn_base_bg;
  color: $btn_base_color;
  border-radius: 4px;
  border: 2px solid $btn_base_bg;
  transition: all .25s ease;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;

  &:hover{
    background: transparent;
    color: $btn_base_bg;
  }
}