//перебить стили браузера
input[type=password],
input[type=text],
select,
textarea {
  background: #fff;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder_color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder_color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $placeholder_color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $placeholder_color;
  }

  &.ctrl {
    outline: none;
    border-radius: 5px;
    border: solid 1px $form_input_border;
    color: $text_color;
    padding: 3px 5px;
    vertical-align: middle;
  }
}

//валидатор форм
.form-group {
  .help-block-error {
    margin: 0px auto 10px auto;
    width: 100%;
    text-align: center;
    max-width: calc(100% - 20px);
  }
}

form {
  margin-bottom: 15px;
}

form.loading {
  background: url(/images/preloader.gif) no-repeat 50% 50%;
  min-height: 60px;
  min-width: 60px;
}

//для data-krajee-daterangepicker
[data-krajee-daterangepicker], .kv-drp-container {
  max-width: 420px;
  display: inline-block;
}

.payments-search .kv-drp-container {
  display: block;
}

form > .kv-drp-container {
  margin-left: 10px;
}

.daterangepicker {
  @media (min-width: 1199px) {
    left: 292px !important;
    right: auto !important;

    &:before, &:after {
      display: none !important;
    }
  }

  .calendar.left, .calendar.right {
    display: block;
    @media (max-width: 1199px) {
      display: none !important;
    }
  }

  table {
    margin-top: 0 !important;
    display: table;
  }

  th {
    background: transparent;
    display: table-cell !important;
    color: #0f181a !important;
  }

  td {
    display: table-cell !important;
    color: #0f181a !important;
  }

  td.in-range {
    background: #f5f5f5;
    border-radius: 0;
  }

  td.active, td.active:hover, td.end-date {
    background-color: #0f181a;
    border-color: #0f181a;
    color: #fff !important;
  }

  td.end-date {
    border-radius: 0 4px 4px 0;
  }

  .input-mini.active {
    border: 1px solid #0f181a;
  }

  td.weekend {
    color: #e6ae03 !important;
  }

  td.off.available {
    opacity: 0.3;
  }

  .ranges ul {
    li {
      background: #f5f5f5;
      border: 1px solid #f5f5f5;
      color: #0f181a;

      &.active, &:hover {
        background: #0f181a;
        border: 1px solid #0f181a;
        color: #fff;
      }

      &:hover {
        color: #e6ae03;
      }
    }

    @media (max-width: 1199px) {
      :last-child {
        display: none;
      }
    }
  }

  button.btn {
    border-radius: 3px !important;

    &.btn-success {
      background: #e4c84b;
      border-color: #e6ae03;
      color: #0f181a;
    }
  }

  thead {
    display: table-header-group !important;
  }

  tbody {
    display: table-row-group !important;
  }

  tr {
    position: relative !important;
  }
}

//кнопка удаления/отключения
td {
  .ajax_remove {
    margin: 0;
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;

    &.delete {
      display: inline-block;
      width: auto;
      font-size: 1em;
      border: none;
    }
  }
}

.ajax_remove {
  color: $form_error_color;
  margin-left: 10px;
  font-size: 0.8em;
  cursor: pointer;
  border: 1px solid $form_error_color;
  padding: 2px 5px;
  transition: all 0.3s;
  text-decoration: none;

  &:hover {
    color: #fff;
    background: $form_error_color;
  }
}

/*****новые стили*******/
.form-group {
  text-align: center;
  margin-bottom: 15px;

  &-s {
    margin-bottom: 36px;
  }

  select {
    text-indent: 0px;
    text-overflow: '';
    appearance: none !important;
    padding-left: 67px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
    font-weight: 400;
    outline: 0;
    font-size: 15px;
    background-image: url('/images/arrow-down-select.png');
    background-position: right center;
    background-repeat: no-repeat;
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
    outline: 0;
  }

  select::-ms-expand {
    display: none;
  }

  textarea {
    border-radius: 5px;
    border: solid 1px $form_input_border;
    width: 75%;
    height: 100%;
    font-weight: 400;
    outline: 0;
    font-size: 16px;
    box-sizing: border-box;
    resize: vertical;
    padding: 15px;
  }
}

.form-input-group {
  display: inline-block;
  width: 75%;
  height: 55px;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px $form_input_border;
  text-align: left;
  position: relative;

  &-fl {
    width: 100%;
  }

  @include media($phones) {
    width: 100%;
  }

  input {
    padding-left: 68px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
    font-weight: 400;
    outline: 0;
    font-size: 16px;
    box-sizing: border-box;
  }

  i {
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    height: calc(100% - 10px);
    top: 5px;
    left: 50px;
    border-left: 1px solid $form_input_border;
  }
  span {
    svg {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 18px;
      left: 18px;
      color: $btn_base_bg;
      fill: $btn_base_bg;
      stroke: $btn_base_bg;
    }
  }
}

.form {
  &_right_blk {
    text-align: right;
    width: 75%;
    margin: 0 auto 20px;
  }

  &-icon {
    max-height: 16px;
    max-width: 16px;
    vertical-align: middle;
    color: $form_icon_color;
    fill: $form_icon_color;
    stroke: $form_icon_color;
  }

  &-title {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.radio-opacity {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

.help-block {
  &-error {
    color: $form_error_color;
    font-size: 14px;
    //margin-top: -10px;
  }
}

input[type=radio] {
  & + label {
    position: relative;
    padding-left: 27px;
    padding-right: 30px;

    &:before {
      content: '';
      position: absolute;
      top: -2PX;
      left: 0px;
      width: 22px;
      height: 22PX;
      border: 1px solid #CDD1DA;
      border-radius: 50%;
      background: #FFF;
    }

    &:after {
      content: '';
      position: absolute;
      top: 4PX;
      left: 6px;
      width: 12px;
      height: 12PX;
      border-radius: 50%;
      background: $btn_base_bg;
      opacity: 0;
      transition: all .2s;
    }
  }

  &:checked + label:after {
    opacity: 1;
  }
}

input[type=checkbox] {
  + label {
    position: relative;
    padding-left: 38px;
    line-height: 40px;

    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -20PX;
      width: 50px;
      height: 26PX;
      border-radius: 13px;
      background: #CDD1DA;
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    }

    &:after {
      content: '';
      position: absolute;
      top: -2PX;
      left: -18PX;
      width: 22px;
      height: 22PX;
      border-radius: 10PX;
      background: #FFF;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      transition: all .2s;
    }
  }

  &:checked + label {
    &:before {
      background: $btn_base_bg;
    }

    &:after {
      left: 6px;
    }
  }
}
