ul{
  margin: 2em 0 2em 1.5em;
}

.icons-list {
  list-style: none;
  line-height: 14px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 30px;
  text-align: left;

  li {
    position: relative;
    display: block;
    margin: 18px 0;
    display: flex;
  }

  &_icon {
    stroke: $btn_base_bg;
    fill: $btn_base_bg;
    stroke-width: 1.4;
    vertical-align: middle;
    margin-left: -70px;
    margin-right: 40px;
    height: 30PX;
    width: 30PX;
    flex-shrink: 0;
  }

  &_title{
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    flex-grow: 1;
    margin: auto 0;
  }
}