/*Уведомления*/
.notification_box{
  display: flex;
  padding: 0px;
  position: fixed;
  left: 0;
  top: 0;
  height: 0vh;
  width: 100vw;
  z-index: 1999;
  box-sizing: border-box;

  animation-name: notification_box_hide;
  animation-delay: .15s;
  animation-duration: .15s;
  animation-fill-mode: both;
  opacity: 0;

  .form-horizontal .form-group{
    margin: 0;
  }


  .sign-up.popup-sign-up {
    width: 530px;

    @include media($tablets) {
      width: 90vw;
    }

    .sign-up-tagline {
      width: 100%;
    }
  }

  .form-group{
    margin-bottom: 0;
  }

  .notify_box{
    margin: auto;
    background: #fff;
    transform: translate3d(0,-90px,0) rotate3d(0,1,0,90deg);
    transition: all 0.15s linear;
    transition-delay: 0s;
    min-width: 200px;
    //min-width: 530px;
    min-height: 70px;
    max-width: 700px;
    box-sizing: border-box;

    &-wide {
      max-width: 1024px;
    }

    @include media($tablets) {
      //min-width:  90%;
    }

    .notify_title{
      position: relative;

      span{
        padding: 10px;
        background: #333;
        color:#fff;
      }

      .notify_close{
        position: absolute;
        transition: all 0.5s;
        cursor: pointer;
        right: 0;
        top:0;
        padding: 10px;
        background: transparent;
        color: #333;
        opacity: 1;

        &:before{
          content: '\00D7';
        }

        &:hover{
          //transform: rotate3d(0,0,1,540deg);
          opacity: 0.5;
        }
      }
    }

    .notify_content{
      padding: 15px 10px;
      height: 100%;
      box-sizing: border-box;

      .gray-box{
        background-color: #eee;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-top: 0;
        margin: 0 -10px -15px -10px;

        .sign-up-buttons{
          margin-top: 0;
        }
      }

      .text-dop{
        text-align: center;
        padding: 5px 10px 0 10px;
        font-size: 12px;

        &_gray{
          color: rgba($text_color,0.7);;
        }
      }

      h1,h2,h3{
        margin-top: 0;
      }

      .container{
        max-width: 622px;
      }
    }

    .notify_control{
      border-top: 1px solid #333;
      text-align: center;

      div{
        margin: 10px;
        display: inline-block;
        padding: 5px 20px;
        border: 1px solid;
        cursor: pointer;

        &:hover{
          color:#999;
        }
      }
    }

    &.notify_not_big{
      max-width: 600px;
    }

    &.notify_white{
      border-radius: 3px;
      overflow: hidden;

      .notify_title{
        background: #fff;
        color:#888;

        .notify_close {
          padding: 3px 8px;

          &:before {
            content: "×";
          }
        }
      }

      .notify_control{
        border-top: none;

        div,a{
          background-color: #e6ae03;
          border-radius: 3px;
          font-size: 13px;
          font-weight: 700;
          color:#0f181a;
          border: none;
          padding: 10px 20px;
          margin-bottom: 30px;
          display: inline-block;

          &:hover{
            background-color: #ffc503;
            color: #000000;
          }
        }
      }
    }
    &-alert {
      border: 1px solid $menu_border_color;
      border-radius: 4px;
      overflow: hidden;

      .notify_title {
        padding: 10px 35px;
        text-align: center;
        margin-bottom: 10px;
        background-color: $btn_base_dark_bg;
        color: $btn_base_bg;

        .notify_close {
          position: absolute;
          transition: all 0.5s;
          cursor: pointer;
          right: 5px;
          color: $header_bg_second;
          opacity: 1;
          top: 8px;
          padding: 2px 7px !important;
          border-radius: 50%;
        }
      }
      .notify_content {
        text-align: center;
        background-color: $header_bg_second;
        color: $text-color;

      }
      .notify_control {
        border-top: 2px solid $menu_border_color;
        background-color: $header_bg_second;
      }
      .notify_btn_yes {
        padding: 12px 50px !important;
        background: $btn_base_bg;
        color: $btn_base_color;
        border-radius: 4px;
        border: 2px solid $btn_base_bg !important;
        transition: all .25s ease;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 1em;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        z-index: 1;
        position: relative;
        &:hover {
          color: #fff !important;
          background: $coupons_a_hover_color;
          border-color: $coupons_a_hover_color;
        }

      }

    }

  }

  .ad_recomend{
    //margin-top: -10px;
    padding-left: 0;

    li{
      margin-bottom: 20px;
      list-style: none;
      border-left: 4px solid #e6ae03;
      padding-left: 10px;
    }
  }
}
.notification_data{
  display:none;
}

.notify_box.loading{
  .notify_content{
    background: url(/images/preloader.gif) no-repeat 50% 50%;
  }
}

.show_notifi{
  overflow: hidden;
  //height: 100vh;

  .notification_box{
    //box-shadow: #999 0px 0px 5vmax 50vmin inset;
    padding: 5px;
    animation-name: notification_box_show;
    animation-delay: 0.0s;
    overflow: auto;
  }

  .notify_box{
    transform: translate3d(0,0px,0) rotate3d(0,1,0,0deg);
    transition-delay: 0.2s;
  }
}

@keyframes notification_box_show {
  0%{
    height: 0vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 0vmin inset;
  }
  1%{
    opacity: 1;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 0vmin inset;
  }

  100%{
    opacity: 1;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 50vmin inset;
  }
}

@keyframes notification_box_hide {
  0%{
    opacity: 1;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 50vmin inset;
  }

  99%{
    opacity: 0;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 0vmin inset;
  }

  100%{
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5vmax 0vmin inset;
    height: 0vh;
  }
}

.notification_container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  z-index: 99999;
  top: 20px;

  a{
    text-decoration: underline;
  }
}

.notification_item {
  width: 310px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  margin-bottom: 5px;
  position: relative;
  list-style: none;
  overflow: hidden;
  animation: show_notifycation 0.2s linear;
  border-radius: 2px;
  a {
    color: #ffc503;
    //font-weight: 700;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.notification_item-err {
  background: rgba(241, 46, 46, 0.9);
}

.notification_item-info {
  background: rgba(37, 135, 232, 0.9);
}

.notification_item-alert {
  background: rgba(249, 196, 40, 0.9);
}

.notification_item-success {
  background: rgba(60, 184, 104, 0.9)
}

.notification_img {
  height: 50px;
  margin: 5px 10px 0px 0px;
  float: left;
  width: 50px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 2px;
  overflow: hidden;
  min-width: 50px;
}

.notification_close:before {
  content: 'x';
  position: absolute;
  top: 2px;
  right: 6px;
  cursor: pointer;
  font-family: Verdana, Arial;
  font-weight: bold;
}

.notification_content, .notification_title {
  margin: 0px auto;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.notification_content {
  padding: 5px 10px 5px 10px;
  font-size: 14px;

  .wrap{
    display: flex;
    flex-wrap: nowrap;
  }
  a {
    text-decoration: underline;
  }
}
.notification_title {
  display: block;
  width: 100%;
  font-size: 18px;
  //font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
  color: #fee255;
  text-transform: none;
}

.notification_hide {
  animation: hide_notifycation 0.5s linear;
  animation-fill-mode: forwards;
  transform: translate3d(380px,0,0);
}

@-webkit-keyframes show_notifycation {
  from {
    transform: translate3d(220px,0,0);
    opacity: 0;
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@-webkit-keyframes hide_notifycation {
  100% {
    max-height: 0;
    margin-bottom: 0;
  }

  50% {
    max-height: 200px;
    margin-bottom: 5px;
    transform: translate3d(220px,0,0);
    opacity: 0;
  }

  0% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

.blank .notification_container{
  top: 0px;
}

.popup-content textarea {
  font-size: 15px;
  outline: 0;
  border: solid 1px #E6E9EA;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  margin: 0px auto 10px;
  display: block;
  height: 150px;
  width: 426px;
  resize: none;
}

.notification_box {
  .modals {
    &-full_screen {
      min-width: calc(100vw - 10px);
      height: calc(100vh - 10px);
      //max-width: 99vw;

      .notify_close{
        font-size: 50px;
        color: #fff !important;
        margin-right: 5px;
      }

      .notify_content{
        padding: 5px;
      }
    }

    &-video {
      min-width: 100%;
      min-height: 100%;
    }
  }

  .gray-box{
    border-radius: 0 0 5px 5px;
  }
}