@media print { /* Стиль для печати */
  @page {
    margin: 1cm;
  }

  body {
    font-family: Times, 'Times New Roman', serif; /* Шрифт с засечками */
  }
  h1, h2, p {
    color: #000; /* Черный цвет текста */
  }

  h3{
    text-align: center;
  }
  .navigation{
    display:none !important;
  }

  .breadcrumbs{
    display:none !important;
  }

  .no_print{
    display:none !important;
  }

  footer{
    display:none !important;
  }

  section{
    padding: 0 !important;
    margin: 0 !important;
  }

  .notification_container{
    display: none !important;
  }
}

@mixin print{
  @media print {
    @content;
  }
}