@media print { /* Стиль для печати */
  @page {
    margin: 1cm;
  }

  body {
    font-family: Times, 'Times New Roman', serif; /* Шрифт с засечками */
  }
  h1, h2, p {
    color: $print_text_color !important;
  }

  a {
    color: $print_link_color !important;
  }

  h1, h2, h3{
    text-align: center;
  }
  .navigation{
    display:none !important;
  }

  .breadcrumbs{
    display:none !important;
  }

  .no_print{
    display:none !important;
  }

  footer{
    display:none !important;
  }

  section{
    padding: 0 !important;
    margin: 0 !important;
  }

  .notification_container{
    display: none !important;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  //.content-wrap {
  //  page-break-inside: avoid;
  //}

  .yii-debug-toolbar {
    display: none !important;
  }

}
