table {
  border-spacing: 0px;
  background: $table_bg;
  text-align: center;
  font-size: 14px;
  width: 100%;
  //margin-bottom: 15px;
  margin-bottom: 35px;

  &.ta_left {
    text-align: left;
  }
}

tr:first-child {
  background-color: $table_th_bg;
  color: $table_th_color;
}

tr:nth-child(2n) {
  background-color: $table_2n_bg;

  .table-selected {
    background: $table_select_2n_bg;
  }
}

td, th {
  padding: 5px;
}

tr:first-child th {
  &.table-selected {
    border-radius: 5px 5px 0 0;
  }
}

td:first-child,
th:first-child {
  text-align: left;
  white-space: nowrap;

  &:before {
    content: '';
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
}

.table-selected {
  background: $table_select_bg;
}

td.td {
  &-center {
    text-align: center;
  }
}

table.adaptive {
  @include media($tablets) {
    display: flex;
    width: 100%;
    flex-direction: column;

    tbody{
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    .table-header {
      display: none;
    }

    tr {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    td{
      justify-content: stretch;
      text-align: center;
      display: flex;
      align-items: center;
      padding: 4px;

      &:before{
        content: attr(label);
        width: 30%;
        max-width: 130px;
        min-width: 100px;
        background-color: $table_th_bg;
        color: $table_th_color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 4px;
        min-height: 1.3rem;
        margin: -4px;
        margin-right: 8px;
      }
    }
  }
}
