table {
  border-spacing: 0px;
  background: $table_bg;
  text-align: center;
  font-size: 14px;
  width: 100%;
  //margin-bottom: 15px;
  margin-bottom: 35px;
  //border-top: 1px solid  $table_2n_bg;

  &.ta_left {
    text-align: left;
  }

  &.ta_round {
    border-radius: 5px;
  }

}

tr:first-child {
  color: $table_th_bg;
  background-color: $table_th_color;
  //background-color: $table_th_bg;
  //color: $table_th_color;
}

tr:nth-child(2n) {
  background-color: $table_2n_bg;

  .table-selected {
    background: $table_select_2n_bg;
  }
}

td, th {
  padding: 5px;
}

tr:first-child th {
  &.table-selected {
    border-radius: 5px 5px 0 0;
  }
}

td:first-child,
th:first-child {
  text-align: left;
  white-space: nowrap;

  &:before {
    content: '';
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
}

.table-selected {
  background: $table_select_bg;
}

td.td {
  &-center {
    text-align: center;
  }
}

@mixin adaptive_table {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: none;

  tbody {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .table-header {
    display: none;
  }

  tr:nth-child(2n+1) {
    background: $table_bg;
  }

  tr {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  td {
    justify-content: stretch;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 0;
    white-space: unset;

    &:before {
      content: attr(label);
      width: 120px;
      max-width: 120px;
      min-width: 120px;
      background-color: $table_th_bg;
      color: $table_th_color;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-self: stretch;
      padding: 4px;
      min-height: 1.3rem;
      margin: -4px 0;
      margin-right: 8px;
      border-bottom: 6px solid $table_th_bg;
      border-top: 6px solid $table_th_bg;
      text-align: center;
    }
  }
}

table.adaptive {
  &-phones {
    @include media($phones) {
      @include adaptive_table
    }
  }

  &-tablets {
    @include media($tablets) {
      @include adaptive_table
    }
  }

  &-laptop_min {
    @include media($laptop_min) {
      @include adaptive_table
    }
  }
}
