$menu_height: 50PX;
$menu_height_x2: 100PX;
$mobile_stores_menu_top: 50PX;
$header_button_size: 22PX;

$font_size_content_header: 32px;
$font_weight_content_header: 500;
$font_weight_page_header: 500;
$font-size-content: 14px;